<nz-content style="margin:0 16px;">
    <nz-breadcrumb style="margin:16px 0;">
      <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
      <nz-breadcrumb-item>報表檢視</nz-breadcrumb-item>
      <nz-breadcrumb-item>出貨計畫表</nz-breadcrumb-item>
      <nz-breadcrumb-item>報表檢視</nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <tr id="tab-1" style="height:30px; width:1000px; overflow-x:auto">
                <ul>
                    <li><a href="#/FCPshipRepo/R308">出貨計畫主表</a></li>
                    <li class="active"><a href="#/FCPshipRepo/R309"><label style="color:blue">出貨計畫彙總表</label></a></li>
                </ul>
            </tr>
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-collapse>
        <nz-collapse-panel nzHeader="資料結轉與EXCEL匯出" nzActive="false">
            
            <button nz-button nzType="primary" (click)="dataConvert()">資料結轉</button>
            <button
              nz-button
              style="margin-left:30px; box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); background-color: #4CAF50;border:2px blue none;cursor: pointer;"
              nzType="primary"
              (click) = "excelExport()"
            ><span nz-icon nzType="download" nzTheme="outline"></span>
              E X C E L 匯出
            </button>
        </nz-collapse-panel>
    </nz-collapse>
    <br>

    <ag-grid-angular style="width: 100%; height: 550px; overflow: scroll;" class="ag-theme-alpine" [rowData]="rowData"
        [columnDefs]="columnDefs"
        [pagination]="true"
        class="ag-theme-alpine"
        [gridOptions]="gridOptions"
        >
    </ag-grid-angular>

    
</nz-content>