<div style="margin:15px 15px;">
  <div nz-row>
    <nz-collapse style="width: 100%;" nzAccordion>
      <nz-collapse-panel [nzHeader]="panels1.name" [nzActive]="panels1.active">
        <p> <nz-radio-group [(ngModel)]="selectShopCode" nzButtonStyle="solid" (ngModelChange)="selectShopCodeFunc()">
          <label *ngFor="let item of shopCodeList" nz-radio-button [nzValue]="item.value">{{item.label}}</label>
        </nz-radio-group></p>
      </nz-collapse-panel>
    </nz-collapse>


    <nz-collapse style="width: 100%;" nzAccordion>
      <nz-collapse-panel  [nzHeader]="panels2.name" [nzActive]="panels2.active">
        <p>
          <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="checkedChange($event)">
            <div nz-row>
              <div nz-col  nzSpan="3" *ngFor="let item2 of groupColumList"><label nz-checkbox [nzValue]="item2.columValue" [(ngModel)]="item2.checked">{{item2.columLabel}}</label></div>
              
            </div>
          </nz-checkbox-wrapper>
        </p>
      </nz-collapse-panel>
    </nz-collapse>


    <nz-collapse style="width: 100%;" nzAccordion>
      <nz-collapse-panel  [nzHeader]="panels3.name" [nzActive]="panels3.active">
        <p>
          <nz-date-picker [(ngModel)]="searchV0.startDate" [nzFormat]="dateFormat" (ngModelChange)="onChangeStartDate($event)"></nz-date-picker> -
          <nz-date-picker [(ngModel)]="searchV0.endDate" [nzFormat]="dateFormat" (ngModelChange)="onChangeEndDate($event)"></nz-date-picker>
          <button style="margin-left: 20px;" nz-button nzType="primary" (click)="queryBtn()">確定</button>
          <button style="margin-left: 20px;" nz-button nzType="primary" (click)="exportBtn()">EXCEL匯出</button>
        </p>
      </nz-collapse-panel>
    </nz-collapse>


    </div>

  <!---table数据区-->
  <!-- <nz-table style="margin-top:10px;" #basicTable [nzData]="tbData">
    <thead>
      <tr>
        <th *ngFor = "let item of allColumList">{{item.columLabel}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
      
      </tr>
    </tbody>
  </nz-table> -->
  <nz-spin nzTip="Loading..."  [nzSpinning]="isLoading" >
  <div nz-row>
    <ag-grid-angular
    style="width: 100% ; min-height:800px; overflow: scroll"
    class="ag-theme-alpine"
    [rowDragManaged]="true"
    [gridOptions]="gridOptions"
    [rowDragMultiRow]="true"
    [suppressScrollOnNewData] = "true"
    [rowSelection]="rowSelection"
    [animateRows]="true"
    [rowData]="rowData"
    [columnDefs]="columnDefs">
    [getRowId]="getRowId"
    (cellClicked)="onCellClicked($event)"
   
    </ag-grid-angular>
  </div>
</nz-spin>
  <nz-modal  nzWidth="900" [(nzVisible)]="modalTableVisible" nzTitle="數據詳情" (nzOnCancel)="handleChangeModal()">
    <div *nzModalContent>
      <div nz-row>
        <ag-grid-angular
        style="width: 100% ; min-height:500px; overflow: scroll"
        class="ag-theme-alpine"
        [rowData]="rowSelectData"
        [columnDefs]="columnDefs">
        </ag-grid-angular>
      </div>
    </div>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleChangeModal()">关闭</button>
      <!-- <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">確認</button> -->
    </div>
  </nz-modal>



</div>
