<div style="margin:15px 15px;">
  <div nz-row>

  </div>
  <div nz-row>
    <nz-collapse style="width: 100%;" nzAccordion>
      <nz-collapse-panel [nzHeader]="panels1.name" [nzActive]="panels1.active">
        <p>
          
          <button *ngIf="showLockBtn" style=" background-color: #d9534f; border-color: #d43f3a;  color: #fff;" nz-button nzType="primary" (click)="lockFcpBtn()">鎖定版本</button>

          <button *ngIf="!showLockBtn && selectFcpVer !=='' " style=" background-color: #FF9900; border-color: #FF9900;  color: #fff;" nz-button nzType="primary" (click)="queryFcpVerStatusBtn()">查看狀態</button>
          <nz-select style="width:200px;"  nzPlaceHolder="請選擇版本號" [(ngModel)]="selectFcpVer"  (ngModelChange)="changeFcpVer()">
            <ng-container  *ngFor="let item3 of fcpVerList" >
            <nz-option *ngIf="item3.fcpLockStatus === '1'; else unlockTemplate"  [nzLabel]="item3.fcpVer + '(' +item3.fcpLockStatusLabel + ')'" [nzValue]="item3.fcpVer"></nz-option>
            <ng-template #unlockTemplate>
              <nz-option  [nzLabel]="item3.fcpVer" [nzValue]="item3.fcpVer"></nz-option>
            </ng-template>
          </ng-container>
          </nz-select>
         
          <nz-date-picker style="margin-left: 20px;" [(ngModel)]="searchV0.startDate" [nzFormat]="dateFormat" (ngModelChange)="onChangeStartDate($event)" nzDisabled  ></nz-date-picker> -
          <nz-date-picker [(ngModel)]="searchV0.endDate" [nzFormat]="dateFormat" (ngModelChange)="onChangeEndDate($event)" [nzDisabled] = " selectEquipCode === 'RF'" ></nz-date-picker>
          <button style="margin-left: 20px;" nz-button nzType="primary" (click)="queryBtn()" [nzLoading] = "isLoading">查詢</button>
          <button style="margin-left: 20px;" nz-button nzType="primary" (click)="exportBtn()">原始EXCEL匯出</button>
          <button style="margin-left: 20px;" nz-button nzType="primary"  *ngIf="selectEquipCode !== 'RF' && selectEquipCode !== 'BA1'"  (click)="handleExcelModelModal()">Excel模式</button>

          <button style="margin-left: 20px;" nz-button nzType="primary" (click)="getExportDataByShopCode()">以站別匯出</button>



          <button style="margin-left:20px;background-color: #e24d42; border-color: #e24d42;  color: #fff;" nz-button   nzType="primary" (click)="handleExcelBatchModelModal()"  *ngIf="selectShopCode !== '401' && selectShopCode !== '411' " >批量Excel模式</button>

            <!-- <button style="margin-left: 20px;" nz-button nzType="primary"   (click)="handleTest('3')">test</button> -->
          <!--<button style="margin-left: 20px;" nz-button nzType="primary"   (click)="handleTest('2')">自動下載</button> -->
          <!-- <button style="margin-left:30px;background-color: #f16608; border-color: #f16608;  color: #fff;"  nzType="default" nz-button  (click)="handleStatisticBtn()">分群統計</button> -->

      </p>
        <!--站別機台選擇-->
        <p> <nz-radio-group [(ngModel)]="selectShopCode" nzButtonStyle="solid" (ngModelChange)="selectShopCodeFunc()">
          <label *ngFor="let item of shopCodeList" nz-radio-button [nzValue]="item.value">{{item.label}}</label>
        </nz-radio-group></p>

        <p> <nz-radio-group [(ngModel)]="selectEquipCode" nzButtonStyle="solid" (ngModelChange)="selectEquipCodeFunc()">
          <label *ngFor="let item1 of equipCodeList" nz-radio-button [nzValue]="item1.value">{{item1.label}}</label>
        </nz-radio-group></p>
        <!---原始位置-->
        <p *ngIf="selectFcpVerObj">
         
        </p>

      </nz-collapse-panel>
    </nz-collapse>


    <nz-collapse style="width: 100%;" nzAccordion>
      <nz-collapse-panel  [nzHeader]="panels2.name" [nzActive]="panels2.active">
        <p *ngIf="selectFcpVerObj">
          <nz-checkbox-wrapper style="width: 40%;"  (nzOnChange)="checkedChange($event)">
            <div nz-row>
              <div nz-col  nzSpan="4" *ngFor="let item2 of groupColumList">
                <label nz-checkbox [nzValue]="item2.columValue" [(ngModel)]="item2.checked"  [nzDisabled]="item2.columValue === 'CAR_ID_ADD' && (selectEquipCode === 'BA1' || selectEquipCode === 'RF') "
                >{{item2.columLabel}}</label>
              </div>
              
            </div>
          </nz-checkbox-wrapper>
          <span style="float: right;">
         <span style="margin-right:10px;" >
          <input style="width:200px;" nz-input [(ngModel)]="searchText" placeholder="請輸入MO或訂單"  />
          <button nz-button nzType="primary"  (click)="handleSearchText()"   [nzLoading] = "searchLoading"  ><span nz-icon nzType="search"></span></button>
          <nz-badge nzStandalone [nzCount]="searchCount" [nzStyle]="{background: '#FF00FF'}"></nz-badge>
         </span>
          

          <nz-input-number 
          [(ngModel)]="fcpNumber" 
          [nzMin]="0"
          [nzMax]="1000"
          [nzStep]="1"
          [nzDisabled]="fcpNumberIsDisabled"
        ></nz-input-number>
        <span style="margin-left:5px" >
          <button nz-button  (click)="toggleDisabled()">
            <span>{{fcpNumberIsDisabled ? '修改' :'保存'}}</span>
          </button>
        </span>


          <button  nz-button nzType="primary" style="margin-left:15px;" (click)="groupBtn()">數據分群</button>
          <!-- <button  nz-button style="margin-left:15px;background-color: #d9534f; border-color: #d43f3a;  color: #fff;"  nzType="default" *ngIf="selectEquipCode !== 'RF' && selectEquipCode !== 'BA1'" (click)="recoverDataBtn()">恢複數據</button> -->
          <button  nz-button style="margin-left:15px;background-color: #f0ad4e; border-color: #eea236;  color: #fff;"  nzType="default" *ngIf="selectEquipCode !== 'RF' && selectEquipCode !== 'BA1' " (click)="dataSortedModal()">微調確認</button>
          <button  nz-button style="margin-left:15px;background-color: #f16608; border-color: #f16608;  color: #fff;"  nzType="default" (click)="saveSortedModal('1')"  [nzLoading]="saveLoading">確認</button>
          <button  nz-button style="margin-left:15px;background-color: #e24d42; border-color: #e24d42;  color: #fff;"   [nzLoading]="isConfirmLoading"  nzType="default" (click)="sendSortedDataToMES()">發送至MES</button>
        </span>

        </p>
      </nz-collapse-panel>
    </nz-collapse>


    <!-- <nz-collapse style="width: 100%;" nzAccordion>
      <nz-collapse-panel  [nzHeader]="panels3.name" [nzActive]="panels3.active">
        <p>
          <nz-date-picker [(ngModel)]="searchV0.startDate" [nzFormat]="dateFormat" (ngModelChange)="onChangeStartDate($event)"></nz-date-picker> -
          <nz-date-picker [(ngModel)]="searchV0.endDate" [nzFormat]="dateFormat" (ngModelChange)="onChangeEndDate($event)"></nz-date-picker>
          <button style="margin-left: 20px;" nz-button nzType="primary" (click)="queryBtn()">確定</button>
          <button style="margin-left: 20px;" nz-button nzType="primary" (click)="exportBtn()">原始EXCEL匯出</button>
        </p>
      </nz-collapse-panel>
    </nz-collapse> -->


    </div>

  <!---table数据区-->
  <!-- <nz-table style="margin-top:10px;" #basicTable [nzData]="tbData">
    <thead>
      <tr>
        <th *ngFor = "let item of allColumList">{{item.columLabel}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
      
      </tr>
    </tbody>
  </nz-table> -->
  <nz-spin nzTip="Loading..."  [nzSpinning]="isLoading" >
  <div nz-row>
    <ag-grid-angular
    style="width: 100% ; height:600px; overflow: scroll"
    class="ag-theme-alpine"
    [rowDragManaged]="true"
    [gridOptions]="gridOptions"
    [rowDragMultiRow]="true"
    [suppressScrollOnNewData] = "true"
    [rowSelection]="rowSelection"
    [animateRows]="true"
    [rowData]="rowData"
    [columnDefs]="outsideColumnDefs">
    [enableCellTextSelection]="true"
    [getRowId]="getRowId"
    (cellClicked)="onCellClicked($event)"
   
    </ag-grid-angular>
  </div>
</nz-spin>
 <!---子層數據-->
  <nz-modal  [nzWidth]="modalWidth" [(nzVisible)]="modalTableVisible" nzTitle="數據詳情" 
  [nzBodyStyle]="modalBodyStyle"
  
  (nzOnCancel)="handleChangeModal()">
    <div *nzModalContent>
      <div [ngStyle]="style" nz-row>
        <ag-grid-angular
        style="width: 100% ; height: 100%; overflow: scroll"
        class="ag-theme-alpine"
        [rowDragManaged]="true"
        [gridOptions]="gridOptionsModal"
        [rowDragMultiRow]="true"
        [suppressScrollOnNewData] = "true"
        [rowSelection]="rowSelection"
        [animateRows]="true"
        [enableCellTextSelection]="true"
       
        [rowData]="rowSelectData"
        [columnDefs]="columnDefs">
        </ag-grid-angular>
      </div>
    </div>
    <div *nzModalFooter>
      <button style="float:left" nz-button nzType="primary"  *ngIf=" selectFcpVerObj.fcpLockStatus ==='1' && selectEquipCode === 'RF'"  (click)="handleOpCodeModal()">更換作業代碼</button>
      <button style="float:left" nz-button nzType="primary"  *ngIf=" selectFcpVerObj.fcpLockStatus ==='1' && selectEquipCode === 'RF'"  (click)="openSameOpCodeChangeCarModal()">同作業換車</button>
      <button style="float:left" nz-button nzType="primary"  *ngIf=" selectFcpVerObj.fcpLockStatus ==='1' && selectEquipCode === 'BA1'"  (click)="ChangeCarModalBA1()">換車</button>

      <button style="float:left" nz-button nzType="primary"  *ngIf=" selectFcpVerObj.fcpLockStatus ==='1' && (selectEquipCode !== 'RF')"  (click)="handleChangeMachineModal()">更換機台</button>

      <!-- <button style="float:left" nz-button nzType="primary" (click)="queryBtn()">更换機台</button> -->

      <button  nz-button style="margin-left:5px; "  nzType="primary"  (click)="exportRowSelectData()">匯出</button>
      
      <button  nz-button style="margin-left:5px;background-color: #f16608; border-color: #f16608;  color: #fff;"  nzType="default" [nzLoading]="saveLoading"  (click)="saveSortedModal('2')">確認</button>

      <button nz-button nzType="default" (click)="handleChangeModal()">關閉</button>
      <!-- <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">確認</button> -->
    </div>
  </nz-modal>
<!---子層數據結束-->

<!-- 統計數據開始-->
<nz-modal  [nzWidth]="modalWidth" [(nzVisible)]="statisticModalIsVisible" nzTitle="統計數據展示" 
[nzBodyStyle]="modalBodyStyle"

(nzOnCancel)="handleStatisticModal()">
  <div *nzModalContent>
    <div [ngStyle]="style" nz-row>
      <ag-grid-angular
      style="width: 100% ; height: 100%; overflow: scroll"
      class="ag-theme-alpine"
      [rowDragManaged]="true"
      [gridOptions]="statisticGridOptionsModal"
      [animateRows]="true"
      [enableCellTextSelection]="true"
      [rowData]="statisticRowData"
      [columnDefs]="statisticHeaderColumnDefs">
      </ag-grid-angular>
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleStatisticModal()">關閉</button>
  </div>
</nz-modal>


<!----統計數據結束-->




  <!--調整後的數據-->
  <nz-modal  nzWidth="900" [(nzVisible)]="modalTableRowDataVisible" nzTitle="調整後數據" (nzOnCancel)="handleChangeRowDataModal()">
    <div *nzModalContent>
      <div nz-row>
        <ag-grid-angular
        style="width: 100% ; min-height:500px; overflow: scroll"
        class="ag-theme-alpine"
        [rowDragManaged]="true"
        [gridOptions]="gridOptionsRowDataModal"
        [rowDragMultiRow]="true"
        [rowSelection]="rowSelection"
        [suppressScrollOnNewData] = "true"
        [animateRows]="true"
        [enableCellTextSelection]="true"
        [rowData]="rowSortedData"
        [columnDefs]="columnDefs">
        </ag-grid-angular>
      </div>
    </div>
    <div *nzModalFooter>
      <button  nz-button style="margin-left:15px;"  nzType="primary" (click)="exportRowSortedData()">匯出</button>
      <button  nz-button style="margin-left:15px;background-color: #f16608; border-color: #f16608;  color: #fff;"  nzType="default"  (click)="saveSortedModal('3')"   [nzLoading]="saveLoading">確認</button>
      <button nz-button style="margin-left:15px;"  nzType="default" (click)="handleChangeRowDataModal()">關閉</button>
      <!-- <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">確認</button> -->
    </div>
  </nz-modal>
<!---站別配置詳情-->
<nz-modal
nzWidth="300"
[(nzVisible)]="shopStatusModalVisiable"
[nzTitle]="shopStatusModalTitle"
[nzContent]="shopStatusModalContent"
[nzFooter]="shopStatusModalFooter"
(nzOnCancel)="handleShopStatusModal()"
>
<ng-template #shopStatusModalTitle>當前版本：{{selectFcpVer}} ,配置狀況！</ng-template>

<ng-template #shopStatusModalContent>
 <div>
  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzSpan]="2"><div class="inner-box"><nz-tag [nzColor]="'#828282'">未配置</nz-tag></div></div>
    <div nz-col class="gutter-row" [nzSpan]="2"><div class="inner-box"> <nz-tag [nzColor]="'#f50'">未送出</nz-tag></div></div>
    <div nz-col class="gutter-row" [nzSpan]="2"><div class="inner-box"> <nz-tag [nzColor]="'#108ee9'">已送出</nz-tag></div></div>
  </div>
 </div>
 <div>
  <div style="background: #ECECEC;padding:30px;margin-top: 10px;">
    <div nz-row [nzGutter]="8">
      <div *ngFor="let data of shopCodeSaveStatusList"  nz-col [nzSpan]="3">
        <nz-card nzTitle="{{data.shopCode}}">
          <ng-container *ngFor="let equip of data.list"> 
            <nz-tag style="margin-top:5px;" [nzColor]="equip.color">{{equip.equipCode}}</nz-tag>
          </ng-container>
        </nz-card>
      </div>
    </div>
  </div>
 </div>
 <div>
  <!-- <nz-table *ngIf="shopCodeSaveStatusList" #basicTable [nzData]="shopCodeSaveStatusList">
    <thead>
      <tr>
        <th>站別</th>
        <th>機台</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.shopCode}}</td>
        <td>
          <ng-container *ngFor="let equip of data.list"> 
            <nz-tag [nzColor]="'#108ee9'">{{equip.equipCode}}</nz-tag>
          </ng-container>
        </td>
      
      </tr>
    </tbody>
  </nz-table> -->

 </div>
</ng-template>

<ng-template #shopStatusModalFooter>
  <span></span>
  <button nz-button nzType="primary" (click)="handleShopStatusModal()">關閉</button>
</ng-template>
</nz-modal>


<!---更換作業碼-->
<nz-modal
[(nzVisible)]="changeOpCodeIsVisible"
[nzTitle]="changeOpCodeModalTitle"
[nzContent]="opCodeModalContent"
[nzFooter]="opCodeModalFooter"
(nzOnCancel)="handleOpCodeModal()"
nzWidth="300"
>
<ng-template #changeOpCodeModalTitle>作業碼更換</ng-template>

<ng-template #opCodeModalContent>
  <nz-table #basicTable [nzData]="changeOpCodeTable.tbData" [nzFrontPagination]="false">
    <thead>
      <tr>
        <th>MO</th>
        <th>CARID</th>
        <th>作業代碼</th>
        <th>原始作業代碼</th>
        <th>可替換作業</th>
        <th>選擇替換作業代碼</th>
        <th>車次編號</th>
        <th>選擇配車</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.ID_NO}}</td>
        <td>{{data.OLD_CAR_ID}}</td>
       
        <td>{{data.OP_CODE}}</td>
        <td>{{data.ORIGINAL_OP_CODE}}</td>
        <td>{{data.NEW_OP_CODE}}</td>
        <td>
          <nz-radio-group *ngIf="data.selectedOpCodeList.length > 0 " [(ngModel)]="data.selectedOpCode" nzName="radiogroup" (ngModelChange)="selectOpCodeFun()">
            <label *ngFor="let s of data.selectedOpCodeList "  nz-radio  [nzDisabled]="data.OP_CODE === s ? true : false"    [nzValue]="s">{{s}}</label>
          </nz-radio-group>
        </td>
        <td>{{data.selectedCarId}}</td>
        <td><a (click)="selectCarClick(data.ID,data.selectedCarId)">選車</a></td>
        <!-- <td>
        
          <a>保存</a>
        </td> -->
      </tr>
    </tbody>
  </nz-table>
  
</ng-template>

<ng-template #opCodeModalFooter>
  <button nz-button nzType="default" (click)="handleOpCodeModal()">關閉</button>
  <button nz-button nzType="primary" (click)="comitHandleOpCodeModal()" [nzLoading]="handleOpCodeIsConfirmLoading">存檔</button>
</ng-template>
</nz-modal>
<!---作業代碼更換-->
<!---同作業換車開始-->
<nz-modal
[(nzVisible)]="sameOpCodeChangeCarModal.isVisible"
[nzTitle]="sameOpCodeChangeCarModalTitle"
[nzContent]="sameOpCodeChangeCarModalContent"
[nzFooter]="sameOpCodeChangeCarModalFooter"
(nzOnCancel)="handleSameOpCodeChangeCarModal()"
nzWidth="300"
>
<ng-template #sameOpCodeChangeCarModalTitle></ng-template>

<ng-template #sameOpCodeChangeCarModalContent>
  <nz-table #sameOpCodeBasicTable [nzData]="sameOpCodeChangeCarModal.table.tbData" [nzFrontPagination]="false">
    <thead>
      <tr>
        <th>MO</th>
        <th>作業代碼</th>
        <th>原始CARID</th>
        <th>當前車重</th>
        <th>新CARID</th>
        <th>選擇配車</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of sameOpCodeBasicTable.data">
        <td>{{data.ID_NO}}</td>
        <td>{{data.OP_CODE}}</td>
        <td>{{data.OLD_CAR_ID}}</td>
        <td>{{data.CAR_WEIGHT_ADD}}</td>
        <td>{{data.NEW_CAR_ID}} 
          <ng-container *ngIf="data.NEW_CAR_ID !== ''"> <a nz-button (click)="handleClearCarID(data.ID)" nzType="text" >x</a> 
          </ng-container>
        </td>
        <td><a (click)="selectSameOpCodeCarClick(data.ID,data.OP_CODE,data.OLD_CAR_ID, data.NEW_CAR_ID )">選車</a> | 
          <a (click)="selectEmptyCar(data.ID,data.ID_NO)">空車</a>
        </td>

        <!-- <td>
        
          <a>保存</a>
        </td> -->
      </tr>
    </tbody>
  </nz-table>
  
</ng-template>

<ng-template #sameOpCodeChangeCarModalFooter>
  <button nz-button nzType="default" (click)="handleSameOpCodeChangeCarModal()">關閉</button>
  <button nz-button nzType="primary" (click)="comitHandleOpCodeModal()" [nzLoading]="handleOpCodeIsConfirmLoading">存檔</button>
</ng-template>
</nz-modal>
<!---同作業換車結束-->

<!---選車開始-->
<nz-modal
[(nzVisible)]="selectCarIsVisible"
[nzTitle]="selectCarModalTitle"
[nzContent]="selectCarModalContent"
[nzFooter]="selectCarModalFooter"
(nzOnCancel)="handleSelectCarModal()"
nzWidth="300"
>
<ng-template #selectCarModalTitle>請選擇車輛</ng-template>

<ng-template #selectCarModalContent>
  <nz-table style="height:500px;overflow: scroll" #basicTable  [nzData]="selectCarTable.tbData" [nzFrontPagination]="false"  >
    <thead>
      <tr>
        <th>選擇車次</th>
        <th>MO</th>
        <th>作業代碼</th>
        <th>總重</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td><label nz-checkbox [(ngModel)]="data.checked"  (ngModelChange)="handleSelectCarCheckFun(data.BATCH_411_CAR_ID)">{{data.BATCH_411_CAR_ID}}</label></td>
        <td>{{data.MOS}}</td>
        <td>{{data.OP_CODE}}</td>
        <td>{{data.TOTALWEIGHT}}</td>
      </tr>
    </tbody>
  </nz-table>
  
</ng-template>

<ng-template #selectCarModalFooter>
  <button nz-button nzType="default" (click)="handleSelectCarModal()">關閉</button>
  <button nz-button nzType="primary" (click)="comitHandleSelectCarModal()" [nzLoading]="handleSelectCarIsConfirmLoading">確定</button>
</ng-template>
</nz-modal>
<!---選車結束-->

<!---更換機台-->
   <nz-modal
      [(nzVisible)]="changeMachineModal.isVisible"
      [nzTitle]="machineModalTitle"
      [nzContent]="machineModalContent"
      [nzFooter]="machineModalFooter"
      (nzOnCancel)="handleMachineModal()"
      nzWidth="500"
    >
      <ng-template #machineModalTitle>機台更換</ng-template>

      <ng-template #machineModalContent>
        <nz-table #changeMachineTable  [nzData]="changeMachineModal.table.tbData" [nzFrontPagination]="false"  >
          <thead>
            <tr>
              <th>選擇</th>
              <th>MO</th>
              <th>機台</th>
              <th>替換機台 
                <nz-radio-group [(ngModel)]="selectChangeEquipCode" nzButtonStyle="solid" (ngModelChange)="selectChangeEquipCodeFunc()">
                  <ng-container *ngFor="let item of equipCodeChangeList" >
                    <label [nzDisabled]="item.value === selectEquipCode ? true : false"  nz-radio-button [nzValue]="item.value"  >{{item.label}}</label>
                  </ng-container>
                </nz-radio-group>
              </th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of changeMachineTable.data; let i = index">
            <td> <label nz-checkbox [nzDisabled]="data.PST_MACHINE_NEW ==='' ? true : false "   [(ngModel)]="data.checked"  (ngModelChange)="handleSelectChangeMachine()">{{data.ID_NO}}</label>
            </td>
              <td>{{data.ID_NO}}</td>
              <td>{{data.PST_MACHINE}}</td>
              <ng-container  *ngIf="!data.isEdit ; else editChangeMachine">
              <td>{{data.PST_MACHINE_NEW}}</td>
              </ng-container>
              <ng-template #editChangeMachine>
                <td>  <input style="width:80px;"  nz-input [disabled]="true"  [(ngModel)]="data.PST_MACHINE_NEW" />
                  <nz-radio-group style="margin-left:15px;" [(ngModel)]="data.PST_MACHINE_NEW" nzButtonStyle="solid" (ngModelChange)="selectChangeEquipCodeOptionFunc(i)">
                    <ng-container *ngFor="let itemTemp of data.childChangeMachine" >
                      <label   nz-radio-button  [nzDisabled]="itemTemp.value === selectEquipCode ? true : false"   [nzValue]="itemTemp.value"  >{{itemTemp.label}}</label>
                    </ng-container>
                  </nz-radio-group>
                </td>
              </ng-template>
              <td><a (click)="startEdit(i)">{{data.isEdit ? 'Save' :'Edit'}}</a></td>
            </tr>
          </tbody>
        </nz-table>

      
      </ng-template>

      <ng-template #machineModalFooter>
        <span></span>
        <button nz-button nzType="default" (click)="handleMachineModal()">關閉</button>
        <button nz-button nzType="primary" (click)="comitHandleMachineModal()" [nzLoading]="changeMachineModal.isConfirmLoading">存檔</button>
      </ng-template>
    </nz-modal>

<!---EXCEL模式開始-->
<nz-modal
[(nzVisible)]="excelModelModalIsVisible"
[nzTitle]="excelModelModalTitle"
[nzContent]="excelModelModalContent"
[nzFooter]="excelModelModalFooter"
(nzOnCancel)="handleExcelModelModal()"
nzWidth="300"
>
<ng-template #excelModelModalTitle>EXCEL模式</ng-template>

<ng-template #excelModelModalContent>
  <div nz-row>
    <ag-grid-angular
    style="width: 100% ; min-height:500px; overflow: scroll"
    class="ag-theme-alpine"
    [rowDragManaged]="true"
    [gridOptions]="excelModelGridOptions"
    [rowDragMultiRow]="false"
    [suppressScrollOnNewData] = "true"
    [animateRows]="true"
    [rowData]="rowExcelModelData"
    [columnDefs]="columnDefs">
    </ag-grid-angular>
  </div>
  
</ng-template>

<ng-template #excelModelModalFooter>
 
  <span>
    <button style="margin-left: 20px;" nz-button nzType="primary" (click)="exportBtn()">數據匯出</button>

    <input type="file" id="fileupload" style="display: inline-block;margin-left: 30px;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx, .xls, .csv">
      <button
        nz-button
        style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); background-color: #4CAF50;border:2px blue none;cursor: pointer;"
        nzType="primary"
        (click)="handleUploadFile('1')"
      ><span nz-icon nzType="upload" nzTheme="outline"></span>
      數據匯入確認
      </button>
  </span>
  
  <button style="margin-left: 20px;" nz-button nzType="primary" (click)="comitExcelModelModal()" [nzLoading]="handlecomitExcelModelConfirmLoading">確定</button>

  <button style="margin-left: 20px;" nz-button nzType="default" (click)="handleExcelModelModal()">關閉</button>
  <!-- <button style="margin-left: 20px;" nz-button nzType="primary" (click)="importBtn()">數據匯入</button> -->
  
</ng-template>
</nz-modal>
<!---EXCEL模式結束-->



<!---批量EXCEL模式開始-->
<nz-modal
[(nzVisible)]="excelBatchModelModalIsVisible"
[nzTitle]="excelBatchModelModalTitle"
[nzContent]="excelBatchModelModalContent"
[nzFooter]="excelBatchModelModalFooter"
(nzOnCancel)="handleExcelBatchModelModal()"
nzWidth="300"
>
<ng-template #excelBatchModelModalTitle>批量EXCEL模式 《 替換與被替換機台必須要一起保存 》</ng-template>

<ng-template #excelBatchModelModalContent>
  <div nz-row>
    <ag-grid-angular
    style="width: 100% ; min-height:500px; overflow: scroll"
    class="ag-theme-alpine"
    [rowDragManaged]="false"
    [gridOptions]="excelBatchModelGridOptions"
    [rowDragMultiRow]="false"
    [suppressScrollOnNewData] = "true"
    [animateRows]="true"
    [rowData]="rowExcelBatchModelData"
    [columnDefs]="excelBatchColumnDefs">
    </ag-grid-angular>
  </div>
  
</ng-template>

<ng-template #excelBatchModelModalFooter>
 
  <span>
    <button style="margin-left: 20px;" nz-button nzType="primary" (click)="exportBatchModalBtn()">數據匯出</button>

    <input type="file" id="fileupload" style="display: inline-block;margin-left: 30px;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx, .xls, .csv">
      <button
        nz-button
        style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); background-color: #4CAF50;border:2px blue none;cursor: pointer;"
        nzType="primary"
        (click)="handleUploadFile('2')"
      ><span nz-icon nzType="upload" nzTheme="outline"></span>
      數據匯入確認
      </button>
  </span>
  
  <button style="margin-left: 20px;" nz-button nzType="primary" (click)="comitExcelBatchModelModal()" [nzLoading]="handleComitExcelBatchModelConfirmLoading">確定</button>

  <button style="margin-left: 20px;" nz-button nzType="default" (click)="handleExcelBatchModelModal()">關閉</button>
  <!-- <button style="margin-left: 20px;" nz-button nzType="primary" (click)="importBtn()">數據匯入</button> -->
  
</ng-template>
</nz-modal>
<!---EXCEL模式結束-->

</div>
