@import url("../../../../standard.less");
.total-weight{
    color: rgba(0,0,0,.85);
    font-weight: 500;
}
.td-smaller {
    // background-color: rgb(222, 174, 174);
    background-color: #f2dede;
}
.td-equal{
    // background-color: rgb(165, 224, 165);
    background-color:#ddf5dd;
}
.td-bigger{
    // background-color: rgb(166, 225, 241);
    background-color:#d1f4ff;
}

.td-total{
    background-color:#fff
}

.td-small-total{
    background-color:rgb(252, 196, 122)
}
.firstModalDiv .ant-modal{
    width: 1500px !important;
}

// table:hover,
// tr:hover,
// thead:hover {
//     background: none !important;
// }
// .ant-table-tbody > tr.ant-table-row:hover {
//     background:rgb(224, 206, 206)  !important;
// }
// .ant-table-tbody > tr.ant-table-row:hover > td {
//     background:#fff  !important;
// }

// .ant-table-tbody > tr.ant-table-row-level-1:hover > td {
//     background: unset;
//   }
// .ant-table-row tr:hover{
//     background: #E5F2FF;
// }
// tbody tr:hover {
//     background: none !important;
// }

// .ant-table-tbody{
//     > tr:hover:not(.ant-table-expanded-row) > td,.ant-table-row-hover,.ant-table-row-hover>td{
//    background:#E5F2FF!important;
//  }
// }
// .ant-table-fixed{
// .ant-table-row-hover, .ant-table-row-hover>td{
//    background: #E5F2FF!important;
// }
// }

.trhover-none:hover{
    background: #E5F2FF;
}



