<nz-content style="margin: 0 16px">
  <nz-breadcrumb style="margin: 16px 0">
    <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
    <nz-breadcrumb-item>靜態基本資料</nz-breadcrumb-item>
    <nz-breadcrumb-item>通用表</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <tr id="tab-1" style="height: 30px; width: 1000px; overflow-x: auto">
        <ul>
          <li><a href="#/commonData/I101">鋼種分類</a></li>
          <li><a href="#/commonData/I102">站別機台關聯表</a></li>
          <li><a href="#/commonData/I103">設備能力</a></li>
          <li><a href="#/commonData/I104">整備時間</a></li>
          <li><a href="#/commonData/I105">大調機</a></li>
          <li><a href="#/commonData/I106">小調機</a></li>
          <li><a href="#/commonData/I107">線速工時</a></li>
          <li class="active">
            <a href="#/commonData/I108"
              ><label style="color: blue">非線速工時</label></a
            >
          </li>
          <li><a href="#/commonData/I109">產率設定</a></li>
          <li><a href="#/commonData/I110">產能維護</a></li>
          <li><a href="#/commonData/I112">累計生產</a></li>
          <li><a href="#/commonData/I111">combine資料設定</a></li>
          <li><a href="#/commonData/I200">系統設定</a></li>
        </ul>
      </tr>
    </nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-tabset nzLinkRouter [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" style="color: dodgerblue">
        直棒
      </a>
      <div style="min-height: 1200px">
        <div>
          <button
            nz-button
            style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24)"
            nzType="primary"
            (click)="openNonSpeedInput()"
          >
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            新增
          </button>
          &nbsp;&nbsp;
          <input
            type="file"
            id="fileupload"
            style="display: inline-block; margin-left: 550px"
            (change)="incomingfile($event)"
            placeholder="Upload file"
            accept=".xlsx, .xls, .csv"
          />
          <button
            nz-button
            style="
              box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
              background-color: #4caf50;
              border: 2px blue none;
            "
            nzType="primary"
            (click)="Upload()"
          >
            <span nz-icon nzType="upload" nzTheme="outline"></span>
            E X C E L 匯入
          </button>
          &nbsp;&nbsp;
          <button
            nz-button
            style="
              box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
              background-color: #4caf50;
              border: 2px blue none;
            "
            nzType="primary"
            (click)="convertToExcel()"
          >
            <span nz-icon nzType="download" nzTheme="outline"></span>
            E X C E L 匯出
          </button>
        </div>
        <div nz-col [nzSpan]="90" style="padding-top: 10px">
          <nz-table
            #RowTable8
            nzBordered
            [nzData]="displayPPSINP08List"
            [nzPageSize]="20"
            [nzScroll]="{ y: '500px' }"
          >
            <thead>
              <tr>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 100px;
                  "
                >
                  站號
                  <nz-filter-trigger
                    [nzActive]="searchShopCode8Value.length > 0"
                    [nzDropdownMenu]="shopCode8Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 150px;
                  "
                >
                  機台
                  <nz-filter-trigger
                    [nzActive]="searchEquipCode8Value.length > 0"
                    [nzDropdownMenu]="equipCode8Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 120px;
                  "
                >
                  產出形狀
                  <nz-filter-trigger
                    [nzActive]="searchShapeType8Value.length > 0"
                    [nzDropdownMenu]="shapeType8Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 120px;
                  "
                >
                  產出尺寸最小值
                  <nz-filter-trigger
                    [nzActive]="searchDiaMin8Value.length > 0"
                    [nzDropdownMenu]="diaMin8Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 120px;
                  "
                >
                  產出尺寸最大值
                  <nz-filter-trigger
                    [nzActive]="searchDiaMax8Value.length > 0"
                    [nzDropdownMenu]="diaMax8Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 120px;
                  "
                >
                  加工時間
                  <nz-filter-trigger
                    [nzActive]="searchMins8Value.length > 0"
                    [nzDropdownMenu]="mins8Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 80px;
                  "
                >
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of RowTable8.data; let i = index"
                class="editable-row"
              >
                <ng-container
                  *ngIf="!editCache8[data.id].edit; else editTemplate1"
                >
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 100px;
                    "
                  >
                    {{ data.SHOP_CODE_8 }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 150px;
                    "
                  >
                    {{ data.EQUIP_CODE_8 }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    {{ data.SHAPE_TYPE_8 }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    {{ data.DIA_MIN_8 | number }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    {{ data.DIA_MAX_8 | number }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    {{ data.MINS_8 }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 0px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    <a (click)="editRow(data.id)">修改</a>&nbsp;&nbsp;&nbsp;
                    <a
                      nz-popconfirm
                      nzPopconfirmTitle="Sure to delete?"
                      (nzOnConfirm)="deleteRow(data.id)"
                      >刪除</a
                    >
                  </td>
                </ng-container>
                <ng-template #editTemplate1>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="站號"
                      [(ngModel)]="editCache8[data.id].data.SHOP_CODE_8"
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="機台"
                      [(ngModel)]="editCache8[data.id].data.EQUIP_CODE_8"
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="產出形狀"
                      [(ngModel)]="editCache8[data.id].data.SHAPE_TYPE_8"
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="產出尺寸最小值"
                      [(ngModel)]="editCache8[data.id].data.DIA_MIN_8"
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="產出尺寸最大值"
                      [(ngModel)]="editCache8[data.id].data.DIA_MAX_8"
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="加工時間"
                      [(ngModel)]="editCache8[data.id].data.MINS_8"
                    />
                  </td>
                  <td>
                    <a (click)="saveEdit(data.id)">確認</a>&nbsp;&nbsp;&nbsp;
                    <a
                      nz-popconfirm
                      nzPopconfirmTitle="Sure to cancel?"
                      (nzOnConfirm)="cancelEdit(data.id)"
                      >取消</a
                    >
                  </td>
                </ng-template>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </nz-tab>

    <nz-tab>
      <a
        *nzTabLink
        nz-tab-link
        [routerLink]="['../I108_NonBar']"
        style="color: gray"
      >
        非直棒
      </a>
    </nz-tab>
  </nz-tabset>
</nz-content>

<!-- 非線速新增 -->
<nz-modal
  [(nzVisible)]="isVisibleNonSpeed"
  [nzWidth]="800"
  [nzContent]="nonSpeedInputContent"
  [nzFooter]="nonSpeedInputFooter"
  (nzOnCancel)="cancelNonSpeedInput()"
>
  <ng-template #nonSpeedInputContent>
    <div>
      <table style="border-collapse: separate">
        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;站號
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="站號"
              [(ngModel)]="SHOP_CODE_8"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;機台
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="輸入機台"
              [(ngModel)]="EQUIP_CODE_8"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;產出形狀
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="輸入產出形狀"
              [(ngModel)]="SHAPE_TYPE_8"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;尺寸最小值
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="產出尺寸最小值"
              [(ngModel)]="DIA_MIN_8"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;產出尺寸最大值
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="產出尺寸最大值"
              [(ngModel)]="DIA_MAX_8"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;加工時間
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="加工時間"
              [(ngModel)]="MINS_8"
            />
          </td>
        </tr>
      </table>
    </div>
  </ng-template>

  <ng-template #nonSpeedInputFooter>
    <button nz-button nzType="default" (click)="cancelNonSpeedInput()">
      取消新增
    </button>
    <button nz-button nzType="primary" (click)="insertTab()">確定</button>
  </ng-template>
</nz-modal>

<nz-dropdown-menu #shopCode8Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchShopCode8Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByShopCode8()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByShopCode8()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #equipCode8Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchEquipCode8Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByEquipCode8()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByEquipCode8()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #shapeType8Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchShapeType8Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByShapeType8()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByShapeType8()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #diaMin8Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchDiaMin8Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByDiaMin8()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByDiaMin8()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #diaMax8Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchDiaMax8Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByDiaMax8()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByDiaMax8()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #mins8Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchMins8Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByMins8()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByMins8()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>
