<nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
    <nz-breadcrumb-item>靜態基本資料</nz-breadcrumb-item>
    <nz-breadcrumb-item>非通用</nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <tr id="tab-1" style="height:30px; width:1000px; overflow-x:auto">
            <ul>
                <li id="aali"><a href="#/singleData/I120" id="aaa">直棒退火爐工時</a></li>
                <li id="bbli"><a href="#/singleData/I121" id="bba">直棒研磨道次</a></li>
                <li id="ccli"><a href="#/singleData/I122" id="cca">直棒桶槽式工時</a></li>
                <li id="ddli"><a href="#/singleData/I123" id="dda">直棒清洗站設備能力</a></li>
                <li id="eeli"><a href="#/singleData/I124" id="eea">公版設定維護</a></li>
                <li id="ffli"><a href="#/singleData/I130" id="ffa">精整批次爐鋼種捲數製程碼對應表</a></li>
                <li id="ggli"><a href="#/singleData/I131" id="gga">直棒批次爐</a></li>
            </ul>
        </tr>
    </nz-breadcrumb-item>
    <h2 id="number"></h2>
</nz-breadcrumb>
