<nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
    <nz-breadcrumb-item>靜態基本資料</nz-breadcrumb-item>
    <nz-breadcrumb-item>非通用</nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <tr id="tab-1" style="height:30px; width:1000px; overflow-x:auto">
            <ul>
                <li><a href="#/singleData/I120">直棒退火爐工時</a></li>
                <li><a href="#/singleData/I121">直棒研磨道次</a></li>
                <li><a href="#/singleData/I122">直棒桶槽式工時</a></li>
                <li><a href="#/singleData/I123">直棒清洗站設備能力</a></li>
                <li><a href="#/singleData/I124">公版設定維護</a></li>
                <li><a href="#/singleData/I130">精整批次爐鋼種捲數製程碼對應表</a></li>
                <li><a href="#/singleData/I131">直棒批次爐</a></li>
                
            </ul>
        </tr>
    </nz-breadcrumb-item>
</nz-breadcrumb>