<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
    <nz-breadcrumb-item>靜態基本資料</nz-breadcrumb-item>
    <nz-breadcrumb-item>通用表</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <tr id="tab-1" style="height:30px; width:1000px; overflow-x:auto">
        <ul>
            <li><a href="#/commonData/I101">鋼種分類</a></li>
            <li><a href="#/commonData/I102">站別機台關聯表</a></li>
            <li><a href="#/commonData/I103">設備能力</a></li>
            <li><a href="#/commonData/I104">整備時間</a></li>
            <li><a href="#/commonData/I105">大調機</a></li>
            <li class="active"><a href="#/commonData/I106"><label style="color:blue">小調機</label></a></li>
            <li><a href="#/commonData/I107">線速</a></li>
            <li><a href="#/commonData/I108">非線速</a></li>
            <li><a href="#/commonData/I109">產率設定</a></li>
            <li><a href="#/commonData/I110">產能維護</a></li>
            <li><a href="#/commonData/I111">combine資料設定</a></li>
            <li><a href="#/commonData/I200">系統設定</a></li>
        </ul>
      </tr>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  
  <nz-tabset nzLinkRouter [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']">
        直棒
      </a>
      <div style="background: rgb(255, 255, 255); min-height: 1200px;">
        <table>

          <tr>
            <td>
              <button
              nz-button
              style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
              nzType="primary"
              [nzSize]="'large'"
              (click)="openSmallAdjustInput()"
              ><span nz-icon nzType="plus" nzTheme="outline"></span>
                新增
              </button>
            </td>
          </tr>

        </table>
        <p></p><p></p>

        <div nz-col [nzSpan]="25">
          <nz-table class="table17" #RowTable17 nzBordered [nzData]="displayPPSINP17List" [nzPageSize]="20" [nzScroll]="{y: '500px'}">
            <thead>
            <tr>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:100px"
              >機台
              <nz-filter-trigger 
              [nzActive]="searchEquipCode17Value.length > 0" 
              [nzDropdownMenu]="equipCode17Menu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:150px"
              >產出尺寸最小值
              <nz-filter-trigger 
              [nzActive]="searchDiaMin17Value.length > 0" 
              [nzDropdownMenu]="diaMin17Menu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
              >產出尺寸最大值
              <nz-filter-trigger 
              [nzActive]="searchDiaMax17Value.length > 0" 
              [nzDropdownMenu]="diaMax17Menu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
              >產出型態
              <nz-filter-trigger 
              [nzActive]="searchShapeType17Value.length > 0" 
              [nzDropdownMenu]="shapeType17Menu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
              >小調機代碼
              <nz-filter-trigger 
              [nzActive]="searchSmallAdjustCode17Value.length > 0" 
              [nzDropdownMenu]="smallAdjustCode17Menu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
              >小調機公差標準
              <nz-filter-trigger 
              [nzActive]="searchSmallAdjustTolerance17Value.length > 0" 
              [nzDropdownMenu]="smallAdjustTolerance17Menu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
              >爐批數量
              <nz-filter-trigger 
              [nzActive]="searchFuranceBatchQty17Value.length > 0" 
              [nzDropdownMenu]="furanceBatchQty17Menu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:200px">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of RowTable17.data;let i = index" class="editable-row">
              <ng-container *ngIf="!editCache17[data.id].edit; else editTemplate1">
                <td style="text-align:center; padding: 5px; height: 60px; width: 100px;">{{ data.EQUIP_CODE_17 }}</td>
                <td style="text-align:center; padding: 5px; height: 60px; width: 150px;">{{ data.DIA_MIN_17 | number }}</td>
                <td style="text-align:center; padding: 5px; height: 60px; width: 120px;">{{ data.DIA_MAX_17 | number }}</td>
                <td style="text-align:center; padding: 5px; height: 60px; width: 120px;">{{ data.SHAPE_TYPE_17 }}</td>
                <td style="text-align:center; padding: 5px; height: 60px; width: 120px;">{{ data.SMALL_ADJUST_CODE_17 }}</td>
                <td style="text-align:center; padding: 5px; height: 60px; width: 120px;">{{ data.SMALL_ADJUST_TOLERANCE_17 | number }}</td>
                <td style="text-align:center; padding: 5px; height: 60px; width: 120px;">{{ data.FURANCE_BATCH_QTY_17 | number }}</td>
                <td style="text-align:center; padding: 0px; height: 60px; width: 200px;">
                  <a (click)="editRow(data.id)">修改</a>&nbsp;&nbsp;&nbsp;
                  <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)">刪除</a>
                </td>
              </ng-container>
              <ng-template #editTemplate1>
                <td>
                  <input nz-width="20%" nz-input placeholder="輸入機台" [(ngModel)]="editCache17[data.id].data.EQUIP_CODE_17" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="輸入尺寸最小值" [(ngModel)]="editCache17[data.id].data.DIA_MIN_17" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="輸入尺寸最大值" [(ngModel)]="editCache17[data.id].data.DIA_MAX_17" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="輸入產出型態" [(ngModel)]="editCache17[data.id].data.SHAPE_TYPE_17" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="輸入大調機代碼" [(ngModel)]="editCache17[data.id].data.SMALL_ADJUST_CODE_17" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="輸入小調機公差標準" [(ngModel)]="editCache17[data.id].data.SMALL_ADJUST_TOLERANCE_17" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="輸入爐批數量" [(ngModel)]="editCache17[data.id].data.FURANCE_BATCH_QTY_17" />
                </td>
                <td>
                  <a (click)="saveEdit(data.id)">確認</a>&nbsp;&nbsp;&nbsp;
                  <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
                </td>
              </ng-template>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </nz-tab>

    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['../I106_NonBar']">
        非直棒
      </a>
    </nz-tab>
  </nz-tabset>


</nz-content>



<!-- 小調機新增 -->
<nz-modal
  [(nzVisible)]="isVisibleSmallAdjust"
  [nzWidth]="800"
  [nzContent]="smallAdjustInputContent"
  [nzFooter]="smallAdjustInputFooter"
  (nzOnCancel)="cancelSmallAdjustInput()">

  <ng-template #smallAdjustInputContent>
    <div>
      <table style="border-collapse: separate;">

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;機台</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="輸入機台" [(ngModel)]="EQUIP_CODE_17" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;產出尺寸最小值</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="輸入尺寸最小值" [(ngModel)]="DIA_MIN_17" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;產出尺寸最大值</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="輸入尺寸最大值" [(ngModel)]="DIA_MAX_17" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;產出型態</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="輸入產出型態" [(ngModel)]="SHAPE_TYPE_17" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;小調機代碼</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="輸入小調機代碼" [(ngModel)]="SMALL_ADJUST_CODE_17" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;小調機公差標準</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="輸入小調機公差標準" [(ngModel)]="SMALL_ADJUST_TOLERANCE_17" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;爐批數量</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="輸入爐批數量" [(ngModel)]="FURANCE_BATCH_QTY_17" />
          </td>
        </tr>

      </table>
    </div>
    
  </ng-template>

  <ng-template #smallAdjustInputFooter>
    <button nz-button nzType="default" (click)="cancelSmallAdjustInput()">取消新增</button>
    <button nz-button nzType="primary" (click)="insertTab()">確定</button>
  </ng-template>

</nz-modal>

<nz-dropdown-menu #equipCode17Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchEquipCode17Value" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByEquipCode17()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByEquipCode17()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #diaMin17Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchDiaMin17Value" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByDiaMin17()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByDiaMin17()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #diaMax17Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchDiaMax17Value" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByDiaMax17()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByDiaMax17()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #shapeType17Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchShapeType17Value" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByShapeType17()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByShapeType17()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #smallAdjustCode17Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchSmallAdjustCode17Value" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchBySmallAdjustCode17()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetBySmallAdjustCode17()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #smallAdjustTolerance17Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchSmallAdjustTolerance17Value" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchBySmallAdjustTolerance17()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetBySmallAdjustTolerance17()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #furanceBatchQty17Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchFuranceBatchQty17Value" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByFuranceBatchQty17()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByFuranceBatchQty17()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>
