<nz-content>
    <nz-spin nzTip="載入中.." nzSize ="large" [nzSpinning]="isLoading">

        <div class="container">
            <div class="headButton">
                <button
                    *ngIf="!isEdit"
                    nz-button 
                    class="btn"
                    nzType="primary" 
                    (click)="edit()">
                    <span nz-icon nzType="edit" nzTheme="outline"></span>
                    修改
                </button>
                <button
                    *ngIf="isEdit"
                    nz-button 
                    class="btn"
                    nzType="primary"
                    nz-popconfirm
                    nzPopconfirmTitle="確定修改嗎?" 
                    (nzOnConfirm)="confirm()">
                    <span nz-icon nzType="check" nzTheme="outline"></span>
                    確認
                </button>
                <button
                    *ngIf="isEdit"
                    nz-button 
                    class="btn"
                    nzType="primary" 
                    nz-popconfirm
                    nzPopconfirmTitle="放棄編輯嗎?" 
                    (nzOnConfirm)="cancel()">
                    <span nz-icon nzType="close" nzTheme="outline"></span>
                    取消
                </button>
            </div>

            <div class="peel" style="width:100%; margin-bottom: 30px;">
                <h2 style="font-weight: bold;">削皮股：</h2>                
                <textarea *ngIf="!isEdit && peelData.instructions === ''"
                    rows="3" style="width:100%; height: 10%; background-color: white; color: gray;" disabled>無資料
                </textarea>
                <textarea *ngIf="!isEdit && peelData.instructions !== ''"
                    rows="3" style="width:100%; height: 10%; background-color: white;" disabled>{{ peelData.instructions }}
                </textarea>

                <textarea 
                    style="width:100%; padding:25px; box-sizing:border-box;"
                    *ngIf="isEdit"
                    nz-input 
                    placeholder="請輸入說明" 
                    nzAutosize
                    [(ngModel)]="peelDataEditCache.instructions">
                </textarea>
            </div>

            <div style="width:100%; margin-bottom: 30px;">
                <h2 style="font-weight: bold;">冷抽一股：</h2>
                <textarea *ngIf="!isEdit && cold01Data.instructions === ''"
                    rows="3" style="width:100%; height: 10%; background-color: white; color: gray;" disabled>無資料
                </textarea>
                <textarea *ngIf="!isEdit && cold01Data.instructions !== ''"
                    rows="3" style="width:100%; height: 10%; background-color: white;" disabled>{{ cold01Data.instructions }}
                </textarea>

                <textarea 
                    style="width:100%; padding:25px; box-sizing:border-box;"
                    *ngIf="isEdit"
                    nz-input 
                    placeholder="請輸入說明" 
                    nzAutosize
                    [(ngModel)]="cold01DataEditCache.instructions">
                </textarea>
            </div>

            <div style="width:100%; margin-bottom: 30px;">
                <h2 style="font-weight: bold;">冷抽二股：</h2>
                <textarea *ngIf="!isEdit && cold02Data.instructions === ''"
                    rows="3" style="width:100%; height: 10%; background-color: white; color: gray;" disabled>無資料
                </textarea>
                <textarea *ngIf="!isEdit && cold02Data.instructions !== ''"
                    rows="3" style="width:100%; height: 10%; background-color: white;" disabled>{{ cold02Data.instructions }}
                </textarea>

                <textarea 
                    style="width:100%; padding:25px; box-sizing:border-box;"
                    *ngIf="isEdit"
                    nz-input 
                    placeholder="請輸入說明" 
                    nzAutosize
                    [(ngModel)]="cold02DataEditCache.instructions">
                </textarea>
            </div>

            <div style="width:100%; margin-bottom: 30px;">
                <h2 style="font-weight: bold;">研磨股：</h2>
                <textarea *ngIf="!isEdit && grindData.instructions === ''"
                    rows="3" style="width:100%; height: 10%; background-color: white; color: gray;" disabled>無資料
                </textarea>
                <textarea *ngIf="!isEdit && grindData.instructions !== ''"
                    rows="3" style="width:100%; height: 10%; background-color: white;" disabled>{{ grindData.instructions }}
                </textarea>

                <textarea 
                    style="width:100%; padding:25px; box-sizing:border-box;"
                    *ngIf="isEdit"
                    nz-input 
                    placeholder="請輸入說明" 
                    nzAutosize
                    [(ngModel)]="grindDataEditCache.instructions">
                </textarea>
            </div>


        </div>

    </nz-spin>
</nz-content>