<nz-content style="margin: 0 16px">
  <app-list-pps-nonbar [childrenTabName]="thisTabName"></app-list-pps-nonbar>

  <nz-tabset nzLinkRouter [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['../I103']" style="color: gray">
        直棒
      </a>
    </nz-tab>

    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" style="color: dodgerblue">
        非直棒
      </a>
    </nz-tab>
  </nz-tabset>
  <div
    style="display: flex; justify-content: space-between; margin: 0 0 16px 0"
  >
    <div>
      <button
        nz-button
        style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24)"
        nzType="primary"
        (click)="openCapabilityInput()"
      >
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        新增
      </button>
    </div>

    <div>
      <input
        type="file"
        id="fileupload"
        style="display: inline-block"
        (change)="incomingfile($event)"
        placeholder="Upload file"
        accept=".xlsx, .xls, .csv"
      />
      <button
        nz-button
        style="
          box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
          background-color: #4caf50;
          border: none;
          margin: 0 15px 0 0;
        "
        nzType="primary"
        (click)="Upload()"
      >
        <span nz-icon nzType="upload" nzTheme="outline"></span>
        E X C E L 匯入
      </button>
      <button
        nz-button
        style="
          box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
          background-color: #4caf50;
          border: none;
        "
        nzType="primary"
        (click)="convertToExcel()"
      >
        <span nz-icon nzType="download" nzTheme="outline"></span>
        E X C E L 匯出
      </button>
    </div>
  </div>

  <ag-grid-angular
    style="width: auto; height: calc(100vh - 280px)"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="colDefs"
    [defaultColDef]="defaultColDef"
    [editType]="editType"
    (gridReady)="onGridReady($event)"
    [suppressClickEdit]="true"
  >
  </ag-grid-angular>
</nz-content>

<!-- 設備能力新增 -->
<nz-modal
  [(nzVisible)]="isVisibleCapability"
  [nzWidth]="customWidth"
  [nzTitle]="CapabilityTitle"
  [nzContent]="CapabilityInputContent"
  [nzFooter]="CapabilityInputFooter"
  (nzOnCancel)="cancelCapabilityInput()"
>
  <ng-template #CapabilityTitle>新增非直棒設備能力</ng-template>
  <ng-template #CapabilityInputContent>
    <table style="border-collapse: separate; width: 100%; border-bottom: none">
      <tr style="width: 100%">
        <th colSpan="2">
          <span>站別</span>
        </th>
        <td colSpan="13">
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入站別"
            [(ngModel)]="shopCode"
          />
        </td>
        <th colSpan="2">
          <span>鋼種</span>
        </th>
        <td colSpan="13">
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入鋼種"
            [(ngModel)]="steelType"
          />
        </td>
      </tr>
      <tr>
        <th colSpan="2">
          <span>尺寸MIN</span>
        </th>
        <td colSpan="13">
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入尺寸MIN"
            [(ngModel)]="diaMin"
          />
        </td>
        <th colSpan="2">
          <span>尺寸MAX</span>
        </th>
        <td colSpan="13">
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入尺寸MAX"
            [(ngModel)]="diaMax"
          />
        </td>
      </tr>
      <tr>
        <th colSpan="2">
          <span>包裝碼</span>
        </th>
        <td colSpan="13">
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入包裝碼"
            [(ngModel)]="packCode"
          />
        </td>
        <th colSpan="2">
          <span>最佳機台</span>
        </th>
        <td colSpan="13">
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入最佳機台"
            [(ngModel)]="bestMachine"
          />
        </td>
      </tr>
    </table>
    <table style="width: 100%">
      <tr>
        <th colSpan="2">
          <span>替代機台1</span>
        </th>
        <td colSpan="8">
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入替代機台1"
            [(ngModel)]="machine1"
          />
        </td>
        <th colSpan="2">
          <span>替代機台2</span>
        </th>
        <td colSpan="8">
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入替代機台2"
            [(ngModel)]="machine2"
          />
        </td>
        <th colSpan="2">
          <span>替代機台3</span>
        </th>
        <td colSpan="8">
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入替代機台3"
            [(ngModel)]="machine3"
          />
        </td>
      </tr>
      <tr style="border: 2px solid white">
        <th colSpan="2">
          <span>備註</span>
        </th>
        <td colSpan="28">
          <input
            style="width: 100%; border-radius: 7px"
            nz-input
            placeholder="輸入備註"
            [(ngModel)]="comment"
          />
        </td>
      </tr>
    </table>
  </ng-template>
  <ng-template #CapabilityInputFooter>
    <button nz-button nzType="default" (click)="cancelCapabilityInput()">
      取消新增
    </button>
    <button nz-button nzType="primary" (click)="insertTab()">確定</button>
  </ng-template>
</nz-modal>
