<nz-content style="margin: 0 16px">
    <nz-breadcrumb class="breadcrumbContainer" nzSeparator=">">
      <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
      <nz-breadcrumb-item>規劃策略</nz-breadcrumb-item>
      <nz-breadcrumb-item>策略基礎設定</nz-breadcrumb-item>
      <nz-breadcrumb-item>公版設定維護(PPSI205)</nz-breadcrumb-item>
    </nz-breadcrumb>
  
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'"  [nzSelectedIndex]="1">
  
      <!-- 盤元冷抽尺寸優先順序表 -->
      <!-- <nz-tab nzTitle="盤元冷抽尺寸優先順序" (nzClick)="changeTab(1)"></nz-tab> -->
  
      <!-- 401站優先順序表 -->
      <!-- <nz-tab nzTitle="401站優先順序表" (nzClick)="changeTab(2)"></nz-tab> -->
  
      <!-- 205站公版尺寸 -->
      <nz-tab nzTitle="205站公版尺寸" (nzClick)="changeTab(3)"></nz-tab>
  
      <!-- 401 Auto Campaign -->
      <nz-tab nzTitle="401 Auto Campaign">
        <nz-tabset nzLinkRouter [nzTabPosition]="'top'" [nzType]="'card'">
          <nz-tab
            class="Tab5-a"
            style="background-color: #ffffff; color: dodgerblue"
          >
            <a *nzTabLink nz-tab-link [routerLink]="['/main/PlanSet/I205_a401']">
              Auto campaign表
            </a>
            <div>
                <tr>
                  <td style="width: 42%;">
                    <button
                      nz-button
                      style="
                        box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                        background-color: #e6a3c2;
                        border: 2px blue none;
                      "
                      [ngClass]="{ FCPdisable: isRunFCP, FCPenableUpload: !isRunFCP }"
                      nzType="primary"
                      [disabled]="isRunFCP"
                      (click)="importCompaign(2)"
                    >
                      <span nz-icon nzType="upload" nzTheme="outline"></span>
                      轉入 CAMPAIGN 表
                    </button>
                  </td>
    
                  <td style="text-align: right;">
                    &nbsp;&nbsp;
                    <input
                      type="file"
                      id="fileupload"
                      style="display: inline-block"
                      (change)="incomingfile($event)"
                      placeholder="Upload file"
                      accept=".xlsx, .xls, .csv"
                    />
                    <button
                      nz-button
                      [ngClass]="{ FCPdisable: isRunFCP, FCPenable: !isRunFCP }"
                      nzType="primary"
                      [disabled]="isRunFCP"
                      (click)="Upload('4')"
                      style="display: inline-block"
                    >
                      <span nz-icon nzType="upload" nzTheme="outline"></span>
                      E X C E L 匯入
                    </button>
                    &nbsp;&nbsp;
                    <button
                      nz-button
                      style="
                        box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                        background-color: #4caf50;
                        border: 2px blue none;
                      "
                      nzType="primary"
                      (click)="convertToExcel('4')"
                    >
                      <span nz-icon nzType="download" nzTheme="outline"></span>
                      E X C E L 匯出
                    </button>
                  </td>
                </tr>
                <br />
                <ag-grid-angular
                style="width: 100%; height: calc(100vh - 220px); overflow: scroll; "
                class="ag-theme-alpine"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [pagination]="true"
                [frameworkComponents]="frameworkComponents"
                editType="fullRow"
                [suppressClickEdit]="true"
                [gridOptions]="gridOptions"
                [context]="myContext"
                (gridReady)="onGridReady($event)"
                >
                </ag-grid-angular>
              </div>
          </nz-tab>
          <nz-tab
            class="Tab5-a"
            style="background-color: #ffffff"
          >
            <a 
            style="color: black"
            *nzTabLink nz-tab-link [routerLink]="['/main/PlanSet/I205_401']">
              彙整資料</a
            >
          </nz-tab>
        </nz-tabset>      
      </nz-tab>
  
      <nz-tab nzTitle="公版排程維護" (nzClick)="changeTab(5)"></nz-tab>
  
    </nz-tabset>
  </nz-content>
