
.flex {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;
}

::ng-deep .ag-header-cell-label {
	justify-content: center;
}

::ng-deep .ag-cell-value {
	text-align: center;
}

::ng-deep .header-editable-color { 
    background-color: gold;
}

::ng-deep .cell-editable-color{
    background-color: lightblue;
}

.button {
    color: #fff;
    background-color: #1677ff;
    border-style: none;
    width: 20px;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    line-height: 0 !important;
    width: 60%;
    background-color: #1677ff;
    height: 100%;
    border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; 
} 

.buttonCheck {
    color: #fff;
    background-color: #1677ff;
    border-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    line-height: 0 !important;
    width: 40%;
    background-color: #1677ff;
    height: 35px;
    border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; 
    
} 


:host ::ng-deep .custom-table-wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }
  
  :host ::ng-deep .custom-table-wrapper .ant-table {
    display: flex;
    flex-direction: row;
  }
  
  :host ::ng-deep .custom-table-wrapper .ant-table-body {
    flex: 1;
    overflow-y: hidden;
  }
  