<nz-content style="margin: 0 16px">
  <nz-breadcrumb style="margin: 16px 0">
    <nz-breadcrumb-item>工廠排程</nz-breadcrumb-item>
    <nz-breadcrumb-item>排序設定</nz-breadcrumb-item>
    <nz-breadcrumb-item>啟動發佈模式</nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-spin nzTip="Loading..." [nzSize]="'large'" [nzSpinning]="isSpinning">
    <div class="flex">
      <button (click)="serach(true)" nz-button nzType="primary">
        <span nz-icon nzType="search" nzTheme="outline"></span>查詢
      </button>

      <button
        style="float: right; margin-left: 20px"
        (click)="confirm(true)"
        nz-button
        nzType="primary"
      >
        <span nz-icon nzType="check-circle" nzTheme="outline"></span>儲存
      </button>

      <button
        style="
          float: right;
          margin-left: 20px;
          border-color: #ff3460;
          background: #ff3460;
        "
        (click)="runFcp()"
        nz-button
        nzType="primary"
      >
        <span nz-icon nzType="caret-right" nzTheme="outline"></span>重啟FCP
      </button>
    </div>

    <div class="flex">
      <span
        style="
          width: 80px;
          height: 25px;
          font-size: 16px;
          background-color: rgb(156, 182, 206);
          font-weight: bold;
          border-radius: 5px;
          text-align: center;
        "
        >FCP版本</span
      >
      <nz-select
        nzPlaceHolder="請選擇版本"
        style="width: 210px; margin-left: 20px"
        [(ngModel)]="shopCodeInputList"
        nzAllowClear
        (nzOpenChange)="getFcpList()"
      >
        <nz-option
          *ngFor="let shopCode of shopCodeOfOption"
          [nzLabel]="shopCode"
          [nzValue]="shopCode"
        ></nz-option>
        <nz-option *ngIf="shopCodeLoading" nzDisabled nzCustomContent>
          <span nz-icon nzType="loading" class="loading-icon"></span>
          版本清單載入中...
        </nz-option>
      </nz-select>
    </div>

    <ag-grid-angular
      style="width: 100%; height: 410px; margin-bottom: 30px; margin-top: 25px"
      class="ag-theme-alpine"
      [rowData]="MSHI004DataList"
      [columnDefs]="columnDefs"
      [gridOptions]="gridOptions"
      [pagination]="true"
      [paginationPageSize]="20"
    >
    </ag-grid-angular>

    <ag-grid-angular
      style="width: 100%; height: 300px"
      class="ag-theme-alpine"
      [rowData]="machineDataList"
      [columnDefs]="machine"
      [gridOptions]="gridOptions"
      [pagination]="true"
      [paginationPageSize]="20"
    >
    </ag-grid-angular>
  </nz-spin>
</nz-content>
