<nz-content style="margin: 0 16px">
  <nz-breadcrumb style="margin: 16px 0">
    <nz-breadcrumb-item>工廠排程</nz-breadcrumb-item>
    <nz-breadcrumb-item>排序設定</nz-breadcrumb-item>
    <nz-breadcrumb-item>啟動發佈模式</nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-spin nzTip="Loading..." [nzSize]="'large'" [nzSpinning]="isSpinning">
    <div class="flex">
      <button (click)="serach(true)" nz-button nzType="primary">
        <span nz-icon nzType="search" nzTheme="outline"></span>查詢
      </button>

      <button
        style="float: right; margin-left: 20px"
        (click)="confirm(true)"
        nz-button
        nzType="primary"
      >
        <span nz-icon nzType="check-circle" nzTheme="outline"></span>儲存
      </button>

      <button
        style="
          float: right;
          margin: 0px 20px 0px 20px;
          border-color: #ff3460;
          background: #ff3460;
        "
        (click)="runFcp()"
        nz-button
        nzType="primary"
      >
        <span nz-icon nzType="caret-right" nzTheme="outline"></span>重啟FCP
      </button>
      <label
        style="font-weight: bold; font-size: large; color: rgb(214, 63, 63)"
        *ngIf="isRunFCP"
      >
        ※ 目前 FCP 執行中，不可重啟fcp！
      </label>
    </div>

    <div class="flex">
      <span
        style="
          width: 80px;
          height: 25px;
          font-size: 16px;
          background-color: rgb(156, 182, 206);
          font-weight: bold;
          border-radius: 5px;
          text-align: center;
        "
        >FCP版本</span
      >
      <nz-select
        nzPlaceHolder="請選擇版本"
        style="width: 210px; margin-left: 20px"
        [(ngModel)]="shopCodeInputList"
        nzAllowClear
        (nzOpenChange)="getFcpList()"
      >
        <nz-option
          *ngFor="let shopCode of shopCodeOfOption"
          [nzLabel]="shopCode"
          [nzValue]="shopCode"
        ></nz-option>
        <nz-option *ngIf="shopCodeLoading" nzDisabled nzCustomContent>
          <span nz-icon nzType="loading" class="loading-icon"></span>
          版本清單載入中...
        </nz-option>
      </nz-select>
    </div>

    <ag-grid-angular
      style="width: 100%; height: 510px; margin-bottom: 30px; margin-top: 25px"
      class="ag-theme-alpine ag-theme-MSHI004-custom"
      [rowData]="MSHI004DataList"
      [columnDefs]="columnDefs"
      [gridOptions]="gridOptions"
      [tooltipShowDelay]="0"
      [pagination]="true"
      [paginationPageSize]="20"
      [suppressMenuHide]="true"
    >
    </ag-grid-angular>

    <ag-grid-angular
      style="width: 100%; height: 180px"
      class="ag-theme-alpine"
      [rowData]="machineDataList"
      [columnDefs]="machine"
      [gridOptions]="gridOptions"
    >
    </ag-grid-angular>
  </nz-spin>
</nz-content>

<nz-modal
  [(nzVisible)]="isVisibleConvert"
  [nzTitle]="convertTitle"
  [nzContent]="PlanSetContent"
  [nzFooter]="null"
  [nzWidth]="400"
  (nzOnCancel)="convertCancel()"
>
  <ng-container>
    <ng-template #convertTitle>轉入公版</ng-template>
    <ng-template #PlanSetContent>
      <div class="container">
        <table class="centered">
          <tr class="underline">
            <th class="gap">版本</th>
            <td style="text-align: center">
              <span style="color: darkblue">{{ normFcpEdition }}</span>
            </td>
          </tr>
          <p></p>
          <tr class="underline">
            <th class="gap">站別</th>
            <td style="text-align: center">
              <nz-checkbox-wrapper (nzOnChange)="clickShopCode($event)">
                <tr *ngFor="let item of shopCodeList; let i = index">
                  <td>
                    <label nz-checkbox nzValue="{{ item }}">{{ item }}</label>
                  </td>
                </tr>
              </nz-checkbox-wrapper>
            </td>
          </tr>
          <p></p>
          <tr class="underline">
            <th class="gap">公版天數</th>
            <td style="text-align: center">
              <nz-input-number
                nzPlaceHolder="天數"
                [(ngModel)]="normday"
                [nzMin]="0"
                [nzMax]="40"
                [nzStep]="1"
                (ngModelChange)="inputDay()"
              ></nz-input-number>
            </td>
          </tr>
          <p></p>
          <tr class="underline">
            <th class="gap">時間</th>
            <td style="text-align: center">
              <span style="width: 20%; color: darkblue">{{ normTime }}</span>
            </td>
          </tr>
          <p></p>
          <tr>
            <td colspan="2" style="text-align: center">
              <button
                nz-button
                nzType="primary"
                class="opButton"
                (click)="convertSubmit()"
                style="margin-right: 10px; text-align: center"
              >
                送出
              </button>

              <button
                nz-button
                nzType="primary"
                class="opButton"
                (click)="convertCancel()"
              >
                取消
              </button>
            </td>
          </tr>
        </table>
      </div>
    </ng-template>
  </ng-container>
</nz-modal>
