<nz-breadcrumb style="margin: 16px 0">
    <nz-breadcrumb-item>業務報表</nz-breadcrumb-item>
    <nz-breadcrumb-item>報表維護</nz-breadcrumb-item>
    <nz-breadcrumb-item>{{ childrenTabName }}</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <tr id="tab-1" style="height: 30px; width: 1000px; overflow-x: auto">
        <ul>
            <li id="liR340">
                <a id="aR340" [routerLink]="['/SaleInput/I001']"> 
                    訂單交期回覆
                </a>
            </li>
            <li id="liR341">
                <a id="aR341" [routerLink]="['/SaleInput/I002']"> 
                    成品庫存現況
                </a>
            </li>
        </ul>
      </tr>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  