<!-- <nz-card *ngFor="let data of listOfData; index as i">
    <label style="white-space: pre-line;">{{data.instructions}}</label>
</nz-card> -->


<div class="peel" style="width:100%; margin-bottom: 30px;">
    <h2 style="font-weight: bold;">削皮股：</h2>
    <textarea
        rows="4" style="width:100%; height: 10%; background-color: white;" disabled>{{ listOfData[0].instructions }}
    </textarea>
</div>

<div class="peel" style="width:100%; margin-bottom: 30px;">
    <h2 style="font-weight: bold;">冷抽一股：</h2>
    <textarea 
        rows="4" style="width:100%; height: 10%; background-color: white;" disabled>{{ listOfData[1].instructions }}
    </textarea>
</div>

<div class="peel" style="width:100%; margin-bottom: 30px;">
    <h2 style="font-weight: bold;">冷抽二股：</h2>
    <textarea 
        rows="4" style="width:100%; height: 10%; background-color: white;" disabled>{{ listOfData[2].instructions }}
    </textarea>
</div>

<div class="peel" style="width:100%; margin-bottom: 30px;">
    <h2 style="font-weight: bold;">研磨股：</h2>
    <textarea 
        rows="4" style="width:100%; height: 10%; background-color: white;" disabled>{{ listOfData[3].instructions }}
    </textarea>
</div>
