.headFlex {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
    justify-content: flex-end;
    align-items: center;
}

.bodyFlex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    width: 1200px;
    height: 1200px;
}

.leftDiv {

    width: 350px;
    height: 400px;

}

.rightDiv {

    flex: 1;

}