<nz-breadcrumb style="margin: 16px 0">
  <nz-breadcrumb nzSeparator=">">
  <nz-breadcrumb-item class="breadcrumbContainer" >生產計畫</nz-breadcrumb-item>
  <nz-breadcrumb-item class="breadcrumbContainer" >靜態基本資料</nz-breadcrumb-item>
  <nz-breadcrumb-item class="breadcrumbContainer" >非通用</nz-breadcrumb-item>
  <nz-breadcrumb-item class="breadcrumbContainer" >{{ childrenTabName }}</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <tr id="tab-1" style="height: 30px; width: 1000px; overflow-x: auto">
      <ul>
        <li id="liI120">
          <a href="#/main/singleData/I120" id="aI120">直棒退火爐工時</a>
        </li>
        <li id="liI121">
          <a href="#/main/singleData/I121" id="aI121">直棒研磨道次</a></li>
        <li id="liI122">
          <a href="#/main/singleData/I122" id="aI122">直棒桶槽式工時</a>
        </li>
        <li id="liI123">
          <a href="#/main/singleData/I123" id="aI123">直棒清洗站設備能力</a>
        </li>
        <li id="liI130">
          <a href="#/main/singleData/I130" id="aI130">精整批次爐鋼種捲數製程碼對應表</a>
        </li>
        <li id="liI131">
          <a href="#/main/singleData/I131" id="aI131">直棒BA1批次爐工時維護</a>
        </li>
      </ul>
    </tr>
  </nz-breadcrumb-item>
</nz-breadcrumb>
