<nz-content style="margin:0 16px;">
    <nz-breadcrumb style="margin:16px 0;">
      <nz-breadcrumb-item>訂單即時回應</nz-breadcrumb-item>
      <nz-breadcrumb-item>原料匹配策略</nz-breadcrumb-item>
      <nz-breadcrumb-item>交期匹配限制式</nz-breadcrumb-item>
    </nz-breadcrumb>
    

        <div id="message_div" class="locked" style="background: rgb(255, 255, 255);">
          <div style="background: #eee">

            <!-- 單筆新增功能 -->
            <button id="singleAdd" nz-button (click)="addRow()" class="AddButton" role="button">
              <span nz-icon nzType="plus" nzTheme="outline"></span>
              新增
            </button>
            &nbsp;

            <!-- 匯入EXCEL功能 -->
            <button style="display:none;" id="bacthAdd" nz-button role="button" class="ImportButton" onclick="document.getElementById('importExcel').click();" >
              <span nz-icon nzType="upload" nzTheme="outline"></span>
              匯入
            </button>
            <input style="display:none;" type="file" name="file" id="importExcel" required (change)="handleImport($event)"
            accept=".xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            &nbsp;

            <!-- 匯出EXCEL功能 -->
            <button style="display:none;" id="download" nz-button (click)="exportToExcel()" class="ExportButton" role="button">
              <span nz-icon nzType="download" nzTheme="outline" ></span>
              匯出
            </button>
            &nbsp;

            <!-- 加載圖示 -->
            <!-- <button id="test1" nz-button (click)="LoadingStatus('On')" role="button" onclick="document.getElementById('bacthAdd').disabled=false;">測試加載開啟</button>
            <button id="test2" nz-button (click)="LoadingStatus('Off')" role="button">測試加載關閉</button> -->
            <div id="loadingStatus" class="hidden">
              <b>執行中...</b>
              <div class="loading"></div>
            </div>

          </div>

          <div nz-col [nzSpan]="25">
            <nz-table #RowTable1 nzBordered [nzData]="listOfDisplayData" [nzPageSize]="20" [nzScroll]="{ y: '1400px' }" class="table" style="border:3px #cccccc solid;" cellpadding="10" border='1'>
              <thead>
                <!-- 篩選 & 升降冪功能 -->
                <tr>
                  <th nzCustomFilter [nzSortFn]="listOfColumn.daysFromNowMin.compare" [nzSortPriority]="listOfColumn.daysFromNowMin.priority"
                  style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                  <font size="3.5"><b>期望交期距今-min(日)</b></font>
                    <nz-filter-trigger [(nzVisible)]="visible1" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu1">
                      <span nz-icon nzType="search"></span>
                    </nz-filter-trigger>
                  </th>
                  <th nzCustomFilter [nzSortFn]="listOfColumn.daysFromNowMax.compare" [nzSortPriority]="listOfColumn.daysFromNowMax.priority"
                  style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                  <font size="3.5"><b>期望交期距今-max(日)</b></font>
                  <nz-filter-trigger [(nzVisible)]="visible2" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu2">
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                  </th>
                  <th nzCustomFilter [nzSortFn]="listOfColumn.priorityContent.compare" [nzSortPriority]="listOfColumn.priorityContent.priority"
                  style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                  <font size="3.5"><b>順位內容</b></font>
                  <nz-filter-trigger [(nzVisible)]="visible3" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu3">
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                  </th>
                  <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:80px"><font size="4.5"><b>Action</b></font></th>
                </tr>
              </thead>
              <tbody>
                <!-- 修改/刪除功能 -->
                <tr *ngFor="let data of RowTable1.data;let i = index" class="editable-row">
                  <ng-container *ngIf="!editCache1[data.id].edit; else editTemplate1">
                    <td style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.daysFromNowMin }}</font></td>
                    <td style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.daysFromNowMax }}</font></td>
                    <td style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.priorityContent }}</font></td>
                    <td style="text-align:center; padding: 0px; height: 10px; width: 50px;">
                      <a id="revise" (click)="editRow(data.id, 1)">
                        <span nz-icon nzType="edit" nzTheme="outline"></span>
                        修改
                      </a>|
                      <a id="delete" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id, 1)">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                        刪除
                      </a>
                    </td>
                  </ng-container>
                  <ng-template #editTemplate1>
                    <td>
                      <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.daysFromNowMin" />
                    </td>
                    <td>
                      <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.daysFromNowMax" />
                    </td>
                    <td style="text-align:center; padding: 0px; height: 10px; width: 50px;">
                        <p id="priorityContentId"><font size="3">{{ data.priorityContent }}</font></p>
                        <!-- 排序觸發按鈕 -->
                        <button id="prioritySet" nz-button (click)="openPriority()" role="button">
                          <span nz-icon nzType="setting" nzTheme="outline"></span>
                          排序設定
                        </button>
                    </td>
                    <td>
                      <a (click)="saveEdit(data.id, 1)">
                        <span nz-icon nzType="save" nzTheme="outline"></span>
                        確認
                      </a>|
                      <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id, 1)">
                        <span nz-icon nzType="close" nzTheme="outline"></span>
                        取消
                      </a>
                    </td>
                  </ng-template>
                </tr>
              </tbody>
            </nz-table>
            <!-- 排序調整彈窗 -->
            <div class= "popup" id= "pop1" style="display:none;">
                <b>順序設定(↑近到遠 ; ↓遠到近)</b>
                <br>
                -------------------------------------------------
                <div>
                    <b>順序一:</b>
                    <button id="menuName1" nz-button nz-dropdown [nzDropdownMenu]="menu1">
                        請選擇 V
                        <span nz-icon nzType="down"></span>
                    </button>
                    <nz-dropdown-menu #menu1="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                        <li id="select1_1" nz-menu-item (click)="selectTab1(1)">在庫</li>
                        <li id="select1_2" nz-menu-item (click)="selectTab1(2)">在途</li>
                        <li id="select1_3" nz-menu-item (click)="selectTab1(3)">委外代軋</li>
                        <li id="select1_4" nz-menu-item (click)="selectTab1(4)">採購中</li>
                    </ul>
                    </nz-dropdown-menu>&nbsp;&nbsp;
                    <nz-radio-group [(ngModel)]="radioValue1">
                        <label nz-radio nzValue="↓"><b>↓</b></label>
                        <label nz-radio nzValue="↑"><b>↑</b></label>
                    </nz-radio-group>&nbsp;&nbsp;&nbsp;
                    <button disabled="true" id="resetPriority1" nz-button (click)="resetpriority1()" role="button">清除</button>
                    <br>
                    <b>順序二:</b>
                    <button id="menuName2" nz-button nz-dropdown [nzDropdownMenu]="menu2">
                        請選擇 V
                        <span nz-icon nzType="down"></span>
                    </button>
                    <nz-dropdown-menu #menu2="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                        <li id="select2_1" nz-menu-item (click)="selectTab2(1)">在庫</li>
                        <li id="select2_2" nz-menu-item (click)="selectTab2(2)">在途</li>
                        <li id="select2_3" nz-menu-item (click)="selectTab2(3)">委外代軋</li>
                        <li id="select2_4" nz-menu-item (click)="selectTab2(4)">採購中</li>
                    </ul>
                    </nz-dropdown-menu>&nbsp;&nbsp;
                    <nz-radio-group [(ngModel)]="radioValue2">
                        <label nz-radio nzValue="↓"><b>↓</b></label>
                        <label nz-radio nzValue="↑"><b>↑</b></label>
                    </nz-radio-group>&nbsp;&nbsp;&nbsp;
                    <button disabled="true" id="resetPriority2" nz-button (click)="resetpriority2()" role="button">清除</button>
                    <br>
                    <b>順序三:</b>
                    <button id="menuName3" nz-button nz-dropdown [nzDropdownMenu]="menu3">
                        請選擇 V
                        <span nz-icon nzType="down"></span>
                    </button>
                    <nz-dropdown-menu #menu3="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                        <li id="select3_1" nz-menu-item (click)="selectTab3(1)">在庫</li>
                        <li id="select3_2" nz-menu-item (click)="selectTab3(2)">在途</li>
                        <li id="select3_3" nz-menu-item (click)="selectTab3(3)">委外代軋</li>
                        <li id="select3_4" nz-menu-item (click)="selectTab3(4)">採購中</li>
                    </ul>
                    </nz-dropdown-menu>&nbsp;&nbsp;
                    <nz-radio-group [(ngModel)]="radioValue3">
                        <label nz-radio nzValue="↓"><b>↓</b></label>
                        <label nz-radio nzValue="↑"><b>↑</b></label>
                    </nz-radio-group>&nbsp;&nbsp;&nbsp;
                    <button disabled="true" id="resetPriority3" nz-button (click)="resetpriority3()" role="button">清除</button>
                    <br>
                    <b>順序四:</b>
                    <button id="menuName4" nz-button nz-dropdown [nzDropdownMenu]="menu4">
                        請選擇 V
                        <span nz-icon nzType="down"></span>
                    </button>
                    <nz-dropdown-menu #menu4="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                        <li id="select4_1" nz-menu-item (click)="selectTab4(1)">在庫</li>
                        <li id="select4_2" nz-menu-item (click)="selectTab4(2)">在途</li>
                        <li id="select4_3" nz-menu-item (click)="selectTab4(3)">委外代軋</li>
                        <li id="select4_4" nz-menu-item (click)="selectTab4(4)">採購中</li>
                    </ul>
                    </nz-dropdown-menu>&nbsp;&nbsp;
                    <nz-radio-group [(ngModel)]="radioValue4">
                        <label nz-radio nzValue="↓"><b>↓</b></label>
                        <label nz-radio nzValue="↑"><b>↑</b></label>
                    </nz-radio-group>&nbsp;&nbsp;&nbsp;
                    <button disabled="true" id="resetPriority4" nz-button (click)="resetpriority4()" role="button">清除</button>
                    <br>
                    <button id="prioritySetComfirm" nz-button (click)="combinePriority()" role="button">
                      <span nz-icon nzType="save" nzTheme="outline"></span>
                      確認
                    </button>&nbsp;&nbsp;&nbsp;
                    <button id="prioritySetClose" nz-button (click)="closePriority(0)" role="button">
                      <span nz-icon nzType="close" nzTheme="outline"></span>
                      取消
                    </button>&nbsp;&nbsp;&nbsp;
                    <button id="resetPriorityAll" nz-button (click)="resetpriorityall()" role="button">全部清除</button>
                </div>
            </div>
            <nz-dropdown-menu #menu1="nzDropdownMenu">
              <div class="ant-table-filter-dropdown">
                <div class="search-box">
                  <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                  <button nz-button nzSize="small" nzType="primary" (click)="searchDaysFromNowMin(searchValue)" class="search-button">Search</button>
                  <button nz-button nzSize="small" (click)="reset()">Reset</button>
                </div>
              </div>
            </nz-dropdown-menu>
            <nz-dropdown-menu #menu2="nzDropdownMenu">
              <div class="ant-table-filter-dropdown">
                <div class="search-box">
                  <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                  <button nz-button nzSize="small" nzType="primary" (click)="searchDaysFromNowMax(searchValue)" class="search-button">Search</button>
                  <button nz-button nzSize="small" (click)="reset()">Reset</button>
                </div>
              </div>
            </nz-dropdown-menu>
            <nz-dropdown-menu #menu3="nzDropdownMenu">
              <div class="ant-table-filter-dropdown">
                <div class="search-box">
                  <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                  <button nz-button nzSize="small" nzType="primary" (click)="searchPriorityContent(searchValue)" class="search-button">Search</button>
                  <button nz-button nzSize="small" (click)="reset()">Reset</button>
                </div>
              </div>
            </nz-dropdown-menu>
          </div>
        </div>
        
    
    
    
    </nz-content>
    