:host nz-layout{
    height:100vh;
}

:host .container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

:host ::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-radius: 7px;
}

:host ::ng-deep .ant-select{
    margin-right: 10px;
}

:host .ant-input{
    width:140px;
    border-radius: 7px;
    margin:5px 0px 5px 10px;
}

:host ::ng-deep .ag-header-cell, .ag-header-group-cell{
    padding:0px 10px 0px 10px;
}

:host ::ng-deep .ag-header-cell-label {
	justify-content: center;
}

:host ::ng-deep .ag-cell-value {
    justify-content: center;
    align-items: center;
	text-align: left;
}

:host ::ng-deep .ag-cell{
    display: flex;
}

:host .buttonTwo{
    color: #fff;
    background-color: #1677ff;
    border-style: none;
    width: 80%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    line-height: 0 !important;
    height: 70%;
    border-radius: 3px;
    margin:0px 5px 0px 5px;
}

:host .buttonTwo:hover{
    background-color: #BFD4E4;
    font-weight: bold;
}

:host .buttonThree{
    color: #fff;
    background-color: red;
    border-style: none;
    width: 80%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    line-height: 0 !important;
    height: 70%;
    border-radius: 3px;
    margin:0px 5px 0px 5px;
}

:host .buttonThree:hover{
    background-color: #edb1b1; 
    font-weight: 700;
}

:host .container{
    height: 100%;
    width:100%;
    justify-content: center;
    align-items: center;
}