<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
    <nz-breadcrumb-item>靜態基本資料</nz-breadcrumb-item>
    <nz-breadcrumb-item>非通用</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <tr id="tab-1" style="height:30px; width:1000px; overflow-x:auto">
        <ul>
          <li><a href="#/singleData/I120">直棒退火爐工時</a></li>
          <li><a href="#/singleData/I121">直棒研磨道次</a></li>
          <li><a href="#/singleData/I122">直棒桶槽式工時</a></li>
          <li><a href="#/singleData/I123">直棒清洗站設備能力</a></li>
          <li class="active"><a href="#/singleData/I124"><label style="color:blue">
                <font size="4">公版設定維護(PPSI205)</font>
              </label></a></li>
          <li><a href="#/singleData/I130">精整批次爐鋼種捲數製程碼對應表</a></li>
        </ul>
      </tr>
    </nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-tabset [nzTabPosition]="'left'" [nzType]="'card'" nzSelectedIndex="3">

    <!-- 盤元冷抽尺寸優先順序表 -->
    <nz-tab nzTitle="盤元冷抽尺寸優先順序" (nzClick)="changeTab(1)">
    </nz-tab>


    <!-- 401站優先順序表 -->
    <nz-tab nzTitle="401站優先順序表" (nzClick)="changeTab(2)">
    </nz-tab>


    <!-- 205站公版尺寸 -->
    <nz-tab nzTitle="205站公版尺寸" (nzClick)="changeTab(3)">
    </nz-tab>

    <!-- 401 Auto Campaign -->
    <nz-tab nzTitle="401 Auto Campaign" (nzClick)="changeTab(4)">
      <a 
        [routerLink]="['/singleData/I124']"
        [queryParams]="{ selectedTabIndex: 3 }"
        nz-button
        nzType="default"
        >
        Auto Campaign 表
      </a>
      &nbsp;

      <a 
      [routerLink]="['/singleData/I205_401']"
      [queryParams]="{ selectedTabIndex: 3, innerSelect: 0}"
      nz-button 
      nzType="default"
      [disabled]="isRunFCP"
      (click)="getTbppsm119VerList()"
      >
      <span nzTheme="outline"></span>
        彙 整 資 料
      </a>
      <nz-collapse>
        <nz-collapse-panel 
        nzHeader="資料結轉與EXCEL匯出" 
        nzActive="true">

        <button nz-button 
                nzType="primary"
                [ngClass]="{FCPdisable: isRunFCP, FCPenableUpload: !isRunFCP}"
                [disabled]="isRunFCP"
                (click)="convertTBPPSM102AutoCampaign()"
        ><span nz-icon nzType="import" nzTheme="outline"></span>
        轉入 401 Auto Campaign
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;

          <nz-input-number 
            style="height: 20%;"
            nz-input 
            [nzMin]="1" 
            [nzMax]="50" 
            [nzStep]="1"
            [(ngModel)]="inputDate_val" 
          >
          </nz-input-number>

          <nz-select nzShowSearch nzAllowClear [(ngModel)]="selectedVer_default" style="width: 220px; margin-left:25px;"
            nzPlaceHolder="請選擇版本號" (ngModelChange)="getTbppsm119VerList()">
            <nz-option *ngFor="let abbr of selectedVer" [nzLabel]="abbr.label" [nzValue]="abbr.value"></nz-option>
          </nz-select>
          &nbsp;&nbsp;&nbsp;&nbsp;

          <button nz-button nzType="primary"
            style="background-color: #4034eb; border: 3px solid; border-color: #4b48db; font-weight: bold;"
            [ngClass]="{FCPdisable: isRunFCP, FCPenableUpload: !isRunFCP}" [disabled]="isRunFCP"
            (click)="converTBPPSM119Data()"><span nzTheme="outline"></span>
            資料結轉
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button
              nz-button
              style="
                box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                background-color: #4caf50;
                border: 2px blue none;
              "
              nzType="primary"
              (click)="excelExport()">
              <span nz-icon nzType="download" nzTheme="outline"></span>
              E X C E L 匯出
            </button>

        </nz-collapse-panel>
      </nz-collapse>

      <div>
        <tr>
          <label style="text-align: right; font-weight:bold; font-size: large; color: rgb(214, 63, 63);"
            *ngIf="isRunFCP"> ※ 目前 FCP 執行中，不可異動資料！ </label>

        </tr>
      </div>
      <br>
      <ag-grid-angular [columnDefs]="columnDefs" [defaultColDef]="ColGroupDef" [headerHeight]="40" [rowHeight]="40"
        style="width: 100%; height:500px;" class="ag-theme-alpine" [rowData]="rowData"
        [suppressRowClickSelection]="true" [groupSelectsChildren]="true" [rowSelection]="'multiple'"
        [animateRows]="true">
      </ag-grid-angular>

    </nz-tab>

    <nz-tab nzTitle="公版排程維護" (nzClick)="changeTab(5)">
    </nz-tab>

  </nz-tabset>
</nz-content>