<nz-breadcrumb style="margin: 16px 0">
  <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
  <nz-breadcrumb-item>靜態基本資料</nz-breadcrumb-item>
  <nz-breadcrumb-item>通用表</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <tr id="tab-1" style="height: 30px; width: 1000px; overflow-x: auto">
      <ul>
        <li id="li101"><a id="a101" href="#/commonData/I101">鋼種分類</a></li>
        <li id="li102">
          <a id="a102" href="#/commonData/I102">站別機台關聯表</a>
        </li>
        <li id="li103"><a id="a103" href="#/commonData/I103">設備能力</a></li>
        <li id="li104"><a id="a104" href="#/commonData/I104">整備時間</a></li>
        <li id="li105"><a id="a105" href="#/commonData/I105">大調機</a></li>
        <li id="li106"><a id="a106" href="#/commonData/I106">小調機</a></li>
        <li id="li107"><a id="a107" href="#/commonData/I107">線速工時</a></li>
        <li id="li108"><a id="a108" href="#/commonData/I108">非線速工時</a></li>
        <li id="li109"><a id="a109" href="#/commonData/I109">產率設定</a></li>
        <li id="li110"><a id="a110" href="#/commonData/I110">產能維護</a></li>
        <li id="li112"><a id="a112" href="#/commonData/I112">累計生產</a></li>
        <li id="li111">
          <a id="a111" href="#/commonData/I111">combine資料設定</a>
        </li>
        <li id="li200"><a id="a200" href="#/commonData/I200">系統設定</a></li>
      </ul>
    </tr>
  </nz-breadcrumb-item>
</nz-breadcrumb>
