<nz-content style="margin: 0 16px; height: 857px">
  <nz-breadcrumb style="margin: 16px 0">
    <nz-breadcrumb-item>業務報表</nz-breadcrumb-item>
    <nz-breadcrumb-item>報表檢視</nz-breadcrumb-item>
    <nz-breadcrumb-item
      ><font size="4">熱軋棒最適長度(PPSR331)</font></nz-breadcrumb-item
    >
  </nz-breadcrumb>
  <div>
    <nz-tabset [(nzSelectedIndex)]="selectedTabIndex">
      <nz-tab nzTitle="方胚 200 x 8000" (nzClick)="changeTab(1)">
        <div style="text-align: right">
          <span class="version">參數版本: {{ version }}</span>
        </div>
        <div>
          <ag-grid-angular
            style="width: 100%; height: 710px"
            class="ag-theme-alpine"
            [rowData]="tbpomm05List"
            [columnDefs]="columnDefs"
            [gridOptions]="gridOptions"
          >
          </ag-grid-angular></div
      ></nz-tab>
      <nz-tab nzTitle="方胚 200 x 6000" (nzClick)="changeTab(2)">
        <div style="text-align: right">
          <span class="version">參數版本: {{ version }}</span>
        </div>
        <div>
          <ag-grid-angular
            style="width: 100%; height: 710px"
            class="ag-theme-alpine"
            [rowData]="tbpomm05List"
            [columnDefs]="columnDefs"
            [gridOptions]="gridOptions"
          >
          </ag-grid-angular></div
      ></nz-tab>
      <nz-tab nzTitle="方胚 180 x 8000" (nzClick)="changeTab(3)"
        ><div style="text-align: right">
          <span class="version">參數版本: {{ version }}</span>
        </div>
        <div>
          <ag-grid-angular
            style="width: 100%; height: 710px"
            class="ag-theme-alpine"
            [rowData]="tbpomm05List"
            [columnDefs]="columnDefs"
            [gridOptions]="gridOptions"
          >
          </ag-grid-angular></div
      ></nz-tab>
      <nz-tab nzTitle="圓胚 260 x 6000" (nzClick)="changeTab(4)"
        ><div style="text-align: right">
          <span class="version">參數版本: {{ version }}</span>
        </div>
        <div>
          <ag-grid-angular
            style="width: 100%; height: 710px"
            class="ag-theme-alpine"
            [rowData]="tbpomm05List"
            [columnDefs]="columnDefs"
            [gridOptions]="gridOptions"
          >
          </ag-grid-angular></div
      ></nz-tab>
    </nz-tabset>
  </div>
</nz-content>
