<pre class="multiline-text">說明欄位：<p>{{otherInfo.instructions}}</pre>
<nz-table nzBordered nzSize="small" [nzFrontPagination]="'false'" [nzShowPagination]="'false'"
    [nzScroll]="{y: '650px' }" #colSpanTable [nzData]="listOfData">
    <thead>
        <tr>
            <th>回廠日期</th>
            <th>交期</th>
            <th>尺寸</th>
            <th>鋼種</th>
            <th>重量</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of colSpanTable.data; index as i">
            <ng-container [ngSwitch]="data.rowspanSize">
                <ng-container *ngSwitchCase="1">
                </ng-container>
                <ng-container *ngSwitchCase="999">
                    <td>{{data.rollDateStr}}</td>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <td *ngIf="data.steelType != '合計' " [rowSpan]="data.rowspanSize">{{data.rollDateStr}}</td>
                    <td *ngIf="data.steelType == '合計' " style="background-color: #92D050;" [rowSpan]="data.rowspanSize"
                        [colSpan]="4">{{ data.steelType }}</td>
                </ng-container>
            </ng-container>
            <ng-container [ngSwitch]="data.steelType">
                <ng-container *ngSwitchCase="'合計'">
                    <td style="background-color: #92D050;">{{ data.weight | number:'1.1-1'  }}</td>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <td>{{ data.dateDeliveryPpStr }}</td>
                    <td>{{ data.inputDia }}</td>
                    <td>{{ data.steelType }}</td>
                    <td>{{ data.weight }}</td>
                </ng-container>
            </ng-container>
        </tr>
    </tbody>
</nz-table>