<nz-content style="margin: 0 16px">
  <app-list-pps-nonbar [childrenTabName]="thisTabName"></app-list-pps-nonbar>

  <nz-tabset nzLinkRouter [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['../I110']" style="color: gray">
        直棒
      </a>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" style="color: dodgerblue">
        非直棒
      </a>
    </nz-tab>
  </nz-tabset>

  
  <td>
    <button
      nz-button
      style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24)"
      nzType="primary"
      (click)="openYieldInput()"
    >
      <span nz-icon nzType="plus" nzTheme="outline"></span>
      新增
    </button>
  </td>
  <td style="text-align: right; width: 50%">
    <input
      type="file"
      id="fileupload"
      style="display: inline-block"
      (change)="incomingfile($event)"
      placeholder="Upload file"
      accept=".xlsx, .xls, .csv"
    />
    <button
      nz-button
      style="
        box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
        background-color: #4caf50;
        border: 2px blue none;
      "
      nzType="primary"
      (click)="Upload()"
    >
      <span nz-icon nzType="upload" nzTheme="outline"></span>
      E X C E L 匯入
    </button>
    &nbsp;&nbsp;
    <button
      nz-button
      style="
        box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
        background-color: #4caf50;
        border: 2px blue none;
      "
      nzType="primary"
      (click)="convertToExcel()"
    >
      <span nz-icon nzType="download" nzTheme="outline"></span>
      E X C E L 匯出
    </button>
  </td>
  <p><p><p>

  <ag-grid-angular
    style="width: 100%; overflow: scroll"
    class="ag-theme-alpine"
    [ngStyle]="{height:tableHeight}"
    [rowData]="displayTbppsm013List"
    [columnDefs]="columnDefs"
    [pagination]="true"
    class="ag-theme-alpine"
    [frameworkComponents]="frameworkComponents"
    [gridOptions]="gridOptions"
    editType="fullRow"
    [suppressClickEdit]="true"
  >
  </ag-grid-angular>
</nz-content>

<!-- 產能維護(管束設定)新增 -->
<nz-modal
  [(nzVisible)]="isVisibleYield"
  [nzWidth]="850"
  [nzTitle]="yieldTitle"
  [nzContent]="yieldInputContent"
  [nzFooter]="yieldInputFooter"
  (nzOnCancel)="cancelYieldInput()"
>
  <ng-template #yieldTitle>新增產能維護</ng-template>
  <ng-template #yieldInputContent>
    <div>
      <table style="border-collapse: separate">
        <tr>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;站別
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入站別"
              [(ngModel)]="schShopCode"
            />
          </td>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;機台
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入機台"
              [(ngModel)]="equipCode"
            />
          </td>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;機群
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入機群"
              [(ngModel)]="equipGroup"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;機群設備數量
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入機群設備數量"
              [(ngModel)]="groupAmount"
            />
          </td>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;最大管數
          </td>
          <td style="width: 600px; background-color: #eee" colspan="3">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入最大管數"
              [(ngModel)]="equipQuanity"
            />
          </td>
        </tr>
      </table>
    </div>
  </ng-template>
  <ng-template #yieldInputFooter>
    <button nz-button nzType="default" (click)="cancelYieldInput()">
      取消新增
    </button>
    <button nz-button nzType="primary" (click)="insertTab()">確定</button>
  </ng-template>
</nz-modal>

<nz-dropdown-menu #schShopCodeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchSchShopCodeValue" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchSchShopCode()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetBySchShopCode()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #equipCodeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchEquipCodeValue" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchEquipCode()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByEquipCode()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #equipGroupMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchEquipGroupValue" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchEquipGroup()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByEquipGroup()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #groupAmountMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchGroupAmountValue" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchGroupAmount()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByGroupAmount()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #equipQuanityMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchEquipQuanityValue" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByEquipQuanity()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByEquipQuanity()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>
