<nz-content style="margin: 0 16px">
    <nz-breadcrumb class="breadcrumbContainer" nzSeparator=">">
    <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
    <nz-breadcrumb-item>規劃策略</nz-breadcrumb-item>
    <nz-breadcrumb-item>策略基礎設定</nz-breadcrumb-item>
    <nz-breadcrumb-item>公版設定維護(PPSI205)</nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-tabset
    [nzTabPosition]="'top'"
    [nzType]="'card'"
    [(nzSelectedIndex)]="selectedTabIndex"
  >
    <!-- 盤元冷抽尺寸優先順序表 -->
    <nz-tab *ngIf="isTabVisible" nzTitle="盤元冷抽尺寸優先順序" (nzClick)="changeTab(1)">
      <div>
        <tr>
          <label
            style="font-weight: bold; font-size: large; color: rgb(214, 63, 63)"
            *ngIf="isRunFCP"
          >
            ※ 目前 FCP 執行中，不可異動資料！
          </label>

          <td style="text-align: right; width: 52%">
            &nbsp;&nbsp;
            <input
              type="file"
              id="fileupload"
              style="display: inline-block"
              (change)="incomingfile($event)"
              placeholder="Upload file"
              accept=".xlsx, .xls, .csv"
            />
            <button
              nz-button
              [ngClass]="{ FCPdisable: isRunFCP, FCPenable: !isRunFCP }"
              nzType="primary"
              [disabled]="isRunFCP"
              (click)="Upload('1')"
            >
              <span nz-icon nzType="upload" nzTheme="outline"></span>
              E X C E L 匯入
            </button>
            &nbsp;&nbsp;
            <button
              nz-button
              style="
                box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                background-color: #4caf50;
                border: 2px blue none;
              "
              nzType="primary"
              (click)="convertToExcel('1')"
            >
              <span nz-icon nzType="download" nzTheme="outline"></span>
              E X C E L 匯出
            </button>
          </td>
        </tr>
      </div>

      <p></p>
      <div style="background: rgb(255, 255, 255); min-height: 800px">
        <div nz-col [nzSpan]="16">
          <nz-table
            #RowTable1
            nzBordered
            [nzData]="tbppsm101List"
            [nzPageSize]="15"
            [nzScroll]="{ y: '600px' }"
          >
            <thead>
              <tr>
                <th
                  nzWidth="6%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  匯入時間
                </th>
                <th
                  nzWidth="2%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  自訂排序
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  月份
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  站別
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  機台
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  產出型態
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  產出尺寸
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  投入尺寸
                </th>
                <th
                  nzWidth="5%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  最終製程
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  鋼種群組
                </th>
                <th
                  nzWidth="2%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  製程碼
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of RowTable1.data; let i = index"
                class="editable-row"
              >
                <ng-container>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.IMPORTDATETIME | date : "yyyy-MM-dd hh:mm:ss" }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.CUSTOM_SORT }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.USE_MONTH }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.SCH_SHOP_CODE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.EQUIP_CODE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.OUTPUT_SHAPE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.OUT_DIA | number }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.SFC_DIA | number }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.FINAL_PROCESS_CODE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.GRADE_GROUP }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.PROCESS_CODE }}
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </nz-tab>

    <!-- 401站優先順序表 -->
    <nz-tab *ngIf="isTabVisible" nzTitle="401站優先順序表" (nzClick)="changeTab(2)">
      <div>
        <tr>
          <td>
            <button
              nz-button
              style="
                box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                background-color: #e6a3c2;
                border: 2px blue none;
              "
              [ngClass]="{ FCPdisable: isRunFCP, FCPenableUpload: !isRunFCP }"
              nzType="primary"
              [disabled]="isRunFCP"
              (click)="importCompaign(1)"
            >
              <span nz-icon nzType="upload" nzTheme="outline"></span>
              轉入 CAMPAIGN 表
            </button>
          </td>
          <label
            style="font-weight: bold; font-size: large; color: rgb(214, 63, 63)"
            *ngIf="isRunFCP"
          >
            ※ 目前 FCP 執行中，不可異動資料！
          </label>
          <td style="text-align: right; width: 52%">
            &nbsp;&nbsp;
            <input
              type="file"
              id="fileupload"
              style="display: inline-block"
              (change)="incomingfile($event)"
              placeholder="Upload file"
              accept=".xlsx, .xls, .csv"
            />
            <button
              nz-button
              [ngClass]="{ FCPdisable: isRunFCP, FCPenable: !isRunFCP }"
              nzType="primary"
              [disabled]="isRunFCP"
              (click)="Upload('2')"
            >
              <span nz-icon nzType="upload" nzTheme="outline"></span>
              E X C E L 匯入
            </button>
            &nbsp;&nbsp;
            <button
              nz-button
              style="
                box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                background-color: #4caf50;
                border: 2px blue none;
              "
              nzType="primary"
              (click)="convertToExcel('2')"
            >
              <span nz-icon nzType="download" nzTheme="outline"></span>
              E X C E L 匯出
            </button>
          </td>
        </tr>
      </div>

      <p></p>
      <div style="background: rgb(255, 255, 255); min-height: 800px">
        <div nz-col [nzSpan]="20">
          <nz-table
            #RowTable2
            nzBordered
            [nzData]="tbppsm102List"
            [nzPageSize]="15"
            [nzScroll]="{ y: '600px' }"
          >
            <thead>
              <tr>
                <!-- <th nzWidth="6%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">匯入時間</th> -->
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  優先順序
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  站別
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  機台
                </th>
                <th
                  nzWidth="5%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  下一站站別
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  天數
                </th>
                <th
                  nzWidth="5%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  max(EPST/ASAP)
                </th>
                <th
                  nzWidth="5%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  生產開始日
                </th>
                <th
                  nzWidth="4%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  生產結束日
                </th>
                <th
                  nzWidth="5%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  TC頻率升降冪
                </th>
                <th
                  nzWidth="5%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  COMPAIGN_ID
                </th>
                <th
                  nzWidth="5%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  轉入COMPAIGN表<br />時間
                </th>
                <th
                  nzWidth="4%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of RowTable2.data; let i = index"
                class="editable-row"
              >
                <ng-container *ngIf="!EditMode[i]; else editModeTD">
                  <!-- <ng-container> -->
                  <!-- <td style="text-align:center; padding: 5px; height: 40px;">{{ data.IMPORTDATETIME | date:'yyyy-MM-dd hh:mm:ss' }}</td> -->
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.ORDER_ID }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.SCH_SHOP_CODE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.EQUIP_CODE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.NEXT_SHOP_CODE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.DAYS }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.MAX_DATE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.STARTDATE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.ENDDATE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{
                      data.TC_FREQUENCE_LIFT === "ASC"
                        ? "升冪"
                        : data.TC_FREQUENCE_LIFT === "DESC"
                        ? "降冪"
                        : ""
                    }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.COMPAIGN_ID }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.EXPORTDATETIME | date : "yyyy-MM-dd HH:mm:ss" }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    <a
                      [attr.disabled]="isRunFCP ? true : null"
                      (click)="upd_dtlRow(i, data)"
                      >編輯</a
                    >&nbsp;
                    <!-- <a *ngIf="!isRunFCP" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="delete_dtlRow(i, data)">刪除</a>
                    <a *ngIf="isRunFCP" disabled="true" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="delete_dtlRow(i, data)">刪除</a> -->
                  </td>
                </ng-container>

                <ng-template #editModeTD>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.ORDER_ID }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.SCH_SHOP_CODE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.EQUIP_CODE }}
                  </td>

                  <td style="text-align: center; padding: 5px; height: 40px">
                    <input
                      type="text"
                      nz-input
                      [(ngModel)]="data.NEXT_SHOP_CODE"
                    />
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    <nz-input-number
                      style="width: 60px"
                      [(ngModel)]="data.DAYS"
                      [nzMin]="0"
                      [nzMax]="50"
                      [nzStep]="1"
                    ></nz-input-number>
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    <nz-date-picker
                      nzMode="month"
                      [(ngModel)]="data.MAX_DATE"
                      (ngModelChange)="onChange('1', i, $event)"
                    ></nz-date-picker>
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    <nz-date-picker
                      [(ngModel)]="data.STARTDATE"
                      (ngModelChange)="onChange('2', i, $event)"
                    ></nz-date-picker>
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.ENDDATE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    <nz-radio-group
                      [(ngModel)]="data.TC_FREQUENCE_LIFT"
                      nzButtonStyle="solid"
                    >
                      <label nz-radio-button nzValue="ASC">升冪</label>
                      <label nz-radio-button nzValue="DESC">降冪</label>
                    </nz-radio-group>
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.COMPAIGN_ID }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.EXPORTDATETIME | date : "yyyy-MM-dd HH:mm:ss" }}
                  </td>
                  <td style="width: 120px; text-align: center">
                    <a (click)="save_dtlRow(i, data)">確認</a>&nbsp;&nbsp;
                    <a
                      nz-popconfirm
                      nzPopconfirmTitle="Sure to cancel?"
                      (nzOnConfirm)="cancel_dtlRow(i, data)"
                      >取消</a
                    >
                  </td>
                </ng-template>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </nz-tab>

    <!-- 205站公版尺寸 -->
    <nz-tab nzTitle="205站公版尺寸" (nzClick)="changeTab(3)">
      <div>
        <tr>
          <label
            style="font-weight: bold; font-size: large; color: rgb(214, 63, 63)"
            *ngIf="isRunFCP"
          >
            ※ 目前 FCP 執行中，不可異動資料！
          </label>
          <td style="text-align: right; width: 42%">
            &nbsp;&nbsp;
            <input
              type="file"
              id="fileupload"
              style="display: inline-block"
              (change)="incomingfile($event)"
              placeholder="Upload file"
              accept=".xlsx, .xls, .csv"
            />
            <button
              nz-button
              [ngClass]="{ FCPdisable: isRunFCP, FCPenable: !isRunFCP }"
              nzType="primary"
              [disabled]="isRunFCP"
              (click)="Upload('3')"
            >
              <span nz-icon nzType="upload" nzTheme="outline"></span>
              E X C E L 匯入
            </button>
            &nbsp;&nbsp;
            <button
              nz-button
              style="
                box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                background-color: #4caf50;
                border: 2px blue none;
              "
              nzType="primary"
              (click)="convertToExcel('3')"
            >
              <span nz-icon nzType="download" nzTheme="outline"></span>
              E X C E L 匯出
            </button>
          </td>
        </tr>
      </div>
      
      <p></p>

      <ag-grid-angular  style="width: 100%; height: calc(100vh - 220px); overflow: scroll;" class="ag-theme-alpine" 
      [rowData]="tbppsm113List"
      [columnDefs]="columnDefs"
      [pagination]="true"
      class="ag-theme-alpine"
      [frameworkComponents]="frameworkComponents"
      [gridOptions]="gridOptions"
      editType="fullRow"
      [suppressClickEdit]="true"
      >
      </ag-grid-angular>
      
    </nz-tab>

   <!-- 401 Auto Campaign -->
    <nz-tab nzTitle="401 Auto Campaign" (nzClick)="changeTab(4)">
      <label style="text-align: right; font-weight:bold; font-size: large; color: rgb(214, 63, 63);"
      *ngIf="isRunFCP"> ※ 目前 FCP 執行中，不可異動資料！ </label>
      <br>
      <nz-tabset
        nzLinkRouter
        [nzTabPosition]="'top'"
        [nzType]="'card'"
        [(nzSelectedIndex)]="innerSelect"
      >
        <nz-tab
          class="Tab5-a"
          style="background-color: #ffffff; color: dodgerblue"
        >
          <a
            *nzTabLink
            nz-tab-link
            [routerLink]="['/PlanSet/I205_a401']"
            [queryParams]="{ selectedTabIndex: 1, innerSelect: 0 }"
          >
          Auto campaign表
          </a>
        </nz-tab>
        <nz-tab class="Tab5-a" style="background-color: #fafafa">
          <a
            *nzTabLink
            nz-tab-link
            [routerLink]="['/PlanSet/I205_401']"
            style="color: black"
          >
          彙整表資料
          </a>
        </nz-tab>
      </nz-tabset>
    </nz-tab>
    


    <nz-tab nzTitle="公版排程維護" (nzClick)="changeTab(5)">
      <label
        style="font-weight: bold; font-size: large; color: rgb(214, 63, 63)"
        *ngIf="isRunFCP"
      >
        ※ 目前 FCP 執行中，不可異動資料！
      </label>
      <nz-tabset
        nzLinkRouter
        [nzTabPosition]="'top'"
        [nzType]="'card'"
        [(nzSelectedIndex)]="innerSelect"
      >
        <nz-tab
          class="Tab5-a"
          style="background-color: #ffffff; color: dodgerblue"
        >
          <a
            *nzTabLink
            nz-tab-link
            [routerLink]="['/PlanSet/I205_a100']"
          >
            公版維護表
          </a>
        </nz-tab>
        <nz-tab class="Tab5-a" style="background-color: #fafafa">
          <a
            *nzTabLink
            nz-tab-link
            [routerLink]="['/PlanSet/I205_100']"
            style="color: black"
          >
            工廠排程公版匯入
          </a>
        </nz-tab>
      </nz-tabset>
    </nz-tab>

  </nz-tabset>
</nz-content>
