<nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
    <nz-breadcrumb-item>報表檢視</nz-breadcrumb-item>
    <nz-breadcrumb-item>出貨計畫表</nz-breadcrumb-item>
    <nz-breadcrumb-item>報表維護</nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <tr id="tab-1" style="height:30px; width:1000px; overflow-x:auto">
            <ul id="repoList">
                <li><a data-selected="R304" [routerLink]="['/FCPshipRepo/R304']"> 客戶出貨資訊維護表</a></li>
                <li><a data-selected="R305" [routerLink]="['/FCPshipRepo/R305']">訂單足項維護表</a></li>
                <li>
                    <a  data-selected="R306"                          
                        [routerLink]="['/FCPshipRepo/R306']"
                        [queryParams]="{edition:edition}">
                    出貨移轉統計表
                    </a>
                </li>
                <li>
                    <a  data-selected="R307"
                        [routerLink]="['/FCPshipRepo/R307']" 
                        [queryParams]="{edition:edition}">
                    成品/半成品現況
                    </a>
                </li>
                <li><a data-selected="R311" [routerLink]="['/FCPshipRepo/R311']">訂單結轉</a></li>
                <li><a data-selected="R312" [routerLink]="['/FCPshipRepo/R312']">入庫儲區異動</a></li>
                <li><a data-selected="R313" [routerLink]="['/FCPshipRepo/R313']">訂單統計表</a></li>
            </ul>
        </tr>
    </nz-breadcrumb-item>
    </nz-breadcrumb>