<nz-content style="margin:16px 16px;">
    <nz-breadcrumb class="breadcrumbContainer" nzSeparator=">">
        <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
        <nz-breadcrumb-item>報表檢視</nz-breadcrumb-item>
        <nz-breadcrumb-item>異常表(PPSR303)</nz-breadcrumb-item>
      </nz-breadcrumb>
      
    <nz-tabset style="margin-bottom:5px;" nzLinkRouter [nzType]="'card'" >
        <nz-tab>
            <a *nzTabLink 
                nz-tab-link 
                routerLinkActive="active"
                [routerLink]="['/main/FCPBarRepo/R303_TabMenu/R303']">
                異常 mo
            </a>
          </nz-tab>
  
          <nz-tab>
            <a *nzTabLink 
                nz-tab-link 
                routerLinkActive="active"
                [routerLink]="['/main/FCPBarRepo/R303_TabMenu/R303_Fcp']">
                異常 fcp
            </a>
          </nz-tab>
    </nz-tabset>
    <router-outlet></router-outlet>
  </nz-content>