:host {
  .login-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/images/login-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .env-name{
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 10px 10px;
    }

    .local, 
    .tst {
      color: black;
    }

    .login-background {
      padding: 2%;
      background-color:rgba(2, 47, 91, 0.8);
      border-radius: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow:3px 3px 9px rgba(17,41,65,1);
    }

    .login-content-layout {
      text-align: center;

      .login-desc {
        margin-top: 12px;
        margin-bottom: 40px;
        color :white; 
      }

      .login-form-wrap {
        width: 368px;
        margin: 0 auto;
      }
      
      .login-form-button {
        width: 100%;
        margin: 0 auto;
      }

      .login-error {
        color: red;
        margin-top: 30px;
      }
    }

    .login-footer-content{
      width: 100%;
      position: absolute;
      bottom: 0;
      padding-bottom: 28px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      img {
        height: 30px
      }
    }
  }
}

