<div class="loginContainer nz-row">
  <!-- Left -->
  <div class="leftArea" nz-col nzSpan="8">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="form">
      <nz-input-group
        [nzSuffix]="suffixTemplate"
        nzPrefixIcon="anticon anticon-user"
      >
        <input
          type="text"
          nz-input
          placeholder="輸入工號"
          nzSize="large"
          id="username"
          name="username"
          ngModel
          #VendorID="ngModel"
          required
          (blur)="showPlantCode(f)"
        />
      </nz-input-group>

      <!-- 密碼 -->
      <nz-input-group
        [nzSuffix]="suffixTemplate"
        nzPrefixIcon="anticon anticon-lock"
      >
        <input
          type="password"
          nz-input
          placeholder="輸入登入密碼"
          nzSize="large"
          id="password"
          name="password"
          ngModel
          #password="ngModel"
          required
        />
      </nz-input-group>

      <div class="plantArea">
        <nz-select [disabled]="noShow" [nzSize]="'large'" placeholder="廠區別" [(ngModel)]="PLANT_CODE">
          <nz-option nzValue="YS" nzLabel="鹽水廠"></nz-option>
          <nz-option nzValue="TC" nzLabel="台中廠"></nz-option>
          <nz-option nzValue="YT" nzLabel="煙台廠"></nz-option>
          <nz-option nzValue="AM" nzLabel="江陰廠"></nz-option>
        </nz-select>
      </div>
      

      <!-- 登入錯誤提示 -->
      <div class="Error" *ngIf="authFail">
        <p>工號 or 密碼 錯誤</p>
      </div>

      <!-- Button Area -->
      <div class="btnArea">
        <button
          nz-button
          nzType="primary"
          type="submit"
          [disabled]="!f.valid"
          [nzLoading]="isLogining"
        >
          登入
        </button>
        <!-- <button nz-button nzType="primary">修改密碼</button> -->
      </div>
    </form>
  </div>

  <!-- Right -->
  <div class="rightArea" nz-col nzSpan="16">
    <h5>華新麗華</h5>
    <h3>iSCM</h3>
  </div>
</div>
