<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>銷售預估與原料需求</nz-breadcrumb-item>
    <nz-breadcrumb-item>銷售計劃與配置</nz-breadcrumb-item>
    <nz-breadcrumb-item>歷史趨勢圖</nz-breadcrumb-item>
  </nz-breadcrumb>

  <!-- 還不知道功能 -->
  <nz-spin  nzTip="Loading..." [nzSize]="'large'" [nzSpinning] = "isSpinning"></nz-spin>
  
  <!-- 下拉式選單區塊 -->
  <table class="query">
    <!-- 下拉式選單: 第一區 -->
    <tr>
      <!-- 下拉式選單: 客戶名稱 -->
      <td style = "width: 10%; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;客戶名稱</td>
      <td style = "width: 300px;">
        <nz-select nzPlaceHolder="請選擇客戶名稱" style="width: 250px; margin-left:10px;" [(ngModel)]="customer" nzShowSearch nzAllowClear (nzOpenChange) = "getcustList()">
          <nz-option *ngFor="let cust of custlistOfOption" [nzLabel]="cust" [nzValue]="cust"></nz-option>
        </nz-select>
      </td>
    </tr>

    <!-- 下拉式選單: 第二區 -->
    <tr>
      <!-- 下拉式選單: 產品別 -->
      <td style = "width: 10%; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;產品</td>
      <td style = "width: 300px;">
        <!-- <nz-select nzPlaceHolder="請選擇產品別" style="width: 250px; margin-left:10px;" [(ngModel)]="typeie" nzShowSearch nzAllowClear> -->
        <nz-select [nzDisabled]="disable_typeie" nzPlaceHolder="請選擇產品別" style="width: 250px; margin-left:10px;" [(ngModel)]="typeie" nzShowSearch nzAllowClear (ngModelChange) = "changeProd_t(typeie)">
          <nz-option nzValue="No.1 鋼捲" nzLabel="No.1 鋼捲"></nz-option>
          <nz-option nzValue="CR" nzLabel="CR"></nz-option>
        </nz-select>
      </td>
      <!-- 下拉式選單: 鋼種 -->
      <td style = "width: 10%; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;鋼種</td>
      <td style = "width: 300px;">
        <!-- <nz-select nzPlaceHolder="請選擇鋼種" style="width: 250px; margin-left:10px;" [(ngModel)]="coid" nzShowSearch nzAllowClear> -->
        <nz-select [nzDisabled]="disable_coid" nzPlaceHolder="請選擇鋼種" style="width: 250px; margin-left:10px;" [(ngModel)]="coid" nzShowSearch nzAllowClear (ngModelChange) = "changeProd_cw(coid)">
          <nz-option nzValue="S316" nzLabel="S316"></nz-option>
          <nz-option nzValue="S304" nzLabel="S304"></nz-option>
          <nz-option nzValue="S4XX" nzLabel="S4XX"></nz-option>
        </nz-select>
      </td>
      <!-- 下拉式選單: 寬度 -->
      <td style = "width: 10%; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;寬度</td>
      <td style = "width: 300px;">
        <!-- <nz-select nzPlaceHolder="請選擇寬度" style="width: 250px; margin-left:10px;" [(ngModel)]="width" nzShowSearch nzAllowClear> -->
        <nz-select [nzDisabled]="disable_width" nzPlaceHolder="請選擇寬度" style="width: 250px; margin-left:10px;" [(ngModel)]="width" nzShowSearch nzAllowClear (ngModelChange) = "changeProd_cw(width)">
          <nz-option nzValue="米尺" nzLabel="米尺"></nz-option>
          <nz-option nzValue="四尺" nzLabel="四尺"></nz-option>
          <nz-option nzValue="五尺" nzLabel="五尺"></nz-option>
        </nz-select>
      </td>
    </tr>

    <!-- 下拉式選單: 第三區 -->
    <tr>
      <!-- 下拉式選單: 預估量結果比較 -->
      <!-- <td style = "width: 10%; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;結果比較</td>
      <td style = "width: 300px;">&nbsp;&nbsp;
        <nz-select nzPlaceHolder="結果比較" style="width: 250px; margin-left:10px;" [(ngModel)]="resultcf" nzShowSearch nzAllowClear>
          <nz-option nzValue="開" nzLabel="開"></nz-option>
          <nz-option nzValue="關" nzLabel="關"></nz-option>
        </nz-select>
      </td> -->
      <!-- 時間區間: 開始 ~ 結束 -->
      <td style = "width: 10%; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;生計交期</td>
      <td style = "width: 300px;" colspan="3">&nbsp;&nbsp;
        <nz-date-picker
          [(ngModel)] = "dateStart"
          nzFormat="yyyy/MM/dd"
          (ngModelChange)="changeDateStart($event)"
          nzPlaceHolder="開始時間">
          </nz-date-picker>
        <nz-date-picker
          [(ngModel)] = "dateEnd"
          nzFormat="yyyy/MM/dd"
          (ngModelChange)="changeDateEnd($event)"
          nzPlaceHolder="結束時間">
          </nz-date-picker>
      </td>
    </tr>

  </table>

  <!-- 按鈕區塊 -->
  <div>
    <td style="text-align:left;width:2%;">
      <!-- 查詢 -->
      <button
        nz-button
        style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
        nzType="primary"
        (click)="searchCheck()"
      >
      <span nz-icon nzType="search" nzTheme="outline"></span>
        查詢
      </button>

      <!-- 清除 -->
      <button
        nz-button
        style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); margin-left:20px;"
        nzType="primary"
        (click)="clearPar()"
        [disabled]="isClear"
      >
      <span nz-icon nzType="clear" nzTheme="outline"></span>
        清除
      </button>
    </td>
  </div>

  <!-- 畫圖區塊 -->
  <div echarts [options]="chartOption" class="demo-chart"></div>

</nz-content>



  
         