<div style="margin:15px 15px;">
 
  <div nz-row>
    <nz-collapse style="width: 100%;" nzAccordion>
      <nz-collapse-panel [nzHeader]="panels1.name" [nzActive]="panels1.active">
        <p> <nz-radio-group [(ngModel)]="selectShopCode" nzButtonStyle="solid" (ngModelChange)="selectShopCodeFunc()">
          <label *ngFor="let item of shopCodeList" nz-radio-button [nzValue]="item.value">{{item.label}}</label>
        </nz-radio-group></p>
      </nz-collapse-panel>
    </nz-collapse>

    <nz-collapse style="width: 100%;" nzAccordion>
      <nz-collapse-panel  [nzHeader]="panels2.name" [nzActive]="panels2.active">
        <p>
          <!-- (nzOnChange)="selectColumChecked($event)"-->
          <nz-checkbox-wrapper style="width: 100%;">
            <div nz-row>
              <div nz-col  nzSpan="3" *ngFor="let item2 of allColumList ; let i = index "><label nz-checkbox [nzValue]="item2.columValue" [(ngModel)]="item2.checked"   (ngModelChange)="selectColumCheckedEach(i)"   >{{item2.columLabel}}</label></div>
              
            </div>
          </nz-checkbox-wrapper>
        </p>
      </nz-collapse-panel>
    </nz-collapse>

    <nz-collapse style="width: 100%;" nzAccordion [nzExpandIconPosition]="expandIconPosition1">
      <nz-collapse-panel [nzHeader]="panels3.name" [nzActive]="panels3.active"  [nzExtra]="extraTpl">
        <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)" >
          <div class="example-box" *ngFor="let item3 of selectAllColumList ; let index = index" cdkDrag        >
            <span style="height: 120px;">{{index + 1}}-{{item3.columLabel}}</span>
            <br>
            <span class="groupDiv" (click) = "clickCurrentFunc(index,item3)">
             <span [ngSwitch]="item3.isGroup">
               <!-- the same view can be shown in more than one case -->
               <span *ngSwitchCase="0"><nz-tag>非分群</nz-tag></span>
               <span *ngSwitchCase="1"> <nz-tag [nzColor]="'#f50'">分群</nz-tag></span>
               <!--default case when there are no matches -->
               <span *ngSwitchDefault></span>
             </span>
             </span>
             <br>
             <span class="outSideDiv" (click)="doubleClickCurrentFunc(index,item3)">
             <span [ngSwitch]="item3.isOutside">
              <!-- the same view can be shown in more than one case -->
              <span *ngSwitchCase="0">  <nz-tag [nzColor]="'#2db7f5'">[內]</nz-tag></span>
              <span *ngSwitchCase="1"><nz-tag>[外]</nz-tag></span>
              <!--default case when there are no matches -->
              <span *ngSwitchDefault></span>
            </span>
             </span>
        </div>
        </div>
      </nz-collapse-panel>
    </nz-collapse>

  </div>
  <ng-template #extraTpl>
    <!-- You can use stopPropagation if you don't want the panel to toggle -->
    <!-- <span nz-icon nzType="setting" (click)="saveBtn()">保存</span> -->
    <button nz-button [disabled]="!edited" nzType="primary" (click)="saveBtn($event)" nzValue="small">保存</button>
  </ng-template>
</div>
