/* 新增樣式用於選擇列表區塊 */
.selection-container {
  margin-top: 20px;
}

.selection-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 850px; /* 調整你希望的最大寬度 */
  margin-left: 0; /* 將 margin-left 設置為 0，使容器靠左 */
}

.left, .right {
  flex: 1;
  width: 48%; /* 調整左右區塊寬度，這裡設置為48%以便留下一些間距 */
  border: 1px solid #ccc;
  padding: 10px;
}

.button-container {
  display: flex;
  gap: 10px; /* 调整这里的数值以设置您想要的间距大小 */
}