<nz-breadcrumb style="margin: 16px 0">
  <nz-breadcrumb nzSeparator=">">
  <nz-breadcrumb-item class="breadcrumbContainer" >生產計畫</nz-breadcrumb-item>
  <nz-breadcrumb-item class="breadcrumbContainer" >靜態基本資料</nz-breadcrumb-item>
  <nz-breadcrumb-item class="breadcrumbContainer" >通用表</nz-breadcrumb-item>
  <nz-breadcrumb-item class="breadcrumbContainer" >{{ childrenTabName }}</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <tr id="tab-1" style="height: 30px; width: 1000px; overflow-x: auto">
      <ul>
        <li id="liI101"><a id="aI101" [routerLink]="['/main/commonData/I101']">鋼種分類</a></li>
        <li id="liI102"><a id="aI102" [routerLink]="['/main/commonData/I102']">站別機台關聯表</a></li>
        <li id="liI103"><a id="aI103" [routerLink]="['/main/commonData/I103']">設備能力</a></li>
        <li id="liI104"><a id="aI104" [routerLink]="['/main/commonData/I104']">整備時間</a></li>
        <li id="liI105"><a id="aI105" [routerLink]="['/main/commonData/I105']">大調機</a></li>
        <li id="liI106"><a id="aI106" [routerLink]="['/main/commonData/I106']">小調機</a></li>
        <li id="liI107"><a id="aI107" [routerLink]="['/main/commonData/I107']">線速工時</a></li>
        <li id="liI108"><a id="aI108" [routerLink]="['/main/commonData/I108']">非線速工時</a></li>
        <li id="liI109"><a id="aI109" [routerLink]="['/main/commonData/I109']">產率設定</a></li>
        <li id="liI110"><a id="aI110" [routerLink]="['/main/commonData/I110']">產能維護</a></li>
        <li id="liI111"><a id="aI111" [routerLink]="['/main/commonData/I111']">combine資料設定</a></li>
        <li id="liI200"><a id="aI200" [routerLink]="['/main/commonData/I200']">系統設定</a></li>
      </ul>
    </tr>
  </nz-breadcrumb-item>
</nz-breadcrumb>
