  <nz-layout>
    <nz-sider style="background-color: white;"
      nzCollapsible nzWidth="200px"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="triggerTemplate"
    >
      <!-- logo區塊 -->
      <div class="logoUl" [style.background-color]="logoBackgroundColor">
        <img 
          class="logo" 
          [src]="logoImagePath" 
          alt="鹽水數位供應鏈管理"
          title="鹽水數位供應鏈管理"
          (click)="toggleCollapsed()"
        >
      </div>
      
      <ul nz-menu nzMode="inline" nzTheme="light" #menuElement>
        <!-- 菜單區塊 -->
        <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
        <ng-template #menuTpl let-menus>
          <ng-container *ngFor="let menu of menus">
            <li
              *ngIf="menu.isShow == 1 && (!menu.children || menu.children.length <= 0)"
              nz-menu-item
              [nzDisabled]="menu.disabled"
              [nzSelected]="menu.selected"
              [nzPaddingLeft]="menu.level * 24"
            >
              <span nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></span>
              <a [routerLink]="[menu.path]"> {{menu.menuName}} </a>
            </li>
            <li
              *ngIf="menu.isShow == 1 && menu.children && menu.children.length > 0"
              nz-submenu
              [nzOpen]="menu.open"
              [nzTitle]="menu.menuName"
              [nzIcon]="menu.icon"
              [nzDisabled]="menu.disabled"
              [nzPaddingLeft]="menu.level * 24"
            >
              <ul>
                <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
              </ul>
            </li>
          </ng-container>
        </ng-template>

      </ul>
    </nz-sider>

    <nz-layout>
      <nz-header #headerElement style="height: 50px;">    
        <div nz-row [nzGutter] = "5"> 
          <div nz-col class="header-tab" style="width: 85%; margin: 5px">
            <!-- 動態分頁區塊 -->
            <nz-tabset 
                [(nzSelectedIndex)]="activeTabIndex"
                nzType="editable-card"
                [nzHideAdd]="true"
                (nzClose)="closeTab($event)">
              <nz-tab [nzClosable]="tabsSourceData.length > 1" *ngFor="let tab of tabsSourceData" [nzTitle]="tab.pageName" (nzClick)="goPage(tab)" >
              </nz-tab>
            </nz-tabset>
          </div>
            
          <!-- info與登出區塊 -->
          <nz-affix style="position: absolute; top: 2px; right: 10px; text-align:center;">
            <span (click)="showSearchModal()" style="color: aquamarine;" nz-tooltip nzTooltipTitle="選單搜索" nzTooltipPlacement="bottom">
              <i nz-icon nzType="search" style="margin: 0 5px;" nzTheme="outline"></i>
            </span>
            <span class="infoText">|</span>
            <span style="margin: 0 5px; " class="infoText">{{ envName }}</span>
            <span class="infoText">|</span>
            <a class="infoText" [routerLink]="['/main/user/profile']">
            <span style="margin-left: 5px;" class="infoText" nz-icon nzType="user" nzTheme="outline"></span>
            <span class="infoText">{{ userName }}</span>
            </a>
            <span class="infoText">|</span>
            <a class="infoText" (click)="onLogout()">
              <span class="infoText" nz-icon nzType="logout" nzTheme="outline" ></span> 登出
            </a>
          </nz-affix>
          
        </div>
      
      </nz-header>
      
      <nz-content>
        <!-- router outlet area -->
        <router-outlet
          (activate)="componentAdded($event)"
          (deactivate)="componentRemoved($event)"
        ></router-outlet>
      </nz-content> 

      <nz-affix [nzOffsetBottom]="'0'" >
        <nz-footer style="height: 0px; text-align: center;">
          Copyright © Walsin Lihwa Corp. All Rights Reserved.
        </nz-footer>
      </nz-affix>

    </nz-layout>
  </nz-layout>
    
      

  <app-search-menus [menus]="menus"></app-search-menus>

  <app-inactivity-timer></app-inactivity-timer>

  <ng-template #trigger>
    <i class="anticon anticon-up"></i>
  </ng-template>
    