<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>訂單即時回應</nz-breadcrumb-item>
    <nz-breadcrumb-item>報表檢視</nz-breadcrumb-item>
    <nz-breadcrumb-item>生產履歷</nz-breadcrumb-item>
  </nz-breadcrumb>


  <iframe src="http://10.104.5.166:8889/" title=""
  style="width: 1800px; height: 1200px; border-top: none; border-right: 1px solid rgb(247, 247, 247); border-bottom: 1px solid rgb(247, 247, 247); border-left: 1px solid rgb(247, 247, 247); border-image: initial; box-shadow: rgb(235, 235, 235) 0 2px 4px;"></iframe>


  

</nz-content>


