<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
    <nz-breadcrumb-item>靜態基本資料</nz-breadcrumb-item>
    <nz-breadcrumb-item>通用表</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <tr id="tab-1" style="height:30px; width:1000px; overflow-x:auto">
        <ul>
            <li><a href="#/commonData/I101">鋼種分類</a></li>
            <li class="active"><a href="#/commonData/I102"><label style="color:blue">站別機台關聯表</label></a></li>
            <li><a href="#/commonData/I103">設備能力</a></li>
            <li><a href="#/commonData/I104">整備時間</a></li>
            <li><a href="#/commonData/I105">大調機</a></li>
            <li><a href="#/commonData/I106">小調機</a></li>
            <li><a href="#/commonData/I107">線速工時</a></li>
            <li><a href="#/commonData/I108">非線速工時</a></li>
            <li><a href="#/commonData/I109">產率設定</a></li>
            <li><a href="#/commonData/I110">產能維護</a></li>
            <li><a href="#/commonData/I111">combine資料設定</a></li>
            <li><a href="#/commonData/I200">系統設定</a></li>
        </ul>
      </tr>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  

  <nz-tabset nzLinkRouter [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" style="color: dodgerblue">
        直棒
      </a>
      <div style="min-height: 1200px;">
        <div>
          <button
              nz-button
              style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
              nzType="primary"
              (click)="openShopInput()"
              ><span nz-icon nzType="plus" nzTheme="outline"></span>
                新增
              </button>
              &nbsp;&nbsp;
              <input type="file" id="fileupload" style="display: inline-block;margin-left: 550px;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx, .xls, .csv">
              <button
                nz-button
                style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); background-color: #4CAF50;border:2px blue none;"
                nzType="primary"
                (click)="Upload()"
              ><span nz-icon nzType="upload" nzTheme="outline"></span>
              E X C E L 匯入
              </button>
              &nbsp;&nbsp;
              <button
                nz-button
                style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); background-color: #4CAF50;border:2px blue none;"
                nzType="primary"
                (click)="convertToExcel()"
              ><span nz-icon nzType="download" nzTheme="outline"></span>
              E X C E L 匯出
              </button>
        </div>              
        <div nz-col [nzSpan]="30" style="padding-top:10px;">
          <nz-table #RowTable7 nzBordered [nzData]="displayPPSINP07List" [nzPageSize]="20" [nzScroll]="{ y: '500px' }">
            <thead>
            <tr>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:100px"
              >工廠別
              <nz-filter-trigger 
              [nzActive]="searchPlantValue.length > 0" 
              [nzDropdownMenu]="plantMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:150px"
              >站別代碼
              <nz-filter-trigger 
              [nzActive]="searchShopCodeValue.length > 0" 
              [nzDropdownMenu]="shopCodeMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
              >站別名稱
              <nz-filter-trigger 
              [nzActive]="searchShopNameValue.length > 0" 
              [nzDropdownMenu]="shopNameMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:80px"
              >機台
              <nz-filter-trigger 
              [nzActive]="searchEquipCode1Value.length > 0" 
              [nzDropdownMenu]="equipCode1Menu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:80px"
              >機台名稱
              <nz-filter-trigger 
              [nzActive]="searchEquipNameValue.length > 0" 
              [nzDropdownMenu]="equipNameMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>

              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:80px"
              >設備庫存下限(單位:MT)
              <nz-filter-trigger 
              [nzActive]="searchWipMinValue.length > 0" 
              [nzDropdownMenu]="wipMinMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>

              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:80px"
              >設備庫存上限(單位:MT)
              <nz-filter-trigger 
              [nzActive]="searchWipMaxValue.length > 0" 
              [nzDropdownMenu]="wipMaxMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>

              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:80px"
              >機台群組
              <nz-filter-trigger 
              [nzActive]="searchEquipGroupValue.length > 0" 
              [nzDropdownMenu]="equipGroupMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:80px"
              >有效碼
              <nz-filter-trigger 
              [nzActive]="searchValidValue.length > 0" 
              [nzDropdownMenu]="validMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:80px">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of RowTable7.data;let i = index" class="editable-row">
              <ng-container *ngIf="!editCache7[data.id].edit; else editTemplate7">
                <td style="text-align:center; padding: 5px; height: 40px; width: 100px;">{{ data.PLANT }}</td>
                <td style="text-align:center; padding: 5px; height: 40px; width: 150px;">{{ data.SHOP_CODE }}</td>
                <td style="text-align:center; padding: 5px; height: 40px; width: 120px;">{{ data.SHOP_NAME }}</td>
                <td style="text-align:center; padding: 5px; height: 40px; width: 120px;">{{ data.EQUIP_CODE_1 }}</td>
                <td style="text-align:center; padding: 5px; height: 40px; width: 120px;">{{ data.EQUIP_NAME }}</td>
                <td style="text-align:center; padding: 5px; height: 40px; width: 120px;">{{ data.WIP_MIN }}</td>
                <td style="text-align:center; padding: 5px; height: 40px; width: 120px;">{{ data.WIP_MAX }}</td>
                <td style="text-align:center; padding: 5px; height: 40px; width: 120px;">{{ data.EQUIP_GROUP }}</td>
                <td style="text-align:center; padding: 5px; height: 40px; width: 120px;">{{ data.VALID }}</td>
                <td style="text-align:center; padding: 0px; height: 40px; width: 120px;">
                  <a (click)="editRow(data.id)">修改</a>&nbsp;
                  <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)">刪除</a>
                </td>
              </ng-container>
              <ng-template #editTemplate7>
                <td style="text-align:center; padding: 5px; height: 60px; width: 100px;">{{ data.PLANT }}</td>
                <td>
                  <input nz-width="20%" nz-input placeholder="輸入站別代碼" [(ngModel)]="editCache7[data.id].data.SHOP_CODE" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="輸入站名稱" [(ngModel)]="editCache7[data.id].data.SHOP_NAME" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="輸入機台" [(ngModel)]="editCache7[data.id].data.EQUIP_CODE_1" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="輸入機台名稱" [(ngModel)]="editCache7[data.id].data.EQUIP_NAME" />
                </td>
                <td>
                  <nz-input-number nz-width="20%" nz-input placeholder="輸入設備庫存下限" [(ngModel)]="editCache7[data.id].data.WIP_MIN"></nz-input-number>
                </td>
                <td>
                  <nz-input-number nz-width="20%" nz-input placeholder="輸入設備庫存上限" [(ngModel)]="editCache7[data.id].data.WIP_MAX"></nz-input-number>
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="機台群組" [(ngModel)]="editCache7[data.id].data.EQUIP_GROUP" />
                </td>
                <td>
                  <nz-select [(ngModel)]="editCache7[data.id].data.VALID">
                    <nz-option nzValue="Y" nzLabel="Y" ></nz-option>
                    <nz-option nzValue="X" nzLabel="X" ></nz-option>
                  </nz-select>
                </td>
                <td>
                  <a (click)="saveEdit(data.id)">確認</a>&nbsp;&nbsp;&nbsp;
                  <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
                </td>
              </ng-template>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </nz-tab>

    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['../I102_NonBar']" style="color: gray">
        非直棒
      </a>
    </nz-tab>
  </nz-tabset>


</nz-content>


<!-- 站別機台關聯表新增 -->
<nz-modal
  [(nzVisible)]="isVisibleShop"
  [nzWidth]="800"
  [nzContent]="shopInputContent"
  [nzFooter]="shopInputFooter"
  (nzOnCancel)="cancelShopInput()">

  <ng-template #shopInputContent>
    <div>
      <table style="border-collapse: separate;">

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;工廠別</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <nz-select [(ngModel)]="PLANT">
              <nz-option nzValue="直棒" nzLabel="直棒" ></nz-option>
            </nz-select>
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;站別代碼</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="站別代碼" [(ngModel)]="SHOP_CODE" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;站別名稱</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="站別名稱" [(ngModel)]="SHOP_NAME" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;機台</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="機台" [(ngModel)]="EQUIP_CODE_1" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;機台名稱</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="機台名稱" [(ngModel)]="EQUIP_NAME" />
          </td>
        </tr>

        <tr>
          <td style = "width: 180px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;設備庫存下限(單位:MT)</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <nz-input-number style="width: 22%;" nzPlaceHolder = "設備庫存下限" [(ngModel)]="WIP_MIN" [nzMin]="0" [nzMax]="100000" [nzStep]="1"></nz-input-number>
          </td>
        </tr>

        <tr>
          <td style = "width: 180px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;設備庫存上限(單位:MT)</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <nz-input-number style="width: 22%;" nzPlaceHolder = "設備庫存上限" [(ngModel)]="WIP_MAX" [nzMin]="0" [nzMax]="100000" [nzStep]="1"></nz-input-number>
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;機台群組</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="機台群組" [(ngModel)]="EQUIP_GROUP" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;有效碼</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;            
            <nz-select [(ngModel)]="VALID">
              <nz-option nzValue="Y" nzLabel="Y" ></nz-option>
              <nz-option nzValue="X" nzLabel="X" ></nz-option>
            </nz-select>
          </td>
        </tr>

      </table>
    </div>
    
  </ng-template>

  <ng-template #shopInputFooter>
    <button nz-button nzType="default" (click)="cancelShopInput()">取消新增</button>
    <button nz-button nzType="primary" (click)="insertTab()">確定</button>
  </ng-template>

</nz-modal>

<nz-dropdown-menu #plantMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchPlantValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByPlant()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByPlant()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #shopCodeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchShopCodeValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByShopCode()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByShopCode()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #shopNameMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchShopNameValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByShopName()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByShopName()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #equipCode1Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchEquipCode1Value" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByEquipCode1()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByEquipCode1()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #equipNameMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchEquipNameValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByEquipName()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByEquipName()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #wipMinMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchWipMinValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByWipMin()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByWipMin()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #wipMaxMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchWipMaxValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByWipMax()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByWipMax()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #equipGroupMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchEquipGroupValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByEquipGroup()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByEquipGroup()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #validMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchValidValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByValid()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByValid()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

