
.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  width: 80%;margin-left:auto; margin-right:auto;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

/*

tbody {
display: block;
overflow: auto;
height: 500px;
width: 100%;
}

thead tr {
display: table;
width: 100%;
table-layout: fixed;
}

thead, tbody tr {
display: table;
width: 100%;
table-layout: fixed;
}

thead {
width: calc( 100% - 1em )
}

*/




.ant-table-tbody>tr>td, .ant-table-thead>tr>th{
padding: 8px;
}

td > button {
cursor: default;
}

#backgroundColorFordetail {
  background-color: rgb(219, 232, 248);
  // font-family: "Garamond", serif;
  // font-size: 24px;
  color: black;
  }

// 等待圖示
.loading {
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-top-color: transparent;
  border-radius: 100%;

  animation: circle infinite 0.75s linear;
}
.hidden {
  display: none;
}
@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

// 鎖住按鈕
.buttonLock {
  disabled: "disabled";
}

// 按鈕樣式
// 新增
.button-19 {
  appearance: button;
  background-color: #000000;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .8px;
  line-height: 5px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 14px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 10%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #90f61c;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -2px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}
// 匯出
.button-20 {
  appearance: button;
  background-color: #00000a;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .8px;
  line-height: 5px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 14px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 10%;
}

.button-20:after {
  background-clip: padding-box;
  background-color: #6ccff7;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -2px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-20:main,
.button-20:focus {
  user-select: auto;
}

.button-20:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-20:disabled {
  cursor: auto;
}
// 匯入
.button-21 {
  appearance: button;
  background-color: #00000a;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .10px;
  line-height: 5px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 10%;
}

.button-21:after {
  background-clip: padding-box;
  background-color: #90f61c;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -2px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-21:main,
.button-21:focus {
  user-select: auto;
}

.button-21:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-21:disabled {
  cursor: auto;
}

// 表格
table{
  border: 1px solid #000;
}
table,th,td {
  border-collapse: collapse;
  border: 1px solid #000;
}
table
{
    border-top-style: 1px solid #000;
    border-right-style: 1px solid #000;
    border-bottom-style: 1px solid #000;
    border-left-style: 1px solid #000;
}

// 頁籤
#tab-1{ width:1000px; height:50;}
#tab-1 > ul{ display:block; margin:0;list-style:none;}
.tab-title1{list-style:none;}
#tab-1 > ul > li{ display:inline-block; vertical-align:top; font-family:'微軟正黑體'; margin:0 -1px -1px 0 ; border:1px solid #BCBCBC; height:25px; line-height:25px; background:#ffffff;padding:0 15px;list-style:none; box-sizing:border-box; box-shadow: 0 1px;}
#tab-1 >  ul > li a{ color:rgb(0, 0, 0); text-decoration:none;}
#tab-1 > ul > li.active{ border-bottom:1px solid #fff; background:rgb(228, 227, 227); font-weight: bold;}
#tab-1 > .tab-inner1{ clear:both; color:#000; border:1px #cbfcfc solid;}
.tab-inner{ padding:15px; height:50px;}


// 固定模板
//-新增
.AddButton {box-shadow: 0px 10px 14px -7px #276873; background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%); background-color:#599bb3; border-radius:8px; display:inline-block; cursor:pointer; color:#ffffff; font-family:Arial; font-size:20px; font-weight:bold; padding:0px 32px; text-decoration:none; text-shadow:0px 1px 0px #3d768a;}
.AddButton:hover {background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%); background-color:#408c99;}
.AddButton:active {position:relative;top:1px;}
//-匯入
.ImportButton {box-shadow: 0px 10px 14px -7px #9acc85;background-color:#74ad5a; border-radius:8px; display:inline-block; cursor:pointer; color:#ffffff; font-family:Arial; font-size:20px; font-weight:bold; padding:0px 32px; text-decoration:none; text-shadow:0px 1px 0px #92b879;}
.ImportButton:hover {background-color:#68a54b;}
.ImportButton:active {position:relative;top:1px;}
//-匯出
.ExportButton {box-shadow: 0px 10px 14px -7px #caefab; background-color:#77d42a; border-radius:8px; display:inline-block; cursor:pointer; color:#306108; font-family:Arial; font-size:20px; font-weight:bold; padding:0px 32px; text-decoration:none; text-shadow:0px 1px 0px #aade7c;}
.ExportButton:hover {background-color:#5cb811;}
.ExportButton:active {position:relative;top:1px;} 
//-確認
.ComfirmButton {box-shadow: 0px 10px 14px -7px #f0f7fa; background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%); background-color:#33bdef; border-radius:8px; display:inline-block; cursor:pointer; color:#ffffff; font-family:Arial; font-size:20px; font-weight:bold; padding:0px 32px; text-decoration:none; text-shadow:0px 1px 0px #5b6178;}
.ComfirmButton:hover {background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%); background-color:#019ad2;}
.ComfirmButton:active {position:relative;top:1px;}


