<nz-content style="margin: 0 16px">
  <app-list-pps-nonbar [childrenTabName]="thisTabName"></app-list-pps-nonbar>

  <nz-tabset nzLinkRouter [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['../I102']" style="color: gray">
        直棒
      </a>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" style="color: dodgerblue">
        非直棒
      </a>
    </nz-tab>
  </nz-tabset>
  <div
    style="display: flex; justify-content: space-between; margin: 0 0 16px 0"
  >
    <div>
      <button
        nz-button
        style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24)"
        nzType="primary"
        (click)="openShopInput()"
      >
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        新增
      </button>
    </div>

    <div>
      <input
        type="file"
        id="fileupload"
        style="display: inline-block"
        (change)="incomingfile($event)"
        placeholder="Upload file"
        accept=".xlsx, .xls, .csv"
      />
      <button
        nz-button
        style="
          box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
          background-color: #4caf50;
          border: 2px blue none;
          margin: 0 15px 0 0;
        "
        nzType="primary"
        (click)="Upload()"
      >
        <span nz-icon nzType="upload" nzTheme="outline"></span>
        E X C E L 匯入
      </button>
      <button
        nz-button
        style="
          box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
          background-color: #4caf50;
          border: 2px blue none;
        "
        nzType="primary"
        (click)="convertToExcel()"
      >
        <span nz-icon nzType="download" nzTheme="outline"></span>
        E X C E L 匯出
      </button>
    </div>
  </div>

  <ag-grid-angular
    style="width: auto; height: calc(100vh - 280px)"
    class="ag-theme-alpine"
    [rowData]="PPSINP07List"
    [columnDefs]="colDefs"
    [frameworkComponents]="frameworkComponents"
    [gridOptions]="gridOptions"
    editType="fullRow"
    [suppressClickEdit]="true"
  >
  </ag-grid-angular>
</nz-content>

<!-- 站別機台關聯表新增 -->
<nz-modal
  [(nzVisible)]="isVisibleYield"
  [nzWidth]="800"
  [nzContent]="shopInputContent"
  [nzFooter]="shopInputFooter"
  (nzOnCancel)="cancelShopInput()"
>
  <ng-template #shopInputContent>
    <div>
      <table style="border-collapse: separate">
        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;工廠別
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <nz-select [(ngModel)]="plant">
              <nz-option nzValue="精整" nzLabel="精整"></nz-option>
              <nz-option nzValue="軋鋼" nzLabel="軋鋼"></nz-option>
            </nz-select>
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;站別代碼
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="站別代碼"
              [(ngModel)]="shopCode"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;站別名
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="站別名"
              [(ngModel)]="shopName"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;機台
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="機台"
              [(ngModel)]="equipCode"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;設備名
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="設備名"
              [(ngModel)]="equipName"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 180px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;設備庫存下限(單位:MT)
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <nz-input-number
              style="width: 22%"
              nzPlaceHolder="設備庫存下限"
              [(ngModel)]="wipMin"
              [nzMin]="0"
              [nzMax]="100000"
              [nzStep]="1"
            ></nz-input-number>
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 180px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;設備庫存上限(單位:MT)
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <nz-input-number
              style="width: 22%"
              nzPlaceHolder="設備庫存上限"
              [(ngModel)]="wipMax"
              [nzMin]="0"
              [nzMax]="100000"
              [nzStep]="1"
            ></nz-input-number>
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;機台群組
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="機台群組"
              [(ngModel)]="equipGroup"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;發佈MES群組
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="發佈MES群組"
              [(ngModel)]="mesPublishGroup"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;工時計算分類
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <nz-select [(ngModel)]="wtType" nzPlaceHolder="選擇工時計算分類">
              <nz-option nzValue="1" nzLabel="線速"></nz-option>
              <nz-option nzValue="2" nzLabel="非線速"></nz-option>
            </nz-select>
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;有效碼
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <nz-select [(ngModel)]="valid">
              <nz-option nzValue="Y" nzLabel="有效"></nz-option>
              <nz-option nzValue="X" nzLabel="無效"></nz-option>
            </nz-select>
          </td>
        </tr>
      </table>
    </div>
  </ng-template>

  <ng-template #shopInputFooter>
    <button nz-button nzType="default" (click)="cancelShopInput()">
      取消新增
    </button>
    <button nz-button nzType="primary" (click)="insertTab()">確定</button>
  </ng-template>
</nz-modal>
