<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>生產履歷</nz-breadcrumb-item>
    <nz-breadcrumb-item>製程參數管制值</nz-breadcrumb-item>
  </nz-breadcrumb>
  
      <div style="background: rgb(255, 255, 255); min-height: 1200px;">

        <div style="background: #eee">

          <!-- 單筆新增功能 -->
          <!-- <button id="singleAdd" nz-button (click)="addRow()" class="button-19" role="button">
            <span nz-icon nzType="upload" nzTheme="outline" ></span>
            新增
          </button>
          &nbsp; -->

          <!-- 匯入EXCEL功能 -->
          <!-- <button id="bacthAdd" nz-button role="button" class="button-21" onclick="document.getElementById('importExcel').click();" >
            <span nz-icon nzType="upload" nzTheme="outline"></span>
            匯入
          </button>
          <input style="display:none;" type="file" name="file" id="importExcel" required (change)="handleImport($event)"
          accept=".xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
          &nbsp; -->

          <!-- 匯出EXCEL功能 -->
          <button id="download" nz-button (click)="exportToExcel()" class="button-20" role="button">
            <span nz-icon nzType="download" nzTheme="outline" ></span>
            匯出
          </button>
          &nbsp;

          <!-- 加載圖示 -->
          <!-- <button id="test1" nz-button (click)="LoadingStatus('On')" role="button" onclick="document.getElementById('bacthAdd').disabled=false;">測試加載開啟</button>
          <button id="test2" nz-button (click)="LoadingStatus('Off')" role="button">測試加載關閉</button> -->
          <div id="loadingStatus" class="hidden">
            <b>執行中...</b>
            <div class="loading"></div>
          </div>

        </div>

        <div nz-col [nzSpan]="25">
          <nz-table #RowTable1 nzBordered [nzData]="TBTRAM001listOfDisplayData" [nzPageSize]="20" [nzScroll]="{ y: '1400px' }" class="table" style="border:3px #cccccc solid;" cellpadding="10" border='1'>
            <thead>
              <!-- 篩選 & 升降冪功能 -->
              <tr>
                <th nzCustomFilter [nzSortPriority]="listOfColumn.plantCode.priority"
                style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                  <font size="3.5"><b>廠區別</b></font>
                  <nz-filter-trigger [(nzVisible)]="visible1" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu1">
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th nzCustomFilter [nzSortPriority]="listOfColumn.equipCode.priority"
                style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                  <font size="3.5"><b>機台別</b></font>
                  <nz-filter-trigger [(nzVisible)]="visible2" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu2">
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th nzCustomFilter [nzSortPriority]="listOfColumn.lineupProductType.priority"
                style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                <font size="3.5"><b>LINEUP產品</b></font>
                <nz-filter-trigger [(nzVisible)]="visible3" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu3">
                  <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
                </th>
                <th nzCustomFilter [nzSortPriority]="listOfColumn.productType.priority"
                style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                <font size="3.5"><b>產品別</b></font>
                <nz-filter-trigger [(nzVisible)]="visible4" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu6">
                  <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
                </th>
                <th nzCustomFilter [nzSortPriority]="listOfColumn.processFactor.priority"
                style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                <font size="3.5"><b>製程參數</b></font>
                <nz-filter-trigger [(nzVisible)]="visible5" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu4">
                  <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
                </th>
                <th nzCustomFilter [nzSortFn]="listOfColumn.processFactorMax.compare" [nzSortPriority]="listOfColumn.processFactorMax.priority"
                style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                <font size="3.5"><b>製程參數最小管制值</b></font>
                <nz-filter-trigger [(nzVisible)]="visible6" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu5">
                  <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
                </th>
                <th nzCustomFilter [nzSortFn]="listOfColumn.processFactorMin.compare" [nzSortPriority]="listOfColumn.processFactorMin.priority"
                style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                <font size="3.5"><b>製程參數最大管制值</b></font>
                <nz-filter-trigger [(nzVisible)]="visible7" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu6">
                  <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
                </th>
                <!-- <th nzCustomFilter [nzSortFn]="listOfColumn.tolerateMax.compare" [nzSortPriority]="listOfColumn.tolerateMax.priority"
                style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                <font size="3.5"><b>原料寬度寬放上限</b></font>
                <nz-filter-trigger [(nzVisible)]="visible7" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu7">
                  <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
                </th> -->
                <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:80px"><font size="4.5"><b>Action</b></font></th>
              </tr>
            </thead>
            <tbody>
              <!-- 修改/刪除功能 -->
              <tr *ngFor="let data of RowTable1.data;let i = index" class="editable-row">
                <ng-container *ngIf="!editCache1[data.id].edit; else editTemplate1">
                  <td style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.plantCode }}</font></td>
                  <td style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.equipCode }}</font></td>
                  <td style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.lineupProductType }}</font></td>
                  <td style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.productType }}</font></td>
                  <td style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.processFactor }}</font></td>
                  <td style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.processFactorMin }}</font></td>
                  <td style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.processFactorMax }}</font></td>
                  <!-- <td style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.tolerateMax }}</font></td> -->
                  <td style="text-align:center; padding: 0px; height: 10px; width: 50px;">
                    <a id="revise" (click)="editRow(data.id, 1)">修改</a>&nbsp;&nbsp;&nbsp;
                    <!-- <a id="delete" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id, 1)">刪除</a> -->
                  </td>
                </ng-container>
                <ng-template #editTemplate1>
                  <td>
                    <!-- <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.saleOrderWidthMin" /> -->
                    {{editCache1[data.id].data.plantCode}}
                  </td>
                  <td>
                    <!-- <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.saleOrderWidthMax" /> -->
                    {{editCache1[data.id].data.equipCode}}
                  </td>
                  <td>
                    <!-- <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.processType" /> -->
                    {{editCache1[data.id].data.lineupProductType}}
                  </td>
                  <td>
                    <!-- <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.materialWidthMin" /> -->
                    {{editCache1[data.id].data.productType}}
                  </td>
                  <td>
                    <!-- <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.materialWidthMin" /> -->
                    {{editCache1[data.id].data.processFactor}}
                  </td>
                  <td>
                    <input nz-width="20%" nz-input placeholder="請輸入最小值" [(ngModel)]="editCache1[data.id].data.processFactorMin" />
                  </td>
                  <td>
                    <input nz-width="20%" nz-input placeholder="請輸入最大值" [(ngModel)]="editCache1[data.id].data.processFactorMax" />
                  </td>
                  <!-- <td>
                    <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.tolerateMax" />
                  </td> -->
                  <td>
                    <a (click)="saveEdit(data.id, 1)">確認</a>&nbsp;&nbsp;&nbsp;
                    <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id, 1)">取消</a>
                  </td>
                </ng-template>
              </tr>
            </tbody>
          </nz-table>
          <nz-dropdown-menu #menu1="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchSaleOrderWidthMin(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu2="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchSaleOrderWidthMax(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu3="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchProcessType(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu4="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchMaterialWidthMin(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu5="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchMaterialWidthMax(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu6="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchTolerateMin(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu7="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchTolerateMax(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
        </div>
      </div>
  
  
  
  </nz-content>
  