<nz-content style="margin: 0 16px">
  <app-list-pps></app-list-pps>

  <nz-tabset nzLinkRouter [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['../I106']" style="color: gray">
        直棒
      </a>
    </nz-tab>

    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" style="color: dodgerblue">
        非直棒
      </a>
      <nz-result
        nzStatus="404"
        nzTitle="網頁建置中..."
        nzSubTitle="目前網頁尚待開發"
      >
      </nz-result>
    </nz-tab>
  </nz-tabset>
</nz-content>
