<nz-breadcrumb style="margin: 16px 0">
  <nz-breadcrumb nzSeparator=">">
  <nz-breadcrumb-item class="breadcrumbContainer" >生產計畫</nz-breadcrumb-item>
  <nz-breadcrumb-item class="breadcrumbContainer" >靜態基本資料</nz-breadcrumb-item>
  <nz-breadcrumb-item class="breadcrumbContainer" >通用表</nz-breadcrumb-item>
  <nz-breadcrumb-item class="breadcrumbContainer" >{{ childrenTabName }}</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <tr id="tab-1" style="height: 30px; width: 1000px; overflow-x: auto">
      <ul>
        <li id="liI101"><a id="aI101" [routerLink]="['/commonData/I101']">鋼種分類</a></li>
        <li id="liI102N"><a id="aI102N" [routerLink]="['/commonData/I102_NonBar']">站別機台關聯表</a></li>
        <li id="liI103N"><a id="aI103N" [routerLink]="['/commonData/I103_NonBar']">設備能力</a></li>
        <li id="liI104N"><a id="aI104N" [routerLink]="['/commonData/I104_NonBar']">整備時間</a></li>
        <li id="liI105N"><a id="aI105N" [routerLink]="['/commonData/I105_NonBar']">大調機</a></li>
        <li id="liI106N"><a id="aI106N" [routerLink]="['/commonData/I106_NonBar']">小調機</a></li>
        <li id="liI107N"><a id="aI107N" [routerLink]="['/commonData/I107_NonBar']">線速工時</a></li>
        <li id="liI108N"><a id="aI108N" [routerLink]="['/commonData/I108_NonBar']">非線速工時</a></li>
        <li id="liI109N"><a id="aI109N" [routerLink]="['/commonData/I109_NonBar']">產率設定</a></li>
        <li id="liI110N"><a id="aI110N" [routerLink]="['/commonData/I110_NonBar']">產能維護</a></li>
        <li id="liI111N"><a id="aI111N" [routerLink]="['/commonData/I111_NonBar']">combine資料設定</a></li>
        <li id="liI200"><a id="aI200" [routerLink]="['/commonData/I200']">系統設定</a></li>
      </ul>
    </tr>
  </nz-breadcrumb-item>
</nz-breadcrumb>
