<nz-content style="margin: 0 16px">
  <nz-breadcrumb style="margin: 16px 0">
    <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
    <nz-breadcrumb-item>靜態基本資料</nz-breadcrumb-item>
    <nz-breadcrumb-item>通用表</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <tr id="tab-1" style="height: 30px; width: 1000px; overflow-x: auto">
        <ul>
          <li><a href="#/commonData/I101">鋼種分類</a></li>
          <li><a href="#/commonData/I102">站別機台關聯表</a></li>
          <li class="active">
            <a href="#/commonData/I103"
              ><label style="color: blue">設備能力</label></a
            >
          </li>
          <li><a href="#/commonData/I104">整備時間</a></li>
          <li><a href="#/commonData/I105">大調機</a></li>
          <li><a href="#/commonData/I106">小調機</a></li>
          <li><a href="#/commonData/I107">線速工時</a></li>
          <li><a href="#/commonData/I108">非線速工時</a></li>
          <li><a href="#/commonData/I109">產率設定</a></li>
          <li><a href="#/commonData/I110">產能維護</a></li>
          <li><a href="#/commonData/I112">累計生產</a></li>
          <li><a href="#/commonData/I111">combine資料設定</a></li>
          <li><a href="#/commonData/I200">系統設定</a></li>
        </ul>
      </tr>
    </nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-tabset nzLinkRouter [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" style="color: dodgerblue">
        直棒
      </a>
      <div style="min-height: 1200px">
        <div>
          <button
            nz-button
            style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24)"
            nzType="primary"
            (click)="openCapabilityInput()"
          >
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            新增
          </button>
          &nbsp;&nbsp;
          <input
            type="file"
            id="fileupload"
            style="display: inline-block; margin-left: 550px"
            (change)="incomingfile($event)"
            placeholder="Upload file"
            accept=".xlsx, .xls, .csv"
          />
          <button
            nz-button
            style="
              box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
              background-color: #4caf50;
              border: 2px blue none;
            "
            nzType="primary"
            (click)="Upload()"
          >
            <span nz-icon nzType="upload" nzTheme="outline"></span>
            E X C E L 匯入
          </button>
          &nbsp;&nbsp;
          <button
            nz-button
            style="
              box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
              background-color: #4caf50;
              border: 2px blue none;
            "
            nzType="primary"
            (click)="convertToExcel()"
          >
            <span nz-icon nzType="download" nzTheme="outline"></span>
            E X C E L 匯出
          </button>
        </div>
        <div nz-col [nzSpan]="25" style="padding-top: 10px">
          <nz-table
            #RowTable2
            nzBordered
            [nzData]="displayPPSINP02List"
            [nzPageSize]="20"
            [nzScroll]="{ x: '3000px', y: '500px' }"
          >
            <thead>
              <tr>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 100px;
                  "
                >
                  站別
                  <nz-filter-trigger
                    [nzActive]="searchShopCode2Value.length > 0"
                    [nzDropdownMenu]="shopCode2Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 150px;
                  "
                >
                  機台群組
                  <nz-filter-trigger
                    [nzActive]="searchEquipGroup2Value.length > 0"
                    [nzDropdownMenu]="equipGroup2Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 120px;
                  "
                >
                  機台
                  <nz-filter-trigger
                    [nzActive]="searchEquipCode2Value.length > 0"
                    [nzDropdownMenu]="equipCode2Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 120px;
                  "
                >
                  製程碼
                  <nz-filter-trigger
                    [nzActive]="searchProcessCode2Value.length > 0"
                    [nzDropdownMenu]="processCode2Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 120px;
                  "
                >
                  鋼種類別
                  <nz-filter-trigger
                    [nzActive]="searchGradeGroup2Value.length > 0"
                    [nzDropdownMenu]="gradeGroup2Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 120px;
                  "
                >
                  形狀
                  <nz-filter-trigger
                    [nzActive]="searchShapeType2Value.length > 0"
                    [nzDropdownMenu]="shapeType2Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 160px;
                  "
                >
                  投入尺寸上限
                  <nz-filter-trigger
                    [nzActive]="searchInputDiaMax2Value.length > 0"
                    [nzDropdownMenu]="InputDiaMax2Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 170px;
                  "
                >
                  設備能力最小尺寸
                  <nz-filter-trigger
                    [nzActive]="searchCapabilityDiaMin2Value.length > 0"
                    [nzDropdownMenu]="capabilityDiaMin2Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 170px;
                  "
                >
                  設備能力最大尺寸
                  <nz-filter-trigger
                    [nzActive]="searchCapabilityDiaMax2Value.length > 0"
                    [nzDropdownMenu]="capabilityDiaMax2Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 170px;
                  "
                >
                  設備能力最小長度
                  <nz-filter-trigger
                    [nzActive]="searchCapabilityLengthMin2Value.length > 0"
                    [nzDropdownMenu]="capabilityLengthMin2Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 150px;
                  "
                >
                  設備能力最大長度
                  <nz-filter-trigger
                    [nzActive]="searchCapabilityLengthMax2Value.length > 0"
                    [nzDropdownMenu]="capabilityLengthMax2Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 150px;
                  "
                >
                  最佳能力最小尺寸
                  <nz-filter-trigger
                    [nzActive]="searchOptimalDiaMin2Value.length > 0"
                    [nzDropdownMenu]="optimalDiaMin2Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 150px;
                  "
                >
                  最佳能力最大尺寸
                  <nz-filter-trigger
                    [nzActive]="searchOptimalDiaMax2Value.length > 0"
                    [nzDropdownMenu]="optimalDiaMax2Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 150px;
                  "
                >
                  最佳能力最小長度
                  <nz-filter-trigger
                    [nzActive]="searchOptimalLengthMin2Value.length > 0"
                    [nzDropdownMenu]="optimalLengthMin2Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 150px;
                  "
                >
                  最佳能力最大長度
                  <nz-filter-trigger
                    [nzActive]="searchOptimalLengthMax2Value.length > 0"
                    [nzDropdownMenu]="optimalLengthMax2Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 130px;
                  "
                >
                  替代機台順位1
                  <nz-filter-trigger
                    [nzActive]="searchoptionEquip1_2Value.length > 0"
                    [nzDropdownMenu]="optionEquip1_2Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 130px;
                  "
                >
                  替代機台順位2
                  <nz-filter-trigger
                    [nzActive]="searchoptionEquip2_2Value.length > 0"
                    [nzDropdownMenu]="optionEquip2_2Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 130px;
                  "
                >
                  替代機台順位3
                  <nz-filter-trigger
                    [nzActive]="searchoptionEquip3_2Value.length > 0"
                    [nzDropdownMenu]="optionEquip3_2Menu"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <th
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                    width: 80px;
                  "
                >
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of RowTable2.data; let i = index"
                class="editable-row"
              >
                <ng-container
                  *ngIf="!editCache2[data.id].edit; else editTemplate1"
                >
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 100px;
                    "
                  >
                    {{ data.SHOP_CODE_2 }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 150px;
                    "
                  >
                    {{ data.EQUIP_GROUP_2 }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 150px;
                    "
                  >
                    {{ data.EQUIP_CODE_2 }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    {{ data.PROCESS_CODE_2 }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    {{ data.GRADE_GROUP_2 }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    {{ data.SHAPE_TYPE_2 }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    {{ data.INPUT_DIA_MAX_2 | number }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    {{ data.CAPABILITY_DIA_MIN_2 | number }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    {{ data.CAPABILITY_DIA_MAX_2 | number }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    {{ data.CAPABILITY_LENGTH_MIN_2 | number }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    {{ data.CAPABILITY_LENGTH_MAX_2 | number }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    {{ data.OPTIMAL_DIA_MIN_2 | number }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    {{ data.OPTIMAL_DIA_MAX_2 | number }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    {{ data.OPTIMAL_LENGTH_MIN_2 | number }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    {{ data.OPTIMAL_LENGTH_MAX_2 | number }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    {{ data.OPTION_EQUIP_1_2 }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    {{ data.OPTION_EQUIP_2_2 }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 5px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    {{ data.OPTION_EQUIP_3_2 }}
                  </td>
                  <td
                    style="
                      text-align: center;
                      padding: 0px;
                      height: 40px;
                      width: 120px;
                    "
                  >
                    <a (click)="editRow(data.id)">修改</a>&nbsp;&nbsp;&nbsp;
                    <a
                      nz-popconfirm
                      nzPopconfirmTitle="Sure to delete?"
                      (nzOnConfirm)="deleteRow(data.id)"
                      >刪除</a
                    >
                  </td>
                </ng-container>
                <ng-template #editTemplate1>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="輸入站別"
                      [(ngModel)]="editCache2[data.id].data.SHOP_CODE_2"
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="輸入機台群組"
                      [(ngModel)]="editCache2[data.id].data.EQUIP_GROUP_2"
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="輸入機台"
                      [(ngModel)]="editCache2[data.id].data.EQUIP_CODE_2"
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="輸入製程碼"
                      [(ngModel)]="editCache2[data.id].data.PROCESS_CODE_2"
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="輸入鋼種類別"
                      [(ngModel)]="editCache2[data.id].data.GRADE_GROUP_2"
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="輸入形狀"
                      [(ngModel)]="editCache2[data.id].data.SHAPE_TYPE_2"
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="輸入投入尺寸上限"
                      [(ngModel)]="editCache2[data.id].data.INPUT_DIA_MAX_2"
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="輸入設備能力最小尺寸"
                      [(ngModel)]="
                        editCache2[data.id].data.CAPABILITY_DIA_MIN_2
                      "
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="輸入設備能力最大尺寸"
                      [(ngModel)]="
                        editCache2[data.id].data.CAPABILITY_DIA_MAX_2
                      "
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="輸入設備能力最小長度"
                      [(ngModel)]="
                        editCache2[data.id].data.CAPABILITY_LENGTH_MIN_2
                      "
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="輸入設備能力最大長度"
                      [(ngModel)]="
                        editCache2[data.id].data.CAPABILITY_LENGTH_MAX_2
                      "
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="輸入最佳能力最小尺寸"
                      [(ngModel)]="editCache2[data.id].data.OPTIMAL_DIA_MIN_2"
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="輸入最佳能力最大尺寸"
                      [(ngModel)]="editCache2[data.id].data.OPTIMAL_DIA_MAX_2"
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="輸入最佳能力最小長度"
                      [(ngModel)]="
                        editCache2[data.id].data.OPTIMAL_LENGTH_MIN_2
                      "
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="輸入最佳能力最大長度"
                      [(ngModel)]="
                        editCache2[data.id].data.OPTIMAL_LENGTH_MAX_2
                      "
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="輸入替代機台順位1"
                      [(ngModel)]="editCache2[data.id].data.OPTION_EQUIP_1_2"
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="輸入替代機台順位2"
                      [(ngModel)]="editCache2[data.id].data.OPTION_EQUIP_2_2"
                    />
                  </td>
                  <td>
                    <input
                      nz-width="20%"
                      nz-input
                      placeholder="輸入替代機台順位3"
                      [(ngModel)]="editCache2[data.id].data.OPTION_EQUIP_3_2"
                    />
                  </td>
                  <td>
                    <a (click)="saveEdit(data.id)">確認</a>&nbsp;&nbsp;&nbsp;
                    <a
                      nz-popconfirm
                      nzPopconfirmTitle="Sure to cancel?"
                      (nzOnConfirm)="cancelEdit(data.id)"
                      >取消</a
                    >
                  </td>
                </ng-template>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </nz-tab>

    <nz-tab>
      <a
        *nzTabLink
        nz-tab-link
        [routerLink]="['../I103_NonBar']"
        style="color: gray"
      >
        非直棒
      </a>
    </nz-tab>
  </nz-tabset>
</nz-content>

<!-- 設備能力新增 -->
<nz-modal
  [(nzVisible)]="isVisibleCapability"
  [nzWidth]="1000"
  [nzContent]="CapabilityInputContent"
  [nzFooter]="CapabilityInputFooter"
  (nzOnCancel)="cancelCapabilityInput()"
>
  <ng-template #CapabilityInputContent>
    <div>
      <table style="border-collapse: separate">
        <tr>
          <td
            style="
              width: 250px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;站別
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 60%; color: darkblue"
              nz-input
              placeholder="輸入站別"
              [(ngModel)]="SHOP_CODE_2"
            />
          </td>
          <td
            style="
              width: 250px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;機台群組
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 60%; color: darkblue"
              nz-input
              placeholder="輸入機台群組"
              [(ngModel)]="EQUIP_GROUP_2"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 250px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;機台
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 60%; color: darkblue"
              nz-input
              placeholder="輸入機台"
              [(ngModel)]="EQUIP_CODE_2"
            />
          </td>
          <td
            style="
              width: 250px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;製程碼
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 60%; color: darkblue"
              nz-input
              placeholder="輸入製程碼"
              [(ngModel)]="PROCESS_CODE_2"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 250px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;鋼種類別
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 60%; color: darkblue"
              nz-input
              placeholder="輸入鋼種類別"
              [(ngModel)]="GRADE_GROUP_2"
            />
          </td>
          <td
            style="
              width: 250px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;形狀
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 60%; color: darkblue"
              nz-input
              placeholder="輸入形狀"
              [(ngModel)]="SHAPE_TYPE_2"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 250px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;投入尺寸上限
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 60%; color: darkblue"
              nz-input
              placeholder="輸入投入尺寸上限"
              [(ngModel)]="INPUT_DIA_MAX_2"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 250px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;設備能力最小尺寸
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 60%; color: darkblue"
              nz-input
              placeholder="輸入設備能力最小尺寸"
              [(ngModel)]="CAPABILITY_DIA_MIN_2"
            />
          </td>
          <td
            style="
              width: 250px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;設備能力最大尺寸
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 60%; color: darkblue"
              nz-input
              placeholder="輸入設備能力最大尺寸"
              [(ngModel)]="CAPABILITY_DIA_MAX_2"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 250px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;設備能力最小長度
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 60%; color: darkblue"
              nz-input
              placeholder="輸入設備能力最小長度"
              [(ngModel)]="CAPABILITY_LENGTH_MIN_2"
            />
          </td>
          <td
            style="
              width: 250px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;設備能力最大長度
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 60%; color: darkblue"
              nz-input
              placeholder="輸入設備能力最大長度"
              [(ngModel)]="CAPABILITY_LENGTH_MAX_2"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 250px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;最佳能力最小尺寸
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 60%; color: darkblue"
              nz-input
              placeholder="輸入最佳能力最小尺寸"
              [(ngModel)]="OPTIMAL_DIA_MIN_2"
            />
          </td>
          <td
            style="
              width: 250px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;最佳能力最大尺寸
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 60%; color: darkblue"
              nz-input
              placeholder="輸入最佳能力最大尺寸"
              [(ngModel)]="OPTIMAL_DIA_MAX_2"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 250px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;最佳能力最小長度
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 60%; color: darkblue"
              nz-input
              placeholder="輸入最佳能力最小長度"
              [(ngModel)]="OPTIMAL_LENGTH_MIN_2"
            />
          </td>
          <td
            style="
              width: 250px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;最佳能力最大長度
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 60%; color: darkblue"
              nz-input
              placeholder="輸入最佳能力最大長度"
              [(ngModel)]="OPTIMAL_LENGTH_MAX_2"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 250px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;替代機台順位1
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 60%; color: darkblue"
              nz-input
              placeholder="輸入替代機台順位1"
              [(ngModel)]="OPTION_EQUIP_1_2"
            />
          </td>
          <td
            style="
              width: 250px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;替代機台順位2
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 60%; color: darkblue"
              nz-input
              placeholder="輸入替代機台順位2"
              [(ngModel)]="OPTION_EQUIP_2_2"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 250px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;替代機台順位3
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 60%; color: darkblue"
              nz-input
              placeholder="輸入替代機台順位3"
              [(ngModel)]="OPTION_EQUIP_3_2"
            />
          </td>
        </tr>
      </table>
    </div>
  </ng-template>

  <ng-template #CapabilityInputFooter>
    <button nz-button nzType="default" (click)="cancelCapabilityInput()">
      取消新增
    </button>
    <button nz-button nzType="primary" (click)="insertTab()">確定</button>
  </ng-template>
</nz-modal>

<nz-dropdown-menu #shopCode2Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchShopCode2Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByShopCode2()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByShopCode2()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #equipGroup2Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchEquipGroup2Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByEquipGroup2()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByEquipGroup2()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #equipCode2Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchEquipCode2Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByEquipCode2()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByEquipCode2()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #processCode2Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchProcessCode2Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByProcessCode2()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByProcessCode2()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #gradeGroup2Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchGradeGroup2Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByGradeGroup2()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByGradeGroup2()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #shapeType2Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchShapeType2Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByShapeType2()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByShapeType2()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #InputDiaMax2Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchInputDiaMax2Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByInputDiaMax2()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByInputDiaMax2()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #capabilityDiaMin2Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchCapabilityDiaMin2Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByCapabilityDiaMin2()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByCapabilityDiaMin2()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #capabilityDiaMax2Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchCapabilityDiaMax2Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByCapabilityDiaMax2()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByCapabilityDiaMax2()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #capabilityLengthMin2Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        [(ngModel)]="searchCapabilityLengthMin2Value"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByCapabilityLengthMin2()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByCapabilityLengthMin2()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #capabilityLengthMax2Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        [(ngModel)]="searchCapabilityLengthMax2Value"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByCapabilityLengthMax2()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByCapabilityLengthMax2()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #optimalDiaMin2Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchOptimalDiaMin2Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByOptimalDiaMin2()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByOptimalDiaMin2()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #optimalDiaMax2Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchOptimalDiaMax2Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByOptimalDiaMax2()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByOptimalDiaMax2()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #optimalLengthMin2Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchOptimalLengthMin2Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByOptimalLengthMin2()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByOptimalLengthMin2()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #optimalLengthMax2Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchOptimalLengthMax2Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByOptimalLengthMax2()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByOptimalLengthMax2()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #optionEquip1_2Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchoptionEquip1_2Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByoptionEquip1_2()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByoptionEquip1_2()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #optionEquip2_2Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchoptionEquip2_2Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByoptionEquip2_2()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByoptionEquip2_2()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #optionEquip3_2Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchoptionEquip3_2Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByoptionEquip3_2()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByoptionEquip3_2()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>
