<nz-content style="margin: 0 16px">
  <app-list-pps-bar [childrenTabName]="thisTabName"></app-list-pps-bar>

  <nz-tabset nzLinkRouter [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" style="color: dodgerblue">
        直棒
      </a>
    </nz-tab>
    <nz-tab>
      <a
        *nzTabLink
        nz-tab-link
        [routerLink]="['../I103_NonBar']"
        style="color: gray"
      >
        非直棒
      </a>
    </nz-tab>
  </nz-tabset>

  <div
    style="display: flex; justify-content: space-between; margin: 0 0 16px 0"
  >
    <div>
      <button
        nz-button
        style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24)"
        nzType="primary"
        (click)="openCapabilityInput()"
      >
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        新增
      </button>
    </div>

    <div>
      <input
        type="file"
        id="fileupload"
        style="display: inline-block"
        (change)="incomingfile($event)"
        placeholder="Upload file"
        accept=".xlsx, .xls, .csv"
      />
      <button
        nz-button
        style="
          box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
          background-color: #4caf50;
          border: none;
          margin: 0 15px 0 0;
        "
        nzType="primary"
        (click)="Upload()"
      >
        <span nz-icon nzType="upload" nzTheme="outline"></span>
        E X C E L 匯入
      </button>
      <button
        nz-button
        style="
          box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
          background-color: #4caf50;
          border: none;
        "
        nzType="primary"
        (click)="convertToExcel()"
      >
        <span nz-icon nzType="download" nzTheme="outline"></span>
        E X C E L 匯出
      </button>
    </div>
  </div>

  <ag-grid-angular
    style="width: auto; height: calc(100vh - 280px)"
    class="ag-theme-alpine"
    [gridOptions]="gridOptions"
    [rowData]="rowData"
    [columnDefs]="colDefs"
    [editType]="editType"
    (gridReady)="onGridReady($event)"
    [suppressClickEdit]="true"
  >
  </ag-grid-angular>
</nz-content>

<!-- 設備能力新增 -->
<nz-modal
  [(nzVisible)]="isVisibleCapability"
  [nzWidth]="customWidth"
  nzTitle="新增資料"
  [nzContent]="CapabilityInputContent"
  [nzFooter]="CapabilityInputFooter"
  (nzOnCancel)="cancelCapabilityInput()"
>
  <ng-template #CapabilityInputContent>
    <table style="border-collapse: separate; width: 100%">
      <tr>
        <th>
          <span>站別</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入站別"
            [(ngModel)]="shopCode"
          />
        </td>
        <th>
          <span>機台群組</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入機台群組"
            [(ngModel)]="equipGroup"
          />
        </td>
      </tr>

      <tr>
        <th>
          <span>機台</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入機台"
            [(ngModel)]="equipCode"
          />
        </td>
        <th>
          <span>製程碼</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入製程碼"
            [(ngModel)]="processCode"
          />
        </td>
      </tr>
      <tr>
        <th>
          <span>鋼種類別</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入鋼種類別"
            [(ngModel)]="gradeGroup"
          />
        </td>
        <th>
          <span>形狀</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入形狀"
            [(ngModel)]="shapeType"
          />
        </td>
      </tr>
      <tr>
        <th>
          <span>投入尺寸上限</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入投入尺寸上限"
            [(ngModel)]="inputDiaMax"
          />
        </td>
      </tr>
      <tr>
        <th>
          <span>設備能力最小尺寸</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入設備能力最小尺寸"
            [(ngModel)]="capabilityDiaMin"
          />
        </td>
        <th>
          <span>設備能力最大尺寸</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入設備能力最大尺寸"
            [(ngModel)]="capabilityDiaMax"
          />
        </td>
      </tr>
      <tr>
        <th>
          <span>設備能力最小長度</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入設備能力最小長度"
            [(ngModel)]="capabilityLengthMin"
          />
        </td>
        <th>
          <span>設備能力最大長度</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入設備能力最大長度"
            [(ngModel)]="capabilityLengthMax"
          />
        </td>
      </tr>
      <tr>
        <th>
          <span>最佳能力最小尺寸</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入最佳能力最小尺寸"
            [(ngModel)]="optimalDiaMin"
          />
        </td>
        <th>
          <span>最佳能力最大尺寸</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入最佳能力最大尺寸"
            [(ngModel)]="optimalDiaMax"
          />
        </td>
      </tr>
      <tr>
        <th>
          <span>最佳能力最小長度</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入最佳能力最小長度"
            [(ngModel)]="optimalLengthMin"
          />
        </td>
        <th>
          <span>最佳能力最大長度</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入最佳能力最大長度"
            [(ngModel)]="optimalLengthMax"
          />
        </td>
      </tr>
      <tr>
        <th>
          <span>替代機台順位1</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入替代機台順位1"
            [(ngModel)]="optionEquip1"
          />
        </td>
        <th>
          <span>替代機台順位2</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入替代機台順位2"
            [(ngModel)]="optionEquip2"
          />
        </td>
      </tr>
      <tr>
        <th>
          <span>替代機台順位3</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入替代機台順位3"
            [(ngModel)]="optionEquip3"
          />
        </td>
        <th>
          <span>替代機台順位4</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入替代機台順位4"
            [(ngModel)]="optionEquip4"
          />
        </td>
      </tr>
      <tr>
        <th>
          <span>替代機台順位5</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入替代機台順位5"
            [(ngModel)]="optionEquip5"
          />
        </td>
        <th>
          <span>替代機台順位6</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入替代機台順位6"
            [(ngModel)]="optionEquip6"
          />
        </td>
      </tr>
      <tr>
        <th>
          <span>替代機台順位7</span>
        </th>
        <td>
          <input
            style="width: 50%; border-radius: 7px"
            nz-input
            placeholder="輸入替代機台順位7"
            [(ngModel)]="optionEquip7"
          />
        </td>
      </tr>
    </table>
  </ng-template>

  <ng-template #CapabilityInputFooter>
    <button nz-button nzType="default" (click)="cancelCapabilityInput()">
      取消新增
    </button>
    <button nz-button nzType="primary" (click)="insertTab()">確定</button>
  </ng-template>
</nz-modal>
