<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
    <nz-breadcrumb-item>靜態基本資料</nz-breadcrumb-item>
    <nz-breadcrumb-item>通用表</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <tr id="tab-1" style="height:30px; width:1000px; overflow-x:auto">
        <ul>
            <li><a href="#/commonData/I101">鋼種分類</a></li>
            <li><a href="#/commonData/I102">站別機台關聯表</a></li>
            <li><a href="#/commonData/I103">設備能力</a></li>
            <li><a href="#/commonData/I104">整備時間</a></li>
            <li><a href="#/commonData/I105">大調機</a></li>
            <li><a href="#/commonData/I106">小調機</a></li>
            <li><a href="#/commonData/I107">線速</a></li>
            <li><a href="#/commonData/I108">非線速</a></li>
            <li class="active"><a href="#/commonData/I109"><label style="color:blue">產率設定</label></a></li>
            <li><a href="#/commonData/I110">產能維護</a></li>
            <li><a href="#/commonData/I111">combine資料設定</a></li>
            <li><a href="#/commonData/I200">系統設定</a></li>
        </ul>
      </tr>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  
  <nz-tabset nzLinkRouter [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']">
        直棒
      </a>
      <div class="excel-control">
        <td>
            <input type="file" id="fileupload" 
                   style="display: inline-block;"
                   [(ngModel)] = "inputFileUseInUpload" 
                   (change)="incomingfile($event)" 
                   placeholder="Upload file" 
                   accept=".xlsx, .xls, .csv">
        </td>
        <td>
        <button
        nz-button
        nzType="primary"
        style = "margin-right:1vw;"
        [nzSize]="'large'"
        (click)="Upload()"
        ><span nz-icon nzType="plus" nzTheme="outline"></span>
          匯入 Excel
        </button>
      </td><td>
        <button
        nz-button
        nzType="primary"
        [nzSize]="'large'"
        (click)="convertToExcel()"
        ><span nz-icon nzType="plus" nzTheme="outline"></span>
          匯出 Excel
        </button>
      </td>
      </div>
      <div style="background: rgb(255, 255, 255); min-height: 1200px;">
        <div nz-col [nzSpan]="8">
          <nz-table #RowTable14 nzBordered [nzData]="displayTbppsm012List" [nzPageSize]="15" [nzScroll]="{ y: '650px' }">
            <thead>
            <tr>
              <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;"
              >站別
              <nz-filter-trigger 
              [nzActive]="searchSchShopCodeValue.length > 0" 
              [nzDropdownMenu]="schShopCodeMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;"
              >機群
              <nz-filter-trigger 
              [nzActive]="searchEquipGroup3Value.length > 0" 
              [nzDropdownMenu]="equipGroup3Menu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;"
              >設定類型
              <nz-filter-trigger 
              [nzActive]="searchYieldTypeValue.length > 0" 
              [nzDropdownMenu]="yieldTypeMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;"
              >設定值
              <nz-filter-trigger 
              [nzActive]="searchYieldValueValue.length > 0" 
              [nzDropdownMenu]="yieldValueMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of RowTable14.data;let i = index" class="editable-row">
              <ng-container *ngIf="!editCache14[data.id].edit; else editTemplate14">
                <td style="text-align:center; padding: 5px; height: 40px;">{{ data.SCH_SHOP_CODE }}</td>
                <td style="text-align:center; padding: 5px; height: 40px;">{{ data.EQUIP_GROUP }}</td>
                <td style="text-align:center; padding: 5px; height: 40px;">{{ data.YIELD_TYPE }}</td>
                <td style="text-align:center; padding: 5px; height: 40px;">{{ data.YIELD_VALUE | number }}</td>
                <td style="text-align:center; padding: 0px; height: 40px;">
                  <a (click)="editRow(data.id)">修改</a>
                </td>
              </ng-container>
              <ng-template #editTemplate14>
                <td style="text-align:center; padding: 5px; height: 40px;">{{ data.SCH_SHOP_CODE }}</td>
                <td style="text-align:center; padding: 5px; height: 40px;">{{ data.EQUIP_GROUP }}</td>
                <td>
                  <nz-select placeholder="設定類型" [(ngModel)]="editCache14[data.id].data.YIELD_TYPE" (ngModelChange)="changeYieldType(data.id, $event)">
                    <nz-option nzValue="尺寸" nzLabel="尺寸"></nz-option>
                    <nz-option nzValue="長度" nzLabel="長度"></nz-option>
                    <nz-option nzValue="定值" nzLabel="定值"></nz-option>
                    <nz-option nzValue="-" nzLabel="　-　"></nz-option>
                  </nz-select>
                </td>
                <td>
                  <nz-input-number [disabled]="showYieldValue" placeholder="輸入產出型態" [(ngModel)]="editCache14[data.id].data.YIELD_VALUE" [nzMin]="0" [nzMax]="100" [nzStep]="1"></nz-input-number>
                </td>
                <td>
                  <a (click)="saveEdit(data.id)">確認</a>&nbsp;&nbsp;&nbsp;
                  <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
                </td>
              </ng-template>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </nz-tab>

    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['../I109_NonBar']">
        非直棒
      </a>
    </nz-tab>
  </nz-tabset>


</nz-content>



<!-- 產率設定 -->

<nz-dropdown-menu #schShopCodeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchSchShopCodeValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchBySchShopCode()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetBySchShopCode()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #equipGroup3Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchEquipGroup3Value" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByEquipGroup3()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByEquipGroup3()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #yieldTypeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchYieldTypeValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByYieldType()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByYieldType()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #yieldValueMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchYieldValueValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByYieldValue()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByYieldValue()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>
