<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
    <nz-breadcrumb-item>靜態基本資料</nz-breadcrumb-item>
    <nz-breadcrumb-item>通用表</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <tr id="tab-1" style="height:30px; width:1000px; overflow-x:auto">
        <ul>
            <li><a href="#/commonData/I101">鋼種分類</a></li>
            <li><a href="#/commonData/I102">站別機台關聯表</a></li>
            <li><a href="#/commonData/I103">設備能力</a></li>
            <li><a href="#/commonData/I104">整備時間</a></li>
            <li><a href="#/commonData/I105">大調機</a></li>
            <li><a href="#/commonData/I106">小調機</a></li>
            <li><a href="#/commonData/I107">線速工時</a></li>
            <li><a href="#/commonData/I108">非線速工時</a></li>
            <li><a href="#/commonData/I109">產率設定</a></li>
            <li><a href="#/commonData/I110">產能維護</a></li>
            <li class="active"><a href="#/commonData/I111"><label style="color:blue">combine資料設定</label></a></li>
            <li><a href="#/commonData/I200">系統設定</a></li>
        </ul>
      </tr>
    </nz-breadcrumb-item>
  </nz-breadcrumb>


  <nz-tabset nzLinkRouter [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" style="color: dodgerblue">
        直棒
      </a>
      <div class="excel-control">
        <td>
            <input type="file" id="fileupload" 
                   style="display: inline-block;"
                   [(ngModel)] = "inputFileUseInUpload" 
                   (change)="incomingfile($event)" 
                   placeholder="Upload file" 
                   accept=".xlsx, .xls, .csv">
        </td>
        <td>
        <button
        nz-button
        nzType="primary"
        style = "margin-right:1vw;"
        [nzSize]="'large'"
        (click)="Upload()"
        ><span nz-icon nzType="plus" nzTheme="outline"></span>
          匯入 Excel
        </button>
      </td><td>
        <button
        nz-button
        nzType="primary"
        [nzSize]="'large'"
        (click)="convertToExcel()"
        ><span nz-icon nzType="plus" nzTheme="outline"></span>
          匯出 Excel
        </button>
      </td>
      </div>
      <div style="background: rgb(255, 255, 255); min-height: 1200px;">

      <nz-collapse style="background-color: aliceblue;">
        <nz-collapse-panel
        *ngFor="let panel of panels"
        [nzHeader]="panel.name"
        [nzActive]="panel.active"
        [nzDisabled]="panel.disabled"
        >

        <button
          nz-button
          *ngIf="!isRunFCP"
          style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
          nzType="primary"
          (click)="insertTab()"
        >
        <span nz-icon nzType="save" nzTheme="outline"></span>
        確認
        </button>
        <button
          nz-button
          *ngIf="isRunFCP"
          style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); background-color: #bec4be; color: darkblue;"
          nzType="primary"
          [nzSize]="'large'"
          [disabled] = "true"
          (click)="insertTab()"
        >
        <span nz-icon nzType="save" nzTheme="outline"></span>
        確認
        </button>
        <label style="font-weight:bold; font-size: large; color: rgb(214, 63, 63);" *ngIf="isRunFCP"> ※ 目前 FCP 執行中，不可異動資料！ </label>
        <p></p><p></p>

        <tr>
          <td style = "width: 10%; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;combin條件</td>
          <td style = "width: 300px;">
            <nz-select [nzDropdownMatchSelectWidth]="false"  style="margin-left: 5px; max-width: 150px; width: 100%;" nzPlaceHolder = "combin條件" [(ngModel)]="COLUMN_NAME" (click)="getRequierList()">
              <nz-option *ngFor="let s of COLUMN_NAMEList" [nzValue]="s.value" [nzLabel]="s.label"></nz-option>
            </nz-select>
          </td>
        </tr><p></p><p></p>
        <tr>
          <td style="width:inherit;" colspan = "2">
            <nz-card style="width:90%; box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24)" nzTitle="站別">
              <ng-container *ngIf="SHOP_splitList">
                <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="clickShopCode($event)">
                  <tr *ngFor = "let item of SHOP_splitList; let i = index;">
                    <td style="width: 80px;" *ngFor = "let item1 of SHOP_splitList[i];">
                      <label nz-checkbox nzValue="{{item1}}" >{{item1}}</label></td>
                  </tr>
                </nz-checkbox-wrapper>
              </ng-container>
            </nz-card>
          </td>
          <td style="width:inherit;" colspan = "2">
            <nz-card style="width:450px; box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24)" nzTitle="機台">
              <ng-container *ngIf="EQUIP_splitList">
                <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="clickEquipCode($event)">
                  <tr *ngFor = "let item of EQUIP_splitList; let i = index;">
                    <td style="width: 80px;" *ngFor = "let item1 of EQUIP_splitList[i];"><label nz-checkbox [ngModel]="item1.checked" [nzValue]="item1.value">{{item1.value}}</label></td>
                  </tr>
                </nz-checkbox-wrapper>
              </ng-container>
            </nz-card>
          </td>
        </tr>

        </nz-collapse-panel>
      </nz-collapse>
      <p></p>
        <div nz-col [nzSpan]="8">
          <nz-table #RowTable1 nzBordered [nzData]="FCPTB26List" [nzPageSize]="50" [nzScroll]="{ y: '300px' }">
            <thead>
              <tr style="width: 80%;">
                <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:80px">站別</th>
                <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:80px">機台</th>
                <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px">combin條件</th>
                <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:80px">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of RowTable1.data;let i = index" class="editable-row" style="width: 80%">
                <ng-container *ngIf="!editCache1[data.id].edit; else editTemplate1">
                  <td style="text-align:center; padding: 5px; height: 60px; width: 80px;">{{ data.SCH_SHOP_CODE_1 }}</td>
                  <td style="text-align:center; padding: 5px; height: 60px; width: 80px;">{{ data.MACHINE }}</td>
                  <td style="text-align:center; padding: 5px; height: 60px; width: 120px;">{{ data.COLUMN_COMMENT }}</td>
                  <td style="text-align:center; padding: 0px; height: 60px; width: 80px;">
                    <a *ngIf="!isRunFCP"  (click)="editRow(data.id)">修改</a>
                    <a *ngIf="isRunFCP" disabled="true" (click)="editRow(data.id)">修改</a>&nbsp;&nbsp;
                    <a *ngIf="!isRunFCP" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)">刪除</a>
                    <a *ngIf="isRunFCP" disabled="true" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)" >刪除</a>
                  </td>
                </ng-container>
                <ng-template #editTemplate1>
                  <td>
                    <nz-select style="max-width: 120px; width: 100%;" nzPlaceHolder = "選擇站別" [(ngModel)]="editCache1[data.id].data.SCH_SHOP_CODE_1" (click)= "getPickerShopData(data.id)">
                      <nz-option *ngFor="let p of ShopList" [nzValue]="p" [nzLabel]="p"></nz-option>
                    </nz-select>
                  </td>
                  <td>
                    <nz-select style="max-width: 200px; width: 100%;" nzPlaceHolder = "選擇機台"  [(ngModel)]="editCache1[data.id].data.MACHINE" (click)="getPickerMachineData(data.SCH_SHOP_CODE_1, data.id)">
                      <nz-option *ngFor="let md of MachineList" [nzValue]="md" [nzLabel]="md"></nz-option>
                    </nz-select>
                  </td>
                  <td>
                    <nz-select [nzDropdownMatchSelectWidth]="false"  style="margin-left: 5px; max-width: 150px; width: 100%;" nzPlaceHolder = "combin條件" [(ngModel)]="editCache1[data.id].data.COLUMN_NAME" (click)="getRequierList()">
                      <nz-option *ngFor="let s of COLUMN_NAMEList" [nzValue]="s.value" [nzLabel]="s.label"></nz-option>
                    </nz-select>
                  </td>
                  <td>
                    <a (click)="saveEdit(data.id)">確認</a>&nbsp;&nbsp;
                    <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
                  </td>
                </ng-template>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </nz-tab>

    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['../I111_NonBar']" style="color: gray">
        非直棒
      </a>
    </nz-tab>
  </nz-tabset>


</nz-content>

