<nz-content style="margin: 0 16px">
  <nz-breadcrumb class="breadcrumbContainer" nzSeparator=">">
  <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
  <nz-breadcrumb-item>規劃策略</nz-breadcrumb-item>
  <nz-breadcrumb-item>策略基礎設定</nz-breadcrumb-item>
  <nz-breadcrumb-item>公版設定維護(PPSI205)</nz-breadcrumb-item>
</nz-breadcrumb>

  <h2 id="number" style="text-align: right; margin: 0"></h2>

  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="4">
    <!-- 盤元冷抽尺寸優先順序表 -->
    <!-- <nz-tab nzTitle="盤元冷抽尺寸優先順序" (nzClick)="changeTab(1)"></nz-tab> -->

    <!-- 401站優先順序表 -->
    <!-- <nz-tab nzTitle="401站優先順序表" (nzClick)="changeTab(2)"></nz-tab> -->

    <!-- 205站公版尺寸 -->
    <nz-tab nzTitle="205站公版尺寸" (nzClick)="changeTab(3)"></nz-tab>

    <!-- 401 Auto Campaign -->
    <nz-tab nzTitle="401 Auto Campaign" (nzClick)="changeTab(4)"></nz-tab>

    <nz-tab nzTitle="公版排程維護" (nzClick)="changeTab(5)">
      <label
        style="font-weight: bold; font-size: large; color: rgb(214, 63, 63)"
        *ngIf="isRunFCP"
      >
        ※ 目前 FCP 執行中，不可異動資料！
      </label>

      <nz-tabset nzLinkRouter [nzTabPosition]="'top'" [nzType]="'card'">
        <nz-tab class="Tab5-a" style="background-color: #ffffff">
          <a
            *nzTabLink
            nz-tab-link
            [routerLink]="['/PlanSet/I205_a100']"
            style="color: black"
          >
            公版維護表
          </a>
        </nz-tab>
        <nz-tab
          class="Tab5-a"
          style="background-color: #ffffff; color: dodgerblue"
        >
          <a *nzTabLink nz-tab-link [routerLink]="['/PlanSet/I205_100']">
            工廠排程公版匯入</a
          >
          <nz-collapse>
            <nz-collapse-panel
              *ngFor="let panel of panels"
              [nzHeader]="panel.name"
              [nzActive]="panel.active"
              [nzDisabled]="panel.disabled"
            >
              <nz-select
                nzPlaceHolder="請選擇版本"
                style="width: 180px"
                [(ngModel)]="fcpEditionList"
                nzAllowClear
                (nzOpenChange)="getFcpList()"
              >
                <nz-option
                  *ngFor="let fcpEdition of fcpEditionOption"
                  [nzLabel]="fcpEdition"
                  [nzValue]="fcpEdition"
                ></nz-option>
                <nz-option *ngIf="fcpEditionLoading" nzDisabled nzCustomContent>
                  <span nz-icon nzType="loading" class="loading-icon"></span>
                  版本清單載入中...
                </nz-option>
              </nz-select>

              <nz-checkbox-wrapper
                (nzOnChange)="log($event)"
                style="margin-left: 20px"
              >
                <div class="horizontal-checkbox-wrapper">
                  <label
                    nz-checkbox
                    *ngFor="let item of shopCodeOptions; let i = index"
                    [(ngModel)]="checkboxStatus[i]"
                    nzValue="{{ item }}"
                    >{{ item }}</label
                  >
                </div>
              </nz-checkbox-wrapper>

              <button
                style="margin-left: 10px"
                nz-button
                nzType="primary"
                (click)="convertToTbppsm100(true)"
                [disabled]="isRunFCP"
              >
                <span nz-icon nzType="edit" nzTheme="outline"></span
                >轉入排程公版
              </button>
            </nz-collapse-panel>
          </nz-collapse>
          <p></p>

          <ag-grid-angular  style="width: 100%; height: calc(100vh - 220px); overflow: scroll;" class="ag-theme-alpine" 
          [rowData]="ppsfcptb16_ms_cust_sortList"
          [columnDefs]="columnDefs"
          [pagination]="true"
          class="ag-theme-alpine"
          [gridOptions]="gridOptions"
          >
          </ag-grid-angular>
        </nz-tab>
      </nz-tabset>
    </nz-tab>
  </nz-tabset>
</nz-content>
