<nz-content style="margin: 0 16px">
  <nz-breadcrumb style="margin: 16px 0">
    <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
    <nz-breadcrumb-item>靜態基本資料</nz-breadcrumb-item>
    <nz-breadcrumb-item>非通用</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <tr id="tab-1" style="height: 30px; width: 1000px; overflow-x: auto">
        <ul>
          <li><a href="#/singleData/I120">直棒退火爐工時</a></li>
          <li><a href="#/singleData/I121">直棒研磨道次</a></li>
          <li><a href="#/singleData/I122">直棒桶槽式工時</a></li>
          <li><a href="#/singleData/I123">直棒清洗站設備能力</a></li>
          <li class="active">
            <a href="#/singleData/I124"
              ><label style="color: blue"
                ><font size="4">公版設定維護(PPSI205)</font></label
              ></a
            >
          </li>
          <li>
            <a href="#/singleData/I130">精整批次爐鋼種捲數製程碼對應表</a>
          </li>
          <li>
            <a href="#/singleData/I131">直棒批次爐</a>
          </li>
        </ul>
      </tr>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <h2 id="number" style="text-align: right; margin: 0"></h2>

  <nz-tabset [nzTabPosition]="'left'" [nzType]="'card'" [nzSelectedIndex]="4">
    <!-- 盤元冷抽尺寸優先順序表 -->
    <nz-tab nzTitle="盤元冷抽尺寸優先順序" (nzClick)="changeTab(1)">
      <div>
        <tr>
          <label
            style="font-weight: bold; font-size: large; color: rgb(214, 63, 63)"
            *ngIf="isRunFCP"
          >
            ※ 目前 FCP 執行中，不可異動資料！
          </label>

          <td style="text-align: right; width: 52%">
            &nbsp;&nbsp;
            <input
              type="file"
              id="fileupload"
              style="display: inline-block"
              (change)="incomingfile($event)"
              placeholder="Upload file"
              accept=".xlsx, .xls, .csv"
            />
            <button
              nz-button
              [ngClass]="{ FCPdisable: isRunFCP, FCPenable: !isRunFCP }"
              nzType="primary"
              [disabled]="isRunFCP"
              (click)="Upload('1')"
            >
              <span nz-icon nzType="upload" nzTheme="outline"></span>
              E X C E L 匯入
            </button>
            &nbsp;&nbsp;
            <button
              nz-button
              style="
                box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                background-color: #4caf50;
                border: 2px blue none;
              "
              nzType="primary"
              (click)="convertToExcel('1')"
            >
              <span nz-icon nzType="download" nzTheme="outline"></span>
              E X C E L 匯出
            </button>
          </td>
        </tr>
      </div>

      <p></p>
      <div style="background: rgb(255, 255, 255); min-height: 800px">
        <div nz-col [nzSpan]="16">
          <nz-table
            #RowTable1
            nzBordered
            [nzData]="tbppsm101List"
            [nzPageSize]="15"
            [nzScroll]="{ y: '600px' }"
          >
            <thead>
              <tr>
                <th
                  nzWidth="6%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  匯入時間
                </th>
                <th
                  nzWidth="2%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  自訂排序
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  月份
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  站別
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  機台
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  產出型態
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  產出尺寸
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  投入尺寸
                </th>
                <th
                  nzWidth="5%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  最終製程
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  鋼種群組
                </th>
                <th
                  nzWidth="2%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  製程碼
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of RowTable1.data; let i = index"
                class="editable-row"
              >
                <ng-container>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.IMPORTDATETIME | date : "yyyy-MM-dd hh:mm:ss" }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.CUSTOM_SORT }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.USE_MONTH }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.SCH_SHOP_CODE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.EQUIP_CODE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.OUTPUT_SHAPE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.OUT_DIA | number }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.SFC_DIA | number }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.FINAL_PROCESS_CODE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.GRADE_GROUP }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.PROCESS_CODE }}
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </nz-tab>

    <!-- 401站優先順序表 -->
    <nz-tab nzTitle="401站優先順序表" (nzClick)="changeTab(2)">
      <div>
        <tr>
          <td>
            <button
              nz-button
              style="
                box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                background-color: #e6a3c2;
                border: 2px blue none;
              "
              [ngClass]="{ FCPdisable: isRunFCP, FCPenableUpload: !isRunFCP }"
              nzType="primary"
              [disabled]="isRunFCP"
              (click)="importCompaign()"
            >
              <span nz-icon nzType="upload" nzTheme="outline"></span>
              轉入 CAMPAIGN 表
            </button>
          </td>
          <label
            style="font-weight: bold; font-size: large; color: rgb(214, 63, 63)"
            *ngIf="isRunFCP"
          >
            ※ 目前 FCP 執行中，不可異動資料！
          </label>
          <td style="text-align: right; width: 48%">
            &nbsp;&nbsp;
            <input
              type="file"
              id="fileupload"
              style="display: inline-block"
              (change)="incomingfile($event)"
              placeholder="Upload file"
              accept=".xlsx, .xls, .csv"
            />
            <button
              nz-button
              [ngClass]="{ FCPdisable: isRunFCP, FCPenable: !isRunFCP }"
              nzType="primary"
              [disabled]="isRunFCP"
              (click)="Upload('2')"
            >
              <span nz-icon nzType="upload" nzTheme="outline"></span>
              E X C E L 匯入
            </button>
            &nbsp;&nbsp;
            <button
              nz-button
              style="
                box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                background-color: #4caf50;
                border: 2px blue none;
              "
              nzType="primary"
              (click)="convertToExcel('2')"
            >
              <span nz-icon nzType="download" nzTheme="outline"></span>
              E X C E L 匯出
            </button>
          </td>
        </tr>
      </div>

      <p></p>
      <div style="background: rgb(255, 255, 255); min-height: 800px">
        <div nz-col [nzSpan]="20">
          <nz-table
            #RowTable2
            nzBordered
            [nzData]="tbppsm102List"
            [nzPageSize]="15"
            [nzScroll]="{ y: '600px' }"
          >
            <thead>
              <tr>
                <!-- <th nzWidth="6%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">匯入時間</th> -->
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  優先順序
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  站別
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  機台
                </th>
                <th
                  nzWidth="5%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  下一站站別
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  天數
                </th>
                <th
                  nzWidth="5%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  max(EPST/ASAP)
                </th>
                <th
                  nzWidth="5%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  生產開始日
                </th>
                <th
                  nzWidth="4%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  生產結束日
                </th>
                <th
                  nzWidth="5%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  TC頻率升降冪
                </th>
                <th
                  nzWidth="5%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  COMPAIGN_ID
                </th>
                <th
                  nzWidth="5%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  轉入COMPAIGN表<br />時間
                </th>
                <th
                  nzWidth="4%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of RowTable2.data; let i = index"
                class="editable-row"
              >
                <ng-container *ngIf="!EditMode[i]; else editModeTD">
                  <!-- <ng-container> -->
                  <!-- <td style="text-align:center; padding: 5px; height: 40px;">{{ data.IMPORTDATETIME | date:'yyyy-MM-dd hh:mm:ss' }}</td> -->
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.ORDER_ID }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.SCH_SHOP_CODE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.EQUIP_CODE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.NEXT_SHOP_CODE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.DAYS }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.MAX_DATE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.STARTDATE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.ENDDATE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{
                      data.TC_FREQUENCE_LIFT === "ASC"
                        ? "升冪"
                        : data.TC_FREQUENCE_LIFT === "DESC"
                        ? "降冪"
                        : ""
                    }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.COMPAIGN_ID }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.EXPORTDATETIME | date : "yyyy-MM-dd HH:mm:ss" }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    <a
                      [attr.disabled]="isRunFCP ? true : null"
                      (click)="upd_dtlRow(i, data)"
                      >編輯</a
                    >&nbsp;
                    <!-- <a *ngIf="!isRunFCP" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="delete_dtlRow(i, data)">刪除</a>
                    <a *ngIf="isRunFCP" disabled="true" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="delete_dtlRow(i, data)">刪除</a> -->
                  </td>
                </ng-container>

                <ng-template #editModeTD>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.ORDER_ID }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.SCH_SHOP_CODE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.EQUIP_CODE }}
                  </td>

                  <td style="text-align: center; padding: 5px; height: 40px">
                    <input
                      type="text"
                      nz-input
                      [(ngModel)]="data.NEXT_SHOP_CODE"
                    />
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    <nz-input-number
                      style="width: 60px"
                      [(ngModel)]="data.DAYS"
                      [nzMin]="0"
                      [nzMax]="50"
                      [nzStep]="1"
                    ></nz-input-number>
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    <nz-date-picker
                      nzMode="month"
                      [(ngModel)]="data.MAX_DATE"
                      (ngModelChange)="onChange('1', i, $event)"
                    ></nz-date-picker>
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    <nz-date-picker
                      [(ngModel)]="data.STARTDATE"
                      (ngModelChange)="onChange('2', i, $event)"
                    ></nz-date-picker>
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.ENDDATE }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    <nz-radio-group
                      [(ngModel)]="data.TC_FREQUENCE_LIFT"
                      nzButtonStyle="solid"
                    >
                      <label nz-radio-button nzValue="ASC">升冪</label>
                      <label nz-radio-button nzValue="DESC">降冪</label>
                    </nz-radio-group>
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.COMPAIGN_ID }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.EXPORTDATETIME | date : "yyyy-MM-dd HH:mm:ss" }}
                  </td>
                  <td style="width: 120px; text-align: center">
                    <a (click)="save_dtlRow(i, data)">確認</a>&nbsp;&nbsp;
                    <a
                      nz-popconfirm
                      nzPopconfirmTitle="Sure to cancel?"
                      (nzOnConfirm)="cancel_dtlRow(i, data)"
                      >取消</a
                    >
                  </td>
                </ng-template>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </nz-tab>

    <!-- 205站公版尺寸 -->
    <nz-tab nzTitle="205站公版尺寸" (nzClick)="changeTab(3)">
      <div>
        <tr>
          <label
            style="font-weight: bold; font-size: large; color: rgb(214, 63, 63)"
            *ngIf="isRunFCP"
          >
            ※ 目前 FCP 執行中，不可異動資料！
          </label>
          <td style="text-align: right; width: 42%">
            &nbsp;&nbsp;
            <input
              type="file"
              id="fileupload"
              style="display: inline-block"
              (change)="incomingfile($event)"
              placeholder="Upload file"
              accept=".xlsx, .xls, .csv"
            />
            <button
              nz-button
              [ngClass]="{ FCPdisable: isRunFCP, FCPenable: !isRunFCP }"
              nzType="primary"
              [disabled]="isRunFCP"
              (click)="Upload('3')"
            >
              <span nz-icon nzType="upload" nzTheme="outline"></span>
              E X C E L 匯入
            </button>
            &nbsp;&nbsp;
            <button
              nz-button
              style="
                box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                background-color: #4caf50;
                border: 2px blue none;
              "
              nzType="primary"
              (click)="convertToExcel('3')"
            >
              <span nz-icon nzType="download" nzTheme="outline"></span>
              E X C E L 匯出
            </button>
          </td>
        </tr>
      </div>

      <p></p>
      <div style="background: rgb(255, 255, 255); min-height: 800px">
        <div nz-col [nzSpan]="20">
          <nz-table
            #RowTable3
            nzBordered
            [nzData]="tbppsm113List"
            [nzPageSize]="15"
            [nzScroll]="{ y: '600px' }"
          >
            <thead>
              <tr>
                <!-- <th nzWidth="6%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">匯入時間</th> -->
                <th
                  nzWidth="4%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  公版月份
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  產品
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  軋延尺寸
                </th>
                <th
                  nzWidth="3%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  CYCLE_NO
                </th>
                <th
                  nzWidth="5%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  日期(起)
                </th>
                <th
                  nzWidth="5%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  日期(迄)
                </th>
                <th
                  nzWidth="4%"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of RowTable3.data; let i = index"
                class="editable-row"
              >
                <ng-container *ngIf="!EditMode[i]; else editModeTD">
                  <!-- <ng-container> -->
                  <!-- <td style="text-align:center; padding: 5px; height: 40px;">{{ data.IMPORTDATETIME | date:'yyyy-MM-dd hh:mm:ss' }}</td> -->
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.publicMonth }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.productType }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.dia }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.cycleNo }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.startDate }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.endDate }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    <a
                      [attr.disabled]="isRunFCP ? true : null"
                      (click)="upd_dtlRow(i, data)"
                      >編輯</a
                    >&nbsp;
                    <!-- <a *ngIf="!isRunFCP" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="delete_dtlRow(i, data)">刪除</a>
                    <a *ngIf="isRunFCP" disabled="true" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="delete_dtlRow(i, data)">刪除</a> -->
                  </td>
                </ng-container>

                <ng-template #editModeTD>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    <nz-date-picker
                      nzMode="month"
                      [(ngModel)]="data.publicMonth"
                      (ngModelChange)="onChange('3-0', i, $event)"
                    ></nz-date-picker>
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    <input
                      type="text"
                      nz-input
                      [(ngModel)]="data.productType"
                    />
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    <input type="text" nz-input [(ngModel)]="data.dia" />
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    <input type="text" nz-input [(ngModel)]="data.cycleNo" />
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    <nz-date-picker
                      [(ngModel)]="data.startDate"
                      (ngModelChange)="onChange('3-1', i, $event)"
                    ></nz-date-picker>
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    <nz-date-picker
                      [(ngModel)]="data.endDate"
                      (ngModelChange)="onChange('3-2', i, $event)"
                    ></nz-date-picker>
                  </td>

                  <td style="width: 120px; text-align: center">
                    <a (click)="save113_dtlRow(i, data)">確認</a>&nbsp;&nbsp;
                    <a
                      nz-popconfirm
                      nzPopconfirmTitle="Sure to cancel?"
                      (nzOnConfirm)="cancel113_dtlRow(i, data)"
                      >取消</a
                    >
                  </td>
                </ng-template>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </nz-tab>

    <!-- 401 Auto Campaign -->
    <nz-tab nzTitle="401 Auto Campaign" (nzClick)="changeTab(4)">
      <nz-tabset nzLinkRouter [nzTabPosition]="'top'" [nzType]="'card'">
        <nz-tab>
          <a
            *nzTabLink
            nz-tab-link
            [routerLink]="['.']"
            style="color: dodgerblue"
          >
            Auto campaign 表
          </a>
          <!--           
          <div style="text-align: right">
            <b style="font-size: x-large; font-weight: bold; padding-left: 60%"
              >更新時間 : 更新者 :
            </b>
          </div>
     -->
          <div>
            <tr>
              <label
                style="
                  text-align: right;
                  font-weight: bold;
                  font-size: large;
                  color: rgb(214, 63, 63);
                "
                *ngIf="isRunFCP"
              >
                ※ 目前 FCP 執行中，不可異動資料！
              </label>

              <td style="text-align: left">
                &nbsp;&nbsp;
                <button
                  nz-button
                  nzType="primary"
                  [ngClass]="{
                    FCPdisable: isRunFCP,
                    FCPenableUpload: !isRunFCP
                  }"
                  [disabled]="isRunFCP"
                  (click)="importCompaign()"
                >
                  <span nzTheme="outline"></span>
                  轉入 CAMPAIGN 表
                </button>
              </td>

              <td style="text-align: right; width: 50%">
                &nbsp;&nbsp;
                <input
                  type="file"
                  id="fileupload"
                  style="display: inline-block"
                  (change)="incomingfile($event)"
                  placeholder="Upload file"
                  accept=".xlsx, .xls, .csv"
                />
                <button
                  nz-button
                  [ngClass]="{ FCPdisable: isRunFCP, FCPenable: !isRunFCP }"
                  nzType="primary"
                  [disabled]="isRunFCP"
                  (click)="Upload('4')"
                >
                  <span nz-icon nzType="upload" nzTheme="outline"></span>
                  E X C E L 匯入
                </button>
                &nbsp;&nbsp;
                <button
                  nz-button
                  style="
                    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                    background-color: #4caf50;
                    border: 2px blue none;
                  "
                  nzType="primary"
                  (click)="convertToExcel('4')"
                >
                  <span nz-icon nzType="download" nzTheme="outline"></span>
                  E X C E L 匯出
                </button>
              </td>
            </tr>
          </div>
          <br />
          <ag-grid-angular
            [columnDefs]="columnDefs"
            [defaultColDef]="ColGroupDef"
            [headerHeight]="40"
            [rowHeight]="40"
            style="width: 100%; height: 500px"
            class="ag-theme-alpine"
            [rowData]="rowData"
            [suppressRowClickSelection]="true"
            [groupSelectsChildren]="true"
            [rowSelection]="'multiple'"
            [animateRows]="true"
          >
          </ag-grid-angular>
        </nz-tab>

        <nz-tab>
          <a
            *nzTabLink
            nz-tab-link
            [routerLink]="['../I205_401']"
            style="color: gray"
          >
            彙整資料
          </a>
        </nz-tab>
      </nz-tabset>
    </nz-tab>

    <nz-tab nzTitle="公版排程維護" (nzClick)="changeTab(5)">
      <div style="margin-bottom: 15px">
        <tr>
          <td>
            <a
              class="Tab5-a"
              style="background-color: #fafafa; color: black"
              [routerLink]="['/singleData/I124']"
              [queryParams]="{ selectedTabIndex: 4 }"
            >
              公版維護表
            </a>
            <a
              class="Tab5-a"
              style="background-color: #ffffff; color: dodgerblue"
              [routerLink]="['/singleData/I124_100']"
            >
              工廠排程公版匯入</a
            >
          </td>
          <label
            style="font-weight: bold; font-size: large; color: rgb(214, 63, 63)"
            *ngIf="isRunFCP"
          >
            ※ 目前 FCP 執行中，不可異動資料！
          </label>
        </tr>
      </div>

      <nz-collapse>
        <nz-collapse-panel
          *ngFor="let panel of panels"
          [nzHeader]="panel.name"
          [nzActive]="panel.active"
          [nzDisabled]="panel.disabled"
        >
          <nz-select
            nzPlaceHolder="請選擇版本"
            style="width: 210px; margin-left: 20px"
            [(ngModel)]="fcpEditionList"
            nzAllowClear
            (nzOpenChange)="getFcpList()"
          >
            <nz-option
              *ngFor="let fcpEdition of fcpEditionOption"
              [nzLabel]="fcpEdition"
              [nzValue]="fcpEdition"
            ></nz-option>
            <nz-option *ngIf="fcpEditionLoading" nzDisabled nzCustomContent>
              <span nz-icon nzType="loading" class="loading-icon"></span>
              版本清單載入中...
            </nz-option>
          </nz-select>

          <button
            style="margin-left: 20px"
            nz-button
            nzType="primary"
            (click)="convertToTbppsm100(true)"
          >
            <span nz-icon nzType="edit" nzTheme="outline"></span>轉入排程公版
          </button>
        </nz-collapse-panel>
      </nz-collapse>

      <!-- <nz-collapse>
          <nz-collapse-panel
            *ngFor="let panel of panels"
            [nzHeader]="panel.name"
            [nzActive]="panel.active"
            [nzDisabled]="panel.disabled"
          >
            <td style="text-align: right; width: 42%">
              &nbsp;&nbsp;
              <input
                type="file"
                id="fileupload"
                style="display: inline-block"
                (change)="incomingfile($event)"
                placeholder="Upload file"
                accept=".xlsx, .xls, .csv"
              />
              <button
                nz-button
                [ngClass]="{ FCPdisable: isRunFCP, FCPenable: !isRunFCP }"
                nzType="primary"
                [disabled]="isRunFCP"
                (click)="Upload('2')"
              >
                <span nz-icon nzType="upload" nzTheme="outline"></span>
                E X C E L 匯入
              </button>
              &nbsp;&nbsp;
              <button
                nz-button
                style="
                  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                  background-color: #4caf50;
                  border: 2px blue none;
                "
                nzType="primary"
                (click)="convertToExcel('2')"
              >
                <span nz-icon nzType="download" nzTheme="outline"></span>
                E X C E L 匯出
              </button>
            </td>
          </nz-collapse-panel>
        </nz-collapse> -->

      <p></p>
      <div style="background: rgb(255, 255, 255); min-height: 800px">
        <div>
          <nz-table
            #RowTable5
            nzBordered
            [nzData]="ppsfcptb16_ms_cust_sortList"
            [nzPageSize]="15"
            [nzScroll]="{ y: '600px' }"
          >
            <thead>
              <tr>
                <!-- <th nzWidth="6%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">匯入時間</th> -->
                <th
                  nzWidth="150px"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  FCP版本
                </th>
                <th
                  nzWidth="50px"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  站別
                </th>
                <th
                  nzWidth="100px"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  投產機台
                </th>
                <th
                  nzWidth="75px"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  製程碼
                </th>
                <th
                  nzWidth="75px"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  投入型態
                </th>
                <th
                  nzWidth="75px"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  產出型態
                </th>
                <th
                  nzWidth="75px"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  投入尺寸
                </th>
                <th
                  nzWidth="75px"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  產出尺寸
                </th>
                <th
                  nzWidth="75px"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  產品種類
                </th>
                <th
                  nzWidth="75px"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  下站別
                </th>
                <th
                  nzWidth="75px"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  鋼種群組
                </th>
                <th
                  nzWidth="150px"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  自訂月份
                </th>
                <th
                  nzWidth="75px"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  寫入排序
                </th>
                <th
                  nzWidth="150px"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  開始時間
                </th>
                <th
                  nzWidth="150px"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  結束時間
                </th>
                <th
                  nzWidth="150px"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  創建時間
                </th>
                <th
                  nzWidth="80px"
                  style="
                    text-align: center;
                    background-color: #eee;
                    padding: 0px;
                    height: 55px;
                  "
                >
                  創建者
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of RowTable5.data; let i = index"
                class="editable-row"
              >
                <ng-container>
                  <!-- <ng-container> -->
                  <!-- <td style="text-align:center; padding: 5px; height: 40px;">{{ data.IMPORTDATETIME | date:'yyyy-MM-dd hh:mm:ss' }}</td> -->
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.fcpEdition }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.schShopCode }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.pstMachine }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.processCode }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.inputType }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.outputShape }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.inputDia }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.outDia }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.kindType }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.nextSchShopCode }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.gradeGroup }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.newEpstYymm }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.campaignSort }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.planStartTime }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.planEndTime }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.dateCreate }}
                  </td>
                  <td style="text-align: center; padding: 5px; height: 40px">
                    {{ data.userCreate }}
                  </td>
                  <!-- <td style="text-align: center; padding: 5px; height: 40px">
                      <a
                        [attr.disabled]="isRunFCP ? true : null"
                        (click)="upd_dtlRow(i, data)"
                        >編輯</a
                      >&nbsp;
                      <a *ngIf="!isRunFCP" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="delete_dtlRow(i, data)">刪除</a>
                      <a *ngIf="isRunFCP" disabled="true" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="delete_dtlRow(i, data)">刪除</a>
                    </td> -->
                </ng-container>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>
</nz-content>
