@font-face {
  font-family: "anticon";
  font-display: fallback;
  src: url("../assets/iconfonts/font_148784_v4ggb6wrjmkotj4i.eot");
  /* IE9*/
  src: url("../assets/iconfonts/font_148784_v4ggb6wrjmkotj4i.woff")
      format("woff"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("../assets/iconfonts/font_148784_v4ggb6wrjmkotj4i.ttf")
      format("truetype"),
    /* iOS 4.1- */
      url("../assets/iconfonts/font_148784_v4ggb6wrjmkotj4i.svg#iconfont")
      format("svg");
}

/* muli-regular - latin */

:host ::ng-deep .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

:host ::ng-deep .trigger:hover {
  color: #1890ff;
}

:host ::ng-deep .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.navBar {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  /* img {
    width: 150px;
    height: 30px;
    margin-right: 16px;
    margin-top: -8px;
  } */
}
.navBar  img {
  width: 0px;
  height: 0px;
  margin-right: 16px;
  margin-top: -8px;
}

.nav-bar-prod {
  background: #fff;
  padding: 0;
}

.nav-bar-tst {
  background: #da6c72;
  padding: 0;
}

.nav-bar-local {
  background: #e8e8e8;
  padding: 0;
}




.router-outlet-area{ 
  margin-top: 10px;
  margin-left: 10px;
  /*height: calc(100vh - 68px);*/
}