<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>訂單即時回應</nz-breadcrumb-item>
    <nz-breadcrumb-item>需求執行</nz-breadcrumb-item>
    <nz-breadcrumb-item>訂單配料程式</nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-spin  nzTip="Loading..." [nzSize]="'large'" [nzSpinning] = "isSpinning">

  <div>
    <td style="text-align:left;width:2%;">
      <button
        nz-button
        style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
        nzType="primary"
        [nzSize]="'large'"
        (click)="onSearch()"  
      >    
      <span nz-icon nzType="search" nzTheme="outline"></span>
        訂單查詢
      </button>
    </td>
  </div>
  <p></p>

  <!-- (ngModelChange)="changeDate_start($event)" -->
  <td style = "width: 10%; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;生計交期　</td>
  <td style = "width: 300px;" colspan="3">&nbsp;&nbsp;
    <nz-date-picker
      nzFormat="yyyy-MM-dd"
      [(ngModel)] = "pp_date_start"
      nzPlaceHolder="開始時間"
      (ngModelChange)="changeDate_start($event)"
      >
    </nz-date-picker>
    <nz-date-picker
      nzFormat="yyyy-MM-dd"
      [(ngModel)] = "pp_date_end"
      nzPlaceHolder="結束時間"
      (ngModelChange)="changeDate_end($event)"
      >
    </nz-date-picker>
  </td>
  <p></p>

  <td style = "background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;待軋量(噸) ≧　</td>
  <td style = "width: 300px;">&nbsp;&nbsp;
    <nz-input-number [nzDisabled]="disable_r" style="width: 95px;" nzPlaceHolder = "輸入待軋量" [(ngModel)]="UNROLL_WEIGHT" [nzMin]="0" [nzMax]="100000" [nzStep]="1"></nz-input-number>
  </td>  
  <p></p>
  <td style = "background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;選定策略　</td>
  <td style = "width: 300px;">
    <nz-select nzPlaceHolder="請選擇策略" style="width: 250px; margin-left:10px;" [(ngModel)]="strategyName" nzShowSearch nzAllowClear (nzOpenChange) = "getStrategyList()">
      <nz-option *ngFor="let strategy of strategylistOfOption" [nzLabel]="strategy" [nzValue]="strategy"></nz-option>
    </nz-select>
  </td>

  <p></p>
  <button
    nz-button
    style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
    nzType="primary"
    class="opButton"
    (click)="onGredients()">
    執行配料
  </button>
  &nbsp;
  <button
    nz-button
    style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
    nzType="primary"
    class="opButton"
    (click)="exportToExcel()">
    轉出結果
  </button>
  &nbsp;
  <button
    nz-button
    style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
    nzType="primary"
    class="opButton"
    [disabled]="isDisabled"
    [ngClass]="{'disabled': isDisabled}"
    (click)="saveResult()">
    暫存結果
  </button>
  &nbsp;
  <button
    nz-button
    style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
    nzType="primary"
    class="opButton"
    (click)="openTempPicker()">
    展開暫存結果
  </button>
  <p></p>

<div style="padding:24px; background: rgb(255, 255, 255); min-height: 900px; min-width: 750px;">
  <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="listOfData" [nzSize]="tableSize" [nzWidthConfig]="widthConfig"[nzScroll]="{ x: '3000px', y: '2500px' }">
      <thead>
        <tr>
          <th style="text-align: center;" nzWidth="80px">
          <input type="checkbox" [(ngModel)]="isAllSelected" (click)="selectAll()">
          全選
          </th>
          <th style="text-align: center;" nzWidth="150px">訂單號碼</th>
          <th style="text-align: center;">收貨人</th>
          <th style="text-align: center;">產品分類</th>
          <th style="text-align: center;">訂單重</th>
          <th style="text-align: center;">待軋量</th>
          <th style="text-align: center;">配料量</th>
          <th style="text-align: center;">厚度</th>
          <th style="text-align: center;">厚度上限</th>
          <th style="text-align: center;">厚度下限</th>
          <th style="text-align: center;">寬度</th>
          <th style="text-align: center;">鋼種</th>
          <th style="text-align: center;">熱軋厚度</th>
          <th style="text-align: center;">單重上限</th>
          <th style="text-align: center;">單重下限</th>
          <th style="text-align: center;" nzWidth="220px">料號</th>
          <th style="text-align: center;">製程</th>
          <th style="text-align: center;">生計交期</th>
          <th style="text-align: center;">CYCLE_NO</th>
          <th style="text-align: center;">JIS MARK</th>
          <th style="text-align: center;">產證</th>
          <th style="text-align: center;">BIS認證</th>
          <th style="text-align: center;">訂單特殊需求</th>
        </tr>
      </thead>
      <!-- 設定匯入資料 -->
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data; let i = index">
          <td style="height: 100%; text-align: center;">
            <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
              <input type="checkbox" [(ngModel)]="data.selected" (input)="onCheckboxChange(data.SALE_ORDER)">
            </div>
          </td>
          <td style="text-align: center;">{{ data.SALE_ORDER }}</td>             
          <td style="text-align: center;">{{ data.CUSTOMER }}</td>               
          <td style="text-align: center;">{{ data.PRODUCT }}</td>                
          <td style="text-align: center;">{{ data.SALE_ORDER_WEIGHT }}</td>                             
          <td style="text-align: center;">{{ data.UNROLL_WEIGHT }}</td>                  
          <td style="text-align: center;">
            <a id="revise" (click)="openGredientsPicker(data.SALE_ORDER)">
              <span nzTheme="outline"></span>
              {{ data.GREDIENTS_WEIGHT }}
            </a>
          </td>                            
          <td style="text-align: center;">{{ data.SALE_ORDER_THICK }}</td>                             
          <td style="text-align: center;">{{ data.THICK_MAX }}</td>   
          <td style="text-align: center;">{{ data.THICK_MIN }}</td>   
          <td style="text-align: center;">{{ data.SALE_ORDER_WIDTH }}</td>                  
          <td style="text-align: center;">{{ data.GRADE_NO }}</td>                
          <td style="text-align: center;">{{ data.HOT_ROLLED_THICK }}</td>                             
          <td style="text-align: center;">{{ data.MAX_WEIGHT_OF_EACH_PROD }}</td>                             
          <td style="text-align: center;">{{ data.MIN_WEIGHT_OF_EACH_PROD }}</td>                             
          <td style="text-align: center;">{{ data.MTRL_NO }}</td>                             
          <td style="text-align: center;">{{ data.PP_SHOW_LINEUP_DESC }}</td>                             
          <td style="text-align: center;">{{ data.DATE_DELIVERY_PP }}</td>             
          <td style="text-align: center;">{{ data.CYCLE_NO }}</td>               
          <td style="text-align: center;">{{ data.JIS_MARK }}</td>                    
          <td style="text-align: center;">{{ data.FLAG_CERTIICATE_ORIGIN }}</td>            
          <td style="text-align: center;">{{ data.FLAG_BIS }}</td>                             
          <td style="text-align: center;">{{ data.CUST_SPECIAL }}</td>                             
        </tr>
      </tbody>
  </nz-table>
</div>

  </nz-spin>
</nz-content>

<!-- 配料量頁面 -->
<nz-modal
  [nzStyle]="{ top: '20px' }"
  [(nzVisible)]="isGredientsVisible"
  [nzTitle]="gredientsTitle"
  [nzContent]="gredientsContent"
  [nzFooter]="gredientsFooter"
  [nzWidth]="1200"
>

  <ng-container>
    <ng-template #gredientsTitle><label style = "font-weight: bold; font-size: 18px;"></label></ng-template>
    <ng-template #gredientsContent>
      <button
        nz-button
        style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
        nzType="primary"
        class="opButton"
        (click)="requestTEST()">
        釋放配料
      </button>
      &nbsp;
      <button
        nz-button
        style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
        nzType="primary"
        class="opButton"
        (click)="exportToExcel2()">
        轉EXCEL
      </button>
      &nbsp;
      <button
        nz-button
        style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
        nzType="primary"
        class="opButton"
        (click)="openGredientsPickerCancel()">
        退出
      </button>
      <p></p>

    <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="listOfData1" [nzWidthConfig]="widthConfig1" [nzScroll]="{ x: '500px', y: '500px' }">
      <thead>
        <tr>
          <th  style="text-align:center;"> 
            <input type="checkbox"> 全選
          </th>
          <th style="text-align: center;">ID_NO</th>
          <th style="text-align: center;">配料訂單</th>
          <th style="text-align: center;">生產製程</th>
          <th style="text-align: center;">RED%</th>
          <th style="text-align: center;">實際厚度</th>
          <th style="text-align: center;">實際寬度</th>
          <th style="text-align: center;">實際長度</th>
          <th style="text-align: center;">重量</th>
          <th style="text-align: center;">黑/白皮</th>
          <!-- <th style="text-align: center;">Action</th> -->
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data; let i = index">
          <!-- <td nz-checkbox style="text-align: center;"></td> -->
          <td style="height: 100%; text-align: center;">
            <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
              <label nz-checkbox></label>
            </div>
          </td>
          <td nzLeft="103px" style="text-align:center; padding: 5px; height: 50px;">{{ data.ID_NO }}</td>
          <td nzLeft="177px" style="text-align:center; padding: 5px; height: 50px;">{{ data.SALE_ORDER }}</td>
          <td style="text-align:center; padding: 5px; height: 50px;"></td>
          <td style="text-align:center; padding: 5px; height: 50px;"></td>
          <td style="text-align:center; padding: 5px; height: 50px;">{{ data.THICK }}</td>
          <td style="text-align:center; padding: 5px; height: 50px;">{{ data.WIDTH }}</td>
          <td style="text-align:center; padding: 5px; height: 50px;">{{ data.LENGTH }}</td>
          <td style="text-align:center; padding: 5px; height: 50px;">{{ data.WEIGHT }}</td>
          <td style="text-align:center; padding: 5px; height: 50px;"></td>
          <!-- <td style="text-align: center;  padding: 5px; height: 10px;">
            <a id="revise" (click)="requestTEST()">
              <span nz-icon nzType="edit" nzTheme="outline"></span>
              修改
            </a>|
            <a id="delete" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="requestTEST()">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
              刪除
            </a>
          </td> -->
        </tr>
      </tbody>

    </nz-table>
    </ng-template>
    <ng-template #gredientsFooter>
      <!-- <button nz-button nzType="default" (click)="openPickerCancel()">關閉</button>
      <button nz-button nzType="primary">確認</button> -->
    </ng-template>
  </ng-container>
</nz-modal>

<!-- 暫存頁面 -->
<nz-modal
  [nzStyle]="{ top: '20px' }"
  [(nzVisible)]="isTempVisible"
  [nzTitle]="TempTitle"
  [nzContent]="TempContent"
  [nzFooter]="TempFooter"
  [nzWidth]="1200"
>

  <ng-container>
    <ng-template #TempTitle><label style = "font-weight: bold; font-size: 18px;"></label></ng-template>
    <ng-template #TempContent>
      <button
        nz-button
        style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
        nzType="primary"
        class="opButton"
        (click)="requestTEST()">
        釋放配料
      </button>
      &nbsp;
      <button
        nz-button
        style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
        nzType="primary"
        class="opButton"
        (click)="requestTEST()">
        轉EXCEL
      </button>
      &nbsp;
      <button
        nz-button
        style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
        nzType="primary"
        class="opButton"
        (click)="openTempPickerCancel()">
        退出
      </button>
      <p></p>

    <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="listOfDataTemp" [nzWidthConfig]="widthConfig1" [nzScroll]="{ x: '3000px', y: '2500px' }">
      <thead>
        <tr>
          <th style="text-align: center;" nzWidth="80px">
          <input type="checkbox" [(ngModel)]="isAllSelected" (click)="selectAll()">
          全選
          </th>
          <th style="text-align: center;" nzWidth="150px">訂單號碼</th>
          <th style="text-align: center;">收貨人</th>
          <th style="text-align: center;">產品分類</th>
          <th style="text-align: center;">訂單重</th>
          <th style="text-align: center;">待軋量</th>
          <th style="text-align: center;">配料量</th>
          <th style="text-align: center;">厚度</th>
          <th style="text-align: center;">厚度上限</th>
          <th style="text-align: center;">厚度下限</th>
          <th style="text-align: center;">寬度</th>
          <th style="text-align: center;">鋼種</th>
          <th style="text-align: center;">熱軋厚度</th>
          <th style="text-align: center;">單重上限</th>
          <th style="text-align: center;">單重下限</th>
          <th style="text-align: center;" nzWidth="220px">料號</th>
          <th style="text-align: center;">製程</th>
          <th style="text-align: center;">生計交期</th>
          <th style="text-align: center;">CYCLE_NO</th>
          <th style="text-align: center;">JIS MARK</th>
          <th style="text-align: center;">產證</th>
          <th style="text-align: center;">BIS認證</th>
          <th style="text-align: center;">訂單特殊需求</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data; let i = index">
          <td style="height: 100%; text-align: center;">
            <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
              <input type="checkbox" [(ngModel)]="data.selected" (input)="onCheckboxChange(data.SALE_ORDER)">
            </div>
          </td>
          <td style="text-align: center;">{{ data.SALE_ORDER }}</td>             
          <td style="text-align: center;">{{ data.CUSTOMER }}</td>               
          <td style="text-align: center;">{{ data.PRODUCT }}</td>                
          <td style="text-align: center;">{{ data.SALE_ORDER_WEIGHT }}</td>                             
          <td style="text-align: center;">{{ data.UNROLL_WEIGHT }}</td>                  
          <td style="text-align: center;">
            <a id="revise" (click)="openGredientsPicker(data.SALE_ORDER)">
              <span nzTheme="outline"></span>
              {{ data.GREDIENTS_WEIGHT }}
            </a>
          </td>                            
          <td style="text-align: center;">{{ data.SALE_ORDER_THICK }}</td>                             
          <td style="text-align: center;">{{ data.THICK_MAX }}</td>   
          <td style="text-align: center;">{{ data.THICK_MIN }}</td>   
          <td style="text-align: center;">{{ data.SALE_ORDER_WIDTH }}</td>                  
          <td style="text-align: center;">{{ data.GRADE_NO }}</td>                
          <td style="text-align: center;">{{ data.HOT_ROLLED_THICK }}</td>                             
          <td style="text-align: center;">{{ data.MAX_WEIGHT_OF_EACH_PROD }}</td>                             
          <td style="text-align: center;">{{ data.MIN_WEIGHT_OF_EACH_PROD }}</td>                             
          <td style="text-align: center;">{{ data.MTRL_NO }}</td>                             
          <td style="text-align: center;">{{ data.PP_SHOW_LINEUP_DESC }}</td>                             
          <td style="text-align: center;">{{ data.DATE_DELIVERY_PP }}</td>             
          <td style="text-align: center;">{{ data.CYCLE_NO }}</td>               
          <td style="text-align: center;">{{ data.JIS_MARK }}</td>                    
          <td style="text-align: center;">{{ data.FLAG_CERTIICATE_ORIGIN }}</td>            
          <td style="text-align: center;">{{ data.FLAG_BIS }}</td>                             
          <td style="text-align: center;">{{ data.CUST_SPECIAL }}</td>         
        </tr>
      </tbody>

    </nz-table>
    </ng-template>
    <ng-template #TempFooter>
      <!-- <button nz-button nzType="default" (click)="openPickerCancel()">關閉</button>
      <button nz-button nzType="primary">確認</button> -->
    </ng-template>
  </ng-container>
</nz-modal>
