<nz-content style="margin: 0 16px">
  <nz-spin nzTip="執行中..." [nzSize]="'large'" [nzSpinning]="LoadingPage">
    <app-list-pps-nonbar [childrenTabName]="thisTabName"></app-list-pps-nonbar>
  
    <nz-tabset nzLinkRouter [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['../I108']" style="color: gray">
        直棒
      </a>
    </nz-tab>

    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" style="color: dodgerblue">
        非直棒
      </a>
      <div style="background: rgb(255, 255, 255); min-height: 1200px">
        <table>
          <tr>
            <td>
              <button
                nz-button
                style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24)"
                nzType="primary"
                (click)="openNonSpeedInput()"
              >
                <span nz-icon nzType="plus" nzTheme="outline"></span>
                新增
              </button>
            </td>
            <td style="text-align: right; width: 35%">
              <input
                type="file"
                id="fileupload"
                style="display: inline-block"
                (change)="incomingfile($event)"
                placeholder="Upload file"
                accept=".xlsx, .xls, .csv"
              />
              <button
                nz-button
                style="
                  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                  background-color: #4caf50;
                  border: 2px blue none;
                "
                nzType="primary"
                (click)="Upload()"
              >
                <span nz-icon nzType="upload" nzTheme="outline"></span>
                E X C E L 匯入
              </button>
              &nbsp;&nbsp;
              <button
                nz-button
                style="
                  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                  background-color: #4caf50;
                  border: 2px blue none;
                "
                nzType="primary"
                (click)="convertToExcel()"
              >
                <span nz-icon nzType="download" nzTheme="outline"></span>
                E X C E L 匯出
              </button>
            </td>
          </tr>
        </table>
        <p></p>
        <p></p>

        <div nz-col [nzSpan]="25">

          <ag-grid-angular
            style="width:100%; height:calc(100vh - 280px); overflow: scroll; margin-top: 10px"
            class="ag-theme-alpine"
            [rowData]="displayppsinptb08List"
            [columnDefs]="ppsinp08ColumnDefs"
            [gridOptions]="gridOptions"
            [pagination]="true"
            [suppressClickEdit]="true"
            [editType]="'fullRow'"
            (cellEditingStopped)="cellEditingStoppedHandler($event)"
            (firstDataRendered)="onFirstDataRendered($event)"
            (gridReady)="onGridReady($event)"
            [paginationPageSize]="20">
          </ag-grid-angular>
        </div>
      </div>
    </nz-tab>
    </nz-tabset>
  </nz-spin>
</nz-content>

<!-- 非線速新增 -->
<nz-modal
  [(nzVisible)]="isVisibleNonSpeed"
  [nzWidth]="850"
  [nzTitle]="nonSpeedTitle"
  [nzContent]="nonSpeedInputContent"
  [nzFooter]="nonSpeedInputFooter"
  (nzOnCancel)="cancelNonSpeedInput()"
>
  <ng-template #nonSpeedTitle>新增線速工時</ng-template>
  <ng-template #nonSpeedInputContent>
    <div>
      <table style="border-collapse: separate">
        <tr>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;站別
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入站別"
              [(ngModel)]="schShopCode"
            />
          </td>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;機台
          </td>
          <td style="width: 600px; background-color: #eee" colspan="3">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入機台"
              [(ngModel)]="equipCode"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;機群
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入機群"
              [(ngModel)]="equipGroup"
            />
          </td>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;製程代號
          </td>
          <td style="width: 600px; background-color: #eee" colspan="3">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入製程代號"
              [(ngModel)]="equipProcessCode"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;鋼種
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入鋼種"
              [(ngModel)]="steelType"
            />
          </td>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;包裝碼
          </td>
          <td style="width: 600px; background-color: #eee" colspan="3">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入包裝碼"
              [(ngModel)]="packCode"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;尺寸MIN
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入尺寸MIN"
              [(ngModel)]="diaMin"
            />
          </td>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;尺寸MAX
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入尺寸MAX"
              [(ngModel)]="diaMax"
            />
          </td>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;加工時間
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入加工時間"
              [(ngModel)]="wkTime"
            />
          </td>
        </tr>
      </table>
    </div>
  </ng-template>
  <ng-template #nonSpeedInputFooter>
    <button nz-button nzType="default" (click)="cancelNonSpeedInput()">
      取消新增
    </button>
    <button nz-button nzType="primary" (click)="insertTab()">確定</button>
  </ng-template>
</nz-modal>

<nz-dropdown-menu #schShopCodeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchSchShopCodeValue" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchSchShopCode()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetBySchShopCode()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #equipCodeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchEquipCodeValue" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchEquipCode()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByEquipCode()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #equipGroupMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchEquipGroupValue" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchEquipGroup()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByEquipGroup()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #equipProcessCodeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchEquipProcessCodeValue" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchEquipProcessCode()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByEquipProcessCode()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #steelTypeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchSteelTypeValue" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchSteelType()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetBySteelType()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #packCodeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchPackCodeValue" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchPackCode()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByPackCode()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #diaMinMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchDiaMinValue" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchDiaMin()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByDiaMin()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #diaMaxMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchDiaMaxValue" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchDiaMax()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByDiaMax()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #wkTimeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchWkTimeValue" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByWkTime()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByWkTime()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>
