<nz-content style="margin:0 16px;">

    <nz-tabset style="margin-bottom:5px;" nzLinkRouter [nzType]="'card'" >
        <nz-tab>
            <a *nzTabLink 
                nz-tab-link 
                routerLinkActive="active"
                [routerLink]="['/FCPshiftRepo/R321/detail01']">
              預計入庫資訊
            </a>
          </nz-tab>

          <nz-tab>
            <a *nzTabLink 
                nz-tab-link 
                routerLinkActive="active"
                [routerLink]="['/FCPshiftRepo/R321/detail02']">
              特殊鋼種量
            </a>
          </nz-tab>
          <nz-tab>
            <a *nzTabLink 
                nz-tab-link 
                routerLinkActive="active"
                [routerLink]="['/FCPshiftRepo/R321/detail0301']">
              頭份預計回廠日
            </a>
          </nz-tab>
    </nz-tabset>
    <router-outlet></router-outlet>
</nz-content>