<nz-content style="margin:0 16px;">

    <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
        <nz-breadcrumb-item>報表檢視</nz-breadcrumb-item>
        <nz-breadcrumb-item>月推移報表</nz-breadcrumb-item>
        <nz-breadcrumb-item>報表檢視</nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-collapse>
        <nz-collapse-panel nzHeader="查詢條件">

            <div nz-row>
                <div nz-col nzSpan="24">
                    <label style="margin-left:20px;">FCP版次</label>
                    <nz-select
                        style="width: 180px; margin-left:10px;"
                        [(ngModel)]="searchObj.verList.fcpVer"
                        nzPlaceHolder="對應FCP版本"
                        >
                        <nz-option *ngFor="let abbr of selectedFcpVer" [nzLabel]="abbr.label" [nzValue]="abbr.value"></nz-option>
                    </nz-select>
                    <label style="margin-left:20px;">推移維護版次</label>
                    <nz-select
                        style="width: 180px; margin-left:10px;"
                        [(ngModel)]="searchObj.verList.shiftVer"
                        nzPlaceHolder="推移維護版本"
                        >
                        <nz-option *ngFor="let abbr of selectedShiftVer" [nzLabel]="abbr.label" [nzValue]="abbr.value"></nz-option>
                    </nz-select>
                    <button style="margin-left:20px ; " (click)="notifyClick()" nz-button nzType="primary">
                        <span nz-icon nzType="search" nzTheme="outline"></span>查詢
                    </button>
                </div>
            </div>
        </nz-collapse-panel>
    </nz-collapse>
    <br>

    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [(nzSelectedIndex)]="breadcrumbIndex">
        <nz-tab>
            <div *ngIf="breadcrumbIndex == 0">
                <a  *nzTabLink nz-tab-link href="#/FCPshiftRepo/R322/R322_1" (click)="breadcrumbClick(0)" style="color: dodgerblue">
                    預計入庫資訊
                </a>
            </div>
            <div *ngIf="breadcrumbIndex != 0">
                <a *nzTabLink nz-tab-link href="#/FCPshiftRepo/R322/R322_1" (click)="breadcrumbClick(0)" style="color: gray">
                    預計入庫資訊
                </a>
            </div>
        </nz-tab>

        <nz-tab>
            <div *ngIf="breadcrumbIndex == 1">
                <a  *nzTabLink nz-tab-link href="#/FCPshiftRepo/R322/R322_2" (click)="breadcrumbClick(1)" style="color: dodgerblue">
                    特殊鋼種量
                </a>
            </div>
            <div *ngIf="breadcrumbIndex != 1">
                <a *nzTabLink nz-tab-link href="#/FCPshiftRepo/R322/R322_2" (click)="breadcrumbClick(1)" style="color: gray">
                    特殊鋼種量
                </a>
            </div>
        </nz-tab>

        <nz-tab>
            <div *ngIf="breadcrumbIndex == 2">
                <a  *nzTabLink nz-tab-link href="#/FCPshiftRepo/R322/R322_3" (click)="breadcrumbClick(2)" style="color: dodgerblue">
                    頭份預計回廠日
                </a>
            </div>
            <div *ngIf="breadcrumbIndex != 2">
                <a *nzTabLink nz-tab-link href="#/FCPshiftRepo/R322/R322_3" (click)="breadcrumbClick(2)" style="color: gray">
                    頭份預計回廠日
                </a>
            </div>
        </nz-tab>

        <nz-tab>
            <div *ngIf="breadcrumbIndex == 3">
                <a  *nzTabLink nz-tab-link href="#/FCPshiftRepo/R322/R322_4" (click)="breadcrumbClick(3)" style="color: dodgerblue">
                    退貨生產資訊
                </a>
            </div>
            <div *ngIf="breadcrumbIndex != 3">
                <a *nzTabLink nz-tab-link href="#/FCPshiftRepo/R322/R322_4" (click)="breadcrumbClick(3)" style="color: gray">
                    退貨生產資訊
                </a>
            </div>
        </nz-tab>

        <nz-tab>
            <div *ngIf="breadcrumbIndex == 4">
                <a  *nzTabLink nz-tab-link href="#/FCPshiftRepo/R322/R322_5" (click)="breadcrumbClick(4)" style="color: dodgerblue">
                    排程生產原則說明
                </a>
            </div>
            <div *ngIf="breadcrumbIndex != 4">
                <a *nzTabLink nz-tab-link href="#/FCPshiftRepo/R322/R322_5" (click)="breadcrumbClick(4)" style="color: gray">
                    排程生產原則說明
                </a>
            </div>
        </nz-tab>

        <nz-tab>
            <div *ngIf="breadcrumbIndex == 5">
                <a  *nzTabLink nz-tab-link href="#/FCPshiftRepo/R322/R322_6" (click)="breadcrumbClick(5)" style="color: dodgerblue">
                    各產線目標量
                </a>
            </div>
            <div *ngIf="breadcrumbIndex != 5">
                <a *nzTabLink nz-tab-link href="#/FCPshiftRepo/R322/R322_6" (click)="breadcrumbClick(5)" style="color: gray">
                    各產線目標量
                </a>
            </div>
        </nz-tab>

        <nz-tab>
            <div *ngIf="breadcrumbIndex == 6">
                <a  *nzTabLink nz-tab-link href="#/FCPshiftRepo/R322/R322_7" (click)="breadcrumbClick(6)" style="color: dodgerblue">
                    目標量總量
                </a>
            </div>
            <div *ngIf="breadcrumbIndex != 6">
                <a *nzTabLink nz-tab-link href="#/FCPshiftRepo/R322/R322_7" (click)="breadcrumbClick(6)" style="color: gray">
                    目標量總量
                </a>
            </div>
        </nz-tab>

        <nz-tab>
            <div *ngIf="breadcrumbIndex == 7">
                <a  *nzTabLink nz-tab-link href="#/FCPshiftRepo/R322/R322_8" (click)="breadcrumbClick(7)" style="color: dodgerblue">
                    日推移報表
                </a>
            </div>
            <div *ngIf="breadcrumbIndex != 7">
                <a *nzTabLink nz-tab-link href="#/FCPshiftRepo/R322/R322_8" (click)="breadcrumbClick(7)" style="color: gray">
                    日推移報表
                </a>
            </div>
        </nz-tab>

    </nz-tabset>
    <router-outlet></router-outlet>
</nz-content>