<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
    <nz-breadcrumb-item>靜態基本資料</nz-breadcrumb-item>
    <nz-breadcrumb-item>通用表</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <tr id="tab-1" style="height:30px; width:1000px; overflow-x:auto">
          <ul>
              <li class="active"><a href="#/commonData/I101"><label style="color:blue">鋼種分類</label></a></li>
              <li><a href="#/commonData/I102">站別機台關聯表</a></li>
              <li><a href="#/commonData/I103">設備能力</a></li>
              <li><a href="#/commonData/I104">整備時間</a></li>
              <li><a href="#/commonData/I105">大調機</a></li>
              <li><a href="#/commonData/I106">小調機</a></li>
              <li><a href="#/commonData/I107">線速工時</a></li>
              <li><a href="#/commonData/I108">非線速工時</a></li>
              <li><a href="#/commonData/I109">產率設定</a></li>
              <li><a href="#/commonData/I110">產能維護</a></li>
              <li><a href="#/commonData/I111">combine資料設定</a></li>
              <li><a href="#/commonData/I200">系統設定</a></li>
          </ul>
      </tr>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  

  <div style="background: rgb(255, 255, 255); min-height: 1200px;">
    <table>
      <tr>
        <td>
          <button
          nz-button
          style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
          nzType="primary"
          [nzSize]="'large'"
          (click)="openGradeInput()"
          ><span nz-icon nzType="plus" nzTheme="outline"></span>
            新增
          </button>
        </td>
      </tr>
    </table>
  <p></p><p></p>
    <div nz-col [nzSpan]="10">
      <nz-table #RowTable1 nzBordered [nzData]="displayPPSINP01List" [nzPageSize]="20" [nzScroll]="{ y: '500px' }">
        <thead>
          <tr>
            <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:100px"
            >鋼種
            <nz-filter-trigger 
            [nzActive]="searchByGradeNoValue.length > 0" 
            [nzDropdownMenu]="gradeNoMenu">
            <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
            </th>
            <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:150px"
            >特殊機台使用
            <nz-filter-trigger 
            [nzActive]="searchBySpecialEquipCodeValue.length > 0" 
            [nzDropdownMenu]="specialEquipCodeMenu">
            <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
            </th>
            <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
            >鋼種類別
            <nz-filter-trigger 
            [nzActive]="searchByGradeGroupValue.length > 0" 
            [nzDropdownMenu]="gradeGroupMenu">
            <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
            </th>
            <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:80px">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of RowTable1.data;let i = index" class="editable-row">
            <ng-container *ngIf="!editCache1[data.id].edit; else editTemplate1">
              <td style="text-align:center; padding: 5px; height: 60px; width: 100px;">{{ data.GRADE_NO }}</td>
              <td style="text-align:center; padding: 5px; height: 60px; width: 150px;">{{ data.SPECIAL_EQUIP_CODE }}</td>
              <td style="text-align:center; padding: 5px; height: 60px; width: 120px;">{{ data.GRADE_GROUP }}</td>
              <td style="text-align:center; padding: 0px; height: 60px; width: 120px;">
                <a (click)="editRow(data.id, 1)">修改</a>&nbsp;&nbsp;&nbsp;
                <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id, 1)">刪除</a>
              </td>
            </ng-container>
            <ng-template #editTemplate1>
              <td>
                <input nz-width="20%" nz-input placeholder="輸入鋼種" [(ngModel)]="editCache1[data.id].data.GRADE_NO" />
              </td>
              <td>
                <input nz-width="20%" nz-input placeholder="輸入特殊機台使用" [(ngModel)]="editCache1[data.id].data.SPECIAL_EQUIP_CODE" />
              </td>
              <td>
                <input nz-width="20%" nz-input placeholder="鋼種類別" [(ngModel)]="editCache1[data.id].data.GRADE_GROUP" />
              </td>
              <td>
                <a (click)="saveEdit(data.id, 1)">確認</a>&nbsp;&nbsp;&nbsp;
                <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id, 1)">取消</a>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  
</nz-content>

<!-- 鋼種新增 -->
<nz-modal
  [(nzVisible)]="isVisibleGrade"
  [nzWidth]="800"
  [nzContent]="gradeInputContent"
  [nzFooter]="gradeInputFooter"
  (nzOnCancel)="cancelGradeInput()">

  <ng-template #gradeInputContent>
    <div>
      <table style="border-collapse: separate;">

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;設定鋼種</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="輸入鋼種" [(ngModel)]="GRADE_NO" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;特殊機台使用</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="特殊機台使用" [(ngModel)]="SPECIAL_EQUIP_CODE" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;鋼種類別</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="鋼種類別" [(ngModel)]="GRADE_GROUP" />
          </td>
        </tr>

      </table>
    </div>
    
  </ng-template>

  <ng-template #gradeInputFooter>
    <button nz-button nzType="default" (click)="cancelGradeInput()">取消新增</button>
    <button nz-button nzType="primary" (click)="insertTab1()">確定</button>
  </ng-template>

</nz-modal>

<nz-dropdown-menu #gradeNoMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchByGradeNoValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByGradeNo()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByGradeNo()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #specialEquipCodeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchBySpecialEquipCodeValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchBySpecialEquipCode()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetBySpecialEquipCode()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #gradeGroupMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchByGradeGroupValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByGradeGroup()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByGradeGroup()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>
