<nz-content style="margin: 0 16px">
  <app-list-pps-bar [childrenTabName]="thisTabName"></app-list-pps-bar>

  <div>
    <button
      nz-button
      style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); cursor: pointer"
      nzType="primary"
      (click)="openGradeInput()"
    >
      <span nz-icon nzType="plus" nzTheme="outline"></span>
      新增
    </button>
    &nbsp;&nbsp;
    <input
      type="file"
      id="fileupload"
      style="display: inline-block; margin-left: 550px"
      (change)="incomingfile($event)"
      placeholder="Upload file"
      accept=".xlsx, .xls, .csv"
    />
    <button
      nz-button
      style="
        box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
        background-color: #4caf50;
        border: 2px blue none;
        cursor: pointer;
      "
      nzType="primary"
      (click)="Upload()"
    >
      <span nz-icon nzType="upload" nzTheme="outline"></span>
      E X C E L 匯入
    </button>
    &nbsp;&nbsp;
    <button
      nz-button
      style="
        box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
        background-color: #4caf50;
        border: 2px blue none;
        cursor: pointer;
      "
      nzType="primary"
      (click)="convertToExcel()"
    >
      <span nz-icon nzType="download" nzTheme="outline"></span>
      E X C E L 匯出
    </button>
  </div>
  <br>
  <ag-grid-angular  style="width: 100%; height: calc(100vh - 220px); overflow: scroll;" class="ag-theme-alpine" 
  [rowData]="PPSINP01List"
  [columnDefs]="columnDefs"
  [pagination]="true"
  class="ag-theme-alpine"
  [frameworkComponents]="frameworkComponents"
  [gridOptions]="gridOptions"
  editType="fullRow"
  [suppressClickEdit]="true"
  >
  </ag-grid-angular>

</nz-content>

<!-- 鋼種新增 -->
<nz-modal
  [(nzVisible)]="isVisibleGrade"
  [nzWidth]="800"
  [nzContent]="gradeInputContent"
  [nzFooter]="gradeInputFooter"
  (nzOnCancel)="cancelGradeInput()"
>
  <ng-template #gradeInputContent>
    <div>
      <table style="border-collapse: separate">
        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;設定鋼種
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="輸入鋼種"
              [(ngModel)]="GRADE_NO"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;特殊機台使用
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="特殊機台使用"
              [(ngModel)]="SPECIAL_EQUIP_CODE"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;鋼種類別
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="鋼種類別"
              [(ngModel)]="GRADE_GROUP"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;鋼胚重(KG)
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="鋼胚重(KG)"
              [(ngModel)]="ROLL_WEIGHT"
            />
          </td>
        </tr>
      </table>
    </div>
  </ng-template>

  <ng-template #gradeInputFooter>
    <button nz-button nzType="default" (click)="cancelGradeInput()">
      取消新增
    </button>
    <button nz-button nzType="primary" (click)="insertTab1()">確定</button>
  </ng-template>
</nz-modal>