<div class="background">
  <nz-content style="margin: 0 16px">
    <div style="padding: 10px 0px 10px 8px">
      <nz-breadcrumb class="breadcrumbContainer" nzSeparator=">">
        <nz-breadcrumb-item>生產訂單</nz-breadcrumb-item>
        <nz-breadcrumb-item>假分配(POMP001)</nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>

    <nz-spin nzTip="Loading..." [nzSize]="'large'" [nzSpinning]="isSpinning">
      <div class="search-area">
        <span class="search">軋延尺寸</span>
        <nz-select
          class="merge-no-select"
          nzAllowClear
          nzPlaceHolder="請選擇尺寸"
          nzShowSearch
          style="width: 160px"
          [(ngModel)]="selectedShaveDia"
          (ngModelChange)="onShaveDiaSelectChange($event)"
        >
          <nz-option
            *ngFor="let dia of shaveDiaList"
            [nzLabel]="dia"
            [nzValue]="dia"
          ></nz-option>
        </nz-select>

        <span class="search">軋延日期</span>
        <nz-range-picker
          [nzFormat]="dateFormat"
          [(ngModel)]="dateRange"
          (nzOnCalendarChange)="nzOnCalendarChange($event)"
        ></nz-range-picker>
      </div>
      <div class="divTwo">
        <!-- 重置 -->
        <button
          class="buttonOne"
          nz-button
          nzType="primary"
          (click)="onSearch()"
        >
          查詢
        </button>

        <!-- 重置 -->
        <button class="buttonOne" nz-button (click)="onResetSearch()">
          重置
        </button>

        <!-- 保存 -->
        <button
          class="buttonOne"
          nz-button
          nzType="primary"
          (click)="updateMergeRollOrder()"
          disabled="{{ orderChangedArr.length === 0 }}"
        >
          保存
        </button>

        <!-- 結案 -->
        <!-- <button
          class="buttonOne"
          nz-button
          nzType="primary"
          (click)="closeMergeRollOrder()"
          disabled="{{ !isCanCloseMergeRollOrder() }}"
        >
          0R 結案
        </button> -->

        <!-- <button class="buttonOne" nz-button nzType="primary" (click)="getGridRowData()">
          <span nz-icon nzTheme="outline" nzType="search"></span>
          getGridRowData
        </button> -->
      </div>
      <ag-grid-angular
        style="min-width: 100%; height: calc(100vh - 220px)"
        class="ag-theme-alpine"
        [getRowStyle]="getRowStyle"
        [rowData]="datalist"
        [columnDefs]="columnDefs"
        (gridReady)="onGridReady($event)"
        (rowDragEnd)="onRowDragEnd($event)"
        [rowDragManaged]="true"
        [animateRows]="true"
        [suppressMoveWhenRowDragging]="true"
        [columnTypes]="columnTypes"
        (cellValueChanged)="onCellValueChanged($event)"
        (firstDataRendered)="onFirstDataRendered($event)"
        (modelUpdated)="sizeColumnsToFit()"
        [enableCellTextSelection]="true"
      >
      </ag-grid-angular>
    </nz-spin>
  </nz-content>
</div>
