:host .btn {
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); 
    padding:0px 10px 0px 10px;
    cursor: pointer;
}

.headButton {
    width: 300px;
    text-align: left;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.produceMonth{
    margin-bottom: 20px;
    width: 300px;
    text-align: left;
}