
 <div nz-row style="margin:15px 15px;">
  <div nz-col nzSpan="6">
    客戶 :<input nz-input style="width:200px;" placeholder="Basic usage" (change)="change()"  [(ngModel)]="customer" />
  </div>
  <div nz-col nzSpan="6">
   預進單編號 <input nz-input  style="width:200px;"  (change)="change()"  placeholder="Basic usage" [(ngModel)]="orderNo" />

  </div>
  <div nz-col nzSpan="6" >
    <button nz-button [disabled]="orderMaster.orderSatus === 'W'" nzType="primary" (click)="comitData()">確定</button>
  </div>
  <div nz-col nzSpan="6">

  </div>
</div>

<nz-table #basicTable [nzData]="table.listOfData">
  <thead>
    <tr>
      <ng-container *ngFor="let item of table.header">
        <th [class]="item.bgcolor">{{item.lable}}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <label [nzDisabled]="true" nz-checkbox [(ngModel)]="checked"></label> 
       </td>
     <td>
      {{data.orderItemId}}
     </td>
     <td>
      {{data.batch}}
     </td>
     <td>
      {{data.width}}
     </td>
     <td>
      {{data.thicknessUpper}}
     </td>
     <td>
      {{data.thicknessLower}}
     </td>
     <td>
      {{data.bianXiu}}
     </td>
     <td>
      {{data.demand}}
     </td>
     <td>
      {{data.weight}}
     </td>
     <td>
      {{data.deliveryDate}}
     </td>
     <td>
      {{data.preDeliveryDate}}
     </td>
     <td>
      {{data.isBatch}}
     </td>
     <td>
      {{data.isReserve}}
     </td>
     <td>
      {{data.newOrderItemId}}
     </td>

    </tr>
  </tbody>
</nz-table>