<nz-content style="margin: 20px 20px">
    <nz-breadcrumb class="breadcrumbContainer" nzSeparator=">">
        <nz-breadcrumb-item>系統管理</nz-breadcrumb-item>
        <nz-breadcrumb-item>菜單功能管理</nz-breadcrumb-item>
      </nz-breadcrumb>

    <nz-spin nzTip="Loading..." [nzSize]="'large'" [nzSpinning] = "isSpinning">
        <div style="display: flex; justify-content: strat; align-items: start; width:100%">
            <nz-card style="height: auto; min-width:350px; width: auto; margin-top: 20px;" nzTitle="菜單樹管理">
                <div style="display: inline-block; margin-bottom: 20px;">
                    <button style="margin-right: 10px;" nz-button nzType="primary" (click)="addFirstLevelMenu()">添加頂級菜單
                        <span nz-icon nzType="plus" nzTheme="outline"></span>
                    </button>
                    <ng-container *ngIf="!isExpandAll; else isCollapseAll" >
                        <button style="margin-right: 10px;" nz-button nzType="default" (click)="expandAll()"> 展開菜單
                            <span nz-icon nzType="fullscreen" nzTheme="outline"></span>
                        </button>
                    </ng-container>
                    <ng-template #isCollapseAll>
                        <button style="margin-right: 10px;" nz-button nzType="default" (click)="expandAll()"> 收合菜單
                            <span nz-icon nzType="fullscreen-exit" nzTheme="outline"></span>
                        </button>
                    </ng-template>
                    <button *ngIf="false" nz-button nzType="default" (click)="reloadSystemMenus()">
                        <span nz-icon nzType="reload" nzTheme="outline"></span>
                    </button>
                </div>
                <nz-tree-view [nzTreeControl]="treeControl" [nzDataSource]="dataSource" #menuTreeView>
                    <nz-tree-node *nzTreeNodeDef="let node" nzTreeNodeIndentLine>
                        <nz-tree-node-toggle nzTreeNodeNoopToggle></nz-tree-node-toggle>
                        <nz-tree-node-option
                            [nzSelected]="selectListSelection.isSelected(node)"
                            (nzClick)="nodeClickHandler(node)"
                        >
                        <span nz-icon [nzType]="node.icon" nzTheme="outline"></span>
                            {{ node.menuName }}
                        </nz-tree-node-option>
                        <button *ngIf="node.level <=3" nz-button nzType="text" nzSize="small" (click)="addNewNodeOpen(node)">
                            <span nz-icon nzType="plus" nzTheme="outline"></span>
                        </button>
                        <button nz-button nzType="text" nzSize="small" (click)="deleteNode(node)">
                            <span nz-icon nzType="minus" nzTheme="outline"></span>
                        </button>
                    </nz-tree-node>

                    <nz-tree-node *nzTreeNodeDef="let node; when: hasChild" nzTreeNodeIndentLine>
                        <nz-tree-node-toggle>
                            <span nz-icon nzType="caret-down" nzTreeNodeToggleRotateIcon></span>
                        </nz-tree-node-toggle>
                        <nz-tree-node-option
                            [nzSelected]="selectListSelection.isSelected(node)"
                            (nzClick)="nodeClickHandler(node)"
                        >
                        <span nz-icon [nzType]="node.icon" nzTheme="outline"></span>
                            {{ node.menuName }}
                        </nz-tree-node-option>
                        <button *ngIf="node.level <=3" nz-button nzType="text" nzSize="small" (click)="addNewNodeOpen(node)">
                            <span nz-icon nzType="plus" nzTheme="outline"></span>
                        </button>
                    </nz-tree-node>
                </nz-tree-view>
            </nz-card>
            <nz-card style="height: auto; width: 1000px; margin-top: 20px; margin-left: 20px" nzTitle="通用授權API管理">
                
                <div class="flexContainer">
                    <button style="margin-right: 50px;" nz-button nzType="primary" (click)="addCommomApiVisible()">新增通用授權API
                        <span nz-icon nzType="plus" nzTheme="outline"></span>
                    </button>
                    <input style="width: 200px; margin-right: 10px;" nz-input placeholder="關鍵字" [(ngModel)]="menusOrApisKeyword"/>
                    <nz-select  style="margin-right: 10px;" [(ngModel)]="menusOrApisType" nzPlaceHolder="類型">
                        <nz-option nzValue="A" nzLabel="通用授權API"></nz-option>
                        <nz-option nzValue="F" nzLabel="權限API"></nz-option>
                        <nz-option nzValue="C" nzLabel="菜單"></nz-option>
                        <nz-option nzValue="" nzLabel="All"></nz-option>
                    </nz-select>
                    <button nz-button nzType="default"(click)="searchMenusOrApis()">
                        <span nz-icon nzType="search"></span>
                        搜尋
                    </button>
                </div>

                <ag-grid-angular
                    style="width:100%; height:calc(100vh - 210px); overflow: scroll; margin-top: 10px"
                    class="ag-theme-alpine"
                    [context]="agGridContext"
                    [rowData]="menusAndApisList"
                    [columnDefs]="menusAndApisColumnDefs"
                    [gridOptions]="gridOptions"
                    [pagination]="true"
                    [suppressClickEdit]="true"
                    (gridReady)="onGridReady($event)"
                    [paginationPageSize]="20">
                </ag-grid-angular>  
            </nz-card>
        </div>
    </nz-spin>
</nz-content>


<!-- 菜單樹管理 -->
<nz-modal
  [(nzVisible)]="editIsVisible"
  [nzTitle]="editModalTitle"
  [nzContent]="editModalContent"
  [nzWidth]="600"
  (nzOnOk)="editSave()"
  [nzOkText]="'保存更改'"
  [nzOkLoading]="editSaveLoading"
  [nzCancelText]="'取消'"
  (nzOnCancel)="closeEditModal()"
>
  <ng-template #editModalContent>
    <div class="flexContainer">
        <label class="edit-label-required">節點類型</label>
        <ng-container *ngIf="editNodelevel !== null && editNodelevel !== undefined && editNodelevel <= 3; else finalLevel" >
            <nz-radio-group [(ngModel)]="editMenuType">
                <label nz-radio nzValue="C">菜單</label>
                <label nz-radio nzValue="F">權限API</label>
            </nz-radio-group>
        </ng-container>
        <ng-template #finalLevel>
            <nz-radio-group [(ngModel)]="editMenuType">
                <label nz-radio nzValue="F">權限API</label>
            </nz-radio-group>
        </ng-template>
    </div>

    <div style="margin-top: 20px" class="flexContainer">
        <label class="edit-label-not-required">節點圖示</label>
        <input style="width: 200px;" nz-input placeholder="請輸入節點圖示名稱" [(ngModel)]="editMenuIcon" type="text" nzSize="default"/>
    </div>

    <div style="margin-top: 20px" class="flexContainer">
        <label class="edit-label-required">節點名稱</label>
        <input style="width: 200px;" nz-input placeholder="請輸入節點名稱" [(ngModel)]="editNodeName" type="text" nzSize="default"/>
    </div>

    <div style="margin-top: 20px" class="flexContainer">
        <label class="edit-label-not-required">節點路徑</label>
        <input style="width: 200px;" nz-input placeholder="請輸入節點路徑" [(ngModel)]="editMenuPath" type="text" nzSize="default"/>
    </div>

    <div style="margin-top: 20px" class="flexContainer">
        <label class="edit-label-not-required">節點排序索引</label>
        <input style="width: 200px;" nz-input placeholder="請輸入節點序索引" [(ngModel)]="editMenuSortIndex" type="text" nzSize="default"/>
    </div>
  </ng-template>
</nz-modal>

<nz-drawer
    [nzBodyStyle]="{overflow: 'auto' }"
    [nzWidth]="420"
    [nzVisible]="addNewNodeVisible"
    nzTitle="新增節點"
    [nzFooter]="footerTpl"
    (nzOnClose)="addNewNodeClose()">
        <div *nzDrawerContent>
            <nz-spin nzTip="Loading..." [nzSize]="'large'" [nzSpinning] = "isDrawerSpinning">
                <div class="flexContainer">
                    <div>上級節點：</div>
                    <nz-tag [nzColor]="'#2db7f5'">{{ currentParentNode?.menuName }}</nz-tag>
                </div>
                <div style="margin-top: 20px;" class="flexContainer">
                    <div>類型：</div>
                    <ng-container *ngIf="currentParentNode !== null && currentParentNode !== undefined && currentParentNode.level < 3; else finalLevel" >
                        <nz-radio-group [(ngModel)]="newMenuType">
                            <label nz-radio nzValue="C">菜單</label>
                            <label nz-radio nzValue="F">權限API</label>
                        </nz-radio-group>
                    </ng-container>
                    <ng-template #finalLevel>
                        <nz-radio-group [(ngModel)]="newMenuType">
                            <label nz-radio nzValue="F">權限API</label>
                        </nz-radio-group>
                    </ng-template>
                    
                </div>
                <div style="margin-top: 20px;" class="flexContainer">
                    <div>節點圖示：</div>
                    <input style="width: 200px;" nz-input placeholder="請輸入節點圖示名稱" [(ngModel)]="newNodeIcon" type="text" nzSize="default"/>
                </div>
                <div style="margin-top: 20px;" class="flexContainer">
                    <label style="padding: inherit;" class="edit-label-required">節點名稱：</label>
                    <input style="width: 200px;" nz-input placeholder="請輸入節點名稱" [(ngModel)]="newNodeName" type="text" nzSize="default"/>
                </div>
                <div style="margin-top: 20px;" class="flexContainer">
                    <div>節點路徑：</div>
                    <input style="width: 300px;" nz-input placeholder="請輸入節點路徑" [(ngModel)]="newNodePath" type="text" nzSize="default"/>
                </div>
                <div style="margin-top: 20px;" class="flexContainer">
                    <div>節點排序索引：</div>
                    <input style="width: 300px;" nz-input placeholder="請輸入節點排序索引" [(ngModel)]="newNodeSortIdx" type="text" nzSize="default"/>
                </div>
            </nz-spin>
        </div>
        <ng-template #footerTpl>
            <nz-spin nzTip="Loading..." [nzSize]="'large'" [nzSpinning] = "isDrawerSpinning">
                <div style="float: right">
                    <button nz-button style="margin-right: 8px;" (click)="addNewNodeClose()">取消</button>
                    <button nz-button nzType="primary" (click)="addNewNodeHandler()">新增</button>
                </div>
            </nz-spin>
        </ng-template>
</nz-drawer>


<!-- 通用授權API管理 -->
<nz-drawer
    [nzBodyStyle]="{overflow: 'auto' }"
    [nzWidth]="420"
    [nzVisible]="addCommonApiVisible"
    nzTitle="新增通用授權API"
    [nzFooter]="addCommonApiFooterTpl"
    (nzOnClose)="addCommonApiClose()">

    <div *nzDrawerContent>
        <nz-spin nzTip="Loading..." [nzSize]="'large'" [nzSpinning] = "isDrawerSpinning">
            <div style="margin-top: 20px;" class="flexContainer">
                <label style="padding: inherit;" class="edit-label-required">通用授權API名稱：</label>
                <input style="width: 200px;" nz-input placeholder="請輸入通用授權API名稱" [(ngModel)]="newCommonApiNameInput" type="text" nzSize="default"/>
            </div>
            <div style="margin-top: 20px;" class="flexContainer">
                <label style="padding: inherit;" class="edit-label-required">通用授權API路徑：</label>
                <input style="width: 200px;" nz-input placeholder="請輸入通用授權API路徑" [(ngModel)]="newCommonApiPathInput" type="text" nzSize="default"/>
            </div>
        </nz-spin>
    </div>

    <ng-template #addCommonApiFooterTpl>
        <nz-spin nzTip="Loading..." [nzSize]="'large'" [nzSpinning] = "isDrawerSpinning">
            <div style="float: right">
                <button nz-button style="margin-right: 8px;" (click)="addCommonApiClose()">取消</button>
                <button nz-button nzType="primary" (click)="addCommonApi()">新增</button>
            </div>
        </nz-spin>
    </ng-template>
</nz-drawer>