<nz-content style="margin: 0 16px">
  <app-list-pps-nonbar [childrenTabName]="thisTabName"></app-list-pps-nonbar>
  
  <nz-tabset nzLinkRouter [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['../I104']" style="color: gray">
        直棒
      </a>
    </nz-tab>

    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" style="color: dodgerblue">
        非直棒
      </a>
      <div>
        <button
          nz-button
          style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24)"
          nzType="primary"
          (click)="openPrepareInput()"
        >
          <span nz-icon nzType="plus" nzTheme="outline"></span>
          新增
        </button>
        &nbsp;&nbsp;
        <input
          type="file"
          id="fileupload"
          style="display: inline-block; margin-left: 550px"
          (change)="incomingfile($event)"
          placeholder="Upload file"
          accept=".xlsx, .xls, .csv"
        />
        <button
          nz-button
          style="
            box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
            background-color: #4caf50;
            border: 2px blue none;
          "
          nzType="primary"
          (click)="Upload()"
        >
          <span nz-icon nzType="upload" nzTheme="outline"></span>
          E X C E L 匯入
        </button>
        &nbsp;&nbsp;
        <button
          nz-button
          style="
            box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
            background-color: #4caf50;
            border: 2px blue none;
          "
          nzType="primary"
          (click)="convertToExcel()"
        >
          <span nz-icon nzType="download" nzTheme="outline"></span>
          E X C E L 匯出
        </button>
      </div>
      <ag-grid-angular  style="width: 100%; height: calc(100vh - 220px); overflow: scroll;" class="ag-theme-alpine" 
      [rowData]="PPSINP03List"
      [columnDefs]="columnDefs"
      [pagination]="true"
      class="ag-theme-alpine"
      [frameworkComponents]="frameworkComponents"
      [gridOptions]="gridOptions"
      editType="fullRow"
      [suppressClickEdit]="true"
      >
      </ag-grid-angular>
    </nz-tab>
  </nz-tabset>
</nz-content>

<!-- 整備時間新增 -->
<nz-modal
  [(nzVisible)]="isVisiblePrepare"
  [nzWidth]="850"
  [nzTitle]="repareTitle"
  [nzContent]="prepareInputContent"
  [nzFooter]="prepareInputFooter"
  (nzOnCancel)="cancelPrepareInput()"
>
  <ng-template #repareTitle>新增整備時間</ng-template>
  <ng-template #prepareInputContent>
    <div>
      <table style="border-collapse: separate">
        <tr>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;站別
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入站別"
              [(ngModel)]="SHOP_CODE"
            />
          </td>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;機台
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入機台"
              [(ngModel)]="EQUIP_CODE"
            />
          </td>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;機群
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入機群"
              [(ngModel)]="EQUIP_GROUP"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;上下料時間
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入上下料時間"
              [(ngModel)]="LOAD_TIME"
            />
          </td>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;搬運時間
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入搬運時間"
              [(ngModel)]="TRANSFER_TIME"
            />
          </td>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;其他整備時間
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入其他整備時間"
              [(ngModel)]="OTHER_TIME"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;大調機時間
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入大調機時間"
              [(ngModel)]="BIG_ADJUST_TIME"
            />
          </td>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;小調機時間
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入小調機時間"
              [(ngModel)]="SMALL_ADJUST_TIME"
            />
          </td>
          <td style="width: 600px; background-color: #eee" colspan="2"></td>
        </tr>

        <tr>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;退料時間
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入退料時間"
              [(ngModel)]="RETURN_TIME"
            />
          </td>
          <td
            style="
              width: 330px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;冷卻時間
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 80%; color: darkblue"
              nz-input
              placeholder="輸入冷卻時間"
              [(ngModel)]="COOLING_TIME"
            />
          </td>
          <td style="width: 600px; background-color: #eee" colspan="2"></td>
        </tr>
      </table>
    </div>
  </ng-template>
  <ng-template #prepareInputFooter>
    <button nz-button nzType="default" (click)="cancelPrepareInput()">
      取消新增
    </button>
    <button nz-button nzType="primary" (click)="insertTab()">確定</button>
  </ng-template>
</nz-modal>