<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
    <nz-breadcrumb-item>靜態基本資料</nz-breadcrumb-item>
    <nz-breadcrumb-item>通用表</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <tr id="tab-1" style="height:30px; width:1000px; overflow-x:auto">
        <ul>
            <li><a href="#/commonData/I101">鋼種分類</a></li>
            <li><a href="#/commonData/I102_NonBar">站別機台關聯表</a></li>
            <li><a href="#/commonData/I103_NonBar">設備能力</a></li>
            <li class="active"><a href="#/commonData/I104_NonBar"><label style="color:blue">整備時間</label></a></li>
            <li><a href="#/commonData/I105_NonBar">大調機</a></li>
            <li><a href="#/commonData/I106_NonBar">小調機</a></li>
            <li><a href="#/commonData/I107_NonBar">線速工時</a></li>
            <li><a href="#/commonData/I108_NonBar">非線速工時</a></li>
            <li><a href="#/commonData/I109_NonBar">產率設定</a></li>
            <li><a href="#/commonData/I110_NonBar">產能維護</a></li>
            <li><a href="#/commonData/I111_NonBar">combine資料設定</a></li>
            <li><a href="#/commonData/I200">系統設定</a></li>
        </ul>
      </tr>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  
  <nz-tabset nzLinkRouter [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['../I104']" style="color: gray">
        直棒
      </a>
    </nz-tab>

    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" style="color: dodgerblue">
        非直棒
      </a>
      <div style="background: rgb(255, 255, 255); min-height: 1200px;">
        <table>
          <tr>
            <td>
              <button
                nz-button
                style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
                nzType="primary"
                (click)="openPrepareInput()"
              ><span nz-icon nzType="plus" nzTheme="outline"></span>
                新增
              </button>
            </td>
            <td style="text-align:right;width:35%">
              <input type="file" id="fileupload" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx, .xls, .csv">
              <button
                nz-button
                style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); background-color: #4CAF50;border:2px blue none;"
                nzType="primary"
                (click)="Upload()"
              ><span nz-icon nzType="upload" nzTheme="outline"></span>
              E X C E L 匯入
              </button>
              &nbsp;&nbsp;
              <button
                nz-button
                style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); background-color: #4CAF50;border:2px blue none;"
                nzType="primary"
                (click)="convertToExcel()"
              ><span nz-icon nzType="download" nzTheme="outline"></span>
              E X C E L 匯出
              </button>
            </td>
          </tr>
        </table>
        <p></p><p></p>

        <div nz-col [nzSpan]="25">
          <nz-table #RowTable nzBordered [nzData]="displayPPSINP03List" [nzPageSize]="20" [nzScroll]="{y: '500px' }">
            <thead>
            <tr>
              <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px"
              >站別
              <nz-filter-trigger 
              [nzActive]="searchShopCodeValue.length > 0" 
              [nzDropdownMenu]="shopCodeMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px"
              >機台
              <nz-filter-trigger 
              [nzActive]="searchEquipCodeValue.length > 0" 
              [nzDropdownMenu]="equipCodeMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px"
              >機群
              <nz-filter-trigger 
              [nzActive]="searchEquipGroupValue.length > 0" 
              [nzDropdownMenu]="equipGroupMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px"
              >上下料時間
              <nz-filter-trigger 
              [nzActive]="searchLoadTimeValue.length > 0" 
              [nzDropdownMenu]="loadTimeMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px"
              >搬運時間
              <nz-filter-trigger 
              [nzActive]="searchTransferTimeValue.length > 0" 
              [nzDropdownMenu]="transferTimeMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px"
              >大調機時間
              <nz-filter-trigger 
              [nzActive]="searchBigAdjustTimeValue.length > 0" 
              [nzDropdownMenu]="bigAdjustTimeMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px"
              >小調機時間
              <nz-filter-trigger 
              [nzActive]="searchSmallAdjustTimeValue.length > 0" 
              [nzDropdownMenu]="smallAdjustTimeMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px"
              >退料時間
              <nz-filter-trigger 
              [nzActive]="searchReturnTimeValue.length > 0" 
              [nzDropdownMenu]="returnTimeMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px"
              >冷卻時間
              <nz-filter-trigger 
              [nzActive]="searchCoolingTimeValue.length > 0" 
              [nzDropdownMenu]="coolingTimeMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px"
              >其他整備時間
              <nz-filter-trigger 
              [nzActive]="searchOtherTimeValue.length > 0" 
              [nzDropdownMenu]="otherTimeMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of RowTable.data;let i = index" class="editable-row">
              <ng-container *ngIf="!editCache[data.idx].edit; else editTemplate">
                <td style="text-align:center; padding: 5px; height: 60px;">{{ data.SHOP_CODE }}</td>
                <td style="text-align:center; padding: 5px; height: 60px;">{{ data.EQUIP_CODE }}</td>
                <td style="text-align:center; padding: 5px; height: 60px;">{{ data.EQUIP_GROUP }}</td>
                <td style="text-align:center; padding: 5px; height: 60px;">{{ data.LOAD_TIME | number }}</td>
                <td style="text-align:center; padding: 5px; height: 60px;">{{ data.TRANSFER_TIME | number }}</td>
                <td style="text-align:center; padding: 5px; height: 60px;">{{ data.BIG_ADJUST_TIME | number }}</td>
                <td style="text-align:center; padding: 5px; height: 60px;">{{ data.SMALL_ADJUST_TIME | number }}</td>
                <td style="text-align:center; padding: 5px; height: 60px;">{{ data.RETURN_TIME | number }}</td>
                <td style="text-align:center; padding: 5px; height: 60px;">{{ data.COOLING_TIME | number }}</td>
                <td style="text-align:center; padding: 5px; height: 60px;">{{ data.OTHER_TIME | number }}</td>
                <td style="text-align:center; padding: 0px; height: 60px;">
                  <a (click)="editRow(data.idx)">修改</a>&nbsp;&nbsp;&nbsp;
                  <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.idx)">刪除</a>
                </td>
              </ng-container>
              <ng-template #editTemplate>
                <td>
                  <input nz-width="20%" nz-input placeholder="輸入站別" [(ngModel)]="editCache[data.idx].data.SHOP_CODE" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="輸入機台" [(ngModel)]="editCache[data.idx].data.EQUIP_CODE" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="輸入機群" [(ngModel)]="editCache[data.idx].data.EQUIP_GROUP" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="上下料時間" [(ngModel)]="editCache[data.idx].data.LOAD_TIME" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="搬運時間" [(ngModel)]="editCache[data.idx].data.TRANSFER_TIME" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="大調機時間" [(ngModel)]="editCache[data.idx].data.BIG_ADJUST_TIME" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="小調機時間" [(ngModel)]="editCache[data.idx].data.SMALL_ADJUST_TIME" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="退料時間" [(ngModel)]="editCache[data.idx].data.RETURN_TIME" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="冷卻時間" [(ngModel)]="editCache[data.idx].data.COOLING_TIME" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="其他整備時間" [(ngModel)]="editCache[data.idx].data.OTHER_TIME" />
                </td>
                <td>
                  <a (click)="saveEdit(data.idx)">確認</a>&nbsp;&nbsp;&nbsp;
                  <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.idx)">取消</a>
                </td>
              </ng-template>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>


</nz-content>



<!-- 整備時間新增 -->
<nz-modal
  [(nzVisible)]="isVisiblePrepare"
  [nzWidth]="850"
  [nzTitle]="repareTitle"
  [nzContent]="prepareInputContent"
  [nzFooter]="prepareInputFooter"
  (nzOnCancel)="cancelPrepareInput()">

  <ng-template #repareTitle>新增整備時間</ng-template>
  <ng-template #prepareInputContent>
    <div>
      <table style="border-collapse: separate;">
        <tr>
          <td style = "width: 330px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;站別</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 80%; color: darkblue;" nz-input placeholder="輸入站別" [(ngModel)]="SHOP_CODE" />
          </td>
          <td style = "width: 330px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;機台</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 80%; color: darkblue;" nz-input placeholder="輸入機台" [(ngModel)]="EQUIP_CODE" />
          </td>
          <td style = "width: 330px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;機群</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 80%; color: darkblue;" nz-input placeholder="輸入機群" [(ngModel)]="EQUIP_GROUP" />
          </td>
        </tr>

        <tr>
          <td style = "width: 330px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;上下料時間</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 80%; color: darkblue;" nz-input placeholder="輸入上下料時間" [(ngModel)]="LOAD_TIME" />
          </td>
          <td style = "width: 330px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;搬運時間</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 80%; color: darkblue;" nz-input placeholder="輸入搬運時間" [(ngModel)]="TRANSFER_TIME" />
          </td>
          <td style = "width: 330px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;其他整備時間</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 80%; color: darkblue;" nz-input placeholder="輸入其他整備時間" [(ngModel)]="OTHER_TIME" />
          </td>
        </tr>

        <tr>
          <td style = "width: 330px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;大調機時間</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 80%; color: darkblue;" nz-input placeholder="輸入大調機時間" [(ngModel)]="BIG_ADJUST_TIME" />
          </td>
          <td style = "width: 330px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;小調機時間</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 80%; color: darkblue;" nz-input placeholder="輸入小調機時間" [(ngModel)]="SMALL_ADJUST_TIME" />
          </td>
          <td style = "width: 600px; background-color: #eee;" colspan="2"></td>
        </tr>

        <tr>
          <td style = "width: 330px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;退料時間</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 80%; color: darkblue;" nz-input placeholder="輸入退料時間" [(ngModel)]="RETURN_TIME" />
          </td>
          <td style = "width: 330px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;冷卻時間</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 80%; color: darkblue;" nz-input placeholder="輸入冷卻時間" [(ngModel)]="COOLING_TIME" />
          </td>
          <td style = "width: 600px; background-color: #eee;" colspan="2"></td>
        </tr>

      </table>
    </div>
  </ng-template>
  <ng-template #prepareInputFooter>
    <button nz-button nzType="default" (click)="cancelPrepareInput()">取消新增</button>
    <button nz-button nzType="primary" (click)="insertTab()">確定</button>
  </ng-template>
</nz-modal>


<nz-dropdown-menu #shopCodeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchShopCodeValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchShopCode()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByShopCode()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #equipCodeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchEquipCodeValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchEquipCode()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByEquipCode()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #equipGroupMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchEquipGroupValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchEquipGroup()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByEquipGroup()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #loadTimeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchLoadTimeValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchLoadTime()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByLoadTime()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #transferTimeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchTransferTimeValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByTransferTime()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByTransferTime()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #bigAdjustTimeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchBigAdjustTimeValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByBigAdjustTime()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByBigAdjustTime()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #smallAdjustTimeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchSmallAdjustTimeValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchBySmallAdjustTime()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetBySmallAdjustTime()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #returnTimeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchReturnTimeValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByReturnTime()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByReturnTime()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #coolingTimeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchCoolingTimeValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByCoolingTime()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByCoolingTime()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #otherTimeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchOtherTimeValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByOtherTime()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByOtherTime()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

