<nz-content style="margin:0 16px;">
    <nz-breadcrumb style="margin:16px 0;">
      <nz-breadcrumb-item>訂單即時回應</nz-breadcrumb-item>
      <nz-breadcrumb-item>基本資料</nz-breadcrumb-item>
      <nz-breadcrumb-item>接單係數設定</nz-breadcrumb-item>
    </nz-breadcrumb>
    

        <div id="message_div" class="locked" style="background: rgb(255, 255, 255);">
          <div style="background: #eee">

            <!-- 單筆新增功能 -->
            <button id="singleAdd" nz-button (click)="addRow()" class="AddButton" role="button">
              <span nz-icon nzType="plus" nzTheme="outline"></span>
              新增
            </button>
            &nbsp;

            <!-- 匯入EXCEL功能 -->
            <button id="bacthAdd" nz-button role="button" class="ImportButton" onclick="document.getElementById('importExcel').click();" >
              <span nz-icon nzType="upload" nzTheme="outline"></span>
              匯入
            </button>
            <input style="display:none;" type="file" name="file" id="importExcel" required (change)="handleImport($event)"
            accept=".xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            &nbsp;

            <!-- 匯出EXCEL功能 -->
            <button id="download" nz-button (click)="exportToExcel()" class="ExportButton" role="button">
              <span nz-icon nzType="download" nzTheme="outline" ></span>
              匯出
            </button>
            &nbsp;

            <!-- 加載圖示 -->
            <!-- <button id="test1" nz-button (click)="LoadingStatus('On')" role="button" onclick="document.getElementById('bacthAdd').disabled=false;">測試加載開啟</button>
            <button id="test2" nz-button (click)="LoadingStatus('Off')" role="button">測試加載關閉</button> -->
            <div id="loadingStatus" class="hidden">
              <b>執行中...</b>
              <div class="loading"></div>
            </div>

          </div>

          <div nz-col [nzSpan]="25">
            <nz-table #RowTable1 nzBordered [nzData]="listOfDisplayData" [nzPageSize]="20" [nzScroll]="{ y: '1400px' }" class="table" style="border:3px #cccccc solid;" cellpadding="10" border='1'>
              <thead>
                <!-- 篩選 & 升降冪功能 -->
                <tr>
                  <th rowspan="3" nzLeft nzCustomFilter [nzSortFn]="listOfColumn.productType.compare" [nzSortPriority]="listOfColumn.productType.priority"
                  style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                  <font size="3.5"><b>產品別</b></font>
                    <nz-filter-trigger [(nzVisible)]="visible1" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu1">
                      <span nz-icon nzType="search"></span>
                    </nz-filter-trigger>
                  </th>
                  <th rowspan="3" nzCustomFilter [nzSortFn]="listOfColumn.condition1.compare" [nzSortPriority]="listOfColumn.condition1.priority"
                  style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                  <font size="3.5"><b>厚度min</b></font>
                  <nz-filter-trigger [(nzVisible)]="visible2" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu2">
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                  </th>
                  <th rowspan="3" nzCustomFilter [nzSortFn]="listOfColumn.condition2.compare" [nzSortPriority]="listOfColumn.condition2.priority"
                  style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                  <font size="3.5"><b>厚度max</b></font>
                  <nz-filter-trigger [(nzVisible)]="visible3" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu3">
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                  </th>
                  <th rowspan="3" nzCustomFilter [nzSortFn]="listOfColumn.condition3.compare" [nzSortPriority]="listOfColumn.condition3.priority"
                  style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                  <font size="3.5"><b>軟料(料號倒數第二碼)</b></font>
                  <nz-filter-trigger [(nzVisible)]="visible4" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu4">
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                  </th>
                  <th rowspan="3" nzCustomFilter [nzSortFn]="listOfColumn.condition4.compare" [nzSortPriority]="listOfColumn.condition4.priority"
                  style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                  <font size="3.5"><b>JIS</b></font>
                  <nz-filter-trigger [(nzVisible)]="visible5" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu5">
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                  </th>
                  <th rowspan="3" nzCustomFilter [nzSortFn]="listOfColumn.condition5.compare" [nzSortPriority]="listOfColumn.condition5.priority"
                  style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                  <font size="3.5"><b>製程</b></font>
                  <nz-filter-trigger [(nzVisible)]="visible6" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu6">
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                  </th>
                  <th colspan="3" style="text-align:center; background-color: #eee; padding: 2px; height: 35px; width:150px">
                    <font size="3.5"><b>寬度</b></font>
                  </th>
                  <th rowspan="3" nzRight style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:50px"><font size="4.5"><b>Action</b></font></th>
                </tr>
                <tr>
                    <th style="text-align:center; background-color: #eee; padding: 2px; height: 35px; width:50px">
                        <font size="3.5"><b>900-1100</b></font>
                    </th>
                    <th style="text-align:center; background-color: #eee; padding: 2px; height: 35px; width:50px">
                        <font size="3.5"><b>1200-1299</b></font>
                    </th>
                    <th style="text-align:center; background-color: #eee; padding: 2px; height: 35px; width:50px">
                        <font size="3.5"><b>1500-1600</b></font>
                    </th>
                </tr>
                <tr>
                    <th nzCustomFilter [nzSortFn]="listOfColumn.coefficientMill3.compare" [nzSortPriority]="listOfColumn.coefficientMill3.priority"
                    style="text-align:center; background-color: #eee; padding: 2px; height: 35px; width:50px">
                    <font size="3.5"><b>三呎係數</b></font>
                    <nz-filter-trigger [(nzVisible)]="visible7" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu7">
                        <span nz-icon nzType="search"></span>
                    </nz-filter-trigger>
                    </th>
                    <th nzCustomFilter [nzSortFn]="listOfColumn.coefficientMill4.compare" [nzSortPriority]="listOfColumn.coefficientMill4.priority"
                    style="text-align:center; background-color: #eee; padding: 2px; height: 35px; width:50px">
                    <font size="3.5"><b>四呎係數</b></font>
                    <nz-filter-trigger [(nzVisible)]="visible8" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu8">
                        <span nz-icon nzType="search"></span>
                    </nz-filter-trigger>
                    </th>
                    <th nzCustomFilter [nzSortFn]="listOfColumn.coefficientMill5.compare" [nzSortPriority]="listOfColumn.coefficientMill5.priority"
                    style="text-align:center; background-color: #eee; padding: 2px; height: 35px; width:50px">
                    <font size="3.5"><b>五呎係數</b></font>
                    <nz-filter-trigger [(nzVisible)]="visible9" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu9">
                        <span nz-icon nzType="search"></span>
                    </nz-filter-trigger>
                    </th>
                </tr>
              </thead>
              <tbody>
                <!-- 修改/刪除功能 -->
                <tr *ngFor="let data of RowTable1.data;let i = index" class="editable-row">
                  <ng-container *ngIf="!editCache1[data.id].edit; else editTemplate1">
                    <td nzLeft style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.productType }}</font></td>
                    <td style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.condition1 }}</font></td>
                    <td style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.condition2 }}</font></td>
                    <td style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.condition3 }}</font></td>
                    <td style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.condition4 }}</font></td>
                    <td style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.condition5 }}</font></td>
                    <td style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.coefficientMill3 }}</font></td>
                    <td style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.coefficientMill4 }}</font></td>
                    <td style="text-align:center; padding: 0px; height: 10px; width: 50px;"><font size="3">{{ data.coefficientMill5 }}</font></td>
                    <td nzRight style="text-align:center; padding: 0px; height: 10px; width: 50px;">
                      <a id="revise" (click)="editRow(data.id, 1)">
                        <span nz-icon nzType="edit" nzTheme="outline"></span>
                        修改
                      </a>|
                      <a id="delete" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id, 1)">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                        刪除
                      </a>
                    </td>
                  </ng-container>
                  <ng-template #editTemplate1>
                    <td>
                      <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.productType" />
                    </td>
                    <td>
                      <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.condition1" />
                    </td>
                    <td>
                      <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.condition2" />
                    </td>
                    <td>
                      <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.condition3" />
                    </td>
                    <td>
                      <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.condition4" />
                    </td>
                    <td>
                      <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.condition5" />
                    </td>
                    <td>
                      <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.coefficientMill3" />
                    </td>
                    <td>
                        <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.coefficientMill4" />
                    </td>
                    <td>
                        <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.coefficientMill5" />
                    </td>
                    <td>
                      <a (click)="saveEdit(data.id, 1)">
                        <span nz-icon nzType="save" nzTheme="outline"></span>
                        確認
                      </a>|
                      <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id, 1)">
                        <span nz-icon nzType="close" nzTheme="outline"></span>
                        取消
                      </a>
                    </td>
                  </ng-template>
                </tr>
              </tbody>
            </nz-table>
            <nz-dropdown-menu #menu1="nzDropdownMenu">
              <div class="ant-table-filter-dropdown">
                <div class="search-box">
                  <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                  <button nz-button nzSize="small" nzType="primary" (click)="searchProductType(searchValue)" class="search-button">Search</button>
                  <button nz-button nzSize="small" (click)="reset()">Reset</button>
                </div>
              </div>
            </nz-dropdown-menu>
            <nz-dropdown-menu #menu2="nzDropdownMenu">
              <div class="ant-table-filter-dropdown">
                <div class="search-box">
                  <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                  <button nz-button nzSize="small" nzType="primary" (click)="searchCondition1(searchValue)" class="search-button">Search</button>
                  <button nz-button nzSize="small" (click)="reset()">Reset</button>
                </div>
              </div>
            </nz-dropdown-menu>
            <nz-dropdown-menu #menu3="nzDropdownMenu">
              <div class="ant-table-filter-dropdown">
                <div class="search-box">
                  <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                  <button nz-button nzSize="small" nzType="primary" (click)="searchCondition2(searchValue)" class="search-button">Search</button>
                  <button nz-button nzSize="small" (click)="reset()">Reset</button>
                </div>
              </div>
            </nz-dropdown-menu>
            <nz-dropdown-menu #menu4="nzDropdownMenu">
              <div class="ant-table-filter-dropdown">
                <div class="search-box">
                  <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                  <button nz-button nzSize="small" nzType="primary" (click)="searchCondition3(searchValue)" class="search-button">Search</button>
                  <button nz-button nzSize="small" (click)="reset()">Reset</button>
                </div>
              </div>
            </nz-dropdown-menu>
            <nz-dropdown-menu #menu5="nzDropdownMenu">
              <div class="ant-table-filter-dropdown">
                <div class="search-box">
                  <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                  <button nz-button nzSize="small" nzType="primary" (click)="searchCondition4(searchValue)" class="search-button">Search</button>
                  <button nz-button nzSize="small" (click)="reset()">Reset</button>
                </div>
              </div>
            </nz-dropdown-menu>
            <nz-dropdown-menu #menu6="nzDropdownMenu">
              <div class="ant-table-filter-dropdown">
                <div class="search-box">
                  <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                  <button nz-button nzSize="small" nzType="primary" (click)="searchCondition5(searchValue)" class="search-button">Search</button>
                  <button nz-button nzSize="small" (click)="reset()">Reset</button>
                </div>
              </div>
            </nz-dropdown-menu>
            <nz-dropdown-menu #menu7="nzDropdownMenu">
              <div class="ant-table-filter-dropdown">
                <div class="search-box">
                  <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                  <button nz-button nzSize="small" nzType="primary" (click)="searchCoefficientMill3(searchValue)" class="search-button">Search</button>
                  <button nz-button nzSize="small" (click)="reset()">Reset</button>
                </div>
              </div>
            </nz-dropdown-menu>
            <nz-dropdown-menu #menu8="nzDropdownMenu">
                <div class="ant-table-filter-dropdown">
                  <div class="search-box">
                    <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                    <button nz-button nzSize="small" nzType="primary" (click)="searchCoefficientMill4(searchValue)" class="search-button">Search</button>
                    <button nz-button nzSize="small" (click)="reset()">Reset</button>
                  </div>
                </div>
              </nz-dropdown-menu>
              <nz-dropdown-menu #menu9="nzDropdownMenu">
                <div class="ant-table-filter-dropdown">
                  <div class="search-box">
                    <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                    <button nz-button nzSize="small" nzType="primary" (click)="searchCoefficientMill5(searchValue)" class="search-button">Search</button>
                    <button nz-button nzSize="small" (click)="reset()">Reset</button>
                  </div>
                </div>
              </nz-dropdown-menu>
          </div>
        </div>
        
    
    
    
    </nz-content>
    