<nz-content style="margin:0 16px;">

<nz-breadcrumb style="margin:16px 0;">
<nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
<nz-breadcrumb-item>報表檢視</nz-breadcrumb-item>
<nz-breadcrumb-item>出貨計畫表</nz-breadcrumb-item>
<nz-breadcrumb-item>報表檢視</nz-breadcrumb-item>
<nz-breadcrumb-item>
    <tr id="tab-1" style="height:30px; width:1000px; overflow-x:auto">
    <ul>
        <li class="active"><a href="#/FCPshipRepo/R308"><label style="color:blue">出貨計畫主表</label></a></li>
        <li><a href="#/FCPshipRepo/R309">出貨計畫彙總表</a></li>
        <li><a href="#/FCPshipRepo/R310"><label>業務報表</label></a></li>
    </ul>
    </tr>
</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-spin [nzSize]="'large'" [nzSpinning] = "isSpinning">

<nz-collapse>
    <nz-collapse-panel
    nzHeader="查詢條件"
    >
        <nz-radio-group style="margin-bottom: 8px;"
        [(ngModel)]="searchData.specialBar"
        (ngModelChange)="getDataList()"
        [nzButtonStyle]="'solid'">
          <label nz-radio-button nzDisabled="true" style="color: blue; font-weight: bolder;">產品:</label>
          <label nz-radio-button nzValue="">ALL</label>
          <label nz-radio-button nzValue="IS_BIG_STICK">大棒</label>
          <label nz-radio-button nzValue="IS_PROFIELD">異型棒</label>
        </nz-radio-group>
        <nz-select
            [(ngModel)]="searchData.selectedVer_default"
            style="width: 220px; margin-left:50px;"
            nzPlaceHolder="請選擇版本號"
            (ngModelChange)="getDataList()"
            >
            <nz-option *ngFor="let abbr of selectedVer" [nzLabel]="abbr.label" [nzValue]="abbr.value"></nz-option>
        </nz-select>
        <br>
        <nz-radio-group style="margin-top: 8px; " 
        [(ngModel)]="searchData.saleAreaGroup" 
        (ngModelChange)="getDataList()"
        [nzButtonStyle]="'solid'">
        <label nz-radio-button nzDisabled="true" style="color: blue; font-weight: bolder;">區域別:</label>
        <label nz-radio-button>ALL</label>
        <label nz-radio-button [nzValue]="a.value" *ngFor="let a of areaGroup">{{ a.label }}</label>
        </nz-radio-group>
        <br>
        <div nz-row>
            <div style = "margin-top: 8px;" nz-col nzSpan="4">
                <input nz-input [(ngModel)]="searchData.custAbbreviations"
                placeholder="客戶" />
            </div>
            <button style="margin-left:20px ; margin-top: 8px;"  (click) = "getDataList()"  nz-button nzType="primary" >
                <span nz-icon nzType="search" nzTheme="outline"></span>查詢
            </button>
            <button
              nz-button
              style="margin-left:30px; margin-top: 8px; box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); background-color: #4CAF50;border:2px blue none;cursor: pointer;"
              nzType="primary"
              (click) = "excelExport()"
            ><span nz-icon nzType="download" nzTheme="outline"></span>
              E X C E L 匯出
            </button>

            <button
                nz-button
                style="margin-left:30px; margin-top: 8px; box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); font-weight: bold;"
                nzType="default" nzDanger
                (click) = "exportPDF()"
            ><span nz-icon nzType="file-pdf" nzTheme="outline"></span>
            報表欄位說明
          </button>
        </div>
    </nz-collapse-panel>
</nz-collapse>
<br>

<ag-grid-angular
    [headerHeight]="22"
    [rowHeight]="35"
    style="width: 100%; height:600px;"
    class="ag-theme-alpine"
    [gridOptions]="gridOptions"
    [rowData]="rowData"
    [tooltipShowDelay]="tooltipShowDelay"
    [columnDefs]="columnDefs">
</ag-grid-angular>

</nz-spin>

</nz-content>
