<nz-content style="margin:0 16px;">

<nz-breadcrumb style="margin:16px 0;">
<nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
<nz-breadcrumb-item>報表檢視</nz-breadcrumb-item>
<nz-breadcrumb-item>出貨計畫表</nz-breadcrumb-item>
<nz-breadcrumb-item>報表檢視</nz-breadcrumb-item>
<nz-breadcrumb-item>
    <tr id="tab-1" style="height:30px; width:1000px; overflow-x:auto">
    <ul>
        <li class="active"><a href="#/FCPshipRepo/R308"><label style="color:blue">出貨計畫主表</label></a></li>
        <li><a href="#/FCPshipRepo/R309">出貨計畫彙總表</a></li>
    </ul>
    </tr>
</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-spin [nzSize]="'large'" [nzSpinning] = "isSpinning">

<nz-collapse>
    <nz-collapse-panel
    nzHeader="查詢條件"
    >
        <nz-radio-group style="margin-bottom: 8px;"
        [(ngModel)]="searchData.specialBar"
        (ngModelChange)="getDataList()"
        [nzButtonStyle]="'solid'">
          <label nz-radio-button nzDisabled="true">產品:</label>
          <label nz-radio-button nzValue="">ALL</label>
          <label nz-radio-button nzValue="IS_BIG_STICK">大棒</label>
          <label nz-radio-button nzValue="IS_PROFIELD">異型棒</label>
        </nz-radio-group>
        <nz-select
            [(ngModel)]="searchData.selectedVer_default"
            style="width: 220px; margin-left:50px;"
            nzPlaceHolder="請選擇版本號"
            (ngModelChange)="getDataList()"
            >
            <nz-option *ngFor="let abbr of selectedVer" [nzLabel]="abbr.label" [nzValue]="abbr.value"></nz-option>
        </nz-select>
        <br>
        <nz-radio-group style="margin-bottom: 8px;"
        [(ngModel)]="searchData.saleAreaGroup"
        (ngModelChange)="getDataList()"
        [nzButtonStyle]="'solid'">
          <label nz-radio-button nzDisabled="true">區域別:</label>
          <label nz-radio-button nzValue="">ALL</label>
          <label nz-radio-button nzValue="營三(內銷)">營三(內銷)</label>
          <label nz-radio-button nzValue="營三(外銷)">營三(外銷)</label>
          <label nz-radio-button nzValue="外銷">外銷</label>
          <label nz-radio-button nzValue="鹽水">鹽水</label>
          <label nz-radio-button nzValue="南區">南區</label>
          <label nz-radio-button nzValue="大陸">大陸</label>
          <label nz-radio-button nzValue="江陰">江陰</label>
          <label nz-radio-button nzValue="常熟">常熟</label>
        </nz-radio-group>
        <br>
        <div nz-row>
            <div nz-col nzSpan="4">
                <input nz-input [(ngModel)]="searchData.custAbbreviations"
                placeholder="客戶" />
            </div>
            <button style="margin-left:20px ;"  (click) = "getDataList()"  nz-button nzType="primary" >
                <span nz-icon nzType="search" nzTheme="outline"></span>查詢
            </button>
        </div>
    </nz-collapse-panel>
</nz-collapse>
<br>

<ag-grid-angular
    [headerHeight]="40"
    [rowHeight]="35"
    style="width: 100%; height:500px;"
    class="ag-theme-alpine"
    [gridOptions]="gridOptions"
    [rowData]="rowData"
    [tooltipShowDelay]="tooltipShowDelay"
    [columnDefs]="columnDefs">
</ag-grid-angular>

</nz-spin>

</nz-content>
