@import url("../../../../standard.less");
.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  width: 80%;margin-left:auto; margin-right:auto;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

/*

tbody {
display: block;
overflow: auto;
height: 500px;
width: 100%;
}

thead tr {
display: table;
width: 100%;
table-layout: fixed;
}

thead, tbody tr {
display: table;
width: 100%;
table-layout: fixed;
}

thead {
width: calc( 100% - 1em )
}

*/



.ant-table-tbody>tr>td, .ant-table-thead>tr>th{
padding: 8px;
}

td > button {
cursor: default;
}
