<nz-content style="margin:0 16px;">
  <nz-breadcrumb class="breadcrumbContainer" nzSeparator=">">
    <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
    <nz-breadcrumb-item>規劃策略</nz-breadcrumb-item>
    <nz-breadcrumb-item>策略基礎設定</nz-breadcrumb-item>
    <nz-breadcrumb-item>Campaign 限制(PPSI204)</nz-breadcrumb-item>
  </nz-breadcrumb>
  
  <nz-tabset nzLinkRouter [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" style="color: dodgerblue">
        直棒
      </a>
      <div style="background: rgb(255, 255, 255);">
        <button
          nz-button
          style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
          nzType="primary"
          [nzSize]="'large'"
          (click)="openCampaignInput()"
          ><span nz-icon nzType="plus" nzTheme="outline"></span>
            新增
        </button>
        <input type="file" id="fileupload" 
                style="display: inline-block;"
                (change)="incomingfile($event)" 
                placeholder="Upload file" 
                accept=".xlsx, .xls, .csv">
        <button
          nz-button
          style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); background-color: #4CAF50;border:2px blue none;"
          nzType="primary"
          (click)="Upload()"
        ><span nz-icon nzType="upload" nzTheme="outline"></span>
        E X C E L 匯入
        </button>
        &nbsp;&nbsp;
        <button
          nz-button
          style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); background-color: #4CAF50;border:2px blue none;"
          nzType="primary"
          (click)="convertToExcel()"
        ><span nz-icon nzType="download" nzTheme="outline"></span>
        E X C E L 匯出
        </button> 
        <p></p><p></p>
        <div nz-col [nzSpan]="30">

          <ag-grid-angular  style="width: 100%; height: calc(100vh - 220px); overflow: scroll;" class="ag-theme-alpine" 
            [rowData]="displayPPSINP16List"
            [columnDefs]="columnDefs"
            [pagination]="true"
            class="ag-theme-alpine"
            [frameworkComponents]="frameworkComponents"
            [gridOptions]="gridOptions"
            editType="fullRow"
            [suppressClickEdit]="true"
          >
          </ag-grid-angular>

        </div>
      </div>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['../I204_NonBar']" style="color: gray">
        非直棒
      </a>
    </nz-tab>
  </nz-tabset>

</nz-content>


<!-- Campaign限制新增 -->
<nz-modal
  [(nzVisible)]="isVisibleCampaign"
  [nzWidth]="800"
  [nzContent]="campaignInputContent"
  [nzFooter]="campaignInputFooter"
  (nzOnCancel)="cancelCampaignInput()">

  <ng-template #campaignInputContent>
    <div>
      <table style="border-collapse: separate;">

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;站別</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="站別" [(ngModel)]="SHOP_CODE_SCHE" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;機台</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="機台" [(ngModel)]="CHOOSE_EQUIP_CODE" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;產出成品尺寸最小值</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="產出成品尺寸最小值" [(ngModel)]="DIA_MIN" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;Campaign ID</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="Campaign ID" [(ngModel)]="COMPAIGN_ID" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;欄位</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="欄位" [(ngModel)]="PARAMETER_COL" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;條件</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="條件" [(ngModel)]="PARAMETER_CONDITION" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;參數</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="參數" [(ngModel)]="PARAMETER_NAME" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;產出尺寸MIN</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="產出尺寸MIN" [(ngModel)]="TURN_DIA_MAX_MIN" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;產出尺寸MAX</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="產出尺寸MAX" [(ngModel)]="TURN_DIA_MAX_MAX" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;抽數別</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="抽數別" [(ngModel)]="SCHE_TYPE" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;交期區間MIN</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="交期區間MIN" [(ngModel)]="DATA_DELIVERY_RANGE_MIN" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;交期區間MAX</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="交期區間MAX" [(ngModel)]="DATA_DELIVERY_RANGE_MAX" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;生產日期 起</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="生產日期 起" [(ngModel)]="START_TIME" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;生產日期 訖</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="生產日期 訖" [(ngModel)]="END_TIME" />
          </td>
        </tr>

      </table>
    </div>
    
  </ng-template>

  <ng-template #campaignInputFooter>
    <button nz-button nzType="default" (click)="cancelCampaignInput()">取消新增</button>
    <button nz-button nzType="primary" (click)="insertTab()">確定</button>
  </ng-template>

</nz-modal>