<nz-content style="margin: 0 16px">
  <nz-breadcrumb style="margin: 16px 0">
    <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
    <nz-breadcrumb-item>靜態基本資料</nz-breadcrumb-item>
    <nz-breadcrumb-item>通用表</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <tr id="tab-1" style="height: 30px; width: 1000px; overflow-x: auto">
        <ul>
          <li><a href="#/commonData/I101">鋼種分類</a></li>
          <li><a href="#/commonData/I102">站別機台關聯表</a></li>
          <li><a href="#/commonData/I103">設備能力</a></li>
          <li><a href="#/commonData/I104">整備時間</a></li>
          <li class="active">
            <a href="#/commonData/I105"
              ><label style="color: blue">大調機</label></a
            >
          </li>
          <li><a href="#/commonData/I106">小調機</a></li>
          <li><a href="#/commonData/I107">線速工時</a></li>
          <li><a href="#/commonData/I108">非線速工時</a></li>
          <li><a href="#/commonData/I109">產率設定</a></li>
          <li><a href="#/commonData/I110">產能維護</a></li>
          <li><a href="#/commonData/I111">combine資料設定</a></li>
          <li><a href="#/commonData/I200">系統設定</a></li>
        </ul>
      </tr>
    </nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-tabset nzLinkRouter [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['.']" style="color: dodgerblue">
        直棒
      </a>
      <div>
        <div>
          <button
            nz-button
            style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24)"
            nzType="primary"
            (click)="openBigAdjustInput()"
          >
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            新增
          </button>
          &nbsp;&nbsp;
          <input
            type="file"
            id="fileupload"
            style="display: inline-block; margin-left: 550px"
            (change)="incomingfile($event)"
            placeholder="Upload file"
            accept=".xlsx, .xls, .csv"
          />
          <button
            nz-button
            style="
              box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
              background-color: #4caf50;
              border: 2px blue none;
            "
            nzType="primary"
            (click)="Upload()"
          >
            <span nz-icon nzType="upload" nzTheme="outline"></span>
            E X C E L 匯入
          </button>
          &nbsp;&nbsp;
          <button
            nz-button
            style="
              box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
              background-color: #4caf50;
              border: 2px blue none;
            "
            nzType="primary"
            (click)="convertToExcel()"
          >
            <span nz-icon nzType="download" nzTheme="outline"></span>
            E X C E L 匯出
          </button>
        </div>

        <ag-grid-angular
          class="ag-theme-alpine" 
          style="width: 100%; height: 350px;"
          [ngStyle]="{height:tableHeight}"
          [rowData]="displayPPSINP04List"
          [columnDefs]="columnDefs"
          [pagination]="true"
          class="ag-theme-alpine"
          [frameworkComponents]="frameworkComponents"
          [gridOptions]="gridOptions"
          editType="fullRow"
          [suppressClickEdit]="true"
        >
        </ag-grid-angular>
      </div>
    </nz-tab>

    <nz-tab>
      <a
        *nzTabLink
        nz-tab-link
        [routerLink]="['../I105_NonBar']"
        style="color: gray"
      >
        非直棒
      </a>
    </nz-tab>
  </nz-tabset>
</nz-content>

<!-- 大調機新增 -->
<nz-modal
  [(nzVisible)]="isVisibleBigAdjust"
  [nzWidth]="800"
  [nzContent]="bigAdjustInputContent"
  [nzFooter]="bigAdjustInputFooter"
  (nzOnCancel)="cancelBigAdjustInput()"
>
  <ng-template #bigAdjustInputContent>
    <div>
      <table style="border-collapse: separate">
        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;機台
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="輸入機台"
              [(ngModel)]="EQUIP_CODE_4"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;產出尺寸最小值
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="輸入尺寸最小值"
              [(ngModel)]="DIA_MIN_4"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;產出尺寸最大值
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="輸入尺寸最大值"
              [(ngModel)]="DIA_MAX_4"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;產出型態
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="輸入產出型態"
              [(ngModel)]="SHAPE_TYPE_4"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;大調機代碼
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="輸入大調機代碼"
              [(ngModel)]="BIG_ADJUST_CODE_4"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;小調機公差標準
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="輸入小調機公差標準"
              [(ngModel)]="SMALL_ADJUST_TOLERANCE_4"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;爐批數量
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="輸入爐批數量"
              [(ngModel)]="FURANCE_BATCH_QTY_4"
            />
          </td>
        </tr>
      </table>
    </div>
  </ng-template>

  <ng-template #bigAdjustInputFooter>
    <button nz-button nzType="default" (click)="cancelBigAdjustInput()">
      取消新增
    </button>
    <button nz-button nzType="primary" (click)="insertTab()">確定</button>
  </ng-template>
</nz-modal>

<nz-dropdown-menu #equipCode4Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchEquipCode4Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByEquipCode4()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByEquipCode4()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #diaMin4Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchDiaMin4Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByDiaMin4()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByDiaMin4()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #diaMax4Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchDiaMax4Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByDiaMax4()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByDiaMax4()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #shapeType4Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchShapeType4Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByShapeType4()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByShapeType4()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #bigAdjustCode4Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchBigAdjustCode4Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByBigAdjustCode4()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByBigAdjustCode4()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #smallAdjustTolerance4Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        [(ngModel)]="searchSmallAdjustTolerance4Value"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchBySmallAdjustTolerance4()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetBySmallAdjustTolerance4()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #furanceBatchQty4Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchFuranceBatchQty4Value" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByFuranceBatchQty4()"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByFuranceBatchQty4()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>
