
<div style="height: 60px; padding: 15px 15px;">
  <div nz-row>
    <div nz-col nzSpan="12"><h3>客戶對談日誌</h3></div>
    <div nz-col nzSpan="12" style="text-align:right"><button nz-button  (click)="reloadData()"  nzType="primary">刷新</button></div>
  </div>
</div>
<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="8" >
    <nz-table #basicTable [nzData]="leftTable.tbData">
      <thead>
        <tr>
          <th *ngFor="let header of  leftTable.tbHeader">{{header.label}}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of basicTable.data ;let i = index">
        <tr>
          <td>{{i+1}}</td>
          <td>{{data.cstNickname}}</td>
          <ng-container *ngIf="data.serviceStatus === 'O' ; else readytemp">
            <td>{{data.serviceStatus === 'O' ? 'OUT SERVICE' : 'READY'}}</td>
          </ng-container>
          <ng-template #readytemp >
            <ng-container *ngIf="data.lastTalkSession ; else resdytemp1">
              <td>{{data.lastTalkSession.next !== 'END' ? 'IN SESSION' :'READY'}}</td>
            </ng-container>

          </ng-template>
          <ng-template #resdytemp1 >
            <td>{{data.serviceStatus === 'O' ? 'OUT SERVICE' : 'READY'}}</td>
          </ng-template>
          
          <ng-container *ngIf="data.lastTalkSession ;else talkLog">
            <td>
              <ng-container *ngIf="data.lastTalkSession">
                {{data.lastTalkSession.tsName}}
              </ng-container>
            </td>
            <td>
              <ng-container *ngIf="data.lastTalkSession">
               {{data.lastTalkSession.rmsCode}}
              </ng-container>
            </td>
          </ng-container>
          <ng-template #talkLog >
            <td></td>
            <td></td>
          </ng-template>
          <td>
            <ng-container *ngIf="data.serviceStatus === 'R'">
              <!-- <a (click)="createTplModal(data.id,tplTitle, tplContent, tplFooter)">模擬</a> -->
            </ng-container>
            <ng-container *ngIf="data.lastTalkSession">
              <a *ngIf="data.lastTalkSession.next !== 'END'"
              nz-popconfirm
              nzPopconfirmTitle="確定結束當前作業嗎？"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="termnateTalkSession(data.cstCode)"
              (nzOnCancel)="cancelTerm()">TERM</a>
            </ng-container>
            <ng-container *ngIf="data.serviceStatus === 'O'">
              <!-- <a (click)="createTplModal(data.id,tplTitle, tplContent, tplFooter)">模擬</a> -->
              <nz-divider nzType="vertical"></nz-divider>
              <a>啟用</a>
            </ng-container>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="checkLog(data.id)">查看</a>
          
          </td>
        </tr>
      </ng-container>
      </tbody>
    </nz-table>



  </div>
  <div nz-col nzSpan="16">
    <nz-table #basicTable1 [nzData]="rightTable.tbData">
      <thead>
        <tr>
          <th>
            {{selectCustomer}}
          </th>
        </tr>
        <tr>
          <th *ngFor="let header of  rightTable.tbHeader">{{header.label}}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of basicTable1.data ;let i = index">
          <tr>
            <td>{{i+1}}</td>
            <!-- <td>{{showCustomer(data.cstCode)}}</td> -->
            <td>{{data.txSerino}}</td>
            <td>{{data.txNo}}</td>
            <td>
              <ng-container *ngIf="data.talkSessionItem">
                {{data.talkSessionItem.tsName}}
              </ng-container>
              
            </td>
            <td>
              <ng-container *ngIf="data.talkSessionItem">
                {{data.talkSessionItem.tsiSort}}
              </ng-container>
             
            </td>
            <td>
              <ng-container *ngIf="data.talkSessionItem">
                {{data.talkSessionItem.tsiType}}
              </ng-container>
             
            </td>
            <td>
              {{data.msgCode}}
            </td>
            <td>
              <ng-container *ngIf="data.talkSessionItem">
                <ng-container *ngIf=" data.talkSessionItem.tsiType === 'WS' || data.talkSessionItem.tsiType === 'SW'" >
                  {{data.msgCode}}
                </ng-container>
               
              </ng-container>
              
            </td>
            <!-- <td>{{data.useStatus}}</td> -->

            <!-- <td>
              {{data.dataStr}}
            </td> -->
            <td>
              <a (click)="queryJson(data.id)">查看</a>
             
            </td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>

  </div>
</div>

<ng-template #tplTitle>
  <span>模擬數據</span>
</ng-template>
<ng-template #tplContent let-params>
 <p>
  <input nz-input placeholder="請輸入訊息碼" [(ngModel)]="msgCode" />
 </p>
</ng-template>
<ng-template #tplFooter let-ref="modalRef">
  <button nz-button (click)="mockData()"  [nzLoading]="handleLoading"  >確認</button>
  <!-- <button nz-button (click)="ref.destroy()">關閉</button> -->
  <button nz-button nzType="primary" (click)="destroyTplModal(ref)">
   關閉
  </button>
</ng-template>

<nz-drawer style="height: 500px; overflow: scroll;"
      [nzSize] = "size"
      [nzClosable]="false"
      [nzVisible]="drawer.visible"
      [nzPlacement]="placement"
      nzTitle="JSON DATA"
      (nzOnClose)="drawerClose()"
    >
      <ng-container *nzDrawerContent>
        <!-- <ace-editor [(text)]="code" mode="json" style="height:400px;"></ace-editor> -->

        <ngx-json-viewer [json]="jsonData"></ngx-json-viewer>
      </ng-container>
</nz-drawer>
