<nz-content style="margin: 0 16px">
  <app-non-ppsi [childrenTabName]="thisTabName"></app-non-ppsi>

  <nz-spin nzTip="執行中..." [nzSize]="'large'" [nzSpinning]="isSpinning">
    <div style="background: rgb(255, 255, 255);">
      <table>
        <tr>
          <td style="text-align: left; width: 73%">
            <button
              nz-button
              style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24)"
              nzType="primary"
              (click)="openGrindingInput()"
            >
              <span nz-icon nzType="plus" nzTheme="outline"></span>
              新增
            </button>
          </td>

          <td style="padding-bottom: 20px">
            &nbsp;&nbsp;
            <input
              style="display: inline; width: 180px"
              type="file"
              name="file"
              id="importExcel"
              required
              (change)="incomingFile($event)"
              accept=".xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            />
          </td>

          <td>
            <!-- 匯入EXCEL功能 -->
            <button
              id="bacthAdd"
              nz-button
              nzType="primary"
              style="
                box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                background-color: #4caf50;
                border: 2px blue none;
              "
              (click)="handleImport()"
            >
              <span nz-icon nzType="upload" nzTheme="outline"></span>
              E X C E L 匯入
            </button>
          </td>

          <td>
            <!-- 匯出EXCEL功能 -->
            <button
              id="download"
              nz-button
              nzType="primary"
              style="
                box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                background-color: #4caf50;
                border: 2px blue none;
                margin-left: 5px;
              "
              (click)="exportToExcel()"
            >
              <span nz-icon nzType="download" nzTheme="outline"></span>
              E X C E L 匯出
            </button>
          </td>
        </tr>
      </table>
      <p></p>
      <p></p>

      <div nz-col [nzSpan]="30">

        <ag-grid-angular
        style="width: 100%; height: calc(100vh - 250px); overflow: scroll; "
        class="ag-theme-alpine"
        [rowData]="displayPPSINP13List"
        [columnDefs]="columnDefs"
        [pagination]="true"
        editType="fullRow"
        [suppressClickEdit]="true"
        [gridOptions]="gridOptions"
        [frameworkComponents]="frameworkComponents"
        >
        </ag-grid-angular>

      </div>
    </div>
  </nz-spin>
</nz-content>

<!-- 研磨道次新增 -->
<nz-modal
  [(nzVisible)]="isVisibleGrinding"
  [nzWidth]="800"
  [nzContent]="grindingInputContent"
  [nzFooter]="grindingInputFooter"
  (nzOnCancel)="cancelGrindingInput()"
>
  <ng-template #grindingInputContent>
    <div>
      <table style="border-collapse: separate">
        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;鋼種類別
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="鋼種類別"
              [(ngModel)]="GRADE_NO_13"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;產出型態
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="產出型態"
              [(ngModel)]="OUT_TYPE"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;產出成品尺寸最小值
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="產出成品尺寸最小值"
              [(ngModel)]="DIA_MIN"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;產出成品尺寸最大值
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="產出成品尺寸最大值"
              [(ngModel)]="DIA_MAX"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;研磨道次
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="研磨道次"
              [(ngModel)]="GRINDING_PASS"
            />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 110px;
              background-color: rgb(156, 182, 206);
              font-weight: bold;
              border-radius: 5px;
            "
          >
            &nbsp;&nbsp;每刀研磨尺寸
          </td>
          <td style="width: 600px; background-color: #eee">
            &nbsp;
            <input
              style="width: 22%; color: darkblue"
              nz-input
              placeholder="每刀研磨尺寸"
              [(ngModel)]="GRINDING_SIZE"
            />
          </td>
        </tr>
      </table>
    </div>
  </ng-template>

  <ng-template #grindingInputFooter>
    <button nz-button nzType="default" (click)="cancelGrindingInput()">
      取消新增
    </button>
    <button nz-button nzType="primary" (click)="insertTab()">確定</button>
  </ng-template>
</nz-modal>