<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
    <nz-breadcrumb-item>靜態基本資料</nz-breadcrumb-item>
    <nz-breadcrumb-item>通用表</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <tr id="tab-1" style="height:30px; width:1000px; overflow-x:auto">
        <ul>
            <li><a href="#/singleData/I120">直棒退火爐工時</a></li>
            <li class="active"><a href="#/singleData/I121"><label style="color:blue">直棒研磨道次</label></a></li>
            <li><a href="#/singleData/I122">直棒桶槽式工時</a></li>
            <li><a href="#/singleData/I123">直棒清洗站設備能力</a></li>
            <li><a href="#/singleData/I124">公版設定維護</a></li>
            <li><a href="#/singleData/I130">精整批次爐鋼種捲數製程碼對應表</a></li>
        </ul>
      </tr>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  
  <nz-spin  nzTip="執行中..." [nzSize]="'large'" [nzSpinning] = "isSpinning">
    <div style="background: rgb(255, 255, 255); min-height: 1200px;">
      <table>

        <tr>
          <td style="text-align:left;width:73%">
            <button
            nz-button
            style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
            nzType="primary"
            [nzSize]="'large'"
            (click)="openGrindingInput()"
            ><span nz-icon nzType="plus" nzTheme="outline"></span>
              新增
            </button>
          </td>

          <td style="padding-bottom: 20px;">
            &nbsp;&nbsp;
            <input style="display:inline; width:180px; " type="file" name="file" id="importExcel" required (change)="incomingFile($event)"
            accept=".xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
          </td>

          <td>
            <!-- 匯入EXCEL功能 -->
            <button 
              id="bacthAdd" 
              nz-button 
              nzType="primary"
              style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); background-color: #4CAF50;border:2px blue none;"
              (click)="handleImport()" >
              <span nz-icon nzType="upload" nzTheme="outline"></span>
              E X C E L 匯入
            </button>
          </td>

          <td>
            <!-- 匯出EXCEL功能 -->
            <button 
              id="download" 
              nz-button
              nzType="primary"
              style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); background-color: #4CAF50;border:2px blue none; margin-left: 5px;"
              (click)="exportToExcel()">
              <span nz-icon nzType="download" nzTheme="outline" ></span>
              E X C E L 匯出
            </button>
          </td>


        </tr>

      </table>
      <p></p><p></p>

      <div nz-col [nzSpan]="30">
        <nz-table #RowTable13 nzBordered [nzData]="displayPPSINP13List" [nzPageSize]="20" [nzScroll]="{ y: '500px' }">
          <thead>
          <tr>
            <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:100px"
            >鋼種類別
            <nz-filter-trigger 
            [nzActive]="searchGradeNo13Value.length > 0" 
            [nzDropdownMenu]="gradeNo13Menu">
            <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
            </th>
            <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:150px"
            >產出型態
            <nz-filter-trigger 
            [nzActive]="searchOutTypeValue.length > 0" 
            [nzDropdownMenu]="outTypeMenu">
            <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
            </th>
            <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
            >產出成品尺寸最小值
            <nz-filter-trigger 
            [nzActive]="searchDiaMinValue.length > 0" 
            [nzDropdownMenu]="diaMinMenu">
            <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
            </th>
            <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
            >產出成品尺寸最大值
            <nz-filter-trigger 
            [nzActive]="searchDiaMaxValue.length > 0" 
            [nzDropdownMenu]="diaMaxMenu">
            <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
            </th>
            <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
            >研磨道次
            <nz-filter-trigger 
            [nzActive]="searchGrindingPassValue.length > 0" 
            [nzDropdownMenu]="grindingPassMenu">
            <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
            </th>
            <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
            >每刀研磨尺寸
            <nz-filter-trigger 
            [nzActive]="searchGrindingSizeValue.length > 0" 
            [nzDropdownMenu]="grindingSizeMenu">
            <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
            </th>
            <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:80px">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of RowTable13.data;let i = index" class="editable-row">
            <ng-container *ngIf="!editCache13[data.id].edit; else editTemplate13">
              <td style="text-align:center; padding: 5px; height: 60px; width: 100px;">{{ data.GRADE_NO_13 }}</td>
              <td style="text-align:center; padding: 5px; height: 60px; width: 150px;">{{ data.OUT_TYPE }}</td>
              <td style="text-align:center; padding: 5px; height: 60px; width: 120px;">{{ data.DIA_MIN | number }}</td>
              <td style="text-align:center; padding: 5px; height: 60px; width: 100px;">{{ data.DIA_MAX | number }}</td>
              <td style="text-align:center; padding: 5px; height: 60px; width: 100px;">{{ data.GRINDING_PASS | number }}</td>
              <td style="text-align:center; padding: 5px; height: 60px; width: 100px;">{{ data.GRINDING_SIZE | number }}</td>
              <td style="text-align:center; padding: 0px; height: 60px; width: 120px;">
                <a (click)="editRow(data.id)">修改</a>&nbsp;&nbsp;&nbsp;
                <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)">刪除</a>
              </td>
            </ng-container>
            <ng-template #editTemplate13>
              <td>
                <input nz-width="20%" nz-input placeholder="輸入鋼種" [(ngModel)]="editCache13[data.id].data.GRADE_NO_13" />
              </td>
              <td>
                <input nz-width="20%" nz-input placeholder="產出型態" [(ngModel)]="editCache13[data.id].data.OUT_TYPE" />
              </td>
              <td>
                <input nz-width="20%" nz-input placeholder="產出成品尺寸最小值" [(ngModel)]="editCache13[data.id].data.DIA_MIN" />
              </td>
              <td>
                <input nz-width="20%" nz-input placeholder="產出成品尺寸最大值" [(ngModel)]="editCache13[data.id].data.DIA_MAX" />
              </td>
              <td>
                <input nz-width="20%" nz-input placeholder="研磨道次" [(ngModel)]="editCache13[data.id].data.GRINDING_PASS" />
              </td>
              <td>
                <input nz-width="20%" nz-input placeholder="每刀研磨尺寸" [(ngModel)]="editCache13[data.id].data.GRINDING_SIZE" />
              </td>
              <td>
                <a (click)="saveEdit(data.id)">確認</a>&nbsp;&nbsp;&nbsp;
                <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
              </td>
            </ng-template>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-spin>
</nz-content>



<!-- 研磨道次新增 -->
<nz-modal
  [(nzVisible)]="isVisibleGrinding"
  [nzWidth]="800"
  [nzContent]="grindingInputContent"
  [nzFooter]="grindingInputFooter"
  (nzOnCancel)="cancelGrindingInput()">

  <ng-template #grindingInputContent>
    <div>
      <table style="border-collapse: separate;">

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;鋼種類別</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="鋼種類別" [(ngModel)]="GRADE_NO_13" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;產出型態</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="產出型態" [(ngModel)]="OUT_TYPE" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;產出成品尺寸最小值</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="產出成品尺寸最小值" [(ngModel)]="DIA_MIN" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;產出成品尺寸最大值</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="產出成品尺寸最大值" [(ngModel)]="DIA_MAX" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;研磨道次</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="研磨道次" [(ngModel)]="GRINDING_PASS" />
          </td>
        </tr>

        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;每刀研磨尺寸</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="每刀研磨尺寸" [(ngModel)]="GRINDING_SIZE" />
          </td>
        </tr>

      </table>
    </div>
    
  </ng-template>

  <ng-template #grindingInputFooter>
    <button nz-button nzType="default" (click)="cancelGrindingInput()">取消新增</button>
    <button nz-button nzType="primary" (click)="insertTab()">確定</button>
  </ng-template>

</nz-modal>


<nz-dropdown-menu #gradeNo13Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchGradeNo13Value" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByGradeNo13()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByGradeNo13()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #outTypeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchOutTypeValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByOutType()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByOutType()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #diaMinMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchDiaMinValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByDiaMin()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByDiaMin()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #diaMaxMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchDiaMaxValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByDiaMax()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByDiaMax()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #grindingPassMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchGrindingPassValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByGrindingPass()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByGrindingPass()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #grindingSizeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchGrindingSizeValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByGrindingsize()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByGrindingsize()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>