<nz-content style="margin:0 16px;">
    <nz-breadcrumb style="margin:16px 0;">
      <nz-breadcrumb-item>實驗室工時</nz-breadcrumb-item>
      <nz-breadcrumb-item>靜態基本資料</nz-breadcrumb-item>
      <nz-breadcrumb-item>實驗室取樣時間區間設定(LABI002)</nz-breadcrumb-item>
    </nz-breadcrumb>

    <!-- 實驗室取樣時間設定(only time) -->
    <nz-spin nzTip="Loading..." [nzSize]="'large'" [nzSpinning] = "isSpinningForOnlyTime">
        
        <div class="wrap">
            <button
                nz-button
                style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); margin-top: 20px; margin-left: 20px;"
                nzType="primary"
                [nzSize]="'large'"
                (click)="openSampleTimeSettingInputForOnlyTime()">
                <span nz-icon nzType="plus" nzTheme="outline"></span>
                新增
            </button>
        </div>

        <nz-table #tblabm003RowTable nzBordered [nzData]="displayTblabm003List" [nzPageSize]="20" [nzScroll]="{ y: '1200px'}" style="margin-top: 50px; margin-bottom: 200px; border:3px #cccccc solid;" cellpadding="10" border='1'>
            <thead>
                <tr>
                    <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                      <font size="3.5"><b>編號</b></font>
                              <!-- <nz-filter-trigger [(nzVisible)]="itemIndexFilterVisible" [nzActive]="itemIndexSearchValue.length > 0" [nzDropdownMenu]="itemIndexFilterDropdownMenu">
                                <span nz-icon nzType="search"></span>
                              </nz-filter-trigger>  -->
                    </th>

                    <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                    <font size="3.5"><b>現場取樣時間(起)</b></font>
                            <!-- <nz-filter-trigger [(nzVisible)]="itemIndexFilterVisible" [nzActive]="itemIndexSearchValue.length > 0" [nzDropdownMenu]="itemIndexFilterDropdownMenu">
                                <span nz-icon nzType="search"></span>
                            </nz-filter-trigger>  -->
                    </th>

                    <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                        <font size="3.5"><b>現場取樣時間(迄)</b></font>
                                <!-- <nz-filter-trigger [(nzVisible)]="itemIndexFilterVisible" [nzActive]="itemIndexSearchValue.length > 0" [nzDropdownMenu]="itemIndexFilterDropdownMenu">
                                    <span nz-icon nzType="search"></span>
                                </nz-filter-trigger>  -->
                    </th>

                    <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                        <font size="3.5"><b>實驗室收樣時間</b></font>
                                <!-- <nz-filter-trigger [(nzVisible)]="itemIndexFilterVisible" [nzActive]="itemIndexSearchValue.length > 0" [nzDropdownMenu]="itemIndexFilterDropdownMenu">
                                    <span nz-icon nzType="search"></span>
                                </nz-filter-trigger>  -->
                    </th>

                    <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                        <font size="3.5"><b>預設時段</b></font>
                                <!-- <nz-filter-trigger [(nzVisible)]="itemIndexFilterVisible" [nzActive]="itemIndexSearchValue.length > 0" [nzDropdownMenu]="itemIndexFilterDropdownMenu">
                                    <span nz-icon nzType="search"></span>
                                </nz-filter-trigger>  -->
                    </th>

                    <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">Action</th>
                </tr>

            </thead>

            <tbody>
                <tr *ngFor="let data of tblabm003RowTable.data; let i = index">
                    <ng-container *ngIf="!editCacheForOnlyTime[data.id].isEdit; else editTemplateForOnlyTime">
                        <td style="text-align:center; padding: 5px; height: 60px;">{{ data.rowNumber }}</td>
                        <td style="text-align:center; padding: 5px; height: 60px;">{{ data.timeStart | date:'HH:mm:ss' }}</td>
                        <td style="text-align:center; padding: 5px; height: 60px;">{{ data.timeEnd | date:'HH:mm:ss'}}</td>
                        <td style="text-align:center; padding: 5px; height: 60px;">{{ data.setTime | date:'HH:mm:ss' }}</td>
                        <td style="text-align:center; padding: 5px; height: 60px;">{{ data.defaultSet }}</td>
                        <td style="text-align:center; padding: 0px; height: 10px; width: 100px;">
                            <a id="revise" (click)="editRowDataForOnlyTime(data.id)">
                              <span nz-icon nzType="edit" nzTheme="outline"></span>
                              修改
                            </a>|
                            <a id="delete" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRowDataForOnlyTime(data.id)">
                              <span nz-icon nzType="delete" nzTheme="outline"></span>
                              刪除
                            </a>
                          </td>
                    </ng-container>

                    <ng-template #editTemplateForOnlyTime>

                        <td nzWidth="3%" style="text-align:center; padding: 5px; height: 60px;">
                            {{ data.rowNumber }}
                        </td>

                        
                        <td style="text-align:center;">
                            <nz-time-picker 
                                [(ngModel)]="editCacheForOnlyTime[data.id].data.timeStart" 
                                nzPlaceHolder="現場取樣時間(起)"
                                [nzNowText]="'Now'"
                                [nzOkText]="'確認'"
                                [nzDefaultOpenValue]="timePickerDefaultOpenValue">
                            </nz-time-picker>
                        </td>

                        <td style="text-align:center;">
                            <nz-time-picker 
                                [(ngModel)]="editCacheForOnlyTime[data.id].data.timeEnd" 
                                nzPlaceHolder="現場取樣時間(迄)"
                                [nzNowText]="'Now'"
                                [nzOkText]="'確認'"
                                [nzDefaultOpenValue]="timePickerDefaultOpenValue">
                            </nz-time-picker>
                        </td>

                        <td style="text-align:center;"> 
                            <nz-time-picker 
                                [(ngModel)]="editCacheForOnlyTime[data.id].data.setTime" 
                                nzPlaceHolder="實驗室收樣時間"
                                [nzNowText]="'Now'"
                                [nzOkText]="'確認'"
                                [nzDefaultOpenValue]="timePickerDefaultOpenValue">
                            </nz-time-picker>
                        </td>

                        <td style="text-align:center;">
                            <label
                                nz-tooltip 
                                [nzTooltipTitle]="editCacheForOnlyTime[data.id].data.defaultTimeTooltip"
                                nz-checkbox 
                                [nzDisabled]="editCacheForOnlyTime[data.id].data.isDefaultTimecheckboxDisabled"
                                [(ngModel)]="editCacheForOnlyTime[data.id].data.isSetDefaultTime"
                                (ngModelChange)="setDefaultTimeHandler(data.id)">
                            </label>
                        </td>

                        <td style="text-align:center; padding: 0px; height: 10px; width: 100px;">
                            <a (click)="saveEditForOnlyTime(data.id)">
                              <span nz-icon nzType="save" nzTheme="outline"></span>
                              確認
                            </a>|
                            <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEditForOnlyTime(data.id)">
                              <span nz-icon nzType="close" nzTheme="outline"></span>
                              取消
                            </a>
                          </td>
                    </ng-template>
                </tr>
            </tbody>

        </nz-table>

    </nz-spin>




    <!-- 實驗室取樣時間設定(weekday+time) -->
    <nz-spin nzTip="Loading..." [nzSize]="'large'" [nzSpinning] = "isSpinning" style="display: none;">
        <div class="wrap">
            <button
                nz-button
                style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); margin-top: 20px; margin-left: 20px;"
                nzType="primary"
                [nzSize]="'large'"
                (click)="openSampleTimeSettingInput()"
        ><span nz-icon nzType="plus" nzTheme="outline"></span>
            新增
        </button>

        </div>

        <nz-table #tblabm002RowTable nzBordered  [nzData]="displayTblabm002List" [nzPageSize]="20" [nzScroll]="{ y: '1200px'}" style="margin-top: 50px; margin-bottom: 200px; border:3px #cccccc solid;" cellpadding="10" border='1'>
            <thead>
                <tr>
                    <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                      <font size="3.5"><b>ID</b></font>
                              <!-- <nz-filter-trigger [(nzVisible)]="itemIndexFilterVisible" [nzActive]="itemIndexSearchValue.length > 0" [nzDropdownMenu]="itemIndexFilterDropdownMenu">
                                <span nz-icon nzType="search"></span>
                              </nz-filter-trigger>  -->
                    </th>

                    <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                        <font size="3.5"><b>星期起</b></font>
                                <!-- <nz-filter-trigger [(nzVisible)]="itemIndexFilterVisible" [nzActive]="itemIndexSearchValue.length > 0" [nzDropdownMenu]="itemIndexFilterDropdownMenu">
                                  <span nz-icon nzType="search"></span>
                            </nz-filter-trigger>  -->
                    </th>

                    <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                    <font size="3.5"><b>時間起</b></font>
                            <!-- <nz-filter-trigger [(nzVisible)]="itemIndexFilterVisible" [nzActive]="itemIndexSearchValue.length > 0" [nzDropdownMenu]="itemIndexFilterDropdownMenu">
                                <span nz-icon nzType="search"></span>
                            </nz-filter-trigger>  -->
                    </th>

                    <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                        <font size="3.5"><b>星期迄</b></font>
                                <!-- <nz-filter-trigger [(nzVisible)]="itemIndexFilterVisible" [nzActive]="itemIndexSearchValue.length > 0" [nzDropdownMenu]="itemIndexFilterDropdownMenu">
                                    <span nz-icon nzType="search"></span>
                                </nz-filter-trigger>  -->
                    </th>

                    <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                        <font size="3.5"><b>時間迄</b></font>
                                <!-- <nz-filter-trigger [(nzVisible)]="itemIndexFilterVisible" [nzActive]="itemIndexSearchValue.length > 0" [nzDropdownMenu]="itemIndexFilterDropdownMenu">
                                    <span nz-icon nzType="search"></span>
                                </nz-filter-trigger>  -->
                    </th>

                    <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 2px; height: 55px; width:50px">
                        <font size="3.5"><b>天數</b></font>
                                <!-- <nz-filter-trigger [(nzVisible)]="itemIndexFilterVisible" [nzActive]="itemIndexSearchValue.length > 0" [nzDropdownMenu]="itemIndexFilterDropdownMenu">
                                    <span nz-icon nzType="search"></span>
                                </nz-filter-trigger>  -->
                    </th>

                    <th nzWidth="3%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">Action</th>
                </tr>

            </thead>

            <tbody>
                <tr *ngFor="let data of tblabm002RowTable.data;let i = index">
                    <ng-container *ngIf="!editCache[data.id].isEdit; else editTemplate">
                        <td style="text-align:center; padding: 5px; height: 60px;">{{ data.id }}</td>
                        <td style="text-align:center; padding: 5px; height: 60px;">{{ data.startWeekDay }}</td>
                        <td style="text-align:center; padding: 5px; height: 60px;">{{ data.startTime | date:'HH:mm:ss' }}</td>
                        <td style="text-align:center; padding: 5px; height: 60px;">{{ data.endWeekDay }}</td>
                        <td style="text-align:center; padding: 5px; height: 60px;">{{ data.endTime | date:'HH:mm:ss'}}</td>
                        <td style="text-align:center; padding: 5px; height: 60px;">{{ data.days }}</td>
                        <td style="text-align:center; padding: 0px; height: 10px; width: 100px;">
                            <a id="revise" (click)="editRowData(data.id)">
                              <span nz-icon nzType="edit" nzTheme="outline"></span>
                              修改
                            </a>|
                            <a id="delete" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRowData(data.id)">
                              <span nz-icon nzType="delete" nzTheme="outline"></span>
                              刪除
                            </a>
                          </td>
                    </ng-container>

                    <ng-template #editTemplate>

                        <td nzWidth="3%" style="text-align:center; padding: 5px; height: 60px;">
                            {{ editCache[data.id].data.id }}
                        </td>

                        <td>
                            <nz-select style="width: 120px;"
                                [(ngModel)]="editCache[data.id].data.startWeekDay"
                                nzPlaceHolder="星期起"
                                (ngModelChange)="editStartWeekDayChange(false, data.id)" 
                                nzAllowClear
                                [nzOptions]="editStartWeekDayList">
                            </nz-select>
                        </td>    
                        
                        <td>
                            <nz-time-picker 
                                [(ngModel)]="editCache[data.id].data.startTime" 
                                nzPlaceHolder="時間起"
                                nzFormat="H:m"
                                [nzMinuteStep]="30"
                                [nzNowText]="'Now'"
                                [nzOkText]="'確認'"
                                (ngModelChange)="startTimeChange(data.id)"
                                [nzDefaultOpenValue]="timePickerDefaultOpenValue">
                            </nz-time-picker>
                        </td>

                        <td>
                            <nz-select style="width: 120px;"
                                [(ngModel)]="editCache[data.id].data.endWeekDay"
                                nzPlaceHolder="星期迄"
                                nzAllowClear
                                (ngModelChange)="endWeekDayChange(data.id)" 
                                [nzOptions]="editCache[data.id].editEndWeekDayList">
                            </nz-select>
                        </td>

                        <td>
                            <nz-time-picker 
                                [(ngModel)]="editCache[data.id].data.endTime" 
                                nzPlaceHolder="時間迄"
                                nzFormat="H:m"
                                [nzMinuteStep]="30"
                                [nzNowText]="'Now'"
                                [nzOkText]="'確認'"
                                [nzDisabledHours]="disabledHours(data.id)"
                                [nzDisabledMinutes]="disabledMinutes(data.id)"
                                [nzDisabled]="endTimeDisabled"
                                [nzDefaultOpenValue]="timePickerDefaultOpenValue">
                            </nz-time-picker>
                        </td>

                        <td>
                            <nz-input-number 
                                style="width: 110px; margin-left:10px;" 
                                nzPlaceHolder = "請輸入天數" 
                                [(ngModel)]="editCache[data.id].data.days" 
                                [nzMin]="0" [nzMax]="100" 
                                [nzStep]="1">
                            </nz-input-number>
                        </td>

                        <td style="text-align:center; padding: 0px; height: 10px; width: 100px;">
                            <a (click)="saveEdit(data.id)">
                              <span nz-icon nzType="save" nzTheme="outline"></span>
                              確認
                            </a>|
                            <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">
                              <span nz-icon nzType="close" nzTheme="outline"></span>
                              取消
                            </a>
                          </td>
                    </ng-template>
                </tr>
            </tbody>

        </nz-table>


    </nz-spin>

    <!-- 新增實驗室靜態資料(weekday+time) -->
    <nz-modal
        [(nzVisible)]="isVisibleSampleTimeSetting"
        [nzOkLoading]="isOkLoading"
        [nzWidth]="850" 
        [nzTitle]="repareTitle" 
        [nzContent]="SampleTimeSettingInputContent" 
        [nzMaskClosable]="false"
        (nzOnOk)="insertSampleTimeSetting()"
        [nzOkText]="'確認新增'"
        (nzOnCancel)="cancelSampleTimeSettingInput()">

    <ng-template #repareTitle>新增實驗室取樣時間設定</ng-template>
    <ng-template #SampleTimeSettingInputContent>

        <div class="wrapInput">
            <div class="txt">
                <span>取樣時間設定</span> 
            </div>
            <div class="select">

                <nz-select style="width: 120px; margin-left:10px; margin-right: 5px;"
                    [(ngModel)]="startWeekDay"
                    nzPlaceHolder="星期起"
                    (ngModelChange)="startWeekDayChange(startWeekDay)" 
                    nzAllowClear
                    [nzOptions]="startWeekDayList">
                </nz-select>

                <nz-time-picker 
                    [(ngModel)]="startTime" 
                    nzPlaceHolder="時間起"
                    nzFormat="H:m"
                    [nzMinuteStep]="30"
                    [nzNowText]="'Now'"
                    [nzOkText]="'確認'"
                    (ngModelChange)="startTimeChange(null)"
                    [nzDefaultOpenValue]="timePickerDefaultOpenValue">
                </nz-time-picker>

                <span style="margin: 0 20px;">~</span> 

                <nz-select style="width: 120px; margin-left:10px; margin-right: 5px;"
                    [(ngModel)]="endWeekDay"
                    nzPlaceHolder="星期迄"
                    nzAllowClear
                    (ngModelChange)="endWeekDayChange(null)" 
                    [nzOptions]="endWeekDayList">
                </nz-select>

                <nz-time-picker 
                    [(ngModel)]="endTime" 
                    nzPlaceHolder="時間迄"
                    nzFormat="H:m"
                    [nzMinuteStep]="30"
                    [nzNowText]="'Now'"
                    [nzOkText]="'確認'"
                    [nzDisabledHours]="disabledHours(null)"
                    [nzDisabledMinutes]="disabledMinutes(null)"
                    [nzDisabled]="endTimeDisabled"
                    [nzDefaultOpenValue]="timePickerDefaultOpenValue">
                </nz-time-picker>
                
            </div>

        </div>

        <div class="wrapInput"  style="margin-top: 10px;">
            <div class="txt">
                <span>天數</span>
            </div>
            <div class="select">
                <nz-input-number 
                    style="width: 110px; margin-left:10px;" 
                    nzPlaceHolder = "請輸入天數" 
                    [(ngModel)]="days" 
                    [nzMin]="0" [nzMax]="100" 
                    [nzStep]="1">
                </nz-input-number>
            </div>
        </div>



    </ng-template>

    </nz-modal>

       <!-- 新增實驗室靜態資料(only time) -->
    <nz-modal
        [(nzVisible)]="isVisibleSampleTimeSettingForOnlyTime"
        [nzOkLoading]="isOkLoadingForOnlyTime"
        [nzWidth]="850" 
        [nzTitle]="repareTitleForOnlyTime" 
        [nzContent]="sampleTimeSettingInputContentForOnlyTime" 
        [nzMaskClosable]="false"
        (nzOnOk)="insertSampleTimeSettingForOnlyTime()"
        [nzOkText]="'確認新增'"
        (nzOnCancel)="cancelSampleTimeSettingInputForOnlyTime()">

    <ng-template #repareTitleForOnlyTime>新增實驗室取樣時段</ng-template>
    <ng-template #sampleTimeSettingInputContentForOnlyTime>

        <div class="wrapInput">
            <div class="txt">
                <span>現場取樣時間</span> 
            </div>
            <div class="select">

                <nz-time-picker 
                    [(ngModel)]="startTimeForOnlyTime" 
                    nzPlaceHolder="現場取樣時間(起)"
                    [nzNowText]="'Now'"
                    [nzOkText]="'確認'"
                    [nzDefaultOpenValue]="timePickerDefaultOpenValue">
                </nz-time-picker>

                <span style="margin: 0 20px;">~</span> 

                <nz-time-picker 
                    [(ngModel)]="endTimeForOnlyTime" 
                    nzPlaceHolder="現場取樣時間(迄)"
                    [nzNowText]="'Now'"
                    [nzOkText]="'確認'"
                    [nzDefaultOpenValue]="timePickerDefaultOpenValue">
                </nz-time-picker>
            </div>
        </div>

        <div class="wrapInput" style="margin-top: 10px;">
            <div class="txt">
                <span>實驗室收樣時間</span>
            </div>
            <div class="select">
                <nz-time-picker 
                    [(ngModel)]="setTimeForOnlyTime" 
                    nzPlaceHolder="實驗室收樣時間"
                    [nzNowText]="'Now'"
                    [nzOkText]="'確認'"
                    [nzDefaultOpenValue]="timePickerDefaultOpenValue">
                </nz-time-picker>
            </div>
        </div>

        <div class="wrapInput" style="margin-top: 10px;">
            <div class="txt">
                <span>是否為預設時段</span>
            </div>
            <div class="select">
                <label 
                    nz-checkbox 
                    [(ngModel)]="isSetDefaultTime">
                </label>
            </div>
        </div>

    </ng-template>
   </nz-modal>

</nz-content>