<nz-content style="margin:0 16px;">
    <nz-breadcrumb style="margin:16px 0;">
      <nz-breadcrumb-item>訂單即時回應</nz-breadcrumb-item>
      <nz-breadcrumb-item>原料匹配策略</nz-breadcrumb-item>
      <nz-breadcrumb-item>配料策略設定</nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-spin  nzTip="Loading..." [nzSize]="'large'" [nzSpinning] = "isSpinning">
      <button
      nz-button
      style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
      nzType="primary"
      class="opButton"
      (click)="onSearch()">
      查詢歷史策略
      </button>
      &nbsp;
      <button
      nz-button
      style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
      nzType="primary"
      class="opButton"
      (click)="openPicker()">
      新增策略
      </button>
      <p></p>

      <!-- 歷史策略清單 -->
      <div style="padding:24px; background: rgb(255, 255, 255); height: 100%; width: 100%;">
        <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="listOfData" [nzScroll]="{ x: '100px', y: '500px' }">
            <thead>
              <tr>
                <th style="text-align: left;">策略名稱</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of rowSelectionTable.data; let i = index" class="editable-row">                          
                  <td style="text-align:left;">
                    <a id="revise" (click)="onStrategy(data.strategy_name)">
                      <span nzTheme="outline"></span>
                      {{ data.strategy_name }}
                    </a>
                  </td>
              </tr>
                <!-- </ng-container>
                <ng-template #editTemplate1>
                  <td>
                    <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.priority_f" />
                  </td>
                  <td>
                    <a (click)="saveEdit(data.id, 1)">
                      <span nz-icon nzType="save" nzTheme="outline"></span>
                      確認
                    </a>|
                    <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id, 1)">
                      <span nz-icon nzType="close" nzTheme="outline"></span>
                      取消
                    </a>
                  </td>
                </ng-template> -->
              
            </tbody>
          </nz-table>
          <!-- <nz-dropdown-menu #menu1="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchStrategyName(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu2="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchPriorityA(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu3="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchPriorityB(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu4="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchPriorityC(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu5="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchPriorityD(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu6="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchPriorityE(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu7="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchPriorityF(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu> -->
        </div>
      <p></p>
      <button
      nz-button
      style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
      nzType="primary"
      class="opButton"
      (click)="exportToExcel()">
      匯出Excel
      </button>
      <p></p>
      <div style="padding:24px; background: rgb(255, 255, 255); min-height: 1000px; min-width: 800px;">
        <nz-table #rowSelectionTable1 nzShowPagination1 nzShowSizeChanger1 [nzData]="listOfData1" [nzSize]="tableSize" [nzScroll]="{ x: '300px', y: '1500px' }">
            <thead>
              <tr>
                <th style="text-align: center;">策略名稱</th>
                <th style="text-align: center;" nzWidth="60px">順位</th>
                <th style="text-align: center;">選項1</th>
                <th style="text-align: center;">選項2</th>
                <th style="text-align: center;">選項3</th>
                <th style="text-align: center;">選項4</th>
                <th style="text-align: center;">選項5</th>
                <th style="text-align: center;">選項6</th>
                <th style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of rowSelectionTable1.data; let i = index" class="editable-row">
                                       
                  <td style="text-align: center;">{{ data.strategy_name }}</td>
                  <td style="text-align: center;">{{ data.order }}</td>
                  <td style="text-align: center;">{{ data.priority_a }}</td>
                  <td style="text-align: center;">{{ data.priority_b }}</td>
                  <td style="text-align: center;">{{ data.priority_c }}</td>
                  <td style="text-align: center;">{{ data.priority_d }}</td>
                  <td style="text-align: center;">{{ data.priority_e }}</td>
                  <td style="text-align: center;">{{ data.priority_f }}</td>
                  <td style="text-align: center;">
                    <a id="revise" (click)="editRow(data.id, 1)">
                      <span nz-icon nzType="edit" nzTheme="outline"></span>
                      修改
                    </a>|
                    <a id="delete" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id, 1)">
                      <span nz-icon nzType="delete" nzTheme="outline"></span>
                      刪除
                    </a>
                  </td>
              </tr>
                <!-- </ng-container>
                <ng-template #editTemplate1>
                  <td>
                    <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.strategy_name" />
                  </td>
                  <td>
                    <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.priority_a" />
                  </td>
                  <td>
                    <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.priority_b" />
                  </td>
                  <td>
                    <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.priority_c" />
                  </td>
                  <td>
                    <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.priority_d" />
                  </td>
                  <td>
                    <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.priority_e" />
                  </td>
                  <td>
                    <input nz-width="20%" nz-input placeholder="請輸入" [(ngModel)]="editCache1[data.id].data.priority_f" />
                  </td>
                  <td>
                    <a (click)="saveEdit(data.id, 1)">
                      <span nz-icon nzType="save" nzTheme="outline"></span>
                      確認
                    </a>|
                    <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id, 1)">
                      <span nz-icon nzType="close" nzTheme="outline"></span>
                      取消
                    </a>
                  </td>
                </ng-template> -->
              
            </tbody>
          </nz-table>
          <!-- <nz-dropdown-menu #menu1="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchStrategyName(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu2="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchPriorityA(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu3="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchPriorityB(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu4="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchPriorityC(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu5="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchPriorityD(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu6="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchPriorityE(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>
          <nz-dropdown-menu #menu7="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="number" nz-input placeholder="Search" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="searchPriorityF(searchValue)" class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu> -->
        </div>
  </nz-spin>
</nz-content>

<nz-modal
  [nzStyle]="{top: '20px'}"
  [(nzVisible)]="isVisible"
  [nzTitle]="strategyTitle"
  [nzContent]="strategyContent"
  [nzFooter]="strategyFooter"
  [nzWidth]="1200"
>

  <ng-container>
    <ng-template #strategyTitle><label style = "font-weight: bold; font-size:20px; color: blue;"></label><label style = "font-weight: bold; font-size: 18px;">新增策略</label></ng-template>
    <ng-template #strategyContent>
      <td style = "font-weight: bold; font-size: 16px;">策略名稱:
        &nbsp;&nbsp;<input type="text" [(ngModel)]="textValue1" name="textboxName">
        &nbsp;
        <button
        nz-button
        style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
        nzType="primary"
        class="opButton"
        (click)="requestTEST()">
        存檔
        </button>
      </td>
      <p></p>
      <label style = "font-weight: bold; font-size: 16px;">條件選擇：</label>
      <p></p>
      <div class="flex-container">
        <div class="flex-item">
          <td style = "font-weight: bold; font-size: 16px;">1.鋼種</td>
          <input type="checkbox" id="steel_304" (change)="onClick1($event)" [(ngModel)]="textValue1" [disabled]="textValue2 || textValue3">
          <label style = "font-size: 16px; padding: 5px" for="steel_304">304</label><br>
          <input type="checkbox" id="steel_304L" (change)="onClick1($event)" [(ngModel)]="textValue2" [disabled]="textValue1 || textValue3">
          <label style = "font-size: 16px; padding: 5px" for="steel_304L">304L</label><br>
          <input type="checkbox" id="steel_316" (change)="onClick1($event)" [(ngModel)]="textValue3" [disabled]="textValue1 || textValue2">
          <label style = "font-size: 16px; padding: 5px" for="steel_316">316</label><br>
        </div>
        <div class="flex-item">
          <td style = "font-weight: bold; font-size: 16px;">2.寬度</td>
          <input type="checkbox" id="width_1030" (change)="onClick2($event)" [(ngModel)]="textValue4" [disabled]="textValue5 || textValue6 || textValue7 || textValue8">
          <label style = "font-size: 16px; padding: 5px" for="width_1030">1030</label><br>
          <input type="checkbox" id="width_1240" (change)="onClick2($event)" [(ngModel)]="textValue5" [disabled]="textValue4 || textValue6 || textValue7 || textValue8">
          <label style = "font-size: 16px; padding: 5px" for="width_1240">1240</label><br>
          <input type="checkbox" id="width_1270" (change)="onClick2($event)" [(ngModel)]="textValue6" [disabled]="textValue5 || textValue4 || textValue7 || textValue8">
          <label style = "font-size: 16px; padding: 5px" for="width_1270">1270</label><br>
          <input type="checkbox" id="width_1530" (change)="onClick2($event)" [(ngModel)]="textValue7" [disabled]="textValue5 || textValue6 || textValue4 || textValue8">
          <label style = "font-size: 16px; padding: 5px" for="width_1530">1530</label><br>
          <input type="checkbox" id="width_1550" (change)="onClick2($event)" [(ngModel)]="textValue8" [disabled]="textValue5 || textValue6 || textValue7 || textValue4">
          <label style = "font-size: 16px; padding: 5px" for="width_1550">1550</label><br>
        </div>
        <div class="flex-item">
          <td style = "font-weight: bold; font-size: 16px;">3.規範訂單</td>
          <input type="checkbox" id="rule_JIS" (change)="onClick3($event)" [(ngModel)]="textValue9" [disabled]="textValue10">
          <label style = "font-size: 16px; padding: 5px" for="rule_JIS">JIS</label><br>
          <input type="checkbox" id="rule_certify" (change)="onClick3($event)" [(ngModel)]="textValue10" [disabled]="textValue9">
          <label style = "font-size: 16px; padding: 5px" for="rule_certify">產證</label><br>
        </div>
        <div class="flex-item">
          <td style = "font-weight: bold; font-size: 16px;">4.鋼種匹配</td>
          <input type="checkbox" id="steel_same" (change)="onClick4($event)" [(ngModel)]="textValue11" [disabled]="textValue12">
          <label style = "font-size: 16px; padding: 5px" for="steel_same">鋼種一致(304>304)</label><br>
          <input type="checkbox" id="steel_shared" (change)="onClick4($event)" [(ngModel)]="textValue12" [disabled]="textValue11">
          <label style = "font-size: 16px; padding: 5px" for="steel_shared">鋼種共用(304>304L)</label><br>
        </div>
        <div class="flex-item">
          <td style = "font-weight: bold; font-size: 16px;">5.厚度</td>
          <input type="checkbox" id="thick_asc" (change)="onClick5($event)" [(ngModel)]="textValue13" [disabled]="textValue14">
          <label style = "font-size: 16px; padding: 5px" for="thick_asc">厚度↑(小至大)</label><br>
          <input type="checkbox" id="thick_dsc" (change)="onClick5($event)" [(ngModel)]="textValue14" [disabled]="textValue13">
          <label style = "font-size: 16px; padding: 5px" for="thick_dsc">厚度↓(大至小)</label><br>
        </div>
        <div class="flex-item">
          <td style = "font-weight: bold; font-size: 16px;">6.產品別</td>
          <input type="checkbox" id="product_CR" (change)="onClick6($event)" [(ngModel)]="textValue15" [disabled]="textValue16">
          <label style = "font-size: 16px; padding: 5px" for="product_CR">CR</label><br>
          <input type="checkbox" id="product_NO1" (change)="onClick6($event)" [(ngModel)]="textValue16" [disabled]="textValue15">
          <label style = "font-size: 16px; padding: 5px" for="product_NO1">NO.1</label><br>
        </div>
      </div>
      <p></p>
      <button
      nz-button
      style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
      nzType="primary"
      class="opButton"
      (click)="requestTEST()">
      排序確認
      </button>
      <p></p>
      <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="listOfData1" [nzScroll]="{ x: '500px', y: '500px' }">
        <thead>
          <tr>
            <th tyle="text-align: center;" nzWidth="70px">順位</th>
            <th tyle="text-align: center;">排序1</th>
            <th tyle="text-align: center;">排序2</th>
            <th tyle="text-align: center;">排序3</th>
            <th tyle="text-align: center;">排序4</th>
            <th tyle="text-align: center;">排序5</th>
            <th tyle="text-align: center;">排序6</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </nz-table>
    </ng-template>
    <ng-template #strategyFooter>
      <button nz-button nzType="default" (click)="openPickerCancel()">關閉</button>
      <button nz-button nzType="primary">確認</button>
    </ng-template>


  </ng-container>


</nz-modal>