<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>生產計畫</nz-breadcrumb-item>
    <nz-breadcrumb-item>靜態基本資料</nz-breadcrumb-item>
    <nz-breadcrumb-item>通用表</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <tr id="tab-1" style="height:30px; width:1000px; overflow-x:auto">
        <ul>
            <li class="active"><a href="#/singleData/I120"><label style="color:blue">直棒退火爐工時</label></a></li>
            <li><a href="#/singleData/I121">直棒研磨道次</a></li>
            <li><a href="#/singleData/I122">直棒桶槽式工時</a></li>
            <li><a href="#/singleData/I123">直棒清洗站設備能力</a></li>
            <li><a href="#/singleData/I124">特殊站優先順序表</a></li>
            <li><a href="#/singleData/I130">精整批次爐鋼種捲數製程碼對應表</a></li>
        </ul>
      </tr>
    </nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-spin  nzTip="執行中..." [nzSize]="'large'" [nzSpinning] = "isSpinning">
    <div style="min-height: 1200px;">
      <div>          
        <button
          nz-button
          style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
          nzType="primary"
          [nzSize]="'large'"
          (click)="openStoveInput()"
        ><span nz-icon nzType="plus" nzTheme="outline"></span>
          新增
        </button>         
        &nbsp;&nbsp;
        <!-- 匯入EXCEL功能 -->
        <input style="display:inline; width:180px; " type="file" name="file" id="importExcel" required (change)="incomingFile($event)"
          accept=".xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">            
        <button 
          id="bacthAdd" 
          nz-button 
          nzType="primary"
          [nzSize]="'large'"
          style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); background-color: #4CAF50;border:2px blue none;"
          (click)="handleImport()" 
        ><span nz-icon nzType="upload" nzTheme="outline"></span>
          E X C E L 匯入
        </button>
        <!-- 匯出EXCEL功能 -->
        <button 
          id="download" 
          nz-button
          nzType="primary"
          [nzSize]="'large'"
          style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); background-color: #4CAF50;border:2px blue none; margin-left: 5px;"
          (click)="exportToExcel()"
        ><span nz-icon nzType="download" nzTheme="outline" ></span>
          E X C E L 匯出
        </button>  
      </div>  
      <div nz-col [nzSpan]="90" style="padding-top:10px;">
        <nz-table #RowTable9 nzBordered [nzData]="displayPPSINP09List" [nzPageSize]="20" [nzScroll]="{ y: '500px' }">
          <thead>
            <tr>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:100px"
              >站號
              <nz-filter-trigger 
              [nzActive]="searchShopCodeValue.length > 0" 
              [nzDropdownMenu]="shopCodeMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:150px"
              >機台
              <nz-filter-trigger 
              [nzActive]="searchEquipCodeValue.length > 0" 
              [nzDropdownMenu]="equipCodeMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
              >作業代碼
              <nz-filter-trigger 
              [nzActive]="searchOpCodeValue.length > 0" 
              [nzDropdownMenu]="opCodeMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
              >作業代碼1
              <nz-filter-trigger 
              [nzActive]="searchOpCode1Value.length > 0" 
              [nzDropdownMenu]="opCode1Menu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
              >作業代碼2
              <nz-filter-trigger 
              [nzActive]="searchOpCode2Value.length > 0" 
              [nzDropdownMenu]="opCode2Menu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
              >作業代碼3
              <nz-filter-trigger 
              [nzActive]="searchOpCode3Value.length > 0" 
              [nzDropdownMenu]="opCode3Menu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
              >溫度
              <nz-filter-trigger 
              [nzActive]="searchTemperatureValue.length > 0" 
              [nzDropdownMenu]="temperatureMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
              >頻率
              <nz-filter-trigger 
              [nzActive]="searchFrequencyValue.length > 0" 
              [nzDropdownMenu]="frequencyMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
              >每噸花時間
              <nz-filter-trigger 
              [nzActive]="searchSteelGradeMinValue.length > 0" 
              [nzDropdownMenu]="steelGradeMinMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
              >每爐工時
              <nz-filter-trigger 
              [nzActive]="searchHeatMinValue.length > 0" 
              [nzDropdownMenu]="HeatMinMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px"
              >穿插設定
              <nz-filter-trigger 
              [nzActive]="searchAlternateSetValue.length > 0" 
              [nzDropdownMenu]="AlternateSetMenu">
              <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
              </th>
              <th style="text-align:center; background-color: #eee; padding: 0px; height: 55px; width:120px">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of RowTable9.data;let i = index" class="editable-row" style="height: 30px;">
              <ng-container *ngIf="!editCache9[data.id].edit; else editTemplate1">
                <td style="text-align:center; padding: 5px; height: 40px; width: 100px;">{{ data.SHOP_CODE }}</td>
                <td style="text-align:center; padding: 5px; height: 40px; width: 150px;">{{ data.EQUIP_CODE }}</td>
                <td style="text-align:center; padding: 5px; height: 40px; width: 120px;">{{ data.OP_CODE }}</td>
                <td style="text-align:center; padding: 5px; height: 40px; width: 120px;">{{ data.OP_CODE1 }}</td>
                <td style="text-align:center; padding: 5px; height: 40px; width: 120px;">{{ data.OP_CODE2 }}</td>
                <td style="text-align:center; padding: 5px; height: 40px; width: 120px;">{{ data.OP_CODE3 }}</td>
                <td style="text-align:center; padding: 5px; height: 40px; width: 120px;">{{ data.TEMPERATURE | number }}</td>
                <td style="text-align:center; padding: 5px; height: 40px; width: 120px;">{{ data.FREQUENCY | number }}</td>
                <td style="text-align:center; padding: 5px; height: 40px; width: 120px;">{{ data.STEEL_GRADE_MIN }}</td>
                <td style="text-align:center; padding: 5px; height: 40px; width: 120px;">{{ data.HEAT_MIN }}</td>
                <td style="text-align:center; padding: 5px; height: 40px; width: 120px;">{{ data.ALTERNATE_SET }}</td>
                <td style="text-align:center; padding: 0px; height: 40px; width: 120px;">
                  <a (click)="editRow(data.id)">修改</a>&nbsp;&nbsp;&nbsp;
                  <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)">刪除</a>
                </td>
              </ng-container>
              <ng-template #editTemplate1>
                <td>
                  <input nz-width="20%" nz-input placeholder="站號" [(ngModel)]="editCache9[data.id].data.SHOP_CODE" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="機台" [(ngModel)]="editCache9[data.id].data.EQUIP_CODE" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="作業代碼" [(ngModel)]="editCache9[data.id].data.OP_CODE" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="替代作業代碼1" [(ngModel)]="editCache9[data.id].data.OP_CODE1" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="替代作業代碼2" [(ngModel)]="editCache9[data.id].data.OP_CODE2" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="替代作業代碼3" [(ngModel)]="editCache9[data.id].data.OP_CODE3" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="溫度" [(ngModel)]="editCache9[data.id].data.TEMPERATURE" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="頻率" [(ngModel)]="editCache9[data.id].data.FREQUENCY" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="每噸花時間" [(ngModel)]="editCache9[data.id].data.STEEL_GRADE_MIN" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="每爐工時" [(ngModel)]="editCache9[data.id].data.HEAT_MIN" />
                </td>
                <td>
                  <input nz-width="20%" nz-input placeholder="穿插設定" [(ngModel)]="editCache9[data.id].data.ALTERNATE_SET" />
                </td>
                <td>
                  <a (click)="saveEdit(data.id)">確認</a>&nbsp;&nbsp;&nbsp;
                  <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
                </td>
              </ng-template>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-spin>
  
</nz-content>


<!-- 退火爐工時新增 -->
<nz-modal
  [(nzVisible)]="isVisibleStove"
  [nzWidth]="800"
  [nzContent]="stoveInputContent"
  [nzFooter]="stoveInputFooter"
  (nzOnCancel)="cancelStoveInput()">

  <ng-template #stoveInputContent>
    <div>
      <table style="border-collapse: separate;">
        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;站號</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="站號" [(ngModel)]="SHOP_CODE" (blur)="getEquipCodeList($event)" />
          </td>
        </tr>
        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;機台</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <nz-select nzPlaceHolder="輸入機台" style="width: 22%;color: darkblue;" [(ngModel)]="EQUIP_CODE" nzShowSearch nzAllowClear>
              <nz-option *ngFor="let data of equipCodeOfOption" [nzLabel]="data.label" [nzValue]="data.value"></nz-option>
              <nz-option *ngIf="equipCodeLoading" nzDisabled nzCustomContent>
                <span nz-icon nzType="loading" class="loading-icon"></span>
                機台清單載入中...
              </nz-option>
            </nz-select>
          </td>
        </tr>
        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;作業代碼</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="輸入作業代碼" [(ngModel)]="OP_CODE" />
          </td>
        </tr>
        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;替代作業代碼1</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="輸入替代作業代碼1" [(ngModel)]="OP_CODE1" />
          </td>
        </tr>
        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;替代作業代碼2</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="輸入替代作業代碼2" [(ngModel)]="OP_CODE2" />
          </td>
        </tr>
        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;替代作業代碼3</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="輸入替代作業代碼3" [(ngModel)]="OP_CODE3" />
          </td>
        </tr>
        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;溫度</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="溫度" [(ngModel)]="TEMPERATURE" />
          </td>
        </tr>
        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;頻率</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="頻率" [(ngModel)]="FREQUENCY" />
          </td>
        </tr>
        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;每噸花時間</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="每噸花時間" [(ngModel)]="STEEL_GRADE_MIN" />
          </td>
        </tr>
        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;每爐工時</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="輸入每爐工時" [(ngModel)]="HEAT_MIN" />
          </td>
        </tr>
        <tr>
          <td style = "width: 110px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;穿插設定</td>
          <td style = "width: 600px; background-color: #eee;">&nbsp;
            <input style="width: 22%; color: darkblue;" nz-input placeholder="輸入穿插設定" [(ngModel)]="ALTERNATE_SET" />
          </td>
        </tr>

      </table>
    </div>
    
  </ng-template>

  <ng-template #stoveInputFooter>
    <button nz-button nzType="default" (click)="cancelStoveInput()">取消新增</button>
    <button nz-button nzType="primary" (click)="insertTab()">確定</button>
  </ng-template>

</nz-modal>

<nz-dropdown-menu #shopCodeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchShopCodeValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByShopCode()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByShopCode()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #equipCodeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchEquipCodeValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByEquipCode()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByEquipCode()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #opCodeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchOpCodeValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByOpCode()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByOpCode()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #opCode1Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchOpCode1Value" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByOpCode1()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByOpCode1()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #opCode2Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchOpCode2Value" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByOpCode2()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByOpCode2()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #opCode3Menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchOpCode3Value" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByOpCode3()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByOpCode3()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #temperatureMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchTemperatureValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByTemperature()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByTemperature()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #frequencyMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchFrequencyValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByFrequency()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByFrequency()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #steelGradeMinMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchSteelGradeMinValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchBySteelGradeMin()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetBySteelGradeMin()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #HeatMinMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchHeatMinValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByHeateMin()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByHeateMin()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #AlternateSetMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchAlternateSetValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchByAlternateSet()" class="search-button">查詢</button>
      <button nz-button nzSize="small" (click)="resetByAlternateSet()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>
