<nz-content style="margin: 0 16px">
  <app-non-ppsi [childrenTabName]="thisTabName"></app-non-ppsi>

  <nz-spin nzTip="執行中..." [nzSize]="'large'" [nzSpinning]="isSpinning">
    <div
      style="background: rgb(255, 255, 255); width: auto;"
    >
      <table>
        <tr>
          <td style="text-align: left; width: 73%">
            <button
              nz-button
              style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24)"
              nzType="primary"
              [nzSize]="'large'"
              (click)="openBFSGCCPCInput()"
            >
              <span nz-icon nzType="plus" nzTheme="outline"></span>
              新增
            </button>
          </td>

          <td
            style="
              text-align: rifgt;
              width: 0%;
              vertical-align: middle;
              padding-bottom: 20px;
            "
          >
            &nbsp;&nbsp;
            <!-- 匯入EXCEL功能 -->
            <input
              style="display: inline; width: 180px"
              type="file"
              name="file"
              id="importExcel"
              required
              (change)="incomingFile($event)"
              accept=".xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            />
          </td>

          <td style="text-align: rifgt; width: 40%; vertical-align: middle">
            <button
              id="bacthAdd"
              nz-button
              nzType="primary"
              style="
                box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                background-color: #4caf50;
                border: 2px blue none;
              "
              (click)="handleImport()"
            >
              <span nz-icon nzType="upload" nzTheme="outline"></span>
              E X C E L 匯入
            </button>

            &nbsp;&nbsp;
            <!-- 匯出EXCEL功能 -->
            <button
              id="download"
              nz-button
              nzType="primary"
              style="
                box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                background-color: #4caf50;
                border: 2px blue none;
              "
              (click)="exportToExcel()"
              role="button"
            >
              <span nz-icon nzType="download" nzTheme="outline"></span>
              E X C E L 匯出
            </button>
          </td>
        </tr>
      </table>
      <p></p>
      <p></p>

      <div nz-col [nzSpan]="25">

        <ag-grid-angular
        style="width: 100%; height: calc(100vh - 250px); overflow: scroll; "
        class="ag-theme-alpine"
        [rowData]="displaytbppsm114List"
        [columnDefs]="columnDefs"
        [pagination]="true"
        editType="fullRow"
        [suppressClickEdit]="true"
        [gridOptions]="gridOptions"
        [frameworkComponents]="frameworkComponents"
        >
        </ag-grid-angular>

      </div>
    </div>
  </nz-spin>
</nz-content>

<nz-modal
  [(nzVisible)]="isVisibleBFSGCCPC"
  [nzWidth]="800"
  [nzContent]="BFSGCCPCInputContent"
  [nzFooter]="BFSGCCPCInputFooter"
  (nzOnCancel)="cancelBFSGCCPCInput()"
>
  <ng-template #BFSGCCPCInputContent>
    <nz-spin nzTip="執行中..." [nzSize]="'large'" [nzSpinning]="isSpinning">
      <div>
        <table style="border-collapse: separate">
          <tr>
            <td
              style="
                width: 110px;
                background-color: rgb(156, 182, 206);
                font-weight: bold;
                border-radius: 5px;
              "
            >
              &nbsp;&nbsp;尺寸下限(含)
            </td>
            <td style="width: 600px; background-color: #eee">
              &nbsp;
              <nz-input-number
                style="width: 22%"
                nzPlaceHolder="輸入尺寸下限(含)"
                [(ngModel)]="diaMinInput"
                [nzMin]="0"
                [nzMax]="100000"
                [nzStep]="1"
              ></nz-input-number>
            </td>
          </tr>

          <tr>
            <td
              style="
                width: 110px;
                background-color: rgb(156, 182, 206);
                font-weight: bold;
                border-radius: 5px;
              "
            >
              &nbsp;&nbsp;尺寸上限(含)
            </td>
            <td style="width: 600px; background-color: #eee">
              &nbsp;
              <nz-input-number
                style="width: 22%"
                nzPlaceHolder="輸入尺寸上限(含)"
                [(ngModel)]="diaMaxInput"
                [nzMin]="0"
                [nzMax]="100000"
                [nzStep]="1"
              ></nz-input-number>
            </td>
          </tr>

          <tr>
            <td
              style="
                width: 110px;
                background-color: rgb(156, 182, 206);
                font-weight: bold;
                border-radius: 5px;
              "
            >
              &nbsp;&nbsp;每爐生產時間(分)
            </td>
            <td style="width: 600px; background-color: #eee">
              &nbsp;
              <input
                style="width: 22%; color: darkblue"
                nz-input
                placeholder="每爐生產時間"
                [(ngModel)]="productionTimeInput"
                maxlength="8"
              />
            </td>
          </tr>
        </table>
      </div>
    </nz-spin>
  </ng-template>

  <ng-template #BFSGCCPCInputFooter>
    <button nz-button nzType="default" (click)="cancelBFSGCCPCInput()">
      取消新增
    </button>
    <button nz-button nzType="primary" (click)="insertData()">確定</button>
  </ng-template>
</nz-modal>