<nz-content style="margin: 0 16px">
  <app-non-ppsi></app-non-ppsi>

  <nz-spin nzTip="執行中..." [nzSize]="'large'" [nzSpinning]="isSpinning">
    <div
      style="background: rgb(255, 255, 255); width: auto; min-height: 1200px"
    >
      <table>
        <tr>
          <td style="text-align: left; width: 73%">
            <button
              nz-button
              style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24)"
              nzType="primary"
              [nzSize]="'large'"
              (click)="openBFSGCCPCInput()"
            >
              <span nz-icon nzType="plus" nzTheme="outline"></span>
              新增
            </button>
          </td>

          <td
            style="
              text-align: rifgt;
              width: 0%;
              vertical-align: middle;
              padding-bottom: 20px;
            "
          >
            &nbsp;&nbsp;
            <!-- 匯入EXCEL功能 -->
            <input
              style="display: inline; width: 180px"
              type="file"
              name="file"
              id="importExcel"
              required
              (change)="incomingFile($event)"
              accept=".xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            />
          </td>

          <td style="text-align: rifgt; width: 40%; vertical-align: middle">
            <button
              id="bacthAdd"
              nz-button
              nzType="primary"
              style="
                box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                background-color: #4caf50;
                border: 2px blue none;
              "
              (click)="handleImport()"
            >
              <span nz-icon nzType="upload" nzTheme="outline"></span>
              E X C E L 匯入
            </button>

            &nbsp;&nbsp;
            <!-- 匯出EXCEL功能 -->
            <button
              id="download"
              nz-button
              nzType="primary"
              style="
                box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);
                background-color: #4caf50;
                border: 2px blue none;
              "
              (click)="exportToExcel()"
              role="button"
            >
              <span nz-icon nzType="download" nzTheme="outline"></span>
              E X C E L 匯出
            </button>
          </td>
        </tr>
      </table>
      <p></p>
      <p></p>

      <div nz-col [nzSpan]="25">
        <nz-table
          #displaytbppsm114Rows
          nzBordered
          [nzFrontPagination]="false"
          [nzTotal]="tbppsm114DataTotal"
          [(nzPageIndex)]="currentPageIndex"
          (nzPageIndexChange)="tablePageChange()"
          [nzData]="displaytbppsm114List"
          [nzPageSize]="pageSize"
          [nzScroll]="{ y: '500px' }"
        >
          <thead>
            <tr>
              <th
                style="
                  text-align: center;
                  background-color: #eee;
                  padding: 0px;
                  height: 55px;
                  width: 120px;
                "
              >
                尺寸下限
                <nz-filter-trigger
                  [(nzVisible)]="diaMinFilterVisible"
                  [nzActive]="searchDiaMinValue.length > 0"
                  [nzDropdownMenu]="diaMinMenu"
                >
                  <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
              </th>

              <th
                style="
                  text-align: center;
                  background-color: #eee;
                  padding: 0px;
                  height: 55px;
                  width: 120px;
                "
              >
                尺寸上限
                <nz-filter-trigger
                  [(nzVisible)]="diaMaxFilterVisible"
                  [nzActive]="searchDiaMaxValue.length > 0"
                  [nzDropdownMenu]="diaMaxMenu"
                >
                  <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
              </th>

              <th
                style="
                  text-align: center;
                  background-color: #eee;
                  padding: 0px;
                  height: 55px;
                  width: 120px;
                "
              >
                每爐生產時間
                <nz-filter-trigger
                  [(nzVisible)]="productionTimeFilterVisible"
                  [nzActive]="searchproductionTimeValue.length > 0"
                  [nzDropdownMenu]="productionTimeMenu"
                >
                  <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
              </th>

              <th
                style="
                  text-align: center;
                  background-color: #eee;
                  padding: 0px;
                  height: 55px;
                  width: 80px;
                "
              >
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let data of displaytbppsm114Rows.data; let i = index"
              class="editable-row"
            >
              <ng-container
                *ngIf="!editCache[data.id].isEdit; else editTemplate"
              >
                <td
                  style="
                    text-align: center;
                    padding: 5px;
                    height: 60px;
                    width: 100px;
                  "
                >
                  {{ data.diaMin }}
                </td>
                <td
                  style="
                    text-align: center;
                    padding: 5px;
                    height: 60px;
                    width: 100px;
                  "
                >
                  {{ data.diaMax }}
                </td>
                <td
                  style="
                    text-align: center;
                    padding: 5px;
                    height: 60px;
                    width: 150px;
                  "
                >
                  {{ data.productionTime }}
                </td>
                <td
                  style="
                    text-align: center;
                    padding: 0px;
                    height: 60px;
                    width: 120px;
                  "
                >
                  <a (click)="editRow(data.id)">修改</a>&nbsp;&nbsp;&nbsp;
                  <a
                    nz-popconfirm
                    nzPopconfirmTitle="Sure to delete?"
                    (nzOnConfirm)="deleteRow(data.id)"
                    >刪除</a
                  >
                </td>
              </ng-container>
              <ng-template #editTemplate>
                <td>
                  <input
                    nz-width="20%"
                    nz-input
                    placeholder="尺寸下限(含)"
                    [(ngModel)]="editCache[data.id].data.diaMin"
                  />
                </td>
                <td>
                  <input
                    nz-width="20%"
                    nz-input
                    placeholder="尺寸上限(含)"
                    [(ngModel)]="editCache[data.id].data.diaMax"
                  />
                </td>
                <td>
                  <input
                    nz-width="20%"
                    nz-input
                    placeholder="每爐生產時間"
                    [(ngModel)]="editCache[data.id].data.productionTime"
                  />
                </td>
                <td>
                  <a (click)="saveEdit(data.id)">確認</a>&nbsp;&nbsp;&nbsp;
                  <a
                    nz-popconfirm
                    nzPopconfirmTitle="Sure to cancel?"
                    (nzOnConfirm)="cancelEdit(data.id)"
                    >取消</a
                  >
                </td>
              </ng-template>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-spin>
</nz-content>

<nz-modal
  [(nzVisible)]="isVisibleBFSGCCPC"
  [nzWidth]="800"
  [nzContent]="BFSGCCPCInputContent"
  [nzFooter]="BFSGCCPCInputFooter"
  (nzOnCancel)="cancelBFSGCCPCInput()"
>
  <ng-template #BFSGCCPCInputContent>
    <nz-spin nzTip="執行中..." [nzSize]="'large'" [nzSpinning]="isSpinning">
      <div>
        <table style="border-collapse: separate">
          <tr>
            <td
              style="
                width: 110px;
                background-color: rgb(156, 182, 206);
                font-weight: bold;
                border-radius: 5px;
              "
            >
              &nbsp;&nbsp;尺寸下限(含)
            </td>
            <td style="width: 600px; background-color: #eee">
              &nbsp;
              <nz-input-number
                style="width: 22%"
                nzPlaceHolder="輸入尺寸下限(含)"
                [(ngModel)]="diaMinInput"
                [nzMin]="0"
                [nzMax]="100000"
                [nzStep]="1"
              ></nz-input-number>
            </td>
          </tr>

          <tr>
            <td
              style="
                width: 110px;
                background-color: rgb(156, 182, 206);
                font-weight: bold;
                border-radius: 5px;
              "
            >
              &nbsp;&nbsp;尺寸上限(含)
            </td>
            <td style="width: 600px; background-color: #eee">
              &nbsp;
              <nz-input-number
                style="width: 22%"
                nzPlaceHolder="輸入尺寸上限(含)"
                [(ngModel)]="diaMaxInput"
                [nzMin]="0"
                [nzMax]="100000"
                [nzStep]="1"
              ></nz-input-number>
            </td>
          </tr>

          <tr>
            <td
              style="
                width: 110px;
                background-color: rgb(156, 182, 206);
                font-weight: bold;
                border-radius: 5px;
              "
            >
              &nbsp;&nbsp;每爐生產時間(分)
            </td>
            <td style="width: 600px; background-color: #eee">
              &nbsp;
              <input
                style="width: 22%; color: darkblue"
                nz-input
                placeholder="每爐生產時間"
                [(ngModel)]="productionTimeInput"
                maxlength="8"
              />
            </td>
          </tr>
        </table>
      </div>
    </nz-spin>
  </ng-template>

  <ng-template #BFSGCCPCInputFooter>
    <button nz-button nzType="default" (click)="cancelBFSGCCPCInput()">
      取消新增
    </button>
    <button nz-button nzType="primary" (click)="insertData()">確定</button>
  </ng-template>
</nz-modal>

<nz-dropdown-menu #diaMinMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchDiaMinValue" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByDiaMin(true)"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByDiaMin()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #diaMaxMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchDiaMaxValue" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByDiaMax(true)"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByDiaMax()">重設</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #productionTimeMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input [(ngModel)]="searchproductionTimeValue" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="searchByproductionTime(true)"
        class="search-button"
      >
        查詢
      </button>
      <button nz-button nzSize="small" (click)="resetByproductionTime()">
        重設
      </button>
    </div>
  </div>
</nz-dropdown-menu>
