<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>訂單即時回應</nz-breadcrumb-item>
    <nz-breadcrumb-item>需求執行</nz-breadcrumb-item>
    <nz-breadcrumb-item>特殊詢單</nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-spin  nzTip="Loading..." [nzSize]="'large'" [nzSpinning] = "isSpinning">

    <nz-collapse style="background-color: aliceblue;">
      <nz-collapse-panel
      *ngFor="let panel of panels"
      [nzHeader]="panel.name"
      [nzActive]="panel.active"
      [nzDisabled]="panel.disabled"
      >

      <div>
        <td style="text-align:left;width:2%;">
          <button
            nz-button
            style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
            nzType="primary"
            (click)="onQuery()"
          >
          <span nz-icon nzType="search" nzTheme="outline"></span>
            查詢
          </button>
          <button
            nz-button
            style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24); margin-left:20px;"
            nzType="primary"
            (click)="ngOnInit()"
            [disabled]="isClear"
          >
          <span nz-icon nzType="clear" nzTheme="outline"></span>
            清除
          </button>
        </td>
      </div>
      <p></p>

      <table class="query">
        
        <tr>
          <td style = "width: 10%; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;客戶名稱</td>
          <td style = "width: 300px;">
            <nz-select nzPlaceHolder="請選擇客戶名稱" style="width: 250px; margin-left:10px;" [(ngModel)]="customer" nzShowSearch nzAllowClear (nzOpenChange) = "getcustList()">
              <nz-option *ngFor="let cust of custlistOfOption" [nzLabel]="cust" [nzValue]="cust"></nz-option>
            </nz-select>
          </td>
          <td style = "width: 10%; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;鋼種</td>
          <td style = "width: 300px;">&nbsp;&nbsp;
            <nz-radio-group [(ngModel)]="gradeNo" nzButtonStyle="solid">
              <label nz-radio-button nzValue="304">304</label>
              <label nz-radio-button nzValue="304L">304L</label>
              <label nz-radio-button nzValue="316L">316L</label>
            </nz-radio-group>
          </td>
          <td style = "width: 10%; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;產品別</td>
          <td style = "width: 300px;">&nbsp;&nbsp;
            <nz-radio-group [(ngModel)]="productList" nzButtonStyle="solid" (ngModelChange)="changeProd(productList)">
              <label nz-radio-button nzValue="2B">2B</label>
              <label nz-radio-button nzValue="2D">2D</label>
              <label nz-radio-button nzValue="2E">2E</label>
              <label nz-radio-button nzValue="No.1">No.1</label>
            </nz-radio-group>
          </td>
        </tr>

        <tr>
          <td style = "width: 10%; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;寬度</td>
          <td style = "width: 300px;">&nbsp;&nbsp;
            <nz-select style="width: 120px;" [(ngModel)]="width" nzAllowClear nzPlaceHolder="挑選寬度" nzShowSearch>
              <nz-option-group nzLabel="米呎系列">
                <nz-option nzValue="1025" nzLabel="1025mm"></nz-option>
                <nz-option nzValue="1070" nzLabel="1070mm"></nz-option>
              </nz-option-group>
              <nz-option-group nzLabel="4呎系列">
                <nz-option nzValue="1240" nzLabel="1240mm"></nz-option>
                <nz-option nzValue="1270" nzLabel="1270mm"></nz-option>
              </nz-option-group>
              <nz-option-group nzLabel="5呎系列">
                <nz-option nzValue="1530" nzLabel="1530mm"></nz-option>
                <nz-option nzValue="1555" nzLabel="1555mm"></nz-option>
              </nz-option-group>
            </nz-select>
          </td>
          <td style = "width: 10%; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;厚度上下限</td>
          <td style = "width: 400px;" colspan="3">&nbsp;&nbsp;
            <nz-input-number [nzDisabled]="disable_u" style="width: 110px;" nzPlaceHolder = "厚度上下限起" [(ngModel)]="thicknessMin" [nzMin]="0" [nzMax]="10000" [nzStep]="1" (nzBlur)="chekMinMax('1')"></nz-input-number>
            &nbsp;&nbsp;-&nbsp;&nbsp;
            <nz-input-number [nzDisabled]="disable_d" style="width: 110px;" nzPlaceHolder = "厚度上下限迄" [(ngModel)]="thicknessMax" [nzMin]="0" [nzMax]="10000" [nzStep]="1" (nzBlur)="chekMinMax('1')"></nz-input-number>
          </td>    
        </tr>

        
        <tr>
          <td style = "width: 10%; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;單重上下限(MT)</td>
          <td style = "width: 400px;">&nbsp;&nbsp;
            <nz-input-number style="width: 110px;" nzPlaceHolder = "單重上下限起" [(ngModel)]="weightMin" [nzMin]="0" [nzMax]="10000" [nzStep]="1" (nzBlur)="chekMinMax('2')"></nz-input-number>
            &nbsp;&nbsp;-&nbsp;&nbsp;
            <nz-input-number style="width: 110px;" nzPlaceHolder = "單重上下限迄" [(ngModel)]="weightMax" [nzMin]="0" [nzMax]="10000" [nzStep]="1" (nzBlur)="chekMinMax('2')"></nz-input-number>
          </td>    
          
          <td style = "width: 10%; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;期望交期</td>
          <td style = "width: 300px;">&nbsp;&nbsp;
            <nz-date-picker
                nzFormat="yyyy-MM-dd"
                [(ngModel)]="expectdate"
                (ngModelChange)="changeDate($event)"
              ></nz-date-picker>
          </td>
          
          <td style = "width: 10%; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;需求量(MT)</td>
          <td style = "width: 400px;" colspan="3">&nbsp;&nbsp;
            <nz-input-number style="width: 110px;" nzPlaceHolder = "需求量" [(ngModel)]="unrollWeight " [nzMin]="1" [nzMax]="10000" [nzStep]="1" (nzBlur)="chekMinMax('3')"></nz-input-number>
          </td>    
        </tr>
        

        <tr>
          <td style = "width: 10%; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;修邊</td>
          <td style = "width: 300px;">&nbsp;&nbsp;
            <nz-radio-group [(ngModel)]="Trimming" nzButtonStyle="solid">
              <label nz-radio-button nzValue="Y">Y</label>
              <label nz-radio-button nzValue="N">N</label>
            </nz-radio-group>
          </td>
          <td style = "width: 10%; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;JIS Mark</td>
          <td style = "width: 300px;">&nbsp;&nbsp;
            <nz-radio-group [(ngModel)]="JIS" nzButtonStyle="solid">
              <label nz-radio-button nzValue="Y">Y</label>
              <label nz-radio-button nzValue="N">N</label>
            </nz-radio-group>
          </td>
          <td style = "width: 10%; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 5px;">&nbsp;&nbsp;產證需求</td>
          <td style = "width: 300px;" colspan="3">&nbsp;&nbsp;
            <nz-radio-group [(ngModel)]="Certificate" nzButtonStyle="solid">
              <label nz-radio-button nzValue="Y">Y</label>
              <label nz-radio-button nzValue="N">N</label>
            </nz-radio-group>
          </td>
        </tr>


      </table>

      </nz-collapse-panel>
    </nz-collapse>

    <p></p>
    <p></p>
    <p></p>



    <div style="padding:24px; background: rgb(255, 255, 255); min-height: 500px;">

      <table class="wip">
      <thead>
        <tr>
          <th style="width: 5%;" colspan="2">庫存分類</th>
          <th>預計入庫日</th>
          <th>數量(顆)</th>
          <th>重量(MT)</th>
          <th>預留數量</th>
          <th style="text-align: center; width: 10%;"></th>
        </tr>

      </thead>
      <tbody>
        <tr>
          <td rowspan="2" style="background:#EAF6F6; text-align: center; width: 5%;">在庫</td>
          <td style="background:#EAF6F6; text-align: center; width: 10%;">成品</td>
          <td style="text-align: center;">-</td>
          <td style="text-align: center;">{{ productCount }}</td>
          <td style="text-align: center;">{{ productWeight }}</td>
          <td><nz-input-number [nzDisabled]="disablePR" style="width: 100%;" nzPlaceHolder = "成品預留數量" [(ngModel)]="productReserve" [nzMin]="0" [nzMax]="productCount" [nzStep]="1" (nzBlur)="chekCont('1')"></nz-input-number></td>
          <td rowspan="5" style="text-align: center; width: 10%;">
            <button
              nz-button
              style="box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.24);"
              nzType="primary"
              [ngClass]="{'opButton': !isOPVisible, 'disableButton': isOPVisible}"
              (click)="openPicker()"
              [disabled]="isOPVisible"
            >
            預留清單
          </button>
        </td>
        </tr>
        <tr>
          <td style="background:#EAF6F6; text-align: center; width: 5%;">原料</td>
          <td style="text-align: center;">{{ materialDate }}</td>
          <td style="text-align: center;">{{ materialCount }}</td>
          <td style="text-align: center;">{{ materialWeight }}</td>
          <td><nz-input-number [nzDisabled]="disableMR" style="width: 100%;" nzPlaceHolder = "原料預留數量" [(ngModel)]="materialReserve" [nzMin]="0" [nzMax]="materialCount" [nzStep]="1" (nzBlur)="chekCont('2')"></nz-input-number></td>
        </tr>
        <tr style="width: 10%;">
          <td style="background:#EAF6F6; text-align: center; width: 5%;" colspan="2">在途</td>
          <td style="text-align: center;">{{ onthewayDate }}</td>
          <td style="text-align: center;">{{ onthewayCount }}</td>
          <td style="text-align: center;">{{ onthewayWeight }}</td>
          <td><nz-input-number [nzDisabled]="disableOTW" style="width: 100%;" nzPlaceHolder = "在途預留數量" [(ngModel)]="onthewayReserve" [nzMin]="0" [nzMax]="onthewayCount" [nzStep]="1" (nzBlur)="chekCont('3')"></nz-input-number></td>
        </tr>
        <tr style="width: 10%;">
          <td style="background:#EAF6F6; text-align: center; width: 5%;" colspan="2">採購中</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="background:#EAF6F6; text-align: center; width: 5%;" colspan="2">代軋</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        
      </table>
    </div>

  </nz-spin>
</nz-content>



<nz-modal
  [nzStyle]="{ top: '20px' }"
  [(nzVisible)]="isVisible"
  [nzTitle]="CustTitle"
  [nzContent]="CustContent"
  [nzFooter]="CustFooter"
  [nzWidth]="1200"
>

<ng-container>
  
  <ng-template #CustTitle><label style = "font-weight: bold; font-size: 20px; color: blue;">{{ selCustomer }} </label> <label style = "font-weight: bold; font-size: 18px;">預留清單</label></ng-template>
  <ng-template #CustContent>
<!-- 
      <tr>
        <td style = "width: 100px; background-color: rgb(156, 182, 206); font-weight: bold; border-radius: 2px;">&nbsp;&nbsp;客戶名稱</td>
        <td style = "width: 200px;">&nbsp;&nbsp;
          <input style = "margin-left: 10px; color: blue;" nz-input placeholder="客戶名稱" [(ngModel)]="selCustomer" [disabled]="true" />
        </td>
      </tr>
    <p></p>
     -->
    <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="listOfData" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" [nzScroll]="{ x: '1000px', y: '600px' }">
      <thead>
        <tr>
          <th nzLeft="0px" nzWidth="2%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;"></th>
          <th nzLeft="29px" nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">庫存分類</th>
          <th nzLeft="103px" nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">產品別</th>
          <th nzLeft="177px" nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">ID_NO</th>
<!--  20230104-預留欄位先不開放
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">現況料號</th>
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">MIC</th>
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">流程說明</th>
           -->
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">鋼種</th>
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">寬度</th>
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">厚度</th>
<!--  20230104-預留欄位先不開放
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">長度</th>
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">實際寬度</th>
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">實際厚度</th>
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">實際長度</th>
           -->
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">品質</th>
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">數量(MT)</th>
<!--  20230104-預留欄位先不開放
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">站號</th>
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">儲區</th>
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">庫存狀態</th>
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">台中儲區</th>
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">MIT</th>
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">鋼板註記</th>
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">品質註記說明</th>
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">扁胚異常<br>註記說明</th>
           -->
          <th nzWidth="5%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">在庫時間(天)</th>
          <th nzWidth="7%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">預計入庫日</th>
          <th nzWidth="7%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">建議交期</th>
          <th nzWidth="8%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">註記說明</th>
          <th nzWidth="6%" style="text-align:center; background-color: #eee; padding: 0px; height: 55px;">預留天數</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let data of rowSelectionTable.data; let i = index">
          <td nzLeft="0px" style="text-align:center; padding: 5px; height: 50px;"
            [nzChecked]="setOfCheckedId.has(data.id)"
            [nzDisabled]="data.disabled"
            (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td nzLeft="29x" style="text-align:center; padding: 5px; height: 50px;">{{ data.productKind }}</td>
          <td nzLeft="103px" style="text-align:center; padding: 5px; height: 50px;">{{ data.product }}</td>
          <td nzLeft="177px" style="text-align:center; padding: 5px; height: 50px;">{{ data.ID_NO }}</td>
          <td style="text-align:center; padding: 5px; height: 50px;">{{ data.gradeNo }}</td>
          <td style="text-align:center; padding: 5px; height: 50px;">{{ data.width | number }}</td>
          <td style="text-align:center; padding: 5px; height: 50px;">{{ data.thickness | number }}</td>
          <td style="text-align:center; padding: 5px; height: 50px;">{{ data.quality }}</td>
          <td style="text-align:center; padding: 5px; height: 50px;">{{ data.weight | number }}</td>
          <td style="text-align:center; padding: 5px; height: 50px;">{{ data.wipTime | number }}</td>
          <td style="text-align:center; padding: 5px; height: 50px;">{{ data.DATE_PLAN_IN_STORAGE }}</td>
          <td style="text-align:center; padding: 5px; height: 50px;">{{ data.DATE_DELIVERY_PP }}</td>

          <td style="text-align:center; padding: 5px; height: 60px;">
            <textarea
              nz-input
              placeholder="註記說明"
              [nzAutosize]="{ minRows: 2, maxRows: 6 }"
              [(ngModel)]="data.memo"
              [disabled]="!setOfCheckedId.has(data.id)"
            ></textarea>
          </td>
          <td style="text-align:center; padding: 5px; height: 60px;">
            <nz-input-number style="width: 100%;" nzPlaceHolder = "預留天數" 
                [(ngModel)]="data.countDay" [nzMin]="0" [nzMax]="10000" [nzStep]="1"
                [disabled]="!setOfCheckedId.has(data.id)"></nz-input-number></td>
        </tr>

        
      </tbody>
    </nz-table>

  </ng-template>
  <ng-template #CustFooter>
    <button nz-button nzType="default" (click)="openPickerCancel()">關閉</button>
    <button nz-button nzType="primary" (click)="openPickerOK()">確認</button>
  </ng-template>

</ng-container>
</nz-modal>









